﻿@model _3DLContentManagement.Models.AssetViewModel
@{
    if (ViewBag.AddedType == "Add")
    {
        ViewBag.Title = "Add Module";
    }
    else
    {
        ViewBag.Title = "Edit Module";
    }
}
<style>
    .table tbody tr:hover {
        background-color: #eceeef !important;
    }

    .table tbody tr th {
        background-color: white !important;
    }

    .modal-dialog {
        margin: 2.5vh auto;
    }

    .modal-content {
        max-height: 55vh;
    }

    .modal-body {
        max-height: 40vh;
        padding-bottom: 5px;
        overflow: auto;
    }

    .modal-footer {
        margin-top: 0px;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    input[type = "file"] {
        display: none;
    }

    #radioBtn .notActive {
        color: #3276b1 !important;
        background-color: #fff !important;
    }

    .btn-tog .toggle {
        width: 90px !important;
    }

    .btn-puzzle .toggle {
        width: 100px !important;
    }

    hr {
        margin-top: -5px;
    }

    .alert {
        margin-left: 15px;
        margin-right: 15px;
    }
</style>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<div class="wrapper page-wrap">
    <section id="checklist">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="/Content/Index">Dashboard</a> |
            <a class="breadcrumb-item" href="/Home/Assets">Assets</a> |
            <span class="breadcrumb-item active">@ViewBag.Title</span>
        </nav>
        <div class="row">
            <div class="col-md-12">
                @if (ViewBag.AddedType == "Edit")
                {
                    <h2>@ViewBag.Title - <span style="color: #a42639;">@(Model.AssetName)</span></h2>
                }
                else
                {
                    <h2>@ViewBag.Title</h2>
                }
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div class="row">
                <div class="panel panel-default" style="padding: 10px;">
                    <div id="Tabs" role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" id="ulTab">
                            <li class="active"><a href="#addForm" aria-controls="addForm" role="tab" data-toggle="tab">General Information</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content" style="padding-top: 20px">
                            <div role="tabpanel" class="tab-pane active" id="addForm">
                                @using (Html.BeginForm("Index", "Module", FormMethod.Post, new { @id = "frmAsset" }))
                                {
                                    @Html.AntiForgeryToken();
                                    @Html.ValidationSummary(true)
                                    @Html.HiddenFor(x => x.AssetID)
                                    @Html.HiddenFor(x => x.IsActive)
                                    @Html.HiddenFor(x => x.IsDeleted)
                                    @Html.HiddenFor(x => x.IsPublished)
                                    @Html.HiddenFor(x => x.IsDirectory)
                                    <input type="hidden" name="hdnAssetID" id="hdnAssetID" value="@Model.AssetID" />
                                    <input type="hidden" name="addedType" value="@ViewBag.AddedType" />
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group col-md-3 mb-0">
                                                <label class="col-form-label" for="example-text-input">Asset Type <span class="text-danger">*</span></label>
                                                @Html.TextBoxFor(x => x.AssetType, new { @class = "form-control", @placeholder = "Asset Type", @maxlength = "100" })
                                                <div class="has-danger">
                                                    <div class="form-control-feedback">
                                                        @Html.ValidationMessageFor(x => x.AssetType)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-3 mb-0">
                                                <label class="col-form-label" for="example-text-input">Status <span class="text-danger">*</span></label>
                                                @Html.TextBoxFor(x => x.Status, new { @class = "form-control", @placeholder = "Status", @maxlength = "100" })
                                                <div class="has-danger">
                                                    <div class="form-control-feedback">
                                                        @Html.ValidationMessageFor(x => x.Status)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-3 mb-0">
                                                <label class="col-form-label" for="example-text-input">Search Tags</label>
                                                <select class="form-control" id="AssetTags" name="NewTags[]" multiple="multiple">
                                                    @foreach (SelectListItem s in ((System.Web.Mvc.MultiSelectList)(ViewBag.TagsSelectList)).Items)
                                                    {
                                                        <option value="@s.Value" selected="@s.Selected">@s.Text</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group col-md-3 mb-0">
                                                <label class="col-form-label" for="example-text-input">Properties</label>
                                                <select class="form-control" id="AssetProperties" name="NewProperties[]" multiple="multiple">
                                                    @foreach (SelectListItem s in ((System.Web.Mvc.MultiSelectList)(ViewBag.PropertiesSelectList)).Items)
                                                    {
                                                        <option value="@s.Value" selected="@s.Selected">@s.Text</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 mb-0">
                                                <label class="col-form-label" for="example-text-input">Asset Name <span class="text-danger">*</span></label>
                                            </div>
                                        </div>
                                        <div id="divName">
                                            @for (int i = 0; i < Model.Names.Count; i++)
                                            {
                                                <div class="row">
                                                    @Html.HiddenFor(x => Model.Names[i].ID)
                                                    @Html.HiddenFor(x => Model.Names[i].LanguageId)
                                                    @Html.HiddenFor(x => Model.Names[i].IsDeleted)
                                                    <div class="form-group col-md-3 mb-0">
                                                        <div class="col-xs-1" style="padding-left: 0px;">
                                                            @if (i == 0)
                                                            {
                                                                <span class="fa fa-plus" onclick="AddNameRow()" data-toggle='tooltip' data-placement='top' title='Add row for new language' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                                            }
                                                            else
                                                            {
                                                                <span class="fa fa-minus" data-id="Names[@i].IsDeleted" onclick="RemoveRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                                            }
                                                        </div>
                                                        <div class="col-xs-10" style="padding-right: 0px;padding-left: 0px;">
                                                            @Html.TextBoxFor(x => Model.Names[i].Language, new { @class = "form-control language", @placeholder = "Select Language", @maxlength = "100" })
                                                            <div class="has-danger">
                                                                <div class="form-control-feedback">
                                                                    @Html.ValidationMessageFor(x => Model.Names[i].Language)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-9 mb-0">
                                                        @Html.TextBoxFor(x => Model.Names[i].Name, new { @class = "form-control", @placeholder = "Asset Name", @maxlength = "100" })
                                                        <div class="has-danger">
                                                            <div class="form-control-feedback">
                                                                @Html.ValidationMessageFor(x => Model.Names[i].Name)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="AddName" style="display:none">
                                            <div class="row">
                                                <input name="Names[{count}].ID" type="hidden" value="0">
                                                <input name="Names[{count}].LanguageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="Names[{count}].IsDeleted" type="hidden" value="False">
                                                <div class="form-group col-md-3 mb-0">
                                                    <div class="col-xs-1" style="padding-left: 0px;">
                                                        <span class="fa fa-minus" data-id="Names[{count}].IsDeleted" onclick="RemoveRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                                    </div>
                                                    <div class="col-xs-10" style="padding-right: 0px;padding-left: 0px;">
                                                        <input class="form-control language" maxlength="100" name="Names[{count}].Language" placeholder="Select Language" type="text" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-9 mb-0">
                                                    <input class="form-control" maxlength="100" name="Names[{count}].Name" placeholder="Asset Name" type="text" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                                            <span class="fa fa-plus" onclick="AddDetailRow()" data-toggle='tooltip' data-placement='top' title='Add new row' style="font-size:24px;color:#a42639;cursor:pointer;"></span>
                                                        </div>
                                                        <div class="col-xs-10" style="padding-left: 3px;padding-right: 0px;">
                                                            <label class="col-form-label" for="example-text-input">Package</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label class="col-form-label" for="example-text-input">Language</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label class="col-form-label" for="example-text-input">Grade</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label class="col-form-label" for="example-text-input">Syllabus</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="padding-left: 0px;">
                                                <div class="col-xs-3">
                                                    <label class="col-form-label" for="example-text-input">Stream</label>
                                                </div>
                                                <div class="col-xs-3">
                                                    <label class="col-form-label" for="example-text-input">Subject</label>
                                                </div>
                                                <div class="col-xs-3">
                                                    <label class="col-form-label" for="example-text-input">Topic</label>
                                                </div>
                                                <div class="col-xs-3">
                                                    <label class="col-form-label" for="example-text-input">Subtopic</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="divDetail">
                                            @for (int i = 0; i < Model.Details.Count; i++)
                                            {
                                                <div class="row detail">
                                                    @Html.HiddenFor(x => Model.Details[i].ID)
                                                    @Html.HiddenFor(x => Model.Details[i].PackageId)
                                                    @Html.HiddenFor(x => Model.Details[i].GradeId)
                                                    @Html.HiddenFor(x => Model.Details[i].LanguageId)
                                                    @Html.HiddenFor(x => Model.Details[i].SyllabusId)
                                                    @Html.HiddenFor(x => Model.Details[i].StreamId)
                                                    @Html.HiddenFor(x => Model.Details[i].SubjectId)
                                                    @Html.HiddenFor(x => Model.Details[i].TopicId)
                                                    @Html.HiddenFor(x => Model.Details[i].SubtopicId)
                                                    @Html.HiddenFor(x => Model.Details[i].IsDeleted)
                                                    <div class="form-group col-md-6">
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                                                    <span class="fa fa-minus" data-id="Details[@i].IsDeleted" onclick="RemoveDetailRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                                                </div>
                                                                <div class="col-xs-10" style="padding-left: 3px;padding-right: 0px;">
                                                                    @Html.TextBoxFor(x => x.Details[i].Package, new { @class = "form-control package", @placeholder = "Package", @maxlength = "100" })
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                @Html.TextBoxFor(x => x.Details[i].Language, new { @class = "form-control planguage", @placeholder = "Language", @maxlength = "100" })
                                                            </div>
                                                            <div class="col-xs-3">
                                                                @Html.TextBoxFor(x => x.Details[i].Grade, new { @class = "form-control grade", @placeholder = "Grade", @maxlength = "100" })
                                                            </div>
                                                            <div class="col-xs-3">
                                                                @Html.TextBoxFor(x => x.Details[i].Syllabus, new { @class = "form-control syllabus", @placeholder = "Syllabus", @maxlength = "100" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6" style="padding-left: 0px;">
                                                        <div class="col-xs-3">
                                                            @Html.TextBoxFor(x => x.Details[i].Stream, new { @class = "form-control stream", @placeholder = "Stream", @maxlength = "100" })
                                                        </div>
                                                        <div class="col-xs-3">
                                                            @Html.TextBoxFor(x => x.Details[i].Subject, new { @class = "form-control subject", @placeholder = "Subject", @maxlength = "100" })
                                                        </div>
                                                        <div class="col-xs-3">
                                                            @Html.TextBoxFor(x => x.Details[i].Topic, new { @class = "form-control topic", @placeholder = "Topic", @maxlength = "100" })
                                                        </div>
                                                        <div class="col-xs-3">
                                                            @Html.TextBoxFor(x => x.Details[i].Subtopic, new { @class = "form-control subtopic", @placeholder = "Subtopic", @maxlength = "100" })
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="AddDetail" style="display:none">
                                            <div class="row detail">
                                                <input name="Details[{count}].ID" type="hidden" value="0">
                                                <input name="Details[{count}].PackageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="Details[{count}].LanguageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="Details[{count}].GradeId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="Details[{count}].SyllabusId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="Details[{count}].StreamId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="Details[{count}].SubjectId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="Details[{count}].TopicId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="Details[{count}].SubtopicId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="Details[{count}].IsDeleted" type="hidden" value="True">
                                                <div class="form-group col-md-6">
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                                                <span class="fa fa-minus" data-id="Details[{count}].IsDeleted" onclick="RemoveDetailRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                                            </div>
                                                            <div class="col-xs-10" style="padding-left: 3px;padding-right: 0px;">
                                                                <input class="form-control package" maxlength="100" name="Details[{count}].Package" placeholder="Package" type="text" value="">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <input class="form-control planguage" maxlength="100" name="Details[{count}].Language" placeholder="Language" type="text" value="">
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <input class="form-control grade" maxlength="100" name="Details[{count}].Grade" placeholder="Grade" type="text" value="">
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <input class="form-control syllabus" maxlength="100" name="Details[{count}].Syllabus" placeholder="Syllabus" type="text" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6" style="padding-left: 0px;">
                                                    <div class="col-xs-3">
                                                        <input class="form-control stream" maxlength="100" name="Details[{count}].Stream" placeholder="Stream" type="text" value="">
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input class="form-control subject" maxlength="100" name="Details[{count}].Subject" placeholder="Subject" type="text" value="">
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input class="form-control topic" maxlength="100" name="Details[{count}].Topic" placeholder="Topic" type="text" value="">
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input class="form-control subtopic" maxlength="100" name="Details[{count}].Subtopic" placeholder="Subtopic" type="text" value="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="col-xs-1" style="padding-left: 0px;padding-right: 0px;">
                                                    <span class="fa fa-plus" onclick="AddModuleRow()" data-toggle='tooltip' data-placement='top' title='Add new row' style="font-size:24px;color:#a42639;cursor:pointer;"></span>
                                                </div>
                                                <div class="col-xs-11" style="padding-left: 3px;padding-right: 0px;">
                                                    <label class="col-form-label" for="example-text-input">Module Name <span class="text-danger">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <label class="col-form-label" for="example-text-input">Version</label>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="col-form-label" for="example-text-input">Platform <span class="text-danger">*</span></label>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4"></div>
                                        </div>
                                        <div id="divModule">
                                            @for (int i = 0; i < Model.Contents.Count; i++)
                                            {                                                
                                                <div class="row module">
                                                    @Html.HiddenFor(x => Model.Contents[i].ID)
                                                    @Html.HiddenFor(x => Model.Contents[i].IsEnabled)
                                                    @Html.HiddenFor(x => Model.Contents[i].IsDeleted)
                                                    @Html.HiddenFor(x => Model.Contents[i].FilePath)
                                                    @Html.HiddenFor(x => Model.Contents[i].IsDirectory)
                                                    @Html.HiddenFor(x => Model.Contents[i].PublishFolder)
                                                    @Html.HiddenFor(x => Model.Contents[i].Thumbnail)
                                                    <div class="form-group col-md-3">
                                                        <div class="col-xs-1" style="padding-left: 0px;padding-right: 0px;">
                                                            <span class="fa fa-minus" data-id="Contents[@i].IsDeleted" onclick="RemoveModuleRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;cursor:pointer;margin-top: 5px;"></span>
                                                        </div>
                                                        <div class="col-xs-11" style="padding-left: 3px;padding-right: 0px;">
                                                            @Html.TextBoxFor(x => Model.Contents[i].FileName, new { @class = "form-control", @maxlength = "100" })
                                                            @Html.ValidationMessageFor(x => Model.Contents[i].FileName)
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-1">
                                                        <div style="display:block; margin-top:5px;">
                                                            <label data-id="@Model.Contents[i].ID" class="col-form-label" for="example-text-input">@Model.Contents[i].VersionNumber</label>
                                                            @Html.HiddenFor(x => Model.Contents[i].VersionNumber)
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-2" style="padding-left: 0px;">
                                                        <div style="display:block;">
                                                            @Html.HiddenFor(x => Model.Contents[i].PlatformId)
                                                            @Html.TextBoxFor(x => Model.Contents[i].Platform, new { @class = "form-control platform", @maxlength = "100" })
                                                            @Html.ValidationMessageFor(x => Model.Contents[i].Platform)
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-1" style="display:block; margin-top:5px;">
                                                        <label data-id="@Model.Contents[i].ID" class="col-form-label lblDescription" for="example-text-input"><a style="text-decoration:none; cursor:pointer" title="Click here to Add/View Description">Description</a></label>
                                                    </div>
                                                    <div class="form-group col-md-1" style="display:block; margin-top:5px;">
                                                        <label id="lblWhatIsNew" data-id="@Model.Contents[i].ID" class="col-form-label" for="example-text-input"><a style="text-decoration: none; cursor: pointer" title="Click here to Add/View What's New">What's New</a></label>
                                                    </div>
                                                    <div class="form-group col-md-4" style="display:block;">
                                                        <div rel="tooltip" title="This action might take some time." class="pull-left">
                                                            @if (Model.Contents[i].IsEnabled == true)
                                                            {
                                                                <input type="checkbox" class="publish" data-id="@i" data-desc="@Model.Contents[i].ID" data-toggle="toggle" checked data-on="Published" data-off="UnPublished" data-onstyle="success" data-offstyle="primary">
                                                            }
                                                            else if (Model.Contents[i].ID == 0)
                                                            {
                                                                <input type="checkbox" class="publish" data-id="@i" data-desc="@Model.Contents[i].ID" data-toggle="toggle" disabled data-on="Published" data-off="UnPublished" data-onstyle="success" data-offstyle="primary">
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" class="publish" data-id="@i" data-desc="@Model.Contents[i].ID" data-toggle="toggle" unchecked data-on="Published" data-off="UnPublished" data-onstyle="success" data-offstyle="primary">
                                                            }
                                                        </div>
                                                        <div>
                                                            <span onclick="UploadImage('@i', '@Model.Contents[i].ID', '@Model.Contents[i].PublishFolder')" class="fa fa-photo" data-toggle='tooltip' data-placement='top' title='Click here to add thumbnail' style="font-size:36px;color:#a42639;margin-left: 5px;cursor:pointer;"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="AddModule" style="display:none">
                                            <div class="row module">
                                                <input name="Contents[{count}].ID" type="hidden" value="0">
                                                <input name="Contents[{count}].FilePath" type="hidden">
                                                <input name="Contents[{count}].IsDirectory" type="hidden" value="False">
                                                <input name="Contents[{count}].PublishFolder" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="Contents[{count}].Thumbnail" type="hidden">
                                                <input name="Contents[{count}].VersionNumber" type="hidden" value="0">
                                                <input name="Contents[{count}].PlatformId" type="hidden" value="0">
                                                <input name="Contents[{count}].IsEnabled" type="hidden" value="False">
                                                <input name="Contents[{count}].IsDeleted" type="hidden" value="False">
                                                <div class="form-group col-md-3">
                                                    <div class="col-xs-1" style="padding-left: 0px;padding-right: 0px;">
                                                        <span class="fa fa-minus" data-id="Contents[{count}].IsDeleted" onclick="RemoveModuleRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                                    </div>
                                                    <div class="col-xs-11" style="padding-left: 3px;padding-right: 0px;">
                                                        <input class="form-control filename" maxlength="100" name="Contents[{count}].FileName" placeholder="FileName" type="text" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-1">
                                                    <div style="display:block; margin-top:5px;">
                                                        <label name="Contents[{count}].VersionNumber" class="col-form-label" for="example-text-input"> </label>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-2" style="padding-left: 0px;">
                                                    <div style="display:block;">
                                                        <input class="form-control platform" maxlength="100" name="Contents[{count}].Platform" placeholder="FileName" type="text" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-1" style="display:block; margin-top:5px;">
                                                    <label data-id="0" class="col-form-label lblDescription" for="example-text-input"><a style="text-decoration:none; cursor:pointer" title="Click here to Add/View Description">Description</a></label>
                                                </div>
                                                <div class="form-group col-md-1" style="display:block; margin-top:5px;">
                                                    <label id="lblWhatIsNew" data-id="0" class="col-form-label" for="example-text-input"><a style="text-decoration: none; cursor: pointer" title="Click here to Add/View What's New">What's New</a></label>
                                                </div>
                                                <div class="form-group col-md-4" style="display:block;">
                                                    <div rel="tooltip" title="This action might take some time." class="pull-left" style="display:none;">
                                                        <input type="checkbox" class="publish" data-id="{count}" data-desc="0" data-toggle="toggle" disabled data-on="Published" data-off="UnPublished" data-onstyle="success" data-offstyle="primary">
                                                    </div>
                                                    <div>
                                                        <span onclick="UploadImage('{count}', '0', '00000000-0000-0000-0000-000000000000')" class="fa fa-photo" data-toggle='tooltip' data-placement='top' title='Click here to add thumbnail' style="font-size:36px;color:#a42639;margin-left: 5px;cursor:pointer;"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" id="divInfo" style="display:none">
                                            <div class="alert alert-info">
                                                <strong>Info!</strong> Publish action can be performed only after saving the details for Module.
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group text-sm-right col-md-6 my-1">
                                                <button type="button" id="btnReset" class="btn btn-secondary" onclick="NavigatetoPrevious()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Listing</button>
                                                @if (ViewBag.AddedType == "Add")
                                                {
                                                    <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-primary" onclick="ValidateForm();">Add Module</button>
                                                }
                                                else
                                                {
                                                    <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-primary" onclick="ValidateForm();">Save Changes</button>
                                                }
                                            </div>
                                        </div>
                                        <div id="divContent">
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>@*End of panel div*@
            </div>@*End of row div*@
        </div>
    </section>
</div>
<div class="modal" id="AddDescription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content ui-dialog ui-corner-all ui-front ui-dialog-buttons" style="width: 600px; display: block;">
            <div class="modal-header ui-dialog-titlebar ui-corner-all ui-helper-clearfix">
                <button type="button" class="ui-button ui-corner-all ui-button-icon-only ui-dialog-titlebar-close close-div" data-dismiss="modal" aria-label="Close"><span class="ui-button-icon ui-icon ui-icon-closethick" aria-hidden="true">&times;</span></button>
                <span class="modal-title" id="exampleModalLabel">Add Description</span>
            </div>
            <div class="modal-body" id="divDescription">
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="pull-right">
                        <input type="button" id="btnSaveDesc" class="btn btn-primary" value="Save Description" />
                        <input type="button" id="btnCancelDesc" class="btn btn-secondary close-div" data-dismiss="modal" aria-label="Close" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="AddWhatIsNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content ui-dialog ui-corner-all ui-front ui-dialog-buttons" style="width: 600px; display: block;">
            <div class="modal-header ui-dialog-titlebar ui-corner-all ui-helper-clearfix">
                <button type="button" class="ui-button ui-corner-all ui-button-icon-only ui-dialog-titlebar-close close-div" data-dismiss="modal" aria-label="Close"><span class="ui-button-icon ui-icon ui-icon-closethick" aria-hidden="true">&times;</span></button>
                <span class="modal-title" id="exampleModalLabel">What's New</span>
            </div>
            <div class="modal-body" id="divWhatsNew">
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="pull-right">
                        <input type="button" id="btnSaveComment" class="btn btn-primary" value="Save Comments" />
                        <input type="button" id="btnCancelComment" class="btn btn-secondary close-div" data-dismiss="modal" aria-label="Close" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="AddImageOption" tabindex="-1" role="dialog" aria-labelledby="UploadImage" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content ui-dialog ui-corner-all ui-front ui-dialog-buttons" style="height: auto; width: 500px; display: block;">
            <div class="modal-header ui-dialog-titlebar ui-corner-all ui-helper-clearfix">
                <button type="button" class="ui-button ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" data-dismiss="modal" aria-label="Close"><span class="ui-button-icon ui-icon ui-icon-closethick" aria-hidden="true">&times;</span></button>
                <span class="modal-title">Upload Image</span>
            </div>
            <div class="modal-body" id="divImage">
                @using (Html.BeginForm("UploadImage", "Home", FormMethod.Post, new { @id = "frmImage", enctype = "multipart/form-data" }))
                {
                    <div>
                        <input type="hidden" name="txtRowID" id="txtRowID" />
                        <input type="hidden" name="txtContentID" id="txtContentID" />
                        <input type="hidden" name="txtPath" id="txtPath" />
                        <label for="UploadFile" class="custom-file-upload">
                            <i class="fa fa-cloud-upload"></i> Upload Image
                        </label>
                        <input id="UploadFile" name='UploadFile' type="file" style="display:none;">
                        <label id="txtFileName" style="color: #a42639;margin-left: 10px;">No file available</label>
                        <div class="alert alert-danger" id="divError" style="display:none">

                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="pull-right">
                        <input type="button" class="btn btn-primary" id="btnUpload" value="Upload Image" />
                        <input type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal" aria-label="Close" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>
    var inputsChanged = false;
    var publishStatus = false;
    var availableLanguages = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Language));
    var availablePackages = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Package));
    var availablePlatforms = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Platform));
    var availableTypes = @Html.Raw(Json.Encode((IEnumerable<String>)ViewBag.AssetType));
    var availableStatus = @Html.Raw(Json.Encode((IEnumerable<String>)ViewBag.Status));
    //var availableTags = @Html.Raw(Json.Encode((IEnumerable<String>)ViewBag.Tags));

    $(document).ready(function () {
        if ('@TempData["Message"]' != '') {
            alert('@TempData["Message"]');
        }

        $(this).scrollTop(0);

        GetAllLanguages();
        GetAllPlatforms();
        GetMasterData();
        GetPackages();

        $("input:text:visible").each(function (index, element) {
            if (isEmpty($(this))) {
                $(this).focus();
                return false;
            }
        });

        if ($('#hdnAssetID').val() == 0) {
            $('#divInfo').show();
        }

        function isEmpty(el) {
            return !$.trim(el.val())
        }

        $(".publish").bind("change", function () {
            var contentID = $(this).attr('data-desc');
            if (publishStatus == false) {
                if ($(this).prop('checked') == false) {
                    UnpublishModule($(this), contentID);
                }
                else {
                    //inputsChanged = getHasChanges();
                    if (inputsChanged) {
                        var message = 'Module details has been modified, save changes to perform publish activity.';
                        alert(message);
                    }
                    else if (inputsChanged === false) {
                        PublishModule($(this), contentID);
                    }
                }
            }
            else {
                publishStatus = false;
            }
        })
    });

    function AddModuleRow() {
        var num = $('#divModule').find('.module').length;
        var row = $('.AddModule').html();
        row = replaceAll(row, "{count}", num);
        $('#divModule').append(row);
        GetAllPlatforms();
    }

    function RemoveModuleRow(e) {
        $(e).closest('.module').hide();
        var id = $(e).attr('data-id');
        $("input[name='" + id + "']").val("True");
    }
</script>
<script src="~/Scripts/asset.js"></script>

