﻿@model _3DLContentManagement.Models.QuizModel
@{
    Layout = null;
    int num = 0;
    string name = string.Empty;
}
<style>
    #radioQuizBtn .notActive {
        color: #3276b1 !important;
        background-color: #fff !important;
    }

    #radioModelSpecificBtn .notActive {
        color: #3276b1 !important;
        background-color: #fff !important;
    }
</style>
<div>
    <br />
    <h2 id="activity">@(Model.QuizName == "" ? "Add New Quiz" : Model.QuizName)</h2>
    <hr />
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmQuiz", enctype = "multipart/form-data" }))
{

    @Html.HiddenFor(x => Model.QuizId)
    @Html.HiddenFor(x => Model.IsQuizEnabled)
    @Html.HiddenFor(x => Model.IsQuizDeleted)
    @Html.HiddenFor(x => x.IsQuizModelSpecific)
    <div class="row">
        <div class="col-md-2 pull-left">
            <label>Status</label>
            <div class="input-group">
                <div id="radioQuizBtn" class="btn-group">
                    <a class="btn btn-success @(Model.IsQuizEnabled == true ? "active" : "notActive")" data-toggle="quiz" data-title="Enabled">Enabled</a>
                    <a class="btn btn-primary @(Model.IsQuizEnabled == false ? "active" : "notActive")" data-toggle="quiz" data-title="Disabled">Disabled</a>
                </div>
            </div>
        </div>
        <div id="divQuizDetails">
            <div class="col-md-6">
                <div class="row" style="margin-left: -40px;">
                    <div class="col-xs-4">
                        <label>Quiz Name <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(x => Model.QuizName, new { @class = "form-control", @placeholder = "Quiz Name", @maxlength = "100" })
                        <div class="has-danger">
                            <div class="form-control-feedback">
                                @Html.ValidationMessageFor(x => Model.QuizName)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label>Model Specific</label>
                        <div class="input-group">
                            <div id="radioModelSpecificBtn" class="btn-group">
                                <a class="btn btn-info @(Model.IsQuizModelSpecific == true ? "active" : "notActive")" data-toggle="ModelSpecific" data-title="Yes">Yes</a>
                                <a class="btn btn-info @(Model.IsQuizModelSpecific == false ? "active" : "notActive")" data-toggle="ModelSpecific" data-title="No">No</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5" style="margin-left: -46px;">
                        <label style="display: block;">Models <span class="text-danger">*</span></label>
                        <select class="form-control" id="QuizAssets" multiple="multiple">
                            @foreach (var asset in Model.QuizDetails)
                            {
                                <option class="@num" @(asset.IsSelected == true ? "selected" : "") value="@asset.AssetContentId">@asset.AssetName</option>
                                num++;
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <label class="col-form-label" for="example-text-input">Number of labels <span class="text-danger">*</span></label>
                <input class="form-control" id="NumberOfLabels" name="NumberOfLabels" placeholder="Number of labels" readonly="readonly" type="number" value="@Model.QuizDetails[0].NumberOfLabels">
            </div>
            <div class="col-md-2">
                <label class="col-form-label" for="example-text-input">Number of attempts <span class="text-danger">*</span></label>
                <input class="form-control" id="NumberOfAttempts" name="NumberOfAttempts" placeholder="Number of attempts" type="number" value="@Model.QuizDetails[0].NumberOfAttempts">
            </div>
            <div>

            </div>
        </div>
    </div>
    <div class="row">
        <br />
        <div class="col-md-12">
            <label class="pull-left" style="display: block;">Selected Models <span class="text-danger">*</span>&nbsp;</label>
            <span id="model">@ViewBag.SelectedAsset</span>
        </div>
    </div>
    <div id="divAsset">
        @for (int i = 0; i < Model.QuizDetails.Count; i++)
        {
            @Html.HiddenFor(x => Model.QuizDetails[i].Id)
            @Html.HiddenFor(x => Model.QuizDetails[i].AssetId)
            @Html.HiddenFor(x => Model.QuizDetails[i].AssetContentId)
            @Html.HiddenFor(x => Model.QuizDetails[i].ModelId)
            @Html.HiddenFor(x => Model.QuizDetails[i].NumberOfAttempts)
            @Html.HiddenFor(x => Model.QuizDetails[i].NumberOfLabels)
            @Html.HiddenFor(x => Model.QuizDetails[i].Labels)
            @Html.HiddenFor(x => Model.QuizDetails[i].IsSelected)
            for (int j = 0; j < Model.QuizDetails[i].QuizLabels.Count; j++)
            {
                @Html.HiddenFor(x => Model.QuizDetails[i].QuizLabels[j].Id)
                @Html.HiddenFor(x => Model.QuizDetails[i].QuizLabels[j].QuizDetailId)
                @Html.HiddenFor(x => Model.QuizDetails[i].QuizLabels[j].LabelId)
                @Html.HiddenFor(x => Model.QuizDetails[i].QuizLabels[j].IsSelected)
            }
            if (Model.QuizDetails[i].IsSelected)
            {
                <div class="@Model.QuizDetails[i].AssetContentId">
                    <div class="row">
                        <br />
                        <div class="col-md-5 pull-left" style="text-align:right;">
                            <label style="margin-top:5px">Select labels for @Model.QuizDetails[i].AssetName <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-md-7">
                            @if (Model.QuizDetails[i].QuizLabels.Count > 0)
                            {
                                num = 0;
                                <select class="form-control QuizLabels" id="QuizLabels" multiple="multiple">
                                    @foreach (var label in Model.QuizDetails[i].QuizLabels)
                                    {
                                        name = "QuizDetails_" + i + "__QuizLabels_" + num + "__IsSelected";
                                        <option class="@name" @(label.IsSelected == true ? "selected" : "") value="@label.LabelId">@label.LabelName</option>
                                        num++;
                                    }
                                </select>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <hr />
    <div class="row">
        <div class="form-group col-md-12 text-sm-right my-1">
            <button type="button" class="btn btn-primary" onclick="SaveQuiz();">Save Quiz</button>
        </div>
    </div>
}
<script>
    var max = '@System.Configuration.ConfigurationManager.AppSettings["MaxAssetAllowed"].ToString()';
    var message = "Maximum " + max + " models allowed to create multiple model specific quiz.";

    $(document).ready(function () {
        $('#model').html($('#QuizAssets').next().find('.multiselect').attr('title'));

        if ($('#IsQuizModelSpecific').val() == 'True') {
            max = 1;
            message = "Select only 1 model to create model specific quiz.";
        }

        $('#QuizAssets').multiselect({
            nonSelectedText: 'No model selected',
            selectAllValue: 'multiselect-all',
            buttonWidth: '300px',
            maxHeight: 200,
            numberDisplayed: 10,
            selectedClass: 'active',
            includeSelectAllOption: false,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            enableClickableOptGroups: false,
            enableCollapsibleOptGroups: false,
            onChange: function (element, checked) {
                var acId = element.val();
                var num = element.attr('class');
                var id = 'QuizDetails_' + element.attr('class') + '__IsSelected';
                var url = '/Activities/GetAssetLabels';
                if (checked) {
                    $("#" + id).val("True");
                    $('#divAsset').append($('<div class="' + acId + '">').load(url, { contentId: acId, number: num }));
                }
                else {
                    $("#" + id).val("False");
                    var divId = '.' + acId;
                    $('#divAsset').find(divId).remove();
                }
                setTimeout(function (){
                    $('#model').html($('#QuizAssets').next().find('.multiselect').attr('title'));
                }, 100)

                var brands = $('#QuizAssets option:selected');
                var count = 0;
                $(brands).each(function (index, brand) {
                    count++;
                });

                var sel = $('#radioModelSpecificBtn').find('.active').data('title');
                if (count > 1) {
                    if (sel == 'Yes') {
                        $('#radioModelSpecificBtn').find('.notActive').trigger('click');
                    }
                }
                else {
                    if (sel == 'No') {
                        $('#radioModelSpecificBtn').find('.notActive').trigger('click');
                    }
                }
            }
        });

        $('.QuizLabels').multiselect({
            nonSelectedText: 'Select labels',
            selectAllValue: 'multiselect-all',
            buttonWidth: '300px',
            maxHeight: 200,
            numberDisplayed: 10,
            selectedClass: 'active',
            includeSelectAllOption: false,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            enableClickableOptGroups: false,
            enableCollapsibleOptGroups: false,
            onChange: function (element, checked) {
                var label = parseInt($('#NumberOfLabels').val());
                var id = element.attr('class');
                if (checked) {
                    $("#" + id).val("True");
                    label = label + 1;
                }
                else {
                    $("#" + id).val("False");
                    label = label - 1;
                }

                $('#NumberOfLabels').val(label);
            }
        });
    });

    $('#radioQuizBtn a').on('click', function () {
        var sel = $(this).data('title');
        var tog = $(this).data('toggle');
        $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
        $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
        if (sel == 'Disabled') {
            $('#IsQuizEnabled').val("False");
        }
        else {
            $('#IsQuizEnabled').val("True");
        }
    })

    $('#radioModelSpecificBtn a').on('click', function () {
        var sel = $(this).data('title');
        var tog = $(this).data('toggle');
        $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
        $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');

        if (sel == 'No') {
            $('#IsQuizModelSpecific').val("False");
            max = '@System.Configuration.ConfigurationManager.AppSettings["MaxAssetAllowed"].ToString()';
            message = "Maximum " + max + " models allowed to create multiple model specific quiz.";
        }
        else {
            $('#IsQuizModelSpecific').val("True");
            max = 1;
            message = "Select only 1 model to create model specific quiz.";
        }
    })

    function SaveQuiz() {
        var count = 0;
        var label = parseInt($('#NumberOfLabels').val());
        var attempt = parseInt($('#NumberOfAttempts').val());
        var brands = $('#QuizAssets option:selected');
        $(brands).each(function (index, brand) {
            count++;
            var newid = 'QuizDetails_' + $(this).attr('class') + '__NumberOfLabels';
            $("#" + newid).val(label);
            var aId = 'QuizDetails_' + $(this).attr('class') + '__NumberOfAttempts';
            $("#" + aId).val(attempt);
        });

        if (count == 0) {
            alert("Select atleast 1 model");
        }
        else if (count > max) {
            alert(message);
        }
        else {
            var myForm = $('#frmQuiz');
            $.ajax({
                url: "@Url.Action("SaveQuiz", "Activities")",
                type: "POST",
                data: myForm.serialize(),
                success: function (data) {
                    alert(data);
                    $('#grid').data().kendoGrid.dataSource.read();
                    $("#grid").data("kendoGrid").refresh();
                }
            })
            return false;
        }
    }
</script>


