﻿@model _3DLContentManagement.Models.PuzzleModel
@{
    Layout = null;
    int num = 0;
}
<style>
    #radioPuzzleBtn .notActive {
        color: #3276b1 !important;
        background-color: #fff !important;
    }

    #radioModelSpecificBtn .notActive {
        color: #3276b1 !important;
        background-color: #fff !important;
    }
</style>
<div>
    <br />
    <h2 id="activity">@(Model.PuzzleName == "" ? "Add New Puzzle" : Model.PuzzleName)</h2>
    <hr />
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmPuzzle", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.PuzzleId)
    @Html.HiddenFor(x => x.IsPuzzleEnabled)
    @Html.HiddenFor(x => x.IsPuzzleDeleted)
    @Html.HiddenFor(x => x.IsPuzzleModelSpecific)
    for (int i = 0; i < Model.PuzzleDetails.Count; i++)
    {
        @Html.HiddenFor(x => Model.PuzzleDetails[i].Id)
        @Html.HiddenFor(x => Model.PuzzleDetails[i].AssetId)
        @Html.HiddenFor(x => Model.PuzzleDetails[i].AssetContentId)
        @Html.HiddenFor(x => Model.PuzzleDetails[i].ModelId)
        @Html.HiddenFor(x => Model.PuzzleDetails[i].NumberOfParts)
        @Html.HiddenFor(x => Model.PuzzleDetails[i].IsSelected)
    }
    <div class="row">
        <div class="col-md-2 pull-left">
            <label>Status</label>
            <div class="input-group">
                <div id="radioPuzzleBtn" class="btn-group">
                    <a class="btn btn-success @(Model.IsPuzzleEnabled == true ? "active" : "notActive")" data-toggle="puzzle" data-title="Activate">Activate</a>
                    <a class="btn btn-primary @(Model.IsPuzzleEnabled == false ? "active" : "notActive")" data-toggle="puzzle" data-title="Deactivate">Deactivate</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <label>Puzzle Name <span class="text-danger">*</span></label>
            @Html.TextBoxFor(x => x.PuzzleName, new { @class = "form-control", @placeholder = "Puzzle Name", @maxlength = "100" })
            <div class="has-danger">
                <div class="form-control-feedback">
                    @Html.ValidationMessageFor(x => x.PuzzleName)
                </div>
            </div>
        </div>
        <div class="col-md-2 pull-left">
            <label>Model Specific</label>
            <div class="input-group">
                <div id="radioModelSpecificBtn" class="btn-group">
                    <a class="btn btn-info @(Model.IsPuzzleModelSpecific == true ? "active" : "notActive")" data-toggle="ModelSpecific" data-title="Single">Single</a>
                    <a class="btn btn-info @(Model.IsPuzzleModelSpecific == false ? "active" : "notActive")" data-toggle="ModelSpecific" data-title="Multiple">Multiple</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label style="display: block;">Models <span class="text-danger">*</span></label>
            <select class="form-control" id="PuzzleAssets" multiple="multiple">
                @foreach (var asset in Model.PuzzleDetails)
                {
                    <option class="PuzzleDetails_@num" @(asset.IsSelected == true ? "selected" : "") value="@asset.AssetContentId">@asset.AssetName</option>
                    num++;
                }
            </select>
        </div>
        <div class="col-md-2" style="margin-top: 24px;">
            <button type="button" onclick="SavePuzzle();" class="btn btn-primary">Save Puzzle</button>
        </div>
    </div>
    <div class="row">
        <br />
        <div class="alert alert-info" style="margin-left:15px;">
            <strong>Info!</strong> On click of Activate, the puzzle will be activated for this model.There are <label id="parts">@Model.PuzzleDetails[0].NumberOfParts</label> number of parts in this puzzle.
        </div>
    </div>
}
<script>
    var max = '@System.Configuration.ConfigurationManager.AppSettings["MaxAssetAllowed"].ToString()';
    var message = "Maximum " + max + " models allowed to create multiple model specific puzzle.";

    $(document).ready(function () {        
        if ($('#IsPuzzleModelSpecific').val() == 'True') {
            max = 1;
            message = "Select only 1 model to create model specific puzzle.";
        }

        $('#PuzzleAssets').multiselect({
            nonSelectedText: 'Select Model',
            selectAllValue: 'multiselect-all',
            buttonWidth: '300px',
            maxHeight: 160,
            numberDisplayed: 10,
            selectedClass: 'active',
            includeSelectAllOption: false,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            enableClickableOptGroups: false,
            enableCollapsibleOptGroups: false,
            onChange: function (element, checked) {  
                var acId = element.val();
                var label = parseInt($('#parts').html());
                var id = element.attr('class') + '__IsSelected';
                var url = '/Activities/GetLabelCount';
                if (checked) {
                    $("#" + id).val("True");
                    $.get(url, { contentId: acId }, function (data) {
                        label = label + parseInt(data);
                        $('#parts').html(label);
                    });
                }
                else {                    
                    $("#" + id).val("False");
                    $.get(url, { contentId: acId }, function (data) {
                        label = label - parseInt(data);
                        $('#parts').html(label);
                    });
                }
                var brands = $('#PuzzleAssets option:selected');
                var count = 0;
                $(brands).each(function (index, brand) {
                    count++;
                });

                var sel = $('#radioModelSpecificBtn').find('.active').data('title');
                if (count > 1) {
                    if (sel == 'Single') {
                        $('#radioModelSpecificBtn').find('.notActive').trigger('click');
                    }
                }
                else {
                    if (sel == 'Multiple') {
                        $('#radioModelSpecificBtn').find('.notActive').trigger('click');
                    }
                }
            }
        });
    });

    $('#radioPuzzleBtn a').on('click', function () {
        var sel = $(this).data('title');
        var tog = $(this).data('toggle');
        $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
        $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');

        if (sel == 'Deactivate') {
            $('#IsPuzzleEnabled').val("False");
        }
        else {
            $('#IsPuzzleEnabled').val("True");
        }
    })

    $('#radioModelSpecificBtn a').on('click', function () {
        var sel = $(this).data('title');
        var tog = $(this).data('toggle');
        $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
        $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');

        if (sel == 'Multiple') {
            $('#IsPuzzleModelSpecific').val("False");
            max = '@System.Configuration.ConfigurationManager.AppSettings["MaxAssetAllowed"].ToString()';
            message = "Maximum " + max + " models allowed to create multiple model specific puzzle.";
        }
        else {
            $('#IsPuzzleModelSpecific').val("True");
            max = 1;
            message = "Select only 1 model to create model specific puzzle.";
        }
    })

    function ValidatePuzzle() {
        var message = 'Are you sure you want to <b>' + sel + '</b> this puzzle?';

        if (confirm(message, function () {
            SavePuzzle();
        }));
    }

    function SavePuzzle() {
        var count = 0;
        var label = parseInt($('#parts').html());
        var brands = $('#PuzzleAssets option:selected');
        $(brands).each(function (index, brand) {
            count++;
            //var id = $(this).attr('class') + '__IsSelected';
            //$("#" + id).val("True");
            var newid = $(this).attr('class') + '__NumberOfParts';
            $("#" + newid).val(label);
        });

        if (count == 0) {
            alert("Select atleast 1 model");
        }
        else if (count > max) {
            alert(message);
        }
        else {
            var myForm = $('#frmPuzzle');
            $.ajax({
                url: "@Url.Action("SavePuzzle", "Activities")",
                type: "POST",
                data: myForm.serialize(),
                success: function (data) {
                    alert(data);
                    $('#grid').data().kendoGrid.dataSource.read();
                    $("#grid").data("kendoGrid").refresh();
                }
            })
        }
    }
</script>




