﻿@model _3DLContentManagement.Models.ClassificationPropertyModel
@{
    Layout = null;
    int num = 0;
    int i = ViewBag.AssetNum;
    string name = string.Empty;
}
<div class="row">
    <div class="col-md-3 pull-left" style="text-align:right;">
        <label style="margin-top:5px">Select models for @Model.PropertyName <span class="text-danger">*</span></label>
    </div>
    <div class="col-md-9">
        @if (Model.ClassificationAssets.Count > 0)
        {
            num = 0;
            <select class="form-control ClassificationAssets" id="ClassificationAssets" multiple="multiple">
                @foreach (var asset in Model.ClassificationAssets)
                {
                    name = "Properties_" + i + "__ClassificationAssets_" + num + "__IsSelected";
                    <option class="@name" @(asset.IsSelected == true ? "selected" : "") value="@asset.LinkedAssetId">@asset.LinkedAssetName</option>
                    num++;
                }
            </select>
            for (int j = 0; j < Model.ClassificationAssets.Count; j++)
            {
                name = "Properties_" + i + "__ClassificationAssets_" + j + "__IsSelected";
                <input type="hidden" name="Properties[@i].ClassificationAssets[@j].RelationId" value="@Model.ClassificationAssets[j].RelationId" />
                <input type="hidden" name="Properties[@i].ClassificationAssets[@j].LinkedAssetId" value="@Model.ClassificationAssets[j].LinkedAssetId" />
                <input type="hidden" name="Properties[@i].ClassificationAssets[@j].LinkedAssetName" value="@Model.ClassificationAssets[j].LinkedAssetName" />
                <input type="hidden" name="Properties[@i].ClassificationAssets[@j].LinkedContentId" value="@Model.ClassificationAssets[j].LinkedContentId" />
                <input type="hidden" name="Properties[@i].ClassificationAssets[@j].IsSelected" value="false" id="@name" />
            }
        }
        else
        {
            num = 0;
            <select class="form-control ClassificationAssets" id="ClassificationAssets" multiple="multiple"></select>
        }
    </div>
    <br />
    <br />
</div>
<script>
    $(document).ready(function () {
        $('.ClassificationAssets').multiselect({
            nonSelectedText: 'Select models',
            selectAllValue: 'multiselect-all',
            buttonWidth: '300px',
            maxHeight: 200,
            numberDisplayed: 10,
            selectedClass: 'active',
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            enableClickableOptGroups: false,
            enableCollapsibleOptGroups: false,
            onChange: function (element, checked) {
                debugger;
                var id = element.attr('class');
                if (checked) {
                    $("#" + id).val("True");
                }
                else {
                    $("#" + id).val("False");
                }
            },
            onSelectAll: function () {
                var brands = $('.ClassificationAssets option:selected');
                $(brands).each(function (index, brand) {
                    var id = $(this).attr('class');
                    $("#" + id).val("True");
                });
            },
            onDeselectAll: function () {
                var options = $(".ClassificationAssets").find('option').not(':selected');
                $(options).each(function (index, brand) {
                    var id = $(this).attr('class');
                    $("#" + id).val("False");
                });
            }
        });
    });
</script>

