﻿@model _3DLContentManagement.Models.QuizDetailModel
@{
    Layout = null;
    int num = 0;
    int i = ViewBag.AssetNum;
    string name = string.Empty;
}
<div class="row">
    <div class="col-md-3 pull-left" style="text-align:right;">
        <label style="margin-top:5px">Select labels for @Model.AssetName <span class="text-danger">*</span></label>
    </div>
    <div class="col-md-9">
        @if (Model.QuizLabels.Count > 0)
        {
            num = 0;
            <select class="form-control QuizLabels" id="QuizLabels" multiple="multiple">
                @foreach (var label in Model.QuizLabels)
                {
                    name = "QuizDetails_" + i + "__QuizLabels_" + num + "__IsSelected";
                    <option class="@name" @(label.IsSelected == true ? "selected" : "") value="@label.LabelId">@label.LabelName</option>
                    num++;
                }
            </select>
            for (int j = 0; j < Model.QuizLabels.Count; j++)
            {
                name = "QuizDetails_" + i + "__QuizLabels_" + j + "__IsSelected";
                <input type="hidden" name="QuizDetails[@i].QuizLabels[@j].Id" value="@Model.QuizLabels[j].Id" />
                <input type="hidden" name="QuizDetails[@i].QuizLabels[@j].LabelName" value="@Model.QuizLabels[j].LabelName" />
                <input type="hidden" name="QuizDetails[@i].QuizLabels[@j].QuizDetailId" value="@Model.QuizLabels[j].QuizDetailId" />
                <input type="hidden" name="QuizDetails[@i].QuizLabels[@j].LabelId" value="@Model.QuizLabels[j].LabelId" />
                <input type="hidden" name="QuizDetails[@i].QuizLabels[@j].IsSelected" value="false" id="@name" />
            }
        }
        else
        {
            num = 0;
            <select class="form-control QuizLabels" id="QuizLabels" multiple="multiple"></select>
        }
    </div>
    <br />
    <br />
</div>
<script>
    $(document).ready(function () {
        $('.QuizLabels').multiselect({
            nonSelectedText: 'Select labels',
            selectAllValue: 'multiselect-all',
            buttonWidth: '300px',
            maxHeight: 200,
            numberDisplayed: 10,
            selectedClass: 'active',
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            enableClickableOptGroups: false,
            enableCollapsibleOptGroups: false,
            onChange: function (element, checked) {
                var id = element.attr('class');
                var label = parseInt($('#NumberOfLabels').val());
                if (checked) {
                    $("#" + id).val("True");
                    label = label + 1;
                }
                else {
                    $("#" + id).val("False");
                    label = label - 1;
                }

                $('#NumberOfLabels').val(label);
            },
            onSelectAll: function () {
                var brands = $('.QuizLabels option:selected');
                var count = 0;
                $(brands).each(function (index, brand) {
                    count++;
                    var id = $(this).attr('class');
                    $("#" + id).val("True");
                });
                $('#NumberOfLabels').val(count);
            },
            onDeselectAll: function () {
                var brands = $('.QuizLabels option:selected');
                var count = 0;
                $(brands).each(function (index, brand) {
                    count++;
                });
                $('#NumberOfLabels').val(count);

                var options = $(".QuizLabels").find('option').not(':selected');
                $(options).each(function (index, brand) {
                    var id = $(this).attr('class');
                    $("#" + id).val("False");
                });
            }
        });
    });
</script>
