﻿@model _3DLContentManagement.Models.ClassificationModel
@{
    ViewBag.Title = "Classification";
    int num = 0;
    int number = 0;
    string name = string.Empty;
}
<style>
    #radioClassificationBtn .notActive {
        color: #3276b1 !important;
        background-color: #fff !important;
    }

    #radioModelSpecificBtn .notActive {
        color: #3276b1 !important;
        background-color: #fff !important;
    }
</style>
<div class="wrapper page-wrap">
    <section id="checklist">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="/Content/Index">Dashboard</a> |
            <a class="breadcrumb-item" href="/Activities/Index">Activities</a> |
            <span class="breadcrumb-item active">@(Model.ClassificationName == "" ? "Add Classification" : "Update Classification")</span>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <h2 id="activity">@(Model.ClassificationName == "" ? "Add New Classification" : Model.ClassificationName)</h2>
            </div>
        </div>
        <hr />
    </section>
    <section id="requirments">
        @using (Html.BeginForm("SaveClassification", "Activities", FormMethod.Post, new { @id = "frmClassification", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken();
            @Html.ValidationSummary(true)
            @Html.HiddenFor(x => x.ClassificationId)
            @Html.HiddenFor(x => x.IsClassificationEnabled)
            @Html.HiddenFor(x => x.IsClassificationDeleted)
            @Html.HiddenFor(x => x.IsClassificationModelSpecific)
            for (int p = 0; p < Model.ClassificationPlatforms.Count; p++)
            {
                @Html.HiddenFor(x => Model.ClassificationPlatforms[p].Id)
                @Html.HiddenFor(x => Model.ClassificationPlatforms[p].PlatformId)
                @Html.HiddenFor(x => Model.ClassificationPlatforms[p].PlatformName)
                @Html.HiddenFor(x => Model.ClassificationPlatforms[p].IsSelected)
            }
            <div class="row">
                <div class="col-md-12 mb-0">
                    <label class="col-form-label" for="example-text-input">Classification Name <span class="text-danger">*</span></label>
                </div>
            </div>
            <div id="divName">
                @for (int i = 0; i < Model.Names.Count; i++)
                {
                    <div class="row">
                        @Html.HiddenFor(x => Model.Names[i].ID)
                        @Html.HiddenFor(x => Model.Names[i].LanguageId)
                        @Html.HiddenFor(x => Model.Names[i].IsDeleted)
                        <div class="form-group col-md-3 mb-0">
                            <div class="col-xs-1" style="padding-left: 0px;">
                                @if (i == 0)
                                {
                                    <span class="fa fa-plus" onclick="AddNameRow()" data-toggle='tooltip' data-placement='top' title='Add row for new language' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                }
                                else
                                {
                                    <span class="fa fa-minus" data-id="Names[@i].IsDeleted" onclick="RemoveRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                }
                            </div>
                            <div class="col-xs-10" style="padding-right: 0px;padding-left: 0px;">
                                @Html.TextBoxFor(x => Model.Names[i].Language, new { @class = "form-control language", @placeholder = "Select Language", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => Model.Names[i].Language)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-9 mb-0">
                            @Html.TextBoxFor(x => Model.Names[i].Name, new { @class = "form-control", @placeholder = "Classification Name", @maxlength = "100" })
                            <div class="has-danger">
                                <div class="form-control-feedback">
                                    @Html.ValidationMessageFor(x => Model.Names[i].Name)
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="AddName" style="display:none">
                <div class="row">
                    <input name="Names[{count}].ID" type="hidden" value="0">
                    <input name="Names[{count}].LanguageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                    <input name="Names[{count}].IsDeleted" type="hidden" value="False">
                    <div class="form-group col-md-3 mb-0">
                        <div class="col-xs-1" style="padding-left: 0px;">
                            <span class="fa fa-minus" data-id="Names[{count}].IsDeleted" onclick="RemoveRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                        </div>
                        <div class="col-xs-10" style="padding-right: 0px;padding-left: 0px;">
                            <input class="form-control language" maxlength="100" name="Names[{count}].Language" placeholder="Select Language" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group col-md-9 mb-0">
                        <input class="form-control" maxlength="100" name="Names[{count}].Name" placeholder="Classification Name" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="row">
                @Html.HiddenFor(x => x.ClassificationName, new { @class = "form-control", @placeholder = "Classification Name", @maxlength = "100" })
                <div class="col-md-3">
                    <label style="display: block;">Platform <span class="text-danger">*</span></label>
                    <select class="form-control" id="Platforms" multiple="multiple">
                        @foreach (var pl in Model.ClassificationPlatforms)
                        {
                            <option class="ClassificationPlatforms_@number" @(pl.IsSelected == true ? "selected" : "") value="@pl.PlatformId">@pl.PlatformName</option>
                            number++;
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label style="display: block;">Properties <span class="text-danger">*</span></label>
                    <select class="form-control" id="Properties" multiple="multiple">
                        @foreach (var property in Model.Properties)
                        {
                            <option class="@num" @(property.IsSelected == true ? "selected" : "") value="@property.PropertyId">@property.PropertyName</option>
                            num++;
                        }
                    </select>
                </div>
                <div class="col-md-2 pull-left hidden">
                    <label>Property Specific</label>
                    <div class="input-group">
                        <div id="radioModelSpecificBtn" class="btn-group">
                            <a class="btn btn-info @(Model.IsClassificationModelSpecific == true ? "active" : "notActive")" data-toggle="ModelSpecific" data-title="Single">Single</a>
                            <a class="btn btn-info @(Model.IsClassificationModelSpecific == false ? "active" : "notActive")" data-toggle="ModelSpecific" data-title="Multiple">Multiple</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 pull-left">
                    <label>Status</label>
                    <div class="input-group">
                        <div id="radioClassificationBtn" class="btn-group">
                            <a class="btn btn-success @(Model.IsClassificationEnabled == true ? "active" : "notActive")" data-toggle="classification" data-title="Activate">Activate</a>
                            <a class="btn btn-primary @(Model.IsClassificationEnabled == false ? "active" : "notActive")" data-toggle="classification" data-title="Deactivate">Deactivate</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">

                </div>
            </div>
            <div class="row">
                <br />
                <div class="col-md-12">
                    <label class="pull-left" style="display: block;">Selected Properties <span class="text-danger">*</span>&nbsp;</label>
                    <span id="model">@ViewBag.SelectedProperties</span>
                </div>
            </div>
            <div id="divAsset">
                @for (int i = 0; i < Model.Properties.Count; i++)
                {
                    @Html.HiddenFor(x => Model.Properties[i].Id)
                    @Html.HiddenFor(x => Model.Properties[i].PropertyId)
                    @Html.HiddenFor(x => Model.Properties[i].PropertyName)
                    @Html.HiddenFor(x => Model.Properties[i].IsSelected)
                    for (int j = 0; j < Model.Properties[i].ClassificationAssets.Count; j++)
                    {
                        @Html.HiddenFor(x => Model.Properties[i].ClassificationAssets[j].RelationId)
                        @Html.HiddenFor(x => Model.Properties[i].ClassificationAssets[j].LinkedAssetId)
                        @Html.HiddenFor(x => Model.Properties[i].ClassificationAssets[j].LinkedAssetName)
                        @Html.HiddenFor(x => Model.Properties[i].ClassificationAssets[j].LinkedContentId)
                        @Html.HiddenFor(x => Model.Properties[i].ClassificationAssets[j].IsSelected)
                    }
                    if (Model.Properties[i].IsSelected)
                    {
                        <div class="@Model.Properties[i].PropertyId">
                            <div class="row">
                                <br />
                                <div class="col-md-3 pull-left" style="text-align:right;">
                                    <label style="margin-top:5px">Select models for @Model.Properties[i].PropertyName <span class="text-danger">*</span></label>
                                </div>
                                <div class="col-md-9">
                                    @if (Model.Properties[i].ClassificationAssets.Count > 0)
                                    {
                                        num = 0;
                                        <select class="form-control ClassificationAssets" id="ClassificationAssets" multiple="multiple">
                                            @foreach (var asset in Model.Properties[i].ClassificationAssets)
                                            {
                                                name = "Properties_" + i + "__ClassificationAssets_" + num + "__IsSelected";
                                                <option class="@name" @(asset.IsSelected == true ? "selected" : "") value="@asset.LinkedAssetId">@asset.LinkedAssetName</option>
                                                num++;
                                            }
                                        </select>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
                <br />
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                <span class="fa fa-plus" onclick="AddDetailRow()" data-toggle='tooltip' data-placement='top' title='Add new row' style="font-size:24px;color:#a42639;cursor:pointer;"></span>
                            </div>
                            <div class="col-xs-10" style="padding-left: 3px;padding-right: 0px;">
                                <label class="col-form-label" for="example-text-input">Package</label>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <label class="col-form-label" for="example-text-input">Language</label>
                        </div>
                        <div class="col-xs-3">
                            <label class="col-form-label" for="example-text-input">Grade</label>
                        </div>
                        <div class="col-xs-3">
                            <label class="col-form-label" for="example-text-input">Syllabus</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="padding-left: 0px;">
                    <div class="col-xs-3">
                        <label class="col-form-label" for="example-text-input">Stream</label>
                    </div>
                    <div class="col-xs-3">
                        <label class="col-form-label" for="example-text-input">Subject</label>
                    </div>
                    <div class="col-xs-3">
                        <label class="col-form-label" for="example-text-input">Topic</label>
                    </div>
                    <div class="col-xs-3">
                        <label class="col-form-label" for="example-text-input">Subtopic</label>
                    </div>
                </div>
            </div>
            <div id="divDetail">
                @for (int i = 0; i < Model.Details.Count; i++)
                {
                    <div class="row detail" style="@(Model.Details[i].IsDeleted ? "display:none" : "display:block")">
                        @Html.HiddenFor(x => Model.Details[i].ID)
                        @Html.HiddenFor(x => Model.Details[i].PackageId)
                        @Html.HiddenFor(x => Model.Details[i].GradeId)
                        @Html.HiddenFor(x => Model.Details[i].LanguageId)
                        @Html.HiddenFor(x => Model.Details[i].SyllabusId)
                        @Html.HiddenFor(x => Model.Details[i].StreamId)
                        @Html.HiddenFor(x => Model.Details[i].SubjectId)
                        @Html.HiddenFor(x => Model.Details[i].TopicId)
                        @Html.HiddenFor(x => Model.Details[i].SubtopicId)
                        @Html.HiddenFor(x => Model.Details[i].IsDeleted)
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                        <span class="fa fa-minus" data-id="Details[@i].IsDeleted" onclick="RemoveDetailRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                    </div>
                                    <div class="col-xs-10" style="padding-left: 3px;padding-right: 0px;">
                                        @Html.TextBoxFor(x => x.Details[i].Package, new { @class = "form-control package", @placeholder = "Package", @maxlength = "100" })
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(x => x.Details[i].Language, new { @class = "form-control planguage", @placeholder = "Language", @maxlength = "100" })
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(x => x.Details[i].Grade, new { @class = "form-control grade", @placeholder = "Grade", @maxlength = "100" })
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(x => x.Details[i].Syllabus, new { @class = "form-control syllabus", @placeholder = "Syllabus", @maxlength = "100" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6" style="padding-left: 0px;">
                            <div class="col-xs-3">
                                @Html.TextBoxFor(x => x.Details[i].Stream, new { @class = "form-control stream", @placeholder = "Stream", @maxlength = "100" })
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(x => x.Details[i].Subject, new { @class = "form-control subject", @placeholder = "Subject", @maxlength = "100" })
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(x => x.Details[i].Topic, new { @class = "form-control topic", @placeholder = "Topic", @maxlength = "100" })
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(x => x.Details[i].Subtopic, new { @class = "form-control subtopic", @placeholder = "Subtopic", @maxlength = "100" })
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="AddDetail" style="display:none">
                <div class="row detail">
                    <input name="Details[{count}].ID" type="hidden" value="0">
                    <input name="Details[{count}].PackageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                    <input name="Details[{count}].LanguageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                    <input name="Details[{count}].GradeId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                    <input name="Details[{count}].SyllabusId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                    <input name="Details[{count}].StreamId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                    <input name="Details[{count}].SubjectId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                    <input name="Details[{count}].TopicId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                    <input name="Details[{count}].SubtopicId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                    <input name="Details[{count}].IsDeleted" type="hidden" value="True">
                    <div class="form-group col-md-6">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                    <span class="fa fa-minus" data-id="Details[{count}].IsDeleted" onclick="RemoveDetailRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                </div>
                                <div class="col-xs-10" style="padding-left: 3px;padding-right: 0px;">
                                    <input class="form-control package" maxlength="100" name="Details[{count}].Package" placeholder="Package" type="text" value="">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <input class="form-control planguage" maxlength="100" name="Details[{count}].Language" placeholder="Language" type="text" value="">
                            </div>
                            <div class="col-xs-3">
                                <input class="form-control grade" maxlength="100" name="Details[{count}].Grade" placeholder="Grade" type="text" value="">
                            </div>
                            <div class="col-xs-3">
                                <input class="form-control syllabus" maxlength="100" name="Details[{count}].Syllabus" placeholder="Syllabus" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6" style="padding-left: 0px;">
                        <div class="col-xs-3">
                            <input class="form-control stream" maxlength="100" name="Details[{count}].Stream" placeholder="Stream" type="text" value="">
                        </div>
                        <div class="col-xs-3">
                            <input class="form-control subject" maxlength="100" name="Details[{count}].Subject" placeholder="Subject" type="text" value="">
                        </div>
                        <div class="col-xs-3">
                            <input class="form-control topic" maxlength="100" name="Details[{count}].Topic" placeholder="Topic" type="text" value="">
                        </div>
                        <div class="col-xs-3">
                            <input class="form-control subtopic" maxlength="100" name="Details[{count}].Subtopic" placeholder="Subtopic" type="text" value="">
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                @if (!string.IsNullOrEmpty(Convert.ToString(TempData["Error"])))
                {
                    <div class="alert alert-danger" style="margin-left:15px;">
                        <strong>Error!</strong> @TempData["Error"].ToString()
                    </div>
                }
                <div class="alert alert-info" style="margin-left:15px;">
                    <strong>Info!</strong> On click of Activate, the classification will be activated for these model.
                </div>
            </div>
            <hr />
            <div class="row col-md-12">
                <button type="button" onclick="SaveClassification();" class="btn btn-primary">Save Classification</button>
            </div>
        }
    </section>
</div>

<script>
    var max = '@System.Configuration.ConfigurationManager.AppSettings["MaxAssetAllowed"].ToString()';
    var message = "Maximum " + max + " models allowed to create multiple model specific classification.";
    var availableLanguages = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Language));
    var availablePackages = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Package));

    $(document).ready(function () {
        if ('@TempData["Message"]' != '') {
            alert('@TempData["Message"]');
        }

        GetAllLanguages();
        GetPackages();

        $(".package").each(function () {
            packageRef = $(this);
            if ($(this).val().length > 0) {
                var id = $(this).attr('name') + 'Id';
                var packageId = $("input[name='" + id + "']").val();
                $.ajax({
                    url: '/Home/GetLanguagesAndGrades',
                    data: { Id: packageId },
                    type: 'GET',
                    async: false,
                    success: function (data) {
                        if (packageRef != undefined) {
                            GetLanguages(packageRef, data.Languages);
                            GetGrades(packageRef, data.Grades);
                        }
                    }
                });
            }
        });

        $(".grade").each(function () {
            gradeRef = $(this);
            if ($(this).val().length > 0) {
                var id = $(this).attr('name') + 'Id';
                var gradeId = $("input[name='" + id + "']").val();
                $.ajax({
                    url: '/Home/GetSyllabus',
                    data: { Id: gradeId },
                    type: 'GET',
                    async: false,
                    success: function (data) {
                        GetSyllabus(gradeRef, data.Syllabus);
                        GetStreams(gradeRef, data.Streams);
                        GetSubjects(gradeRef, data.Subjects);
                    }
                });
            }
        });

        $(".subject").each(function () {
            subjectRef = $(this);
            if ($(this).val().length > 0) {
                var id = $(this).attr('name') + 'Id';
                var subjectId = $("input[name='" + id + "']").val();
                $.ajax({
                    url: '/Home/GetTopics',
                    data: { Id: subjectId },
                    type: 'GET',
                    async: false,
                    success: function (data) {
                        GetTopics(subjectRef, data.Topics);
                    }
                });
            }
        });

        $(".topic").each(function () {
            topicRef = $(this);
            if ($(this).val().length > 0) {
                var id = $(this).attr('name') + 'Id';
                var topicId = $("input[name='" + id + "']").val();
                $.ajax({
                    url: '/Home/GetSubtopics',
                    data: { Id: topicId },
                    type: 'GET',
                    async: false,
                    success: function (data) {
                        GetSubtopics(topicRef, data.Subtopics);
                    }
                });
            }
        });

        if ($('#IsClassificationModelSpecific').val() == 'True') {
            max = 1;
            message = "Select only 1 model to create model specific classification.";
        }

        $('#Properties').multiselect({
            nonSelectedText: 'Select Property',
            selectAllValue: 'multiselect-all',
            buttonWidth: '300px',
            maxHeight: 200,
            numberDisplayed: 10,
            selectedClass: 'active',
            includeSelectAllOption: false,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            enableClickableOptGroups: false,
            enableCollapsibleOptGroups: false,
            onChange: function (element, checked) {
                debugger;
                var pId = element.val();
                var p = element.text();
                var num = element.attr('class');
                var id = 'Properties_' + element.attr('class') + '__IsSelected';
                var url = '/Activities/GetClassificationAssets';
                if (checked) {
                    $("#" + id).val("True");
                    $('#divAsset').append($('<div class="' + pId + '">').load(url, { propertyId: pId, property: p, number: num }));
                }
                else {
                    $("#" + id).val("False");
                    var divId = '.' + pId;
                    $('#divAsset').find(divId).remove();
                }
                setTimeout(function () {
                    $('#model').html($('#Properties').next().find('.multiselect').attr('title'));
                }, 100)

                var brands = $('#Properties option:selected');
                var count = 0;
                $(brands).each(function (index, brand) {
                    count++;
                });

                var sel = $('#radioModelSpecificBtn').find('.active').data('title');
                if (count > 1) {
                    if (sel == 'Single') {
                        $('#radioModelSpecificBtn').find('.notActive').trigger('click');
                    }
                }
                else {
                    if (sel == 'Multiple') {
                        $('#radioModelSpecificBtn').find('.notActive').trigger('click');
                    }
                }
            }
        });

        $('.ClassificationAssets').multiselect({
            nonSelectedText: 'Select models',
            selectAllValue: 'multiselect-all',
            buttonWidth: '300px',
            maxHeight: 200,
            numberDisplayed: 10,
            selectedClass: 'active',
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            enableClickableOptGroups: false,
            enableCollapsibleOptGroups: false,
            onChange: function (element, checked) {
                debugger;
                var id = element.attr('class');
                if (checked) {
                    $("#" + id).val("True");
                }
                else {
                    $("#" + id).val("False");
                }
            },
            onSelectAll: function () {
                var brands = $('.ClassificationAssets option:selected');
                $(brands).each(function (index, brand) {
                    var id = $(this).attr('class');
                    $("#" + id).val("True");
                });
            },
            onDeselectAll: function () {
                var options = $(".ClassificationAssets").find('option').not(':selected');
                $(options).each(function (index, brand) {
                    var id = $(this).attr('class');
                    $("#" + id).val("False");
                });
            }
        });

        $('#Platforms').multiselect({
            nonSelectedText: 'Select Platform',
            selectAllValue: 'multiselect-all',
            buttonWidth: '300px',
            maxHeight: 200,
            numberDisplayed: 10,
            selectedClass: 'active',
            includeSelectAllOption: false,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            enableClickableOptGroups: false,
            enableCollapsibleOptGroups: false,
            onChange: function (element, checked) {
                var acId = element.val();
                var id = element.attr('class') + '__IsSelected';
                if (checked) {
                    $("#" + id).val("True");
                }
                else {
                    $("#" + id).val("False");
                }
            }
        });
    });


    $('#radioClassificationBtn a').on('click', function () {
        var sel = $(this).data('title');
        var tog = $(this).data('toggle');
        $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
        $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');

        if (sel == 'Deactivate') {
            $('#IsClassificationEnabled').val("False");
        }
        else {
            $('#IsClassificationEnabled').val("True");
        }
    })

    $('#radioModelSpecificBtn a').on('click', function () {
        var sel = $(this).data('title');
        var tog = $(this).data('toggle');
        $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
        $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');

        if (sel == 'Multiple') {
            $('#IsClassificationModelSpecific').val("False");
            max = '@System.Configuration.ConfigurationManager.AppSettings["MaxAssetAllowed"].ToString()';
            message = "Maximum " + max + " models allowed to create multiple model specific classification.";
        }
        else {
            $('#IsClassificationModelSpecific').val("True");
            max = 1;
            message = "Select only 1 model to create model specific classification.";
        }
    })

    function ValidateClassification() {
        var message = 'Are you sure you want to <b>' + sel + '</b> this classification?';

        if (confirm(message, function () {
            SaveClassification();
        }));
    }

    function SaveClassification() {
        var count = 0;
        var brands = $('#Properties option:selected');
        $(brands).each(function (index, brand) {
            count++;
        });

        if (count == 0) {
            alert("Select atleast 1 model");
        }
        else if (count > max) {
            alert(message);
        }
        else {
            var myForm = $('#frmClassification');
            if (myForm.valid()) {
                showLoader();
                myForm.submit();
            }
        }
    }
</script>
<script src="~/Scripts/asset.js"></script>
