﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Activities";
}
<style>
    .footer,
    .push {
        height: 50px;
    }

    .k-grid-header {
        background-color: darkblue !important;
    }

    .k-grid-header th.k-header {
        background-color: #a42639 !important;
    }

    html .k-edit-cell .k-tooltip, html .k-grid-edit-row .k-tooltip {
        margin: 0px;
        color: Red;
        background: pink;
    }

    input[type=search] {
        height: 2.43em;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: white;
        background-image: url('../../Content/images/searchicon.png');
        background-position: 5px 5px;
        background-repeat: no-repeat;
        padding: 5px 10px 5px 30px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    .btnReset {
        background-color: #808080 !important;
    }
</style>
<div class="wrapper">
    <section id="checklist">
        <div class="container">
            <div class="row">
                <h2 style="margin-bottom: 20px;">Activities</h2>
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div class="row">
                <input type="hidden" id="ActivityId" name="ActivityId" value="@ViewBag.ActivityId" />
                <input type="hidden" id="Activity" name="Activity" value="@ViewBag.Activity" />
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    @foreach (var item in ViewBag.Activities)
                    {
                        <li class="@(item.ActivityId == 1 ? "active" : "")"><a onclick="SetActivity('@item.ActivityId', '@item.ActivityName')" data-toggle="tab">@item.ActivityName</a> </li>
                    }
                </ul>
                <div id="gridActivities" class="checkout-right animated wow slideInUp" style="padding-top:0px;" data-wow-delay=".5s">
                    @{
                        var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
                    }

                    @helper ToolbarTemplate()
                    {
                        <div class="toolbar" style="float:right; margin-top:-40px;">
                            <button type="button" id="AddNew" class="btn btn-primary" onclick="AddActivity();" title="Add New @ViewBag.Activity"><i class="fa fa-plus" aria-hidden="true"></i> Add New @ViewBag.Activity</button>
                            <input type="search" class="searchBox" placeholder="Search.." style="width: 165px" tabindex="1" />
                            <input type="button" class="k-button btnReset" style="color:#fff;margin-left:5px !important;" value="Reset" tabindex="3" />
                            <input type="button" class="k-button btnSearch" style="color:#fff;margin-left:5px !important;" value="Search" tabindex="2" />
                        </div>
                    }

                    <script type="text/x-kendo-template" id="toolbarTemplate">
                        @Html.Raw(@ToolbarTemplate().ToHtmlString().Replace("#", "\\#").Replace("</scr", "<\\/scr"))
                    </script>

                    @(Html.Kendo().Grid<_3DLContentManagement.Models.ActivityModel>()
                                .Name("grid")
                                .Columns(columns =>
                                {
                                    columns.Bound(p => p.ActivityId).Hidden(true);
                                    columns.Bound(p => p.ActivityName).Title("Name");
                                    columns.Bound(p => p.ActivityTypeName).Title("Activity Type").Hidden(true);
                                    columns.Bound(p => p.IsModelSpecific).Width(130).Title("Model Specific").ClientTemplate("#if(IsModelSpecific) {# Single #}else {# Multiple #}#").Filterable(filterable => filterable.Messages(m => m.IsFalse("Multiple")).Messages(m => m.IsTrue("Single&nbsp;")));
                                    columns.Bound(p => p.IsActivityEnabled).Width(130).Title("Status").ClientTemplate("#if(IsActivityEnabled) {# Enabled #}else {# Disabled #}#").Filterable(filterable => filterable.Messages(m => m.IsFalse("Disabled")).Messages(m => m.IsTrue("Enabled&nbsp;")));
                                    columns.Command(command =>
                                    {
                                        command.Custom("AddUpdate").Text("<span class='fa fa-pencil-square text-success k-i-edit' data-toggle='tooltip' data-placement='top' title='Click here to update'></span>").Click("UpdateActivity");
                                        command.Custom("Delete").Text("<span class='fa fa-trash-o text-danger k-i-delete' data-toggle='tooltip' data-placement='top' title='Click here to delete'></span>").Click("deleteItem");
                                    })
                                        .Title("<b>Actions</b>").Width(100);
                                })
                                //.ToolBar(toolbar => toolbar.Create().Text("Add New " + @ViewBag.Activity).HtmlAttributes(new { style = "float:right;color:#fff;background-color:#a42639;margin-top:-45px !important;", title = "Add New " + @ViewBag.Activity, id = "AddNew" }))
                                .ToolBar(toolbar =>
                                {
                                    toolbar.Template(
                                        @<Text>
                                            @*<div class="toolbar" style="float:right; margin-top:-45px!important;">
                                                <a class="k-button k-button-icontext k-grid-add" id="AddNew" onclick="AddActivity();" style="color:#fff;background-color:#a42639;" title="Add New @ViewBag.Activity" data-toggle="tooltip"><span class="k-icon k-add"></span>Add New @ViewBag.Activity</a>
                                            </div>*@
                                            @ToolbarTemplate()
                                        </Text>);
                        })
                        .Pageable(pager => pager.PageSizes(true).PageSizes(new int[] { 10, 25, 50, 100 }))
                        .Sortable().Events(events => events.DataBound("onDataBound"))
                        //.Scrollable()
                        //.Sortable(c => c.AllowUnsort(false))
                        .Filterable(filterable => filterable
                            .Extra(false)
                            .Operators(operators => operators
                                .ForString(str => str.Clear()
                                    .StartsWith("Starts with")
                                    .IsEqualTo("Is equal to")
                                    .IsNotEqualTo("Is not equal to")
                                    .Contains("Contains")
                                ))
                        )
                        //.HtmlAttributes(new { style = "min-height:350px;" })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Sort(sort => sort.Add("ActivityName").Ascending())
                            .Model(model =>
                            {
                                model.Id(p => p.ActivityId);
                                model.Field(p => p.IsActivityEnabled).DefaultValue(true);
                                model.Field(p => p.CreatedBy).Editable(false);
                            })
                            .PageSize(10)
                            .Events(events => events.Error("error_handler").RequestEnd("request_end").RequestStart("request_start"))
                            .Model(model => model.Id(p => p.ActivityId))
                            .Read(read => read.Action("GetAll", "Activities").Data("sendCulture").Data("AdditionalInfo"))
                            .Destroy(update => update.Action("DeleteActivity", "Activities").Data("sendCulture").Data("AdditionalInfo"))
                        )
                    )
                </div>
                @*<div id="divActivity"></div>*@
                <script id="customPopUpTemplate" type="text/x-kendo-template">
                    <div class="k-edit-label">ActivityName: </div>
                    <div class="k-edit-field">
                        <input name="ActivityName" required class="k-textbox" />
                    </div>
                </script>

                <script type="text/javascript">
                    $(function () {
                        //var grid = $("#grid").data("kendoGrid");
                        //var options = localStorage["kendo-grid-filter-options"];
                        //if (options) {
                        //    var parsedOptions = JSON.parse(options);
                        //    parsedOptions.toolbar = [
                        //        { template: $("#toolbarTemplate").html() }
                        //    ];
                        //    grid.setOptions(parsedOptions);
                        //}

                        $("#grid").on("keypress", ".searchBox", function (e) {
                            var key = e.which || e.keyCode;
                            if (key == 13) {
                                if ($("#grid").find('.searchBox').val() == null || $("#grid").find('.searchBox').val() == '') {
                                    $("#grid").find('.btnReset').trigger('click');
                                }
                                else {
                                    $("#grid").find('.btnSearch').trigger('click');
                                }
                            }
                        });

                        $('input').keydown(function (event) {
                            if (event.keyCode == 9 && $(event.target).is('.btnReset')) {
                                $("#grid").find('.searchBox').focus();
                                event.preventDefault();
                            }
                            else if (event.keyCode == 27) {
                                $("#grid").find('.btnReset').focus();
                                event.preventDefault();
                            }
                        });

                        if ($("#grid").find('.searchBox').val() != null && $("#grid").find('.searchBox').val() != '') {
                            $("#grid").find('.btnSearch').trigger('click');
                        }
                    });

                    //Searching the Grid by the value of the textbox
                    $("#grid").on("click", ".btnSearch", function (e) {
                        var searchValue = $("#grid").find('.searchBox').val();

                        //Setting the filter of the Grid
                        $("#grid").data("kendoGrid").dataSource.filter({
                            logic: "or",
                            filters: [
                                {
                                    field: "ActivityName",
                                    operator: "contains",
                                    value: searchValue
                                }
                            ]
                        });
                    });

                    //Clearing the filter
                    $("#grid").on("click", ".btnReset", function (e) {
                        $("#grid").find('.searchBox').val("");
                        $("#grid").data("kendoGrid").dataSource.filter({});
                        //localStorage.removeItem("kendo-grid-filter-options");
                    });

                    //send current culture with all ajax requests
                    function sendCulture() {
                        return { culture: "@culture" }
                    }

                    function error_handler(e) {
                        if (typeof e.errors === 'string') {
                            if (e.errors == 'ALREADY_EXISTS') {
                                alert('Activity already exists.');
                            }
                            grid.cancelChanges();
                        }
                    }

                    function request_start(e) {
                        kendo.ui.progress($("#grid"), false);
                    }

                    function request_end(e) {
                        if (typeof e.response.Errors === 'string')
                            return false;

                        if (e.type == "create" || e.type == "update" || e.type == "destroy") {
                            $('#grid').data().kendoGrid.dataSource.read();

                            if (e.type == "destroy") {
                                alert($('#Activity').val() + " deleted successfully.");
                            }
                        }
                    }

                    function AdditionalInfo() {
                        return {
                            Id: $('#ActivityId').val(),
                            Type: $('#Activity').val()                            
                        }
                    }

                    //register custom validation rules
                    (function ($, kendo) {
                        $.extend(true, kendo.ui.validator, {
                            rules: { // custom rules
                                typenamevalidation: function (input, params) {
                                    if (input.is("[name='TypeName']") && input.val().trim() == "") {
                                        input.attr("data-typenamevalidation-msg", "Activity Name is required.");
                                        return false;
                                    }
                                    else if (input.is("[name='TypeName']") && input.val().trim() != "") {
                                        input.attr("data-typenamevalidation-msg", "Activity Name should start with capital letter.");
                                        return /^[A-Z]/.test(input.val().trim());
                                    }

                                    return true;
                                }
                            },
                            messages: { //custom rules messages
                                typenamevalidation: function (input) {
                                    return input.attr("data-val-typenamevalidation");
                                }
                            }
                        });
                    })(jQuery, kendo);

                    function onDataBound(e) {
                        $('[data-toggle="tooltip"]').tooltip();
                        ShowNoDataMsgGrid(e);
                    }

                    function deleteItem(e) {
                        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

                        var message = 'Are you sure you want to delete <b>' + dataItem.ActivityName + '</b> ' + $('#Activity').val() + '?';

                        if (confirm(message, function () {
                            var grid = $("#grid").data("kendoGrid");
                            grid.dataSource.remove(dataItem);
                            grid.dataSource.sync();
                            grid.refresh();
                        }));
                    }

                    function UpdateActivity(e) {
                        showLoader();
                        //var grid = $("#grid").data("kendoGrid");
                        //localStorage["kendo-grid-filter-options"] = kendo.stringify(grid.getOptions());

                        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                        if ($('#Activity').val() == 'Quiz') {
                            AddUpdateQuiz(dataItem.ActivityId, 'Quiz');
                        }
                        else if ($('#Activity').val() == 'Puzzle') {
                            AddUpdatePuzzle(dataItem.ActivityId, 'Puzzle');
                        }
                        else if ($('#Activity').val() == 'Classification') {
                            AddUpdateClassification(dataItem.ActivityId, 'Classification');
                        }
                    }

                    function AddActivity(e) {
                        showLoader();
                        var id = 0;
                        if ($('#Activity').val() == 'Quiz') {
                            AddUpdateQuiz(0, 'Quiz');
                        }
                        else if ($('#Activity').val() == 'Puzzle') {
                            AddUpdatePuzzle(0, 'Puzzle');
                        }
                        else if ($('#Activity').val() == 'Classification') {
                            AddUpdateClassification(0, 'Classification');
                        }
                    }
                </script>
            </div>
        </div>
    </section>
</div>
<script>
    function SetActivity(input, type) {
        var prev = $('#Activity').val();
        var val = "Add New " + type;
        $('#ActivityId').val(input);
        $('#Activity').val(type);
        
        $("#grid").data("kendoGrid").dataSource.filter({});
        $('#AddNew').attr('title', val);
        $("#AddNew").html($("#AddNew").html().replace(prev, type));

        $("#divActivity").empty();
    }

    $(document).ready(function () {
        if ('@TempData["Message"]' != '') {
            alert('@TempData["Message"]');
        }
    });

    $('.nav-tabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })

    function AddUpdateQuiz(Id, Type) {
        var varForm = document.createElement("form");

        var i = document.createElement("input");
        i.setAttribute('type', "hidden");
        i.setAttribute('name', "activityId");
        i.setAttribute('value', Id);
        varForm.appendChild(i);

        var j = document.createElement("input");
        j.setAttribute('type', "hidden");
        j.setAttribute('name', "activityType");
        j.setAttribute('value', Type);
        varForm.appendChild(j);

        varForm.setAttribute('method', "post");
        varForm.setAttribute('action', "/Activities/AddUpdateQuiz");
        document.body.appendChild(varForm);
        varForm.hidden = true;
        varForm.submit();
    }

    function AddUpdatePuzzle(Id, Type) {
        var varForm = document.createElement("form");

        var i = document.createElement("input");
        i.setAttribute('type', "hidden");
        i.setAttribute('name', "activityId");
        i.setAttribute('value', Id);
        varForm.appendChild(i);

        var j = document.createElement("input");
        j.setAttribute('type', "hidden");
        j.setAttribute('name', "activityType");
        j.setAttribute('value', Type);
        varForm.appendChild(j);

        varForm.setAttribute('method', "post");
        varForm.setAttribute('action', "/Activities/AddUpdatePuzzle");
        document.body.appendChild(varForm);
        varForm.hidden = true;
        varForm.submit();
    }

    function AddUpdateClassification(Id, Type) {
        var varForm = document.createElement("form");

        var i = document.createElement("input");
        i.setAttribute('type', "hidden");
        i.setAttribute('name', "activityId");
        i.setAttribute('value', Id);
        varForm.appendChild(i);

        var j = document.createElement("input");
        j.setAttribute('type', "hidden");
        j.setAttribute('name', "activityType");
        j.setAttribute('value', Type);
        varForm.appendChild(j);

        varForm.setAttribute('method', "post");
        varForm.setAttribute('action', "/Activities/AddUpdateClassification");
        document.body.appendChild(varForm);
        varForm.hidden = true;
        varForm.submit();
    }
</script>
