﻿@model _3DLContentManagement.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}
<marquee behavior="alternate" direction="left" style="padding-top:20px;"><b>Welcome to 3DL Content Management !!</b></marquee>
<h2>Log in</h2>

<style>
    .btn-warning {
        background-color: #a42639 !important;
        border-color: #a42639 !important;
    }

    .forgotLink {
        color: #a42639 !important;
        text-decoration: none !important;
        font-size: medium;
    }

    input {
        max-width: 240px;
    }
</style>

@using (@Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "frmLogin" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div>
        <label>Email or UserName <span class="text-danger">*</span></label>
    </div>
    <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Enter email or username" })
    </div>
    <div class="input-group has-danger">
        <div class="form-control-feedback">
            @Html.ValidationMessageFor(x => x.UserName)
        </div>
    </div>
    <br />
    <div>
        <label>Password <span class="text-danger">*</span></label>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Enter password" })
    </div>
    <div class="input-group has-danger">
        <div class="form-control-feedback">
            @Html.ValidationMessageFor(x => x.Password)
        </div>
    </div>
    <br />
    @Html.ValidationSummary(true)
    <div class="form-group">
        <button type="submit" class="btn btn-warning pull-left" id="btnLogin">Login <i aria-hidden="true" class="fa fa-unlock-alt"></i></button>
        <p style="max-width: 280px; float: left; padding: 8px 0 0 40px; text-align: right; display: block;">
            @Html.ActionLink("Forgot your password?", "ForgotPassword", new object { }, new { @class = "forgotLink" })
        </p>
    </div>
}

<script src="~/Scripts/layout.js"></script>

<script>
    $('#btnLogin').click(function () {
        if ($("#frmLogin").valid()) {
            showLoader();
        }
    })
</script>