﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Home";
}
<style>
    .footer,
    .push {
        height: 50px;
    }

    .k-grid-header {
        background-color: darkblue !important;
        padding: 0 !important;
    }

    .k-grid-header th.k-header {
        background-color: #a42639 !important;
    }

    html .k-edit-cell .k-tooltip, html .k-grid-edit-row .k-tooltip {
        margin: 0px;
        color: Red;
        background: pink;
    }

    .k-grid-content {
        overflow-x: scroll;
        overflow-y: visible;
    }

    input[type=search] {
        height: 2.43em;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: white;
        background-image: url('../../Content/images/searchicon.png');
        background-position: 5px 5px;
        background-repeat: no-repeat;
        padding: 5px 10px 5px 30px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    .addAsset {
        color: #fff;
        background-color: #808080;
        float: right;
    }

    .addAsset:hover {
        color: #fff;
        background-color: #a42639;
    }

    .btnReset {
        background-color: #808080 !important;
    }
</style>

<div class="wrapper">
    <section id="checklist">
        <div class="container">
            <div class="row">
                <h2 class="card-header text-xs-left">
                    <a href="#requirments" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" id="master-collapse" style="text-decoration:none; color: #000000;">
                        <i class="minus-plus-master fa fa-chevron-down float-xs-right"></i>
                        <span id="title">3DL Content</span>                        
                    </a>                        
                </h2>                
                <input type="hidden" name="path" id="path" value="@ViewBag.path">
                <input type="hidden" name="file" id="file" value="@ViewBag.Folder">
                @*<input class="search" type="text" name="search" id="search" placeholder="Search..">*@
            </div>
        </div>
    </section>
    <section id="requirments" class="collapse in">
        <div class="container">
            <div class="row">
                <div id="gvAssets" class="checkout-right animated wow slideInUp" style="padding-top:0px;" data-wow-delay=".5s">
                    @(Html.Kendo().Grid<_3DLContentManagement.Models.ContentModel>()
                        .Name("grid")
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.Name).Title("Directory or File Name").Width(750).ClientTemplate("#if(IsDirectory) {#" + "<span class='fa fa-folder' style='color:\\#efd59e;'></span>&nbsp;<a style='cursor:pointer;' onclick='UpdateGridSource(\"#:Name#\", \"#:Path#\");'>#:Name#</a>" + "#}else {#" +
                                "<span class='fa fa-file' style='color:\\#b2adad;'></span>&nbsp;<a style='cursor:pointer;' onclick='ViewContent(\"#:Name#\", \"#:Path#\");'>#:Name#</a>" + "#}#");
                            columns.Bound(p => p.Status).Title("Status").Width(100).ClientTemplate("#if(Status == 'Linked') {#" + "<a href = '" + Url.Action("Assets", "Home") + "?path=#:Path#&file=#:Name#'>#:Status#</a>" + "#}else {# #:Status# #}#");
                            columns.Bound(p => p.Size).Title("Directory or File Size").Width(80).Filterable(false).ClientTemplate("#: SizeText #"); ;
                            columns.Bound(p => p.SizeText).Title("File Size").Hidden(true);
                            columns.Bound(p => p.AccessedOn).Title("Last Updated").Width(100).ClientTemplate("#= kendo.toString(kendo.parseDate(AccessedOn), 'dd MMM yyyy') #");
                            columns.Bound("Path").Title("<b>Actions</b>").Width(160).Sortable(false).Filterable(false).ClientTemplate(
                                "<button type='button' id='btnAdd' name='btnAdd' class='btn addAsset' onclick='fnAddAssets(\"#:Name#\", \"#:Path#\", \"#:Size#\", \"#:IsDirectory#\")'><i class='fa fa-plus' aria-hidden='true'></i> Add to Asset List</button>");
                        })
                        //Added a template to the toolbar
                        .ToolBar(toolbar =>
                        {
                            toolbar.Template(
                                @<Text>
                                    <div class="toolbar" style="float:right; margin-top:-40px;">
                                        <span id="lblPath" style="color:#a42639;margin-left:5px !important;"></span>
                                        <button type="button" id="btnBack" class="btn btn-secondary" onclick="NavigatetoPreviousDir()" style="display:none"><i class="fa fa-backward" aria-hidden="true"></i> Back to previous folder</button>
                                        <input type="search" name="search" id="search" class="searchBox" placeholder="Search.." style="width: 165px" tabindex="1" />
                                        <input type="button" class="k-button btnReset" style="color:#fff;margin-left:5px !important;" value="Reset" tabindex="3" />
                                        <input type="button" class="k-button btnSearch" style="color:#fff;margin-left:5px !important;" value="Search" tabindex="2" />
                                    </div>
                                </Text>);
                        })
                        .Editable(editable => editable.Mode(GridEditMode.InLine))
                        .Pageable(pager => pager.PageSizes(true).PageSizes(new int[] { 10, 25, 50, 100 }))
                        .Sortable()
                        .Events(events => events.DataBound("onDataBound"))
                        .Resizable(rsb => rsb.Columns(true))
                        .Reorderable(r => r.Columns(true))
                        .Filterable(filterable => filterable
                            .Extra(false)
                            .Operators(operators => operators
                                .ForString(str => str.Clear()
                                    .StartsWith("Starts with")
                                    .IsEqualTo("Is equal to")
                                    .IsNotEqualTo("Is not equal to").Contains("Contains")
                                )
                            )
                        )
                        .HtmlAttributes(new { style = "min-height:350px;" })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Sort(sort => sort.Add("Name"))
                            .Model(model =>
                            {
                                model.Field(p => p.Name).Editable(false);
                                model.Field(p => p.AccessedOn).Editable(false);
                            })
                            .PageSize(25)
                            .Events(events => events.Error("error_handler").RequestEnd("request_end").RequestStart("request_start"))
                            .Model(model => model.Id(p => p.Name))
                            .Read(read => read.Action("GetContent", "Content").Data("AdditionalInfo"))/*, new { path = "", file = "" }*/
                        )
                    )
                    <script id="customPopUpTemplate" type="text/x-kendo-template">
                        <div class="k-edit-label">Name: </div>
                        <div class="k-edit-field">
                            <input name="Name" required class="k-textbox" />
                        </div>
                    </script>
                    <script type="text/javascript">

                        function error_handler(e) {
                            if (typeof e.errors === 'string') {
                                if (e.errors == 'ALREADY_EXISTS') {
                                    alert('Asset already exists.');
                                }
                                var grid = $("#grid").data("kendoGrid");
                                grid.cancelChanges();
                            }
                        }

                        function request_start(e) {
                            //$(".k-loading-image").hide();
                            kendo.ui.progress($("#grid"), false);
                        }

                        function request_end(e) {
                            if (typeof e.response.Errors === 'string')
                                return false;

                            if (e.type == "create" || e.type == "update" || e.type == "destroy") {
                                $('#grid').data().kendoGrid.dataSource.read();
                            }
                        }

                        function onDataBound(e) {
                            $('[data-toggle="tooltip"]').tooltip();
                            ShowNoDataMsgGrid(e);
                        }

                        function AdditionalInfo() {
                            return {
                                path: $('#path').val(),
                                file: $('#file').val(),
                                search: $('#search').val()
                            }
                        }

                        //Searching the Grid by the value of the textbox
                        $("#grid").on("click", ".btnSearch", function (e) {
                            var search = $("#grid").find('.searchBox').val();

                            if (search == null || search == '') {
                                alert("Enter search text");
                            }
                            else {
                                $('#grid').data().kendoGrid.dataSource.fetch().then(function () {
                                    var data = $('#grid').data().kendoGrid.dataSource.data();
                                    var count = $('#grid').data().kendoGrid.dataSource.total();
                                    if (count != 0) {
                                        if (search != '' && search != null) {
                                            $('#search').val('');
                                            alert(count + " item(s) found against search text \"" + search + "\".");
                                        }
                                    }
                                    else {
                                        alert("Oops! No items found search text \"" + search + "\".");
                                    }
                                });
                            }
                        });

                        //Clearing the filter
                        $("#grid").on("click", ".btnReset", function (e) {
                            $("#grid").find('.searchBox').val("");
                            $("#grid").data("kendoGrid").dataSource.filter({});
                        });
                    </script>
                </div>
            </div>
        </div>
    </section>
</div>
<!-----POP UP---->

<div class="modal" id="AddAssetOption" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content ui-dialog ui-corner-all ui-front ui-dialog-buttons" style="height: auto; width: 550px; display: block;">
            <div class="modal-header ui-dialog-titlebar ui-corner-all ui-helper-clearfix">
                <button type="button" class="ui-button ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" data-dismiss="modal" aria-label="Close"><span class="ui-button-icon ui-icon ui-icon-closethick" aria-hidden="true">&times;</span></button>
                <span class="modal-title" id="exampleModalLabel">Select an option to add this file/directory</span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-6">
                            <label class="radio-inline" style="cursor:pointer;">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Exist" /> Add to existing Asset
                            </label>
                        </div>
                        <div class="col-lg-6">
                            <label class="radio-inline" style="cursor:pointer;">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="New" /> Create new Asset
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if ($('#path').val() != '' || $('#file').val() != '') {
            var dir = $('#path').val() + $('#file').val() + "/";
            var lblPath = "(Path: " + dir + ")";
            $("#lblPath").text(lblPath);
            $("#title").text($('#file').val());
            $("#btnBack").show();
        }
    });

    $("#master-collapse").click(function () {
        $(".minus-plus-master").toggleClass("fa-chevron-down fa-chevron-right");
    })

    $("#search").keydown(function (event) {
        if (event.keyCode == 13) {
            var search = $('#search').val();
            if (search == null || search == '') {
                alert("Enter search text");
            }
            else {
                $('#grid').data().kendoGrid.dataSource.fetch().then(function () {
                    var data = $('#grid').data().kendoGrid.dataSource.data();
                    var count = $('#grid').data().kendoGrid.dataSource.total();
                    if (count != 0) {
                        if (search != '' && search != null) {
                            $('#search').val('');
                            alert(count + " item(s) found against search text \"" + search + "\".");
                        }
                    }
                    else {
                        alert("Oops! No items found search text \"" + search + "\".");
                    }
                });
            }
        }
    });

    function UpdateGridSource(file, path) {
        $('#file').val(file);
        $('#path').val(path);
        $("#title").text(file);
        var dir = path + file + "/";
        var lblPath = "(Path: " + dir + ")";
        $("#lblPath").text(lblPath);
        $("#btnBack").show();
        $("#grid").data("kendoGrid").dataSource.filter({});
        //$('#grid').data().kendoGrid.dataSource.fetch().then(function () {
            //var data = $('#grid').data().kendoGrid.dataSource.data();
            //if (data[0].Folder != '') {
                //$('#path').val(dir);
                //$('#file').val(data[0].Folder);
            //}
        //});
    }

    function NavigatetoPreviousDir() {
        var path = $('#path').val();
        $('#file').val('');

        $('#grid').data().kendoGrid.dataSource.fetch().then(function () {
            var data = $('#grid').data().kendoGrid.dataSource.data();
            if (data[0].Folder != '') {
                $("#title").text(data[0].Folder);
                var lblPath = "(Path: " + data[0].Path + ")";
                $("#lblPath").text(lblPath);
                path = path.substring(0, path.length - (data[0].Folder.length + 1));
                $('#path').val(path);
                $('#file').val(data[0].Folder);
            }
            else {
                $("#title").text("3DL Content");
                $("#lblPath").text('');
                $("#btnBack").hide();
            }
        });
    }

    function ViewContent(file, path) {
            var obj = {};

            obj.Type = '.' + file.split('.').pop();
            obj.Path = '@ViewBag.FilePath' + path + file;

            openPopUp(obj)
    }

    $(document).on("click", "#btnClose", function () {
        $('video').trigger('pause');
    });

    function fnAddAssets(File, Path, Size, Type) {
        var fileType = 0;
        if (Type == 'true') {
            fileType = 1;
        }
        var varForm = document.createElement("form");

        var k = document.createElement("input");
        k.setAttribute('type', "hidden");
        k.setAttribute('name', "path");
        k.setAttribute('value', Path);
        varForm.appendChild(k);

        var l = document.createElement("input");
        l.setAttribute('type', "hidden");
        l.setAttribute('name', "file");
        l.setAttribute('value', File);
        varForm.appendChild(l);

        var m = document.createElement("input");
        m.setAttribute('type', "hidden");
        m.setAttribute('name', "size");
        m.setAttribute('value', Size);
        varForm.appendChild(m);

        var n = document.createElement("input");
        n.setAttribute('type', "hidden");
        n.setAttribute('name', "type");
        n.setAttribute('value', fileType);
        varForm.appendChild(n);

        $("#AddAssetOption").modal('show');

        $('input[type="radio"]').click(function () {
            if ($("#inlineRadio1").prop('checked') == true) {
                $("#AddAssetOption").modal('hide');
                $("#inlineRadio1").prop('checked', false);

                varForm.setAttribute('method', "post");
                varForm.setAttribute('action', "/Home/SelectAsset");
                document.body.appendChild(varForm);
                varForm.hidden = true;
                varForm.submit();
            }
            else if ($("#inlineRadio2").prop('checked') == true) {
                $("#AddAssetOption").modal('hide');
                $(this).prop('checked', false);

                varForm.setAttribute('method', "post");
                varForm.setAttribute('action', "/Home/AddAsset");
                document.body.appendChild(varForm);
                varForm.hidden = true;
                varForm.submit();
            }
        });
    }
</script>


