﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Manage Stream";
}
<style>
    .footer,
    .push {
        height: 50px;
    }

    .k-grid-header {
        background-color: darkblue !important;
    }

        .k-grid-header th.k-header {
            background-color: #a42639 !important;
        }

    html .k-edit-cell .k-tooltip, html .k-grid-edit-row .k-tooltip {
        margin: 0px;
        color: Red;
        background: pink;
    }
</style>

<div class="wrapper page-wrap">
    <section id="checklist">
        <div class="container">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="/Content/Index">Dashboard</a> |
                <a class="breadcrumb-item" href="/Home/MasterData">Master Data</a> |
                <span class="breadcrumb-item active">Stream</span>
            </nav>
            <div class="row">
                <div class="col-md-12">
                    <h2>Manage Stream</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="gvSubject" class="checkout-right animated wow slideInUp" style="padding-top:0px;" data-wow-delay=".5s">
                        @(Html.Kendo().Grid<TDL.ContentPlatform.Server.Database.Tables.MstStream>()
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.StreamName).Title("Stream");
                                columns.Bound(p => p.IsActive).Title("Status").Width(230).ClientTemplate("#if(IsActive) {# Active #}else {# Inactive #}#");
                                columns.Command(command =>
                                {
                                    command.Edit().Text("<span class='fa fa-pencil-square text-success' data-toggle='tooltip' data-placement='top' title='Click here to update'></span>")
                                    .UpdateText("<span class='fa fa-floppy-o text-success'data-toggle='tooltip' data-placement='top'  title='Click here to update'></span>")
                                    .CancelText("<span class='fa fa-ban text-danger' data-toggle='tooltip' data-placement='top' title='Click here to cancel'></span>");
                                    command.Custom("Delete").Text("<span class='fa fa-trash-o text-danger k-i-delete' data-toggle='tooltip' data-placement='top' title='Click here to delete'></span></a>").Click("deleteItem");
                                }).Title("<b>Actions</b>").Width(200);

                            })
                            .ToolBar(toolbar => toolbar.Create().Text("Add New Stream").HtmlAttributes(new { style = "float:right;color:#fff;background-color: #a42639", title = "Add New Stream" }))
                            .Editable(editable => editable.Mode(GridEditMode.InLine))
                            .Pageable(pager => pager.PageSizes(true).PageSizes(new int[] { 10, 25, 50, 100 }))
                            .Sortable().Events(events => events.DataBound("onDataBound"))
                            .Filterable(filterable => filterable
                                .Extra(false)
                                .Operators(operators => operators
                                    .ForString(str => str.Clear()
                                        .StartsWith("Starts with")
                                        .IsEqualTo("Is equal to")
                                        .IsNotEqualTo("Is not equal to").Contains("Contains")
                                    ))
                            )
                            .HtmlAttributes(new { style = "min-height:350px;" })
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Sort(sort => sort.Add("StreamName"))
                                .Model(model =>
                                {
                                    model.Id(p => p.StreamId);
                                    model.Field(p => p.IsActive).DefaultValue(true);
                                    model.Field(p => p.CreatedBy).Editable(false);
                                })
                                .PageSize(10)
                                .Events(events => events.Error("error_handler").RequestEnd("request_end").RequestStart("request_start"))
                                .Model(model => model.Id(p => p.StreamId))
                                .Create(update => update.Action("AddUpdateStream", "ManageStream"))
                                .Read(read => read.Action("GetAll", "ManageStream"))
                                .Update(update => update.Action("AddUpdateStream", "ManageStream"))
                                .Destroy(update => update.Action("DeleteStream", "ManageStream"))
                            )
                        )
                        <script id="customPopUpTemplate" type="text/x-kendo-template">
                            <div class="k-edit-label">Stream Name: </div>
                            <div class="k-edit-field">
                                <input name="StreamName" required class="k-textbox" />
                            </div>
                        </script>
                        <script type="text/javascript">
                            function error_handler(e) {
                                if (typeof e.errors === 'string') {
                                    if (e.errors == 'ALREADY_EXISTS')
                                    {
                                        alert('Stream already exists.');
                                    }
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.cancelChanges();
                                }
                            }


                            function request_start(e)
                            {
                                kendo.ui.progress($("#grid"), false);
                            }

                            function request_end(e) {

                                if (typeof e.response.Errors === 'string')
                                    return false;

                                if (e.type == "create" || e.type == "update" || e.type == "destroy") {
                                    $('#grid').data().kendoGrid.dataSource.read();

                                    if(e.type == "create"){
                                        alert("Stream added successfully.");
                                    }
                                    else if (e.type == "update") {
                                        alert("Stream updated successfully.");
                                    }
                                    else if (e.type == "destroy") {
                                        alert("Stream deleted successfully.");
                                    }
                                }
                            }

                            //register custom validation rules
                            (function ($, kendo) {
                                $.extend(true, kendo.ui.validator, {
                                    rules: { // custom rules
                                        streamnamevalidation: function (input, params) {
                                            if (input.is("[name='StreamName']") && input.val().trim() == "") {
                                                input.attr("data-streamnamevalidation-msg", "Stream is required.");
                                                return false;
                                            }
                                            return true;
                                        }
                                    },
                                    messages: { //custom rules messages
                                        streamnamevalidation: function (input) {
                                            return input.attr("data-val-streamnamevalidation");
                                        }
                                    }
                                });
                            })(jQuery, kendo);

                            function onDataBound(e) {
                                $('[data-toggle="tooltip"]').tooltip();
                                ShowNoDataMsgGrid(e);
                            }

                            function deleteItem(e) {
                                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

                                var message = 'Are you sure you want to delete <b>' + dataItem.StreamName + '</b> Stream?';

                                if (confirm(message, function () {
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.dataSource.remove(dataItem);
                                    grid.dataSource.sync();
                                    grid.refresh();
                                }));
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>