﻿
@{
    ViewBag.Title = "About";
}
<link href="~/Content/BootSideMenu.css" rel="stylesheet" />
<style>
    a.active {
        border-bottom: 2px solid #ecf0f1;
    }

    /* Sections */
    section {
        width: 100%;
        padding: 10px;
        background: #fff;
        border-bottom: 0px solid #ccc;
        min-height: 50px;
        text-align: justify;
        /*background: #ecf0f1;*/
        margin-bottom: 30px;
    }

    section:nth-child(even) {
        background: #ecf0f1;
    }

    section:nth-child(odd) {
        background: #dee0e2;
    }

    .sections section:first-child {
        margin-top: 30px;
    }

    .sections section:last-child {
        margin-bottom: 70px;
    }

    section.active {
    }

    h3 {
        margin-top: 10px;
    }

    * {
        box-sizing: border-box;
    }

    .img-magnifier-container {
        position: relative;
    }

    .img-magnifier-glass {
        position: absolute;
        border: 3px solid #000;
        border-radius: 50%;
        cursor: none;
        /*Set the size of the magnifier glass:*/
        width: 100px;
        height: 100px;
    }

    .responsive {
        width: 100%;
        height: auto;
    }

    .bottom-right {
        position: absolute;
        bottom: 25px;
        right: 27%;
    }
</style>
<h2  id="AboutSection" style="color:#a42639">3DL Content</h2>
<hr/>
<span>
    This web application is all about managing contents created by unity developers across the globe.
    All the developers uploaded the content at server using FTP. This application will read all the content files/directories available at FTP server and displayed at <b>Dashboard</b> screen.
    Admin will then map these content files with master entities by creating assets and make it available for platform specific client applications(Windows, iOS, Android, VR, etc) by publishing the same.
</span>    
<br /><br />
<b>Useful links:</b>
<ul>
    <li><b>Web Url:</b> <a target="_blank" href="https://content.3dl.no">https://content.3dl.no</a></li>
    <li><b>CRM Url:</b> <a target="_blank" href="https://3dl.crm4.dynamics.com">https://3dl.crm4.dynamics.com</a></li>
    <li><b>Git Repository:</b> <a target="_blank" href="https://dev.kernel.no/scm/git/3DL.ContentEditor">https://dev.kernel.no/scm/git/3DL.ContentEditor</a></li>
</ul>

<!--left menu -->
<div id="leftmenu" class="nav">
    <div class="list-group">
        <a href="#About" class="list-group-item" data-toggle="collapse" style="color:#a42639">3DL Content</a>
        <div class="list-group in" id="About">
            <a href="#Asset" class="list-group-item">What is Asset</a>
            <a href="#NewAsset" class="list-group-item">Add new asset</a>
            <a href="#UpdateAsset" class="list-group-item">Edit Asset</a>
            <a href="#DeleteAsset" class="list-group-item">Delete Asset</a>
            <a href="#PublishAsset" class="list-group-item">Publish/Unpublish Asset</a>
            <a href="#Thumbnail" class="list-group-item">Add thumbnail to Asset</a>
            <a href="#Labels" class="list-group-item">Add Labels to Asset</a>
            <a href="#Related" class="list-group-item">Add Associated content to Asset</a>
            <a href="#Module" class="list-group-item">Module</a>
            <a href="#Activities" class="list-group-item">Activities</a>
            <a href="#TME" class="list-group-item">Add thumbnail to Master Entities</a>
        </div>
        <a href="#WebApi" class="list-group-item" data-toggle="collapse" style="color:#a42639">Web Api</a>
        <div class="list-group in" id="WebApi">
            <a href="#LoginApi" class="list-group-item">Login Api</a>
            <a href="#AssetApi" class="list-group-item">Asset List Api</a>
            <a href="#RecentApi" class="list-group-item">Recent Asset Api</a>
        </div>
        <a href="#Entities" class="list-group-item" data-toggle="collapse" style="color:#a42639">Tables</a>
        <div class="list-group in" id="Entities">
            <a href="#Identity" class="list-group-item">ASP.Net Identity Tables</a>
            <a href="#CRM" class="list-group-item">Custom Entities in CRM</a>
            <a href="#Custom" class="list-group-item">User defined tables in DB</a>
        </div>
    </div>
</div>
<!-- end left menu -->
<div class="sections">
    <section id="Asset">
        <div>
            <h3>
                <a id="master-collapse" href="#master_Asset" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #000000;">
                    <i class="minus-plus-Asset fa fa-chevron-circle-right float-xs-right"></i>
                    What is Asset?
                </a>
            </h3>
        </div>
        <div class="collapse" id="master_Asset">
            Asset is a wrapper over content file. Content file can be of any type: 2D Video, 3D Video, 3D Model, etc. Asset will have following details:
            <ul>
                <li>Asset Name (in different languages)</li>
                <li>Details (Package/Language/Grade/Syllabus/Stream/Subject/Topic/Subtopic)</li>
                <li>Content Details (File Name, File Size, Version, Platform, Description, What's New)</li>
            </ul>
            <br />
            Admin can see all the avaiable assets in <b>Asset List</b> screen. Admin will have different options to manage the available assets. Options are:
            <ul>
                <li>View Asset</li>
                <li>Update Asset Details</li>
                <li>Delete Asset</li>
                <li>Add Labels</li>
                <li>Add Thumbnail image</li>
                <li>Publish/Unpublish Asset</li>
                <li>Add Activities</li>
                <li>Add Associated Content</li>
            </ul>
        </div>
    </section>
    <section id="NewAsset">
        <div>
            <h3>
                <a id="master-collapse" href="#master_NewAsset" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #000000;">
                    <i class="minus-plus-NewAsset fa fa-chevron-circle-right float-xs-right"></i>
                    Add New Asset
                </a>
            </h3>
        </div>
        <div class="collapse" id="master_NewAsset">
            To create new asset, follow below mentioned points:
            <ul>
                <li>On dashboard page, there is a button against each content file "Add New Asset"</li>
                <li>Popup will be open on click of button. It is having two options: <b>Create New Asset</b> and <b>Add to Existing Asset</b>. Select appropriate option.</li>
                <li>Add New Asset form will open, provide required details and then save the changes.</li>
            </ul>
        </div>
    </section>
    <section id="UpdateAsset">
        <div>
            <h3>
                <a id="master-collapse" href="#master_UpdateAsset" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #000000;">
                    <i class="minus-plus-UpdateAsset fa fa-chevron-circle-right float-xs-right"></i>
                    Edit Asset
                </a>
            </h3>
        </div>
        <div class="collapse" id="master_UpdateAsset">
            In asset listing screen, there is an option against each asset to update its details. To update asset details, follow below mentioned points:
            <ul>
                <li>Click on Asset List tab.</li>
                <li>Click the edit icon available in <b>Action</b> column against the asset.</li>
                <li>Edit Asset form will open, update required details and then save the changes.</li>
            </ul>
        </div>
    </section>
    <section id="DeleteAsset">
        <div>
            <h3>
                <a id="master-collapse" href="#master_DeleteAsset" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #000000;">
                    <i class="minus-plus-DeleteAsset fa fa-chevron-circle-right float-xs-right"></i>
                    Delete Asset
                </a>
            </h3>
        </div>
        <div class="collapse" id="master_DeleteAsset">
            In asset listing screen, there is an option against each asset to delete it. To delete asset, follow below mentioned points:
            <ul>
                <li>Click on Asset List tab.</li>
                <li>Click the delete icon available in <b>Action</b> column against the asset.</li>
                <li>Popup will be displayed regarding confirmation for delete action.</li>
                <li>Click on <b>Confirm</b> button to complete the delete action.</li>
            </ul>
        </div>
    </section>
    <section id="PublishAsset">
        <div>
            <h3>
                <a id="master-collapse" href="#master_PublishAsset" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #000000;">
                    <i class="minus-plus-PublishAsset fa fa-chevron-circle-right float-xs-right"></i>
                    Publish/Unpublish Asset
                </a>
            </h3>
        </div>
        <div class="collapse" id="master_PublishAsset">
            Once asset has been created, there is an option to publish the content or unpublish the content if it is already published. On click of publish, System will create an copy of content file at Publish path if not available.
            To perform this, follow below mentioned points:
            <ul>
                <li>Go to Asset details screen (refer Update Asset Details section for more information)</li>
                <li>Click on Publish/Unpublish toggle button.</li>
            </ul>
        </div>
    </section>
    <section id="Thumbnail">
        <div>
            <h3>
                <a id="master-collapse" href="#master_Thumbnail" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #000000;">
                    <i class="minus-plus-Thumbnail fa fa-chevron-circle-right float-xs-right"></i>
                    Add Thumbnail to Asset
                </a>
            </h3>
        </div>
        <div class="collapse" id="master_Thumbnail">
            Once asset has been created, there is an option to add the thumbnail image for the content, follow below mentioned points:
            <ul>
                <li>Go to Asset details screen (refer Update Asset Details section for more information)</li>
                <li>Click on Thumbnail icon available against all the attached content file.</li>
                <li>Popup will be displayed to add thumbnail image.</li>
                <li>Browse the desired image and Save it using Upload Image button.</li>
            </ul>
        </div>
    </section>
    <section id="Labels">
        <div>
            <h3>
                <a id="master-collapse" href="#master_Labels" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #000000;">
                    <i class="minus-plus-Labels fa fa-chevron-circle-right float-xs-right"></i>
                    Add Labels to Asset
                </a>
            </h3>
        </div>
        <div class="collapse" id="master_Labels">
            Once asset has been created and if it is 3D Model type then there will be an option to add labels for attached content file. To perform this, follow below mentioned points:
            <ul>
                <li>Go to Asset details screen (refer Update Asset Details section for more information)</li>
                <li>Click on Add Labels button against all the attached content file (will be available only if Asset is of 3D Model type).</li>
                <li>System will be redirected to <b>Generate XML</b> screen.</li>
                <li>User needs to provide all the details (Model name, Label name, Label color, Label position, etc).</li>
                <li>User can add any number of labels to single model. There is a button <b>Add another label</b> to add new label</li>
                <li>User can enabled or disabled any label at any time. There is a toggle button <b>Enabled/Disabled</b> to do this.</li>
                <li>Save the details using <b>Save</b> button.</li>
                <li>User can download the XML file using <b>Generate XML</b> button.</li>
            </ul>
        </div>
    </section>
    <section id="Related">
        <div>
            <h3>
                <a id="master-collapse" href="#master_Related" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #000000;">
                    <i class="minus-plus-Related fa fa-chevron-circle-right float-xs-right"></i>
                    Add Associated content to Asset
                </a>
            </h3>
        </div>
        <div class="collapse" id="master_Related">
            Once asset has been created then there will be an option to add labels for associated content. To perform this, follow below mentioned points:
            <ul>
                <li>Go to Asset details screen (refer Update Asset Details section for more information)</li>
                <li>Click on <b>Associated Content</b> tab.</li>
                <li>Asset list will be displayed which will have all the available assets other than the current one.</li>
                <li>User needs to select the asset which all are need to be associated with the current one.</li>
                <li>Save the details using <b>Save Details</b> button.</li>
            </ul>
        </div>
    </section>
    <section id="Module">
        <div>
            <h3>
                <a id="master-collapse" href="#master_Module" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #000000;">
                    <i class="minus-plus-Module fa fa-chevron-circle-right float-xs-right"></i>
                    Module
                </a>
            </h3>
        </div>
        <div class="collapse" id="master_Module">
            If user doesn't want to create Asset using content file then there is an option to create asset as a module. To create module, follow below mentioned points:
            <ul>
                <li>Go to Asset listing screen.</li>
                <li>Click on <b>Add Module</b> button.</li>
                <li>System will be redirected to <b>Add Module</b> screen.</li>
                <li>User needs to select <b>Module</b> as Asset type and provide all the details (Asset Name, Module Name, etc).</li>
                <li>Save the details using <b>Add Module</b> button.</li>
                <li>User can update the details for the module as all the active module will be available in Asset listing.</li>
            </ul>
        </div>
    </section>
    <section id="Activities">
        <div>
            <h3>
                <a id="master-collapse" href="#master_Activities" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #000000;">
                    <i class="minus-plus-Activities fa fa-chevron-circle-right float-xs-right"></i>
                    Activities
                </a>
            </h3>
        </div>
        <div class="collapse" id="master_Activities">
            This will be master entity. As of now, it will have two options – <b>Quizzes</b> and <b>Puzzle</b>. Admin can add any other activity using <b>Activities</b> link in <b>Manage Master Data</b> screen.
            Activities can be defined either from the <b>Asset Details</b> section or from the <b>Activities</b> section in the application.
            <br /><br />
            <b>Part 1: Entry point – Add/Edit Asset screen</b><br />
            Model specific activities can be created from the Add/Edit asset. On Add/Edit Asset screen, there is an <b>Activities</b> tab.
            <br /><br />
            <b>Part 2: Entry Point: Activities Menu</b><br />
            This will display all the activities available. As of now, there will be two section: (a) Quiz (b) Puzzle
            Admin can switch to any of the activity section.
        </div>
    </section>
    <section id="TME">
        <div>
            <h3>
                <a id="master-collapse" href="#master_TME" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #000000;">
                    <i class="minus-plus-TME fa fa-chevron-circle-right float-xs-right"></i>
                    Add thumbnail to master entities
                </a>
            </h3>
        </div>
        <div class="collapse" id="master_TME">
            Admin can add thumbnail image for <b>Grade, Subject, Topic & Subtopic</b> entities using specific links available in <b>Manage Master Data</b> screen.
        </div>
    </section>
    <section id="WebApiSection">
        <div>
            <h3>
                <a id="master-collapse" href="#master_WebApi" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #a42639;">
                    <i class="minus-plus-WebApiSection fa fa-chevron-circle-right float-xs-right"></i>
                    Web Api
                </a>
            </h3>
        </div>
        <div class="collapse" id="master_WebApi">
            We have write down multiple web api methods for client applications(Windows, iOS, Android, VR, etc). These methods will validate the user and provide the available assets as per end user subscription and application platform to Client application.
            <br /><br />
            <b>Authentication Mechanism:</b> We are using Jwt Bearer authentication. This means that user has to log in using Account/Login, will receive a token back, and this token has to be passed into Authorize-header on subsequent requests i.e. in WebClient:
            <b>client.Headers[HttpRequestHeader.Authorization] = authToken;</b>
            A token will last 10 hours.
            <br /><br />
            <ul>
                <li><b>API documentation:</b> <a target="_blank" href="https://api-v1.3dl.no/index.html">https://api-v1.3dl.no/index.html</a></li>
                <li><b>Version of API:</b> 1</li>
            </ul>
        </div>
    </section>
    <section id="LoginApi">
        <div>
            <h3>
                <a id="master-collapse" href="#master_LoginApi" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #000000;">
                    <i class="minus-plus-LoginApi fa fa-chevron-circle-right float-xs-right"></i>
                    Login Api
                </a>
            </h3>
        </div>
        <div class="collapse" id="master_LoginApi">
            This api will validate the user based on input credentials. If the user is logged in to another device, they will need to be logged out of the other device. Multiple devices at the same time are not possible.
            <br />
            <b>Input</b>
            <ul>
                <li>Email or Username</li>
                <li>Password</li>
                <li>Version</li>
            </ul>
            <b>Output</b>
            <ul>
                <li>Authentication token</li>
                <li>User Details(Short Name, etc)</li>
            </ul>
        </div>
    </section>
    <section id="AssetApi">
        <div>
            <h3>
                <a id="master-collapse" href="#master_AssetApi" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #000000;">
                    <i class="minus-plus-AssetApi fa fa-chevron-circle-right float-xs-right"></i>
                    Asset Api
                </a>
            </h3>
        </div>
        <div class="collapse" id="master_AssetApi">
            This api will provide the list of assets based on end user subscription and platform.
            <br />
            <b>Input</b>
            <ul>
                <li>Authentication token in Api request header</li>
                <li>Platform</li>
                <li>Version</li>
            </ul>
            <b>Output</b>
            <ul>
                <li>Asset list in JSON format</li>
            </ul>
        </div>
    </section>
    <section id="RecentApi">
        <div>
            <h3>
                <a id="master-collapse" href="#master_RecentApi" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #000000;">
                    <i class="minus-plus-RecentApi fa fa-chevron-circle-right float-xs-right"></i>
                    Recently Viewed Asset Api
                </a>
            </h3>
        </div>
        <div class="collapse" id="master_RecentApi">
            This api will provide the list of recently viewed asset list.
            <br />
            <b>Input</b>
            <ul>
                <li>Authentication token in Api request header</li>
                <li>Platform</li>
                <li>Version</li>
            </ul>
            <b>Output</b>
            <ul>
                <li>Asset list in JSON format</li>
            </ul>
        </div>
    </section>
    <section id="EntitiesSection">
        <div>
            <h3>
                <a id="master-collapse" href="#master_Entities" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #a42639;">
                    <i class="minus-plus-EntitiesSection fa fa-chevron-circle-right float-xs-right"></i>
                    Tables
                </a>
            </h3>
        </div>
        <div class="collapse" id="master_Entities">
            To create 3DL Content Management application and Web Api, used multiple entities in solution. I have divided these entities into three types as per their purpose as:
            <ul>
                <li>ASP.Net Identity tables</li>
                <li>Custom Entities in CRM</li>
                <li>User defined tables in DB</li>
            </ul>
        </div>
    </section>
    <section id="Identity">
        <div>
            <h3>
                <a id="master-collapse" href="#master_Identity" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #000000;">
                    <i class="minus-plus-Identity fa fa-chevron-circle-right float-xs-right"></i>
                    ASP.Net Identity tables
                </a>
            </h3>
        </div>
        <div class="collapse" id="master_Identity">
            All these tables will have details of end users(i.e. Students/Teacher) which all are going use client application at different platform.
            <br />
            <b>Purpose:</b> These tables will be used for User registration, User login, User authentication and authorization.
            <ul>
                <li><b>AspNetUsers</b></li>
                <li><b>AspNetUserLogins</b></li>
                <li><b>AspNetUserClaims</b></li>
                <li><b>AspNetUserTokens</b></li>
                <li><b>AspNetRoles</b></li>
                <li><b>AspNetUserRoles</b></li>
                <li><b>AspNetRoleClaims</b></li>
            </ul>
        </div>
    </section>
    <section id="CRM">
        <div>
            <h3>
                <a id="master-collapse" href="#master_CRM" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #000000;">
                    <i class="minus-plus-CRM fa fa-chevron-circle-right float-xs-right"></i>
                    Custom Entities in CRM
                </a>
            </h3>
        </div>
        <div class="collapse" id="master_CRM">
            All the tables which all started with prefix 'Cs' in solution defined in CRM. Exporting these in SQL through <b>Data Export Service</b> (Dynamic CRM Out-of-box functionality).
            <br />
            <b>Purpose:</b> These tables will provide details of enrolled schools, opportunities, subscriptions, packages and records for master data entities.
            <div class="img-magnifier-container" style="padding:20px;text-align:center;position: relative;">
                <img id="CRMEntities" src="~/Content/images/Entities.JPG" />
                <div class="bottom-right">3DL Content Management</div>
            </div>
            <ul>
                <li><b>CsAccount</b> - This is referring enrolled schools.</li>
                <li><b>CsOpportunity</b> - This will have multiple records against any account/school.</li>
                <li><b>CsNewSubscription</b> - This will have Name, Description, Period. Multiple subscription can map to multiple opportunity. Multiple subscription can map to multiple packages.</li>
                <li><b>CsNewOpportunitySubscriptionMapping</b> - This will define the opportunity subscription relationship. this will have OpportunityID, SubscriptionID, StartDate, EndDate.</li>
                <li><b>CsNewMasterLogin</b> - This will have account/school admin/contact details along with credentials.</li>
                <li><b>CsNewOpportunitySubscriptionMasterLogin</b> - This will define the relationship between multiple master login and opportunity subscription.</li>
                <li><b>CsNewPackage</b> - This define packages, work as master in 3DL. this will map to multiple languages/grades/subscription.</li>
                <li><b>CsNewSubscriptionPackage</b> - This will define the N:N relationship between packages and subscription. this will have SubscriptionID, PackageID.</li>
                <li><b>CsNewLanguage</b> - This will have all the languages, work as master in 3DL.</li>
                <li><b>CsNewPackageLanguage</b> - This will define the N:N relationship between package and language.</li>
                <li><b>CsNewGrade</b> - This will define grades, work as master in 3DL. Grade will have N:N relationship with Packages, Syllabus, Subjects and Streams.</li>
                <li><b>CsNewPackageGrade</b> - This will define the N:N relationship between package and grade.</li>
                <li><b>CsNewSyllabus</b> - This will define syllabus, work as master in 3DL. Syllabus will have N:N relationship with Grade, Subject and Stream.</li>
                <li><b>CsNewGradeSyllabus</b> - This will define the N:N relationship betweeen grade and syllabus.</li>
                <li><b>CsNewStream</b> - This will define stream, work as master in 3DL. stream will have N:N relationship with topics.</li>
                <li><b>CsNewGradeStream</b> - This will define the N:N relationship betweeen grade and stream.</li>
                <li><b>CsNewSyllabusStream</b> - This will define the N:N relationship betweeen syllabus and stream.</li>
                <li><b>CsNewSubject</b> - This will define subject, work as master in 3DL. subject can associate with another subject. subject will have N:N relationship with topics.</li>
                <li><b>CsNewGradeSubject</b> - This will define the N:N relationship betweeen grade and subject.</li>
                <li><b>CsNewSyllabusSubject</b> - This will define the N:N relationship betweeen syllabus and subject.</li>
                <li><b>CsNewTopic</b> - This will define topics, work as master in 3DL. topic will have N:N relationship with subtopics.</li>
                <li><b>CsNewSubjectTopic</b> - This will define the N:N relationship betweeen subject and topic.</li>
                <li><b>CsNewSubtopic</b> - This will define subtopics, work as master in 3DL.</li>
                <li><b>CsNewTopicSubtopic</b> - This will define the N:N relationship betweeen topic and subtopic.</li>
                <li><b>CsNewPlatform</b> - This will define platforms, work as master in 3DL.</li>
            </ul>
        </div>
    </section>
    <section id="Custom">
        <div>
            <h3>
                <a id="master-collapse" href="#master_Custom" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #000000;">
                    <i class="minus-plus-Custom fa fa-chevron-circle-right float-xs-right"></i>
                    User defined tables in DB
                </a>
            </h3>
        </div>
        <div class="collapse" id="master_Custom">
            These tables used mainly in 3DL content management application and Web APIs.
            <br />
            <b>Purpose:</b> These tables are using for managing content and converting the same to Asset/Model.
            <ul>
                <li><b>Asset</b> - Content(file or directory) will be added as an asset. Single asset can be map to one or more packages.</li>
                <li><b>AssetContent</b> - Different content(file or directory) can be added with different version to single asset. Every Asset content will have publish status, thumbnail image, and label details for 3D Model.</li>
                <li><b>AssetContentDetail</b> - this will have what's new and description for any asset content in different languages.</li>
                <li><b>MstFileType</b> - This will have all the asset types. Example - 2D Video, 3D Video, 3D Model, etc.</li>
                <li><b>MstStatus</b> - Production, WIP, Review, etc.</li>
                <li><b>MstTag</b> - Tags mapped to asset.</li>
                <li><b>MstMaterial</b> - This will have all the material types. Example - Solid, Liquid, Gas, etc.</li>
                <li><b>MstElement</b> - This will have all the elements with their name, short name, atomic number.</li>
                <li><b>MstCompound</b> - This will have all the available compounds created using Compound functionality.</li>
                <li><b>CompoundElement</b> - Details about all the elements associated with the compound.</li>
                <li><b>UserProfile</b> - Used in 3DL application, to add team members to provide access on 3DL app.</li>
                <li><b>UserLogs</b> - Added user activity performed on 3DL app.</li>
                <li><b>XMLContentModel</b> - Labels i.e. XML file which is applicable only for 3D Model asset content, this will have model details.</li>
                <li><b>XMLContentLabel</b> - This will have labels details. Multiple labels can map to single model.</li>
            </ul>
        </div>
    </section>
</div>
<script src="~/Scripts/BootSideMenu.js"></script>
<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    })

    $(function () {      
        $('#leftmenu').BootSideMenu({
            side: "left"
        });

        //var count = 16;
        //for (i = 0; i < count; i++) {
            //$(".master-collapse_" + i).trigger('click');
            //$(".minus-plus-master_" + i).toggleClass("fa-chevron-circle-right fa-chevron-circle-down");
        //}

        $(document).on("click", "#master-collapse", function () {
            var labelID = $(this).closest('section').attr('id');
            $(".minus-plus-" + labelID).toggleClass("fa-chevron-circle-right fa-chevron-circle-down");
        })

        $(document).on("click", ".list-group-item", function () {
            var $el = $(this), id = $el.attr('href');

            if ($el.attr('data-toggle') == 'collapse') {
                id = id + "Section";
            }

            if ($(id).find('.collapse').length == 1) {
                $(id).find('#master-collapse').trigger('click');
            }

            setTimeout(function () {
                $('html, body').animate({
                    scrollTop: $(id).offset().top - Math.max(0, ($(window).height() - $(id).outerHeight()) / 2)
                }, 500);
            }, 100);

            return false;
        });
    });

    var sections = $('section'), nav = $('.nav'), nav_height = nav.outerHeight();

    $(window).on('scroll', function () {
        var cur_pos = $(this).scrollTop();

        sections.each(function () {
            var top = $(this).offset().top - Math.max(0, ($(window).height() - $(this).outerHeight()) / 2),
                bottom = top + $(this).outerHeight();

            if (cur_pos >= top && cur_pos <= bottom) {
                nav.find('a').removeClass('active');
                sections.removeClass('active');

                $(this).addClass('active');
                nav.find('a[href="#' + $(this).attr('id') + '"]').addClass('active');
            }
        });
    });

    function magnify(imgID, zoom) {
        var img, glass, w, h, bw;
        img = document.getElementById(imgID);
        /*create magnifier glass:*/
        glass = document.createElement("DIV");
        glass.setAttribute("class", "img-magnifier-glass");
        /*insert magnifier glass:*/
        img.parentElement.insertBefore(glass, img);
        /*set background properties for the magnifier glass:*/
        glass.style.backgroundImage = "url('" + img.src + "')";
        glass.style.backgroundRepeat = "no-repeat";
        glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
        bw = 3;
        w = glass.offsetWidth / 2;
        h = glass.offsetHeight / 2;
        /*execute a function when someone moves the magnifier glass over the image:*/
        glass.addEventListener("mousemove", moveMagnifier);
        img.addEventListener("mousemove", moveMagnifier);
        /*and also for touch screens:*/
        glass.addEventListener("touchmove", moveMagnifier);
        img.addEventListener("touchmove", moveMagnifier);
        function moveMagnifier(e) {
            var pos, x, y;
            /*prevent any other actions that may occur when moving over the image*/
            e.preventDefault();
            /*get the cursor's x and y positions:*/
            pos = getCursorPos(e);
            x = pos.x;
            y = pos.y;
            /*prevent the magnifier glass from being positioned outside the image:*/
            if (x > img.width - (w / zoom)) { x = img.width - (w / zoom); }
            if (x < w / zoom) { x = w / zoom; }
            if (y > img.height - (h / zoom)) { y = img.height - (h / zoom); }
            if (y < h / zoom) { y = h / zoom; }
            /*set the position of the magnifier glass:*/
            glass.style.left = (x - w) + "px";
            glass.style.top = (y - h) + "px";
            /*display what the magnifier glass "sees":*/
            glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
        }
        function getCursorPos(e) {
            var a, x = 0, y = 0;
            e = e || window.event;
            /*get the x and y positions of the image:*/
            a = img.getBoundingClientRect();
            /*calculate the cursor's x and y coordinates, relative to the image:*/
            x = e.pageX - a.left;
            y = e.pageY - a.top;
            /*consider any page scrolling:*/
            x = x - window.pageXOffset;
            y = y - window.pageYOffset;
            return { x: x, y: y };
        }
    }

    //magnify("CRMEntities", 3);
</script>
