﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Export Assets";
}
<style>
    .footer,
    .push {
        height: 50px;
    }

    .k-grid-header {
        background-color: darkblue !important;
        padding: 0 !important;
    }

    .k-grid-header th.k-header {
        background-color: #a42639 !important;
    }

    html .k-edit-cell .k-tooltip, html .k-grid-edit-row .k-tooltip {
        margin: 0px;
        color: Red;
        background: pink;
    }

    .k-grid-content {
        overflow-x: scroll;
        overflow-y: visible;
    }

    input[type=search] {
        height: 2.43em;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: white;
        background-image: url('../../Content/images/searchicon.png');
        background-position: 5px 5px;
        background-repeat: no-repeat;
        padding: 5px 10px 5px 30px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    .btnReset {
        background-color: #808080 !important;
    }
</style>

<div class="wrapper page-wrap">
    <section id="checklist">
        <div class="container">
            <div class="row">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="/Content/Index">Dashboard</a> |
                    <span class="breadcrumb-item active">Export Assets</span>
                </nav>

                <h2>Export Assets to Excel</h2>
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div class="row">
                <div id="gvAssets" class="checkout-right animated wow slideInUp" style="padding-top:0px;" data-wow-delay=".5s">
                    @(Html.Kendo().Grid<_3DLContentManagement.Models.AssetViewModel>()
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.AssetID).Hidden(true);
                                columns.Bound(p => p.AssetName).Title("Asset Name").Width(150);
                                columns.Bound(p => p.Package).Title("Package").Width(150);
                                columns.Bound(p => p.Language).Title("Language").Width(110);
                                columns.Bound(p => p.Level).Title("Grade").Width(150);
                                columns.Bound(p => p.Syllabus).Title("Syllabus").Width(150);
                                columns.Bound(p => p.Stream).Title("Stream").Width(150);
                                columns.Bound(p => p.Subject).Title("Subject").Width(150);
                                columns.Bound(p => p.Topic).Title("Topic").Width(150);
                                columns.Bound(p => p.Subtopic).Title("Subtopic").Width(150);//.HtmlAttributes(new { title = "#= SubtopicDesc #" });
                                columns.Bound(p => p.Status).Title("Status").Width(100);
                                columns.Bound(p => p.AssetType).Title("Type").Width(80);
                                //columns.Bound(p => p.Tags).Title("Tags").Hidden(true);
                                columns.Bound(p => p.FileName).Title("Published On").Width(100);
                                columns.Bound(p => p.FilePath).Title("Unpublished On").Width(140);
                            })
                            .ToolBar(toolbar =>
                            {
                                toolbar.Template(
                                    @<Text>
                                        <div class="toolbar" style="float:right; margin-top:-40px;">
                                            <a id="DownloadExcel" class="k-button k-button-icontext k-grid-excel" href="#" onclick="DownloadExcel()" style="color:#fff;margin-left:5px !important;" data-toggle="tooltip" data-placement="top" title="Export to Excel"><span class="fa fa-file-excel-o" aria-hidden="true"></span> Export to Excel</a>
                                            <input type="search" class="searchBox" placeholder="Search.." style="width: 165px" tabindex="1" />
                                            <input type="button" class="k-button btnReset" style="color:#fff;margin-left:5px !important;" value="Reset" tabindex="3" />
                                            <input type="button" class="k-button btnSearch" style="color:#fff;margin-left:5px !important;" value="Search" tabindex="2" />
                                        </div>
                                    </Text>);
                            })
                            //.ToolBar(tools => tools.Excel())
                            .Editable(editable => editable.Mode(GridEditMode.InLine))
                            .Pageable(pager => pager.PageSizes(true).PageSizes(new int[] { 10, 25, 50, 100 }))
                            .Scrollable(s => s.Height("auto"))
                            .Sortable().Events(events => events.DataBound("onDataBound"))
                            .Resizable(rsb => rsb.Columns(true))
                            .Reorderable(r => r.Columns(true))
                            .Excel(excel => excel.FileName("AssetListing_" + DateTime.Now.ToString("ddMMyyyyHHmmss") + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Asset", "Asset")))
                            .Filterable(filterable => filterable
                                .Extra(false)
                                .Operators(operators => operators
                                    .ForString(str => str.Clear()
                                        .StartsWith("Starts with")
                                        .IsEqualTo("Is equal to")
                                        .IsNotEqualTo("Is not equal to").Contains("Contains")
                                    ))
                            )
                            .HtmlAttributes(new { style = "min-height:350px;" })
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .Sort(sort => sort.Add("AssetName"))
                            .Model(model =>
                            {
                                model.Id(p => p.AssetID);
                                model.Field(p => p.IsActive).DefaultValue(true);
                            })
                            .PageSize(10)
                            .Events(events => events.Error("error_handler").RequestEnd("request_end").RequestStart("request_start"))
                            .Model(model => model.Id(p => p.AssetID))
                            .Read(read => read.Action("GetAllAssets", "Asset"))
                        )
                    )
                    <script type="text/javascript">
                        $(function () {
                            $("#grid").on("keypress", ".searchBox", function (e) {
                                var key = e.which || e.keyCode;
                                if (key == 13) {
                                    if ($("#grid").find('.searchBox').val() == null || $("#grid").find('.searchBox').val() == '') {
                                        $("#grid").find('.btnReset').trigger('click');
                                    }
                                    else {
                                        $("#grid").find('.btnSearch').trigger('click');
                                    }
                                }
                            });

                            $('input').keydown(function (event) {
                                if (event.keyCode == 9 && $(event.target).is('.btnReset')) {
                                    $("#grid").find('.searchBox').focus();
                                    event.preventDefault();
                                }
                                else if (event.keyCode == 27) {
                                    $("#grid").find('.btnReset').focus();
                                    event.preventDefault();
                                }
                            });

                            if ($("#grid").find('.searchBox').val() != null && $("#grid").find('.searchBox').val() != '') {
                                $("#grid").find('.btnSearch').trigger('click');
                            }
                        });

                        //Searching the Grid by the value of the textbox
                        $("#grid").on("click", ".btnSearch", function (e) {
                            var searchValue = $("#grid").find('.searchBox').val();

                            //Setting the filter of the Grid
                            $("#grid").data("kendoGrid").dataSource.filter({
                                logic: "or",
                                filters: [
                                    {
                                        field: "AssetName",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Status",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "AssetType",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Language",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Subject",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Topic",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Subtopic",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    //{
                                    //    field: "Tags",
                                    //    operator: "contains",
                                    //    value: searchValue
                                    //},
                                    {
                                        field: "Level",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Stream",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Package",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Syllabus",
                                        operator: "contains",
                                        value: searchValue
                                    }
                                ]
                            });
                        });

                        //Clearing the filter
                        $("#grid").on("click", ".btnReset", function (e) {
                            $("#grid").find('.searchBox').val("");
                            $("#grid").data("kendoGrid").dataSource.filter({});
                        });

                        function error_handler(e) {
                            if (typeof e.errors === 'string') {
                                if (e.errors == 'ALREADY_EXISTS') {
                                    alert('Asset already exists.');
                                }
                                var grid = $("#grid").data("kendoGrid");
                                grid.cancelChanges();
                            }
                        }

                        function request_start(e) {
                            kendo.ui.progress($("#grid"), false);
                        }

                        function request_end(e) {
                            if (typeof e.response.Errors === 'string')
                                return false;
                        }

                        function onDataBound(e) {
                            $('[data-toggle="tooltip"]').tooltip();
                            ShowNoDataMsgGrid(e);
                        }
                    </script>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(function () {
        var gridElements = $("#grid").data("kendoGrid").dataSource;
        gridElements.fetch(function () {
            var total = gridElements.total();

            if (total == 0) {
                $('#DownloadExcel').removeAttr("href");
            }
        })
    });

    function DownloadExcel() {
        var gridElements = $("#grid").data("kendoGrid").dataSource;
        gridElements.fetch(function () {
            var total = gridElements.total();
            debugger;
            if (total == 0) {
                alert("No records available to Download!!");
                $(this).preventDefault();
            }
        })
    }

    function gridExcel_Click() {
        var grid = $("#grid").data('kendoGrid');
        grid.saveAsExcel();
    }
</script>