﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 3DL Content Management</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/css/kendo.common.css" rel="stylesheet" />
    <link href="~/Content/kendo/css/kendo.default.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/jquery.mCustomScrollbar.js"></script>
    <script src="~/Content/kendo/js/kendo.all.min.js"></script>
    <script src="~/Content/kendo/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/Content/kendo/js/jszip.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/loadingoverlay.js"></script>
    <script src="~/Scripts/loadingoverlay_progress.js"></script>
    <script src="~/Scripts/layout.js?v=6"></script>
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,300,300i,400,400i,500,600,700|Oswald:300,400,500,600">
    <style>
        .dropbtn:hover, .dropbtn:focus {
            background-color: #2980B9;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown button */
        .dropdown .dropbtn {
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit; /* Important for vertical align on mobile phones */
            margin: 0; /* Important for vertical align on mobile phones */
        }

        /* Dropdown content (hidden by default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        /* Add a grey background color to dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top my-nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/images/3dl.png" style="width: 25px; float: left; margin: 8px 10px 0 0;" />
                @if (HttpContext.Current.Request.IsAuthenticated)
                {
                    @Html.ActionLink("Content Management", "Index", "Content", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Content Management", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                @if (HttpContext.Current.Request.IsAuthenticated)
                {
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("Home", "Index", "Content")</li>
                    <li>@Html.ActionLink("Asset List", "Assets", "Home")</li>
                    <li>@Html.ActionLink("Activities", "Index", "Activities")</li>
                    <li>@Html.ActionLink("Compounds", "Index", "Compound")</li>
                    <li>@Html.ActionLink("User Management", "Index", "UserManagement")</li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn" onclick="myFunction()">
                                Useful links
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div id="myDropdown" class="dropdown-content">
                                @Html.ActionLink("App Master", "Index", "AppMaster")
                                @Html.ActionLink("Apk Details", "Index", "Apk")
                                @Html.ActionLink("Feedback", "Index", "ManageFeedback")
                                @Html.ActionLink("Master Data", "MasterData", "Home")
                                @Html.ActionLink("Export Asset List", "Asset", "Asset")
                                @Html.ActionLink("Asset Publish Status", "AssetPublishStatus", "Asset")
                                @Html.ActionLink("Export Package Details", "Package", "Asset")
                                @Html.ActionLink("About 3DL Content", "About", "Asset")
                            </div>
                        </div>
                    </li>
                </ul>                    
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Account/ChangePassword">Welcome @Session["Name"]</a></li>
                        <li><a onclick="ClearData();" href="/Account/Logout">Logout</a></li>
                        @*<li>@Html.ActionLink("Logout", "Logout", "Account")</li>*@
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer id="footer">
        <div class="col-md-12">
            <p style="text-align:center;">  &copy; @DateTime.Now.Year - 3DL, Inc. All Rights Reserved.</p>
        </div>
    </footer>

    <div id="messageModel" class="modal fade">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Message</h4>
                    </div>

                    <div id="msg-p" class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ContentModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="btnClose" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">View File</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div id="divContent"></div>
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $(".k-grid-add").attr("data-toggle", "tooltip", "data-placement", "top");
            $("a.k-grid-add").prepend('<i class="fa fa-plus fa-1x text-white" aria-hidden="true"></i> ');
        });

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        
        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</body>
</html>
