﻿<!DOCTYPE html>
<html>
@{
    ViewBag.Title = "Error";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        .btn-warning {
            background-color: #a42639 !important;
            border-color: #a42639 !important;
        }
    </style>
</head>
<body>
    <hgroup>
    </hgroup>    

    <div style="margin-top:5%">
        <div class="container">
            <div class="row">
                <div class="jumbotron text-md-center">
                    <div class="container">
                        <h1 class="display-1"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h1>
                        <h1 class="display-1">Error</h1>
                        <h2 class="display-5">An error occurred while processing your request.</h2>
                        @*<div class="error-details">
                                <p class="lead">The resource you are looking for d, had its name changed, or is temporarily unavailable.</p>
                            </div>*@
                        <div class="error-actions">
                            <a onclick="NavigatetoPrevious()" style="cursor:pointer" class="btn btn-warning btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Previous Page </a>
                            @{
                                if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
                                {
                                    <a href="/Content/Index" class="btn btn-warning btn-sm"> Back to Dashboard <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                }
                                else
                                {
                                    <a href="/Account/Login" class="btn btn-warning btn-sm"> Back to Login Page <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                }
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        function NavigatetoPrevious() {
            parent.history.back();
            return false;
        }
    </script>
</body>
</html>
