﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Manage Grade";
}
<style>
    .footer,
    .push {
        height: 50px;
    }

    .k-grid-header {
        background-color: darkblue !important;
    }

    .k-grid-header th.k-header {
        background-color: #a42639 !important;
    }

    html .k-edit-cell .k-tooltip, html .k-grid-edit-row .k-tooltip {
        margin: 0px;
        color: Red;
        background: pink;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    input[type = "file"] {
        display: none;
    }

    .modal-footer {
        margin-top: 0px;
    }

    .alert {
        margin-bottom: 0px;
    }
</style>

<div class="wrapper page-wrap">
    <section id="checklist">
        <div class="container">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="/Content/Index">Dashboard</a> |
                <a class="breadcrumb-item" href="/Home/MasterData">Master Data</a> |
                <span class="breadcrumb-item active">Grade</span>
            </nav>
            <div class="row">
                <div class="col-md-12">
                    <h2>Manage Grade</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="gvGrade" class="checkout-right animated wow slideInUp" style="padding-top:0px;" data-wow-delay=".5s">
                        @(Html.Kendo().Grid<TDL.ContentPlatform.Server.Database.Tables.CsNewGrade>()
                                    .Name("grid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.NewName).Title("Grade");
                                        columns.Bound(p => p.Id).Hidden(true);
                                        //columns.Bound(p => p.IsActive).Title("Status").Width(230).ClientTemplate("#if(IsActive) {# Active #}else {# Inactive #}#");
                                        columns.Command(command =>
                                        {
                                            //command.Edit().Text("<span class='fa fa-pencil-square text-success' data-toggle='tooltip' data-placement='top' title='Click here to update'></span>")
                                            //.UpdateText("<span class='fa fa-floppy-o text-success'data-toggle='tooltip' data-placement='top'  title='Click here to update'></span>")
                                            //.CancelText("<span class='fa fa-ban text-danger' data-toggle='tooltip' data-placement='top' title='Click here to cancel'></span>");
                                            //command.Custom("Delete").Text("<span class='fa fa-trash-o text-danger k-i-delete' data-toggle='tooltip' data-placement='top' title='Click here to delete'></span></a>").Click("deleteItem");
                                            command.Custom("Thumbnail").Text("<span class='fa fa-photo' data-toggle='tooltip' data-placement='top' title='Click here to add thumbnail' style='font-size:14px;color:#a42639;'></span></a>").Click("UploadThumbnail");
                                        }).Title("<b>Actions</b>").Width(200);

                                    })
                                    //.ToolBar(toolbar => toolbar.Create().Text("Add New Grade").HtmlAttributes(new { style = "float:right;color:#fff;background-color: #a42639", title = "Add New Grade" }))
                                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                                    .Pageable(pager => pager.PageSizes(true).PageSizes(new int[] { 10, 25, 50, 100 }))
                                    .Sortable().Events(events => events.DataBound("onDataBound"))
                                    .Filterable(filterable => filterable
                                        .Extra(false)
                                        .Operators(operators => operators
                                            .ForString(str => str.Clear()
                                                .StartsWith("Starts with")
                                                .IsEqualTo("Is equal to")
                                                .IsNotEqualTo("Is not equal to").Contains("Contains")
                                            ))
                                    )
                                    .HtmlAttributes(new { style = "min-height:350px;" })
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Sort(sort => sort.Add("NewName"))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.Id);
                                            //model.Field(p => p.IsActive).DefaultValue(true);
                                            model.Field(p => p.Createdby).Editable(false);
                                        })
                                        .PageSize(10)
                                        .Events(events => events.Error("error_handler").RequestEnd("request_end").RequestStart("request_start"))
                                        .Model(model => model.Id(p => p.Id))
                                        .Create(update => update.Action("AddUpdateLevels", "ManageLevel"))
                                        .Read(read => read.Action("GetAllLevels", "ManageLevel"))
                                        .Update(update => update.Action("AddUpdateLevels", "ManageLevel"))
                                        .Destroy(update => update.Action("DeleteLevel", "ManageLevel"))
                                    )
                        )
                        <script id="customPopUpTemplate" type="text/x-kendo-template">
                            <div class="k-edit-label">Grade Name: </div>
                            <div class="k-edit-field">
                                <input name="NewName" required class="k-textbox" />
                            </div>
                        </script>
                        <script type="text/javascript">
                            function error_handler(e) {
                                if (typeof e.errors === 'string') {
                                    if (e.errors == 'ALREADY_EXISTS') {
                                        alert('Grade already exists.');
                                    }
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.cancelChanges();
                                }
                            }


                            function request_start(e) {
                                kendo.ui.progress($("#grid"), false);
                            }

                            function request_end(e) {

                                if (typeof e.response.Errors === 'string')
                                    return false;

                                if (e.type == "create" || e.type == "update" || e.type == "destroy") {
                                    $('#grid').data().kendoGrid.dataSource.read();

                                    if (e.type == "create") {
                                        alert("Grade added successfully.");
                                    }
                                    else if (e.type == "update") {
                                        alert("Grade updated successfully.");
                                    }
                                    else if (e.type == "destroy") {
                                        alert("Grade deleted successfully.");
                                    }
                                }
                            }

                            //register custom validation rules
                            (function ($, kendo) {
                                $.extend(true, kendo.ui.validator, {
                                    rules: { // custom rules
                                        newnamevalidation: function (input, params) {
                                            if (input.is("[name='NewName']") && input.val().trim() == "") {
                                                input.attr("data-newnamevalidation-msg", "Grade is required.");
                                                return false;
                                            }
                                            return true;
                                        }
                                    },
                                    messages: { //custom rules messages
                                        newnamevalidation: function (input) {
                                            return input.attr("data-val-newnamevalidation");
                                        }
                                    }
                                });
                            })(jQuery, kendo);

                            function onDataBound(e) {
                                $('[data-toggle="tooltip"]').tooltip();
                                ShowNoDataMsgGrid(e);
                            }

                            function deleteItem(e) {
                                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

                                var message = 'Are you sure you want to delete <b>' + dataItem.NewName + '</b> Grade?';

                                if (confirm(message, function () {
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.dataSource.remove(dataItem);
                                    grid.dataSource.sync();
                                    grid.refresh();
                                }));
                            }

                            function UploadThumbnail(e) {
                                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                                $.ajax({
                                    url: '/ManageLevel/GetThumbnail?Id=' + dataItem.Id,
                                    data: {},
                                    type: 'GET',
                                    processData: false,
                                    contentType: false,
                                    success: function (data) {
                                        var file = data;
                                        $('#txtID').val(dataItem.Id);
                                        $('#divError').hide();
                                        if (file != null && file != '')
                                            $('#txtFileName').html(file);
                                        else
                                            $('#txtFileName').html("No file available");
                                        $('#AddImageOption').modal('show');
                                    }
                                });
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal" id="AddImageOption" tabindex="-1" role="dialog" aria-labelledby="UploadImage" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content ui-dialog ui-corner-all ui-front ui-dialog-buttons" style="height: auto; width: 500px; display: block;">
            <div class="modal-header ui-dialog-titlebar ui-corner-all ui-helper-clearfix">
                <button type="button" class="ui-button ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" data-dismiss="modal" aria-label="Close"><span class="ui-button-icon ui-icon ui-icon-closethick" aria-hidden="true">&times;</span></button>
                <span class="modal-title">Upload Image</span>
            </div>
            <div class="modal-body" id="divImage">
                @using (Html.BeginForm("UploadImage", "ManageLevel", FormMethod.Post, new { @id = "frmImage", enctype = "multipart/form-data" }))
                {
                    <div>
                        <input type="hidden" name="txtID" id="txtID" />
                        <label for="UploadFile" class="custom-file-upload">
                            <i class="fa fa-cloud-upload"></i> Upload Image
                        </label>
                        <input id="UploadFile" name='UploadFile' type="file" style="display:none;">
                        <label id="txtFileName" style="color: #a42639;margin-left: 10px;">No file available</label>
                        <div class="alert alert-danger" id="divError" style="display:none">

                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="pull-right">
                        <input type="button" class="btn btn-primary" id="btnUpload" value="Upload Image" />
                        <input type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal" aria-label="Close" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#UploadFile').change(function () {
        var i = $(this).next('label').clone();
        var file = $('#UploadFile')[0].files[0].name;
        $(this).next('label').text(file);
    });

    $("#btnUpload").on("click", function () {
        var actionurl = '/ManageLevel/UploadImage';
        var formData = new FormData($("#frmImage")[0]);
        $.ajax({
            url: actionurl,
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            async: false,
            success: function (data) {
                if (data == "Error") {
                    $('#divError').append("<strong>Error!</strong> You do not specified a file.").show();
                }
                else if (data == "Exception") {
                    $('#divError').append("<strong>Error!</strong> Some error occured while uploading a file.").show();
                }
                else {
                    $('#AddImageOption').modal('hide');
                    $("#UploadFile").val('');
                    alert("Thumbnail image uploaded successfully");
                    $('#grid').data().kendoGrid.dataSource.read();
                }
            }
        });
    });
</script>