﻿@model _3DLContentManagement.Models.XmlFormModel
@{
    Layout = null;
}

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jscolor.js"></script>

<div class="animated slideInRight col-padd well">
    <div>
        <div class="col-md-12">
            <h2 style="display:block; margin-top:15px !important;">
                <a id="label-collapse" href="#divNewLabel" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #000000;">
                    <i class="minus-plus-label fa fa-chevron-circle-down float-xs-right"></i>
                    Label @Model.Labels[0].number
                </a>
            </h2>
        </div>
    </div>
    <div class="collapse in" id="divNewLabel">
        @using (Html.BeginForm("SaveNewLabel", "GenerateXML", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "frmSaveNewLabel" }))
        {
            @Html.HiddenFor(x => Model.Labels[0].LabelID)
            @Html.HiddenFor(x => Model.Labels[0].LabelName)
            @Html.HiddenFor(x => Model.Labels[0].ModelID)
            @Html.HiddenFor(x => Model.Labels[0].number)
            @Html.HiddenFor(x => Model.Labels[0].IsEnabled)
            @Html.HiddenFor(x => Model.Labels[0].IsDeleted)
            
            <div class="form-group hidden">
                <div class="col-md-2 col-md-offset-1" style="display:block; margin-top:5px;">
                    <label class="col-form-label" for="example-text-input">Label Face</label>
                </div>
                <div class="col-md-9">
                    @Html.TextBoxFor(x => Model.Labels[0].face, new { @class = "form-control", @placeholder = "Face", @maxlength = "100" })
                    <div class="has-danger">
                        <div class="form-control-feedback">
                            @Html.ValidationMessageFor(x => Model.Labels[0].face)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 col-md-offset-1">
                    <label class="col-form-label" for="example-text-input">Label Name</label>
                </div>
                <div class="col-md-8 divNameParent" id="divName">
                    @for (int i = 0; i < Model.Labels[0].LabelNames.Count; i++)
                    {
                        <div class="row" data-guid="@Guid.NewGuid().ToString("N")" style="margin-bottom:10px;">
                            @Html.HiddenFor(x => Model.Labels[0].LabelNames[i].ID)
                            @Html.HiddenFor(x => Model.Labels[0].LabelNames[i].LanguageId)
                            @Html.HiddenFor(x => Model.Labels[0].LabelNames[i].IsDeleted)
                            <div class="col-md-3 mb-0">
                                <div class="col-xs-1" style="padding-left: 0px;">
                                    @if (i == 0)
                                    {
                                        <span class="fa fa-plus" onclick="AddNameRow(this,0)" data-toggle='tooltip' data-placement='top' title='Add row for new language' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                    }
                                    else
                                    {
                                        <span class="fa fa-minus" data-id="LabelNames[@i].IsDeleted" onclick="RemoveRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                    }
                                </div>
                                <div class="col-xs-10">
                                    @Html.TextBoxFor(x => Model.Labels[0].LabelNames[i].Language, new { @class = "form-control language", @placeholder = "Select Language", @maxlength = "100" })
                                    <div class="has-danger">
                                        <div class="form-control-feedback">
                                            @Html.ValidationMessageFor(x => Model.Labels[0].LabelNames[i].Language)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-0">
                                @Html.TextBoxFor(x => Model.Labels[0].LabelNames[i].Name, new { @class = "form-control", @placeholder = "Label Name", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => Model.Labels[0].LabelNames[i].Name)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 mb-0">
                                <label class="col-form-label" for="example-text-input">
                                    <a class="anchrDescription" data-parentid="" data-id="Labels_0__LabelNames_@(i)__Description" style="text-decoration:none; cursor:pointer" title="Click here to Add/View Description">Description</a>
                                </label>
                                @Html.HiddenFor(x => Model.Labels[0].LabelNames[i].Description)
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 col-md-offset-1">
                    <label class="col-form-label" for="example-text-input">Color</label>
                </div>
                <div class="col-md-3 hidden">
                    <label class="col-form-label" for="example-text-input">Original</label>
                    <input id="original" name="original" value="@Model.Labels[0].original " class="form-control jscolor {hash:true, position:'right', closable:true, closeText:'Close me!'}">
                    <div class="has-danger">
                        <div class="form-control-feedback">
                            @Html.ValidationMessageFor(x => Model.Labels[0].original)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-form-label" for="example-text-input">Highlight</label>
                    <input id="highlight" name="Labels[0].highlight" value="@Model.Labels[0].highlight " class="form-control jscolor {hash:true, position:'right', closable:true, closeText:'Close me!'}">
                    <div class="has-danger">
                        <div class="form-control-feedback">
                            @Html.ValidationMessageFor(x => Model.Labels[0].highlight)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 col-md-offset-1">
                    <label class="col-form-label" for="example-text-input">Popup</label>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <label class="col-form-label" for="example-text-input">X</label>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <label class="col-form-label" for="example-text-input">Y</label>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <label class="col-form-label" for="example-text-input">Z</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1 col-md-offset-2">
                    <label class="col-form-label" for="example-text-input">Position</label>
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(x => Model.Labels[0].xPosition, new { @class = "form-control", @placeholder = "X-Position", @maxlength = "100" })
                    <div class="has-danger">
                        <div class="form-control-feedback">
                            @Html.ValidationMessageFor(x => Model.Labels[0].xPosition)
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(x => Model.Labels[0].yPosition, new { @class = "form-control", @placeholder = " Y-Position", @maxlength = "100" })
                    <div class="has-danger">
                        <div class="form-control-feedback">
                            @Html.ValidationMessageFor(x => Model.Labels[0].yPosition)
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(x => Model.Labels[0].zPosition, new { @class = "form-control", @placeholder = "Z-Position", @maxlength = "100" })
                    <div class="has-danger">
                        <div class="form-control-feedback">
                            @Html.ValidationMessageFor(x => Model.Labels[0].zPosition)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1 col-md-offset-2">
                    <label class="col-form-label" for="example-text-input">Rotation</label>
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(x => Model.Labels[0].xRotation, new { @class = "form-control", @placeholder = "X-Rotation", @maxlength = "100" })
                    <div class="has-danger">
                        <div class="form-control-feedback">
                            @Html.ValidationMessageFor(x => Model.Labels[0].xRotation)
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(x => Model.Labels[0].yRotation, new { @class = "form-control", @placeholder = "Y-Rotation", @maxlength = "100" })
                    <div class="has-danger">
                        <div class="form-control-feedback">
                            @Html.ValidationMessageFor(x => Model.Labels[0].yRotation)
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(x => Model.Labels[0].zRotation, new { @class = "form-control", @placeholder = "Z-Rotation", @maxlength = "100" })
                    <div class="has-danger">
                        <div class="form-control-feedback">
                            @Html.ValidationMessageFor(x => Model.Labels[0].zRotation)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1 col-md-offset-2">
                    <label class="col-form-label" for="example-text-input">Scale</label>
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(x => Model.Labels[0].xScale, new { @class = "form-control", @placeholder = "X-Scale", @maxlength = "100" })
                    <div class="has-danger">
                        <div class="form-control-feedback">
                            @Html.ValidationMessageFor(x => Model.Labels[0].xScale)
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(x => Model.Labels[0].yScale, new { @class = "form-control", @placeholder = "Y-Scale", @maxlength = "100" })
                    <div class="has-danger">
                        <div class="form-control-feedback">
                            @Html.ValidationMessageFor(x => Model.Labels[0].yScale)
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(x => Model.Labels[0].zScale, new { @class = "form-control", @placeholder = "Z-Scale", @maxlength = "100" })
                    <div class="has-danger">
                        <div class="form-control-feedback">
                            @Html.ValidationMessageFor(x => Model.Labels[0].zScale)
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="button" id="btnCancel" class="btn btn-secondary" style="margin-left:15px;" onclick="RemoveLabel()">Remove</button>
                        <input type="button" onclick="SaveLabel()" value="Save Label" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<script>
    $(document).ready(function () {
        jscolor.installByClassName("jscolor");

        $("#label-collapse").click(function () {
            $(".minus-plus-label").toggleClass("fa-chevron-circle-down fa-chevron-circle-right");
        })
    });

    function RemoveLabel() {
        var message = 'Are you sure you want to remove this Label?';

        if (confirm(message, function () {
            $('#divModel').empty();
            //$("#master-collapse").trigger("click");
            $("#btnAddLabel").removeAttr('title');
            $("#btnAddLabel").attr('onclick', 'AddLabel()').bind('click');
        }));
    }
</script>
