﻿@model _3DLContentManagement.Models.XmlFormModel
@{
    ViewBag.Title = "Generate XML";
}
<style>
    /*.breadcrumb > a + a::before {
        content: " | ";
        color: #000000;
    }*/
    .breadcrumb > a::after {
        content: " | ";
        color: #000000;
    }

    .table tbody tr:hover {
        background-color: #eceeef !important;
    }

    .table tbody tr th {
        background-color: white !important;
    }

    .field-validation-valid span {
        display: none;
    }
</style>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="~/Scripts/jscolor.js"></script>
<div class="wrapper page-wrap">
    <section id="checklist">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="/Content/Index">Dashboard</a>
            <a class="breadcrumb-item" href="/Home/Assets">Assets</a>
            <a class="breadcrumb-item" href='@Url.Action("AddUpdateAsset", "Home", new { assetID = ViewBag.AssetID})'>@ViewBag.AssetName</a>
            <span class="breadcrumb-item active">@ViewBag.Title</span>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <h2>Generate XML</h2>
            </div>
        </div>
        <hr />
    </section>
    <section id="requirments">
        @*<div class="row col-md-12" id="divInfo">
                <div class="alert alert-info">
                    <strong>Info!</strong> Save the model first to save the label details.
                </div>
            </div>*@
        @using (Html.BeginForm("Index", "GenerateXML", FormMethod.Post, new { @id = "frmModel", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(x => x.AssetContentID)
            @Html.HiddenFor(x => x.ModelID)
            @Html.HiddenFor(x => x.ModelName)
            @Html.HiddenFor(x => x.hidingposX)
            @Html.HiddenFor(x => x.hidingposY)
            @Html.HiddenFor(x => x.hidingposZ)
            @Html.HiddenFor(x => x.IsEnabled)
            @Html.HiddenFor(x => x.IsDeleted)
            <input type="hidden" name="hdnModelID" id="hdnModelID" value="@Model.ModelID" />
            <div class="form-group">
                <div class="col-md-12">
                    <div>
                        <div class="col-md-2 col-md-offset-1">
                            <label class="col-form-label" for="example-text-input">Model Name</label>
                        </div>
                        <div class="col-md-8 divNameParent" id="divName">
                            @for (int j = 0; j < Model.ModelNames.Count; j++)
                            {
                            <div class="row" style="margin-bottom:10px;" data-guid="@Guid.NewGuid().ToString("N")">
                                @Html.HiddenFor(x => Model.ModelNames[j].Id)
                                @Html.HiddenFor(x => Model.ModelNames[j].LanguageId)
                                @Html.HiddenFor(x => Model.ModelNames[j].IsDeleted)
                                <div class="col-md-3 mb-0">
                                    <div class="col-xs-1" style="padding-left: 0px;">
                                        @if (j == 0)
                                        {
                                            <span class="fa fa-plus" onclick="AddNameRow(this,null,'AddModelName')" data-toggle='tooltip' data-placement='top' title='Add row for new language' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                        }
                                        else
                                        {
                                            <span class="fa fa-minus" data-id="ModelNames[@j].IsDeleted" onclick="RemoveRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                        }
                                    </div>
                                    <div class="col-xs-10">
                                        @Html.TextBoxFor(x => Model.ModelNames[j].Language, new { @class = "form-control language", @placeholder = "Select Language", @maxlength = "100" })
                                        <div class="has-danger">
                                            <div class="form-control-feedback">
                                                @Html.ValidationMessageFor(x => Model.ModelNames[j].Language)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 mb-0">
                                    @Html.TextBoxFor(x => Model.ModelNames[j].Name, new { @class = "form-control", @placeholder = "Model Name", @maxlength = "100" })
                                    <div class="has-danger">
                                        <div class="form-control-feedback">
                                            @Html.ValidationMessageFor(x => Model.ModelNames[j].Name)
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            }
                        </div>                       
                    </div>
                </div>
            </div>
            for (int i = 0; i < Model.Labels.Count; i++)
            {
                @Html.HiddenFor(x => Model.Labels[i].LabelID)
                @Html.HiddenFor(x => Model.Labels[i].LabelName)
                @Html.HiddenFor(x => Model.Labels[i].ModelID)
                @Html.HiddenFor(x => Model.Labels[i].number)
                @Html.HiddenFor(x => Model.Labels[i].IsEnabled)
                @Html.HiddenFor(x => Model.Labels[i].IsDeleted)
                <div class="animated slideInRight col-padd well" id="divLabel">
                    <div>
                        <div class="col-md-12">
                            <h2 style="display:block; margin-top:15px !important;">
                                <a id="master-collapse" class="master-collapse_@i" data-id="@i" href="#master_@i" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" style="text-decoration:none; color: #000000;">
                                    <i class="minus-plus-master_@i fa fa-chevron-circle-down float-xs-right"></i>
                                    Label @Model.Labels[i].number
                                </a>
                                <span style="display:inline-block; float:right;">
                                    @if (Model.Labels[i].LabelID != 0 && Model.Labels[i].IsEnabled == true)
                                    {
                                        <input type="checkbox" data-id="@i" data-desc="@Model.Labels[i].LabelID" data-toggle="toggle" checked data-on="Enabled" data-off="Disabled" data-onstyle="success" data-offstyle="primary">
                                    }
                                    else if (Model.Labels[i].LabelID == 0)
                                    {
                                        <input type="checkbox" data-id="@i" data-desc="@Model.Labels[i].LabelID" data-toggle="toggle" disabled data-on="Enabled" data-off="Disabled" data-onstyle="success" data-offstyle="primary">
                                    }
                                    else
                                    {
                                        <input type="checkbox" data-id="@i" data-desc="@Model.Labels[i].LabelID" data-toggle="toggle" unchecked data-on="Enabled" data-off="Disabled" data-onstyle="success" data-offstyle="primary">
                                    }
                                </span>
                            </h2>
                        </div>
                    </div>
                    <div class="collapse in" id="master_@i">
                        <div class="form-group hidden">
                            <div class="col-md-2 col-md-offset-1" style="display:block; margin-top:5px;">
                                <label class="col-form-label" for="example-text-input">Label Face</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => Model.Labels[i].face, new { @class = "form-control", @placeholder = "Face", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => Model.Labels[i].face)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 col-md-offset-1">
                                <label class="col-form-label" for="example-text-input">Label Name</label>
                            </div>
                            <div class="col-md-8 divNameParent" id="divName">
                                @for (int j = 0; j < Model.Labels[i].LabelNames.Count; j++)
                                {
                                    <div class="row" style="margin-bottom:10px;"  data-guid="@Guid.NewGuid().ToString("N")">
                                        @Html.HiddenFor(x => Model.Labels[i].LabelNames[j].ID)
                                        @Html.HiddenFor(x => Model.Labels[i].LabelNames[j].LanguageId)
                                        @Html.HiddenFor(x => Model.Labels[i].LabelNames[j].IsDeleted)
                                        <div class="col-md-3 mb-0">
                                            <div class="col-xs-1" style="padding-left: 0px;">
                                                @if (j == 0)
                                                {
                                                    <span class="fa fa-plus" onclick="AddNameRow(this,@i)" data-toggle='tooltip' data-placement='top' title='Add row for new language' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                                }
                                                else
                                                {
                                                    <span class="fa fa-minus" data-id="Labels[@i].LabelNames[@j].IsDeleted" onclick="RemoveRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                                }
                                            </div>
                                            <div class="col-xs-10">
                                                @Html.TextBoxFor(x => Model.Labels[i].LabelNames[j].Language, new { @class = "form-control language", @placeholder = "Select Language", @maxlength = "100" })
                                                <div class="has-danger">
                                                    <div class="form-control-feedback">
                                                        @Html.ValidationMessageFor(x => Model.Labels[i].LabelNames[j].Language)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-0">
                                            @Html.TextBoxFor(x => Model.Labels[i].LabelNames[j].Name, new { @class = "form-control", @placeholder = "Label Name", @maxlength = "100" })
                                            <div class="has-danger">
                                                <div class="form-control-feedback">
                                                    @Html.ValidationMessageFor(x => Model.Labels[i].LabelNames[j].Name)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 mb-0">
                                            <label class="col-form-label" for="example-text-input">
                                                <a class="anchrDescription" data-parentid="@Model.Labels[i].LabelNames[j].ID" data-id="Labels_@(i)__LabelNames_@(j)__Description" style="text-decoration:none; cursor:pointer" title="Click here to Add/View Description">Description</a>
                                            </label>
                                            @Html.HiddenFor(x => Model.Labels[i].LabelNames[j].Description)

                                            @*@Html.TextAreaFor(x => Model.Labels[i].LabelNames[j].Description, new { @class = "form-control", @placeholder = "Label Description" })*@
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 col-md-offset-1">
                                <label class="col-form-label" for="example-text-input">Color</label>
                            </div>
                            <div class="col-md-3 hidden">
                                <label class="col-form-label" for="example-text-input">Original</label>
                                <input name="Labels[@i].original" value="@Model.Labels[i].original " class="form-control jscolor {hash:true, position:'right', closable:true, closeText:'Close me!'}">
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => Model.Labels[i].original)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-form-label" for="example-text-input">Highlight</label>
                                <input name="Labels[@i].highlight" value="@Model.Labels[i].highlight " class="form-control jscolor {hash:true, position:'right', closable:true, closeText:'Close me!'}">
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => Model.Labels[i].highlight)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 col-md-offset-1">
                                <label class="col-form-label" for="example-text-input">Popup</label>
                            </div>
                            <div class="col-md-2 col-md-offset-1">
                                <label class="col-form-label" for="example-text-input">X</label>
                            </div>
                            <div class="col-md-2 col-md-offset-1">
                                <label class="col-form-label" for="example-text-input">Y</label>
                            </div>
                            <div class="col-md-2 col-md-offset-1">
                                <label class="col-form-label" for="example-text-input">Z</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1 col-md-offset-2" style="display:block; margin-top:5px;">
                                <label class="col-form-label" for="example-text-input">Position</label>
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => Model.Labels[i].xPosition, new { @class = "form-control", @placeholder = "X-Position", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => Model.Labels[i].xPosition)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => Model.Labels[i].yPosition, new { @class = "form-control", @placeholder = " Y-Position", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => Model.Labels[i].yPosition)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => Model.Labels[i].zPosition, new { @class = "form-control", @placeholder = "Z-Position", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => Model.Labels[i].zPosition)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1 col-md-offset-2" style="display:block; margin-top:5px;">
                                <label class="col-form-label" for="example-text-input">Rotation</label>
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => Model.Labels[i].xRotation, new { @class = "form-control", @placeholder = "X-Rotation", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => Model.Labels[i].xRotation)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => Model.Labels[i].yRotation, new { @class = "form-control", @placeholder = "Y-Rotation", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => Model.Labels[i].yRotation)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => Model.Labels[i].zRotation, new { @class = "form-control", @placeholder = "Z-Rotation", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => Model.Labels[i].zRotation)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1 col-md-offset-2" style="display:block; margin-top:5px;">
                                <label class="col-form-label" for="example-text-input">Scale</label>
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => Model.Labels[i].xScale, new { @class = "form-control", @placeholder = "X-Scale", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => Model.Labels[i].xScale)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => Model.Labels[i].yScale, new { @class = "form-control", @placeholder = "Y-Scale", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => Model.Labels[i].yScale)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => Model.Labels[i].zScale, new { @class = "form-control", @placeholder = "Z-Scale", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => Model.Labels[i].zScale)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            }
        }
        <div id="divModel">
        </div>
        <hr />
        <div>
            <div class="form-group">
                <div class="col-md-12">
                    @if (Model.ModelID != 0)
                    {
                        <input type="button" id="btnAddLabel" value="Add another label" onclick="AddLabel()" class="btn btn-secondary" />
                    }
                    <input type="button" value="Save" onclick="SaveModel()" class="btn btn-primary" />
                    <input type="button" id="GenerateXML" value="Generate XML" class="btn btn-primary" onclick="GenerateXML()" />
                    @using (Html.BeginForm("CreateData", "GenerateXML", FormMethod.Post, new { @id = "frmXML" }))
                    {
                        <input type="hidden" name="Id" />
                    }
                </div>
            </div>
        </div>
    </section>
</div>
<div class="AddName" style="display:none">
    <div class="row" data-guid="{guid}" style="margin-bottom:10px;">
        <input name="Labels[{count1}].LabelNames[{count}].ID" type="hidden" value="0">
        <input name="Labels[{count1}].LabelNames[{count}].LanguageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
        <input name="Labels[{count1}].LabelNames[{count}].IsDeleted" type="hidden" value="False">
        <div class="col-md-3 mb-0">
            <div class="col-xs-1" style="padding-left: 0px;">
                <span class="fa fa-minus" data-id="Labels[{count1}].LabelNames[{count}].IsDeleted" onclick="RemoveRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
            </div>
            <div class="col-xs-10">
                <input class="form-control language" maxlength="100" required name="Labels[{count1}].LabelNames[{count}].Language" data-val-required="Language is required." placeholder="Select Language" type="text" value="">
                <div class="has-danger">
                    <div class="form-control-feedback">
                        <span class="field-validation-valid" data-valmsg-for="Labels[{count1}].LabelNames[{count}].Language" data-valmsg-replace="false">
                            <span for="Labels{count1}_LabelNames_{count}__Name" class="">Language is required.</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-0">
            <input class="form-control" maxlength="100" name="Labels[{count1}].LabelNames[{count}].Name" data-val-required="Name is required." required placeholder="Label Name" type="text" value="">
            <div class="has-danger">
                <div class="form-control-feedback">
                    <span class="field-validation-valid" data-valmsg-for="Labels[{count1}].LabelNames[{count}].Name" data-valmsg-replace="false">
                        <span for="Labels{count1}_LabelNames_{count}__Name" class="">Name is required.</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-5 mb-0">
            <label class="col-form-label" for="example-text-input">
                <a class="anchrDescription" data-parentid="" data-id="Labels_{count1}__LabelNames_{count}__Description" style="text-decoration:none; cursor:pointer" title="Click here to Add/View Description">Description</a>
            </label>
            <input type="hidden" id="Labels_{count1}__LabelNames_{count}__Description" name="Labels[{count1}].LabelNames[{count}].Description" value="" />            
        </div>        
    </div>
</div>

<div class="AddModelName" style="display:none">
    <div class="row" data-guid="{guid}" style="margin-bottom:10px;">
        <input name="ModelNames[{count}].Id" type="hidden" value="0">
        <input name="ModelNames[{count}].LanguageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
        <input name="ModelNames[{count}].IsDeleted" type="hidden" value="False">
        <div class="col-md-3 mb-0">
            <div class="col-xs-1" style="padding-left: 0px;">
                <span class="fa fa-minus" data-id="ModelNames[{count}].IsDeleted" onclick="RemoveRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
            </div>
            <div class="col-xs-10">
                <input class="form-control language" maxlength="100" required name="ModelNames[{count}].Language" data-val-required="Language is required." placeholder="Select Language" type="text" value="">
                <div class="has-danger">
                    <div class="form-control-feedback">
                        <span class="field-validation-valid" data-valmsg-for="ModelNames[{count}].Language" data-valmsg-replace="false">
                            <span for="ModelNames_{count}__Name" class="">Language is required.</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 mb-0">
            <input class="form-control" maxlength="100" name="ModelNames[{count}].Name" data-val-required="Name is required." required placeholder="Model Name" type="text" value="">
            <div class="has-danger">
                <div class="form-control-feedback">
                    <span class="field-validation-valid" data-valmsg-for="ModelNames[{count}].Name" data-valmsg-replace="false">
                        <span for="ModelNames_{count}__Name" class="">Name is required.</span>
                    </span>
                </div>
            </div>
        </div>        
    </div>
</div>

<div class="modal" id="AddLabelDescription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content ui-dialog ui-corner-all ui-front ui-dialog-buttons" style="width: 400px; display: block;">
            <div class="modal-header ui-dialog-titlebar ui-corner-all ui-helper-clearfix">
                <button type="button" class="ui-button ui-corner-all ui-button-icon-only ui-dialog-titlebar-close close-div" data-dismiss="modal" aria-label="Close">
                    <span class="ui-button-icon ui-icon ui-icon-closethick" aria-hidden="true">&times;</span>
                </button>
                <span class="modal-title" id="headerLAbelDescription">Update Description</span>
            </div>
            <div class="modal-body" id="">
                <textarea class="form-control valid" cols="10" id="txtDescription" style="max-width:none;" placeholder="Description" rows="10"></textarea>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="pull-right">
                        <input type="hidden" id="hdnDescriptionField" value="" />
                        <input type="hidden" id="hdnDescriptionParentId" value="" />
                        <input type="hidden" id="hdnRowId" value="" />
                        <input type="button" id="btnSaveDesc_label" class="btn btn-primary" value="Save Description" />
                        <input type="button" id="btnCancelDesc" class="btn btn-secondary close-div" data-dismiss="modal" aria-label="Close" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>
    var availableLanguages = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Language));
    var descModal = $("#AddLabelDescription");    
    function SaveLabel() {
        var myForm = $('#frmSaveNewLabel');
        $.validator.unobtrusive.parse(myForm);

        if (myForm.valid()) {
            showLoader();
            myForm.submit();
        }
    }
    $(document).on("click", "#btnSaveDesc_label", function () {        
        var descriptionParentId = descModal.find("#hdnDescriptionParentId").val();
        var rowId = descModal.find("#hdnRowId").val();
        if (descriptionParentId != null && descriptionParentId != "" && descriptionParentId != undefined) {
            var actionurl = '/GenerateXML/SaveLabelDescription';
            $.ajax({
                url: actionurl,
                type: 'post',
                dataType: 'text',
                data: { Id: descriptionParentId, Desc: descModal.find("#txtDescription").val() },
                success: function (data) {
                    if (data.indexOf("Error") >0) {
                        alert(data.split('|')[1]);
                    }
                    else {
                        var descriptionFieldId = descModal.find("#hdnDescriptionField").val();
                        $(document).find("div.row[data-guid='" + rowId + "']").find("#" + descriptionFieldId).val(descModal.find("#txtDescription").val());
                        descModal.modal('hide');
                    }
                }
            });
        }
        else {
            var descriptionFieldId = descModal.find("#hdnDescriptionField").val();
            $(document).find("div.row[data-guid='"+rowId+"']").find("#" + descriptionFieldId).val(descModal.find("#txtDescription").val());
            descModal.modal('hide');
        }
       
        return false;
    });
    $(document).on("click", ".anchrDescription", function () {    
        var $this = $(this);
        var DescriptionFieldId = $this.data("id");
        var DescriptionParentId = $this.data("parentid");
        var rowId = $this.closest(".row").data("guid");

        descModal.find("#hdnDescriptionField").val(DescriptionFieldId);
        descModal.find("#hdnDescriptionParentId").val(DescriptionParentId);
        descModal.find("#hdnRowId").val(rowId);

        descModal.find("#txtDescription").val($this.closest(".row").find("#" + DescriptionFieldId).val());

        descModal.modal('show');
        return false;
    });


    $(document).ready(function () {
        GetAllLanguages();
        var count = @Model.Labels.Count - 1;
        for (i = 0; i < count; i++) {
            $(".master-collapse_" + i).trigger('click');
            $(".minus-plus-master_" + i).toggleClass("fa-chevron-circle-down fa-chevron-circle-right");
        }
        //$("#master-collapse").each(function () {
        //    $("#master-collapse").trigger('click');
        //});

        $(document).on("click", "#master-collapse", function () {
            var labelID = $(this).attr('data-id');
            $(".minus-plus-master_" + labelID).toggleClass("fa-chevron-circle-down fa-chevron-circle-right");
        })

        if ($('#hdnModelID').val() == 0) {
            $('#GenerateXML').attr('disabled','disabled');
        }
    });

    $(function () {
        $("input:checkbox").bind("change", function () {
            var labelID = $(this).attr('data-desc');
            var id = $(this).attr('data-id');
            if ($(this).prop('checked') == false) {
                $('#Labels_' + id + '__IsEnabled').val('false');
            }
            else {
                $('#Labels_' + id + '__IsEnabled').val('true');
            }
        })
    })

    function AddLabel() {
        var modelID = $("#hdnModelID").val();
        $.ajax({
            url: '/GenerateXML/GetNewLabel',
            data: { Id: modelID },
            type: 'GET',
            dataType: "html",
            success: function (data) {
                $('#divModel').html(data);
                //$("#master-collapse").trigger("click");
                $('body, html').animate({ scrollTop: $('#divModel').offset().top }, 'slow');
                $("#btnAddLabel").attr('title', 'Save the details first to add another label.');
                $("#btnAddLabel").attr('onclick', '').unbind('click');
                GetAllLanguages();
            }
        });
    }

    function GenerateXML() {
        var modelID = $("#hdnModelID").val();
        $("input[name='Id']").val(modelID);
        $("#frmXML").submit();
    }

    function SaveModel() {
        var myForm = $('#frmModel');
        $.validator.unobtrusive.parse(myForm);

        if (myForm.valid()) {            
            showLoader();
            myForm.submit();
        }
    }
</script>

<script src="~/Scripts/asset.js"></script>