﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Activities";
}
<style>
    .footer,
    .push {
        height: 50px;
    }

    .k-grid-header {
        background-color: darkblue !important;
    }

        .k-grid-header th.k-header {
            background-color: #a42639 !important;
        }

    html .k-edit-cell .k-tooltip, html .k-grid-edit-row .k-tooltip {
        margin: 0px;
        color: Red;
        background: pink;
    }
</style>
<div id="gridActivities" class="checkout-right animated wow slideInUp" style="padding-top:0px;" data-wow-delay=".5s">
    @(Html.Kendo().Grid<_3DLContentManagement.Models.ActivityModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.ActivityName).Title("Name");
            columns.Bound(p => p.ActivityTypeName).Title("Activity Type");
            columns.Bound(p => p.IsModelSpecific).Width(130).Title("Model Specific").ClientTemplate("#if(IsModelSpecific) {# Single #}else {# Multiple #}#").Filterable(filterable => filterable.Messages(m => m.IsFalse("Multiple")).Messages(m => m.IsTrue("Single&nbsp;")));
            columns.Bound(p => p.IsActivityEnabled).Width(130).Title("Status").ClientTemplate("#if(IsActivityEnabled) {# Enabled #}else {# Disabled #}#").Filterable(filterable => filterable.Messages(m => m.IsFalse("Disabled")).Messages(m => m.IsTrue("Enabled&nbsp;")));
            columns.Command(command =>
            {
                command.Edit().Text("<span class='fa fa-pencil-square text-success k-i-edit' data-toggle='tooltip' data-placement='top' title='Click here to update'></span>")
                .UpdateText("<span class='fa fa-floppy-o text-success' data-toggle='tooltip' data-placement='top' title='Click here to update'></span>")
                .CancelText("<span class='fa fa-ban text-danger' data-toggle='tooltip' data-placement='top' title='Click here to cancel'></span>");
                command.Custom("Delete").Text("<span class='fa fa-trash-o text-danger k-i-delete' data-toggle='tooltip' data-placement='top' title='Click here to delete'></span>").Click("deleteItem");
            })
                .Title("<b>Actions</b>").Width(100);
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine))
        .Pageable(pager => pager.PageSizes(true).PageSizes(new int[] { 10, 25, 50, 100 }))
        .Sortable().Events(events => events.DataBound("onDataBound"))
        //.Scrollable()
        //.Sortable(c => c.AllowUnsort(false))
        .Filterable(filterable => filterable
            .Extra(false)
            .Operators(operators => operators
                .ForString(str => str.Clear()
                    .StartsWith("Starts with")
                    .IsEqualTo("Is equal to")
                    .IsNotEqualTo("Is not equal to")
                    .Contains("Contains")
                ))
        )
        .HtmlAttributes(new { style = "min-height:350px;" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .Sort(sort => sort.Add("ActivityName").Ascending())
            .Model(model =>
            {
                model.Id(p => p.ActivityId);
                model.Field(p => p.IsActivityEnabled).DefaultValue(true);
                model.Field(p => p.CreatedBy).Editable(false);
            })
            .PageSize(10)
            .Events(events => events.Error("error_handler").RequestEnd("request_end").RequestStart("request_start"))
            .Model(model => model.Id(p => p.ActivityId))
            .Create(update => update.Action("AddUpdateActivity", "Activities").Data("AdditionalInfo"))
            .Read(read => read.Action("GetAssetActivities", "Home").Data("AdditionalInfo"))
            .Update(update => update.Action("AddUpdateActivity", "Activities").Data("AdditionalInfo"))
            .Destroy(update => update.Action("DeleteActivity", "Activities").Data("AdditionalInfo"))
        )
    )
</div>
<script id="customPopUpTemplate" type="text/x-kendo-template">
    <div class="k-edit-label">ActivityName: </div>
    <div class="k-edit-field">
        <input name="ActivityName" required class="k-textbox" />
    </div>
</script>
@*<script>
    function AdditionalInfo() {
        var id = @ViewBag.AssetId;
        return {
            Id: id
        }
    }
</script>*@
