﻿@model _3DLContentManagement.Models.ExplorerModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12 mb-0">
        <hr />
        @{
            if (Model.dirModelList.Count == 0 && Model.fileModelList.Count == 0)
            {
                <h3>No content(s) available in this version <span style="color: #a42639;">@ViewBag.VersionNumber</span>.</h3>
            }
            else
            {
                <h3>Following content(s) is available in this version <span style="color: #a42639;">@ViewBag.VersionNumber</span>:</h3>
                <div class="table-responsive" id="master">
                    <table class="table table-bordered" style="width:50%;margin-left:5%;">
                        <tbody>
                            <tr>
                                <th width="70%">Directory or File Name</th>
                                <th width="30%">Directory or File Size</th>
                            </tr>

                            @foreach (_3DLContentManagement.Models.DirModel dir in Model.dirModelList)
                            {
                                <tr>
                                    <td scope="row">
                                        <i class="fa fa-folder" style="color:#efd59e"></i>&nbsp;@dir.DirName
                                    </td>
                                    <td>@dir.DirSizeText</td>
                                </tr>
                            }

                            @foreach (_3DLContentManagement.Models.FileModel file in Model.fileModelList)
                            {
                                <tr>
                                    <td scope="row">
                                        <i class="fa fa-file" style="color:#b2adad"></i>&nbsp;@file.FileName
                                    </td>
                                    <td>@file.FileSizeText</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        }
    </div>
</div>
