﻿
@{
    Layout = null;
}
<style>
    .alert {
        margin-bottom: 0px !important;
    }
</style>


@using (Html.BeginForm("AssignDetails", "Home", FormMethod.Post, new { @id = "formAssign", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-xs-3">
            <label class="col-form-label" for="example-text-input">Package</label>
        </div>
        <div class="col-xs-3">
            <label class="col-form-label" for="example-text-input">Language</label>
        </div>
        <div class="col-xs-3">
            <label class="col-form-label" for="example-text-input">Grade</label>
        </div>
        <div class="col-xs-3">
            <label class="col-form-label" for="example-text-input">Syllabus</label>
        </div>
    </div>
    <div class="row">
        <input name="txtAssetIds" type="hidden" id="txtAssetIds" value="" />
        <input name="txtPackageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
        <input name="txtLanguageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
        <input name="txtGradeId" type="hidden" value="00000000-0000-0000-0000-000000000000">
        <input name="txtSyllabusId" type="hidden" value="00000000-0000-0000-0000-000000000000">
        <input name="txtStreamId" type="hidden" value="00000000-0000-0000-0000-000000000000">
        <input name="txtSubjectId" type="hidden" value="00000000-0000-0000-0000-000000000000">
        <input name="txtTopicId" type="hidden" value="00000000-0000-0000-0000-000000000000">
        <input name="txtSubtopicId" type="hidden" value="00000000-0000-0000-0000-000000000000">
        <input name="txtIsDeleted" type="hidden" value="True">
        <div class="col-xs-3">
            <input class="form-control package" maxlength="100" name="txtPackage" placeholder="Package" type="text" value="">
        </div>
        <div class="col-xs-3">
            <input class="form-control planguage" maxlength="100" name="txtLanguage" placeholder="Language" type="text" value="">
        </div>
        <div class="col-xs-3">
            <input class="form-control grade" maxlength="100" name="txtGrade" placeholder="Grade" type="text" value="">
        </div>
        <div class="col-xs-3">
            <input class="form-control syllabus" maxlength="100" name="txtSyllabus" placeholder="Syllabus" type="text" value="">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-3">
            <label class="col-form-label" for="example-text-input">Stream</label>
        </div>
        <div class="col-xs-3">
            <label class="col-form-label" for="example-text-input">Subject</label>
        </div>
        <div class="col-xs-3">
            <label class="col-form-label" for="example-text-input">Topic</label>
        </div>
        <div class="col-xs-3">
            <label class="col-form-label" for="example-text-input">Subtopic</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <input class="form-control stream" maxlength="100" name="txtStream" placeholder="Stream" type="text" value="">
        </div>
        <div class="col-xs-3">
            <input class="form-control subject" maxlength="100" name="txtSubject" placeholder="Subject" type="text" value="">
        </div>
        <div class="col-xs-3">
            <input class="form-control topic" maxlength="100" name="txtTopic" placeholder="Topic" type="text" value="">
        </div>
        <div class="col-xs-3">
            <input class="form-control subtopic" maxlength="100" name="txtSubtopic" placeholder="Subtopic" type="text" value="">
        </div>
    </div>
    <br />
    <div class="alert alert-danger" id="divError" style="display:none">
    </div>
}

<script>
    var availablePackages = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Package));

    $(document).ready(function () {
        $("#txtAssetIds").val(allSelectedModels);

        GetPackages();

        $(".package").each(function () {
            packageRef = $(this);
            if ($(this).val().length > 0) {
                var id = $(this).attr('name') + 'Id';
                var packageId = $("input[name='" + id + "']").val();
                $.ajax({
                    url: '/Home/GetLanguagesAndGrades',
                    data: { Id: packageId },
                    type: 'GET',
                    async: false,
                    success: function (data) {
                        if (packageRef != undefined) {
                            GetLanguages(packageRef, data.Languages);
                            GetGrades(packageRef, data.Grades);
                        }
                    }
                });
            }
        });

        $(".grade").each(function () {
            gradeRef = $(this);
            if ($(this).val().length > 0) {
                var id = $(this).attr('name') + 'Id';
                var gradeId = $("input[name='" + id + "']").val();
                $.ajax({
                    url: '/Home/GetSyllabus',
                    data: { Id: gradeId },
                    type: 'GET',
                    async: false,
                    success: function (data) {
                        GetSyllabus(gradeRef, data.Syllabus);
                        GetStreams(gradeRef, data.Streams);
                        GetSubjects(gradeRef, data.Subjects);
                    }
                });
            }
        });

        $(".subject").each(function () {
            subjectRef = $(this);
            if ($(this).val().length > 0) {
                var id = $(this).attr('name') + 'Id';
                var subjectId = $("input[name='" + id + "']").val();
                $.ajax({
                    url: '/Home/GetTopics',
                    data: { Id: subjectId },
                    type: 'GET',
                    async: false,
                    success: function (data) {
                        GetTopics(subjectRef, data.Topics);
                    }
                });
            }
        });

        $(".topic").each(function () {
            topicRef = $(this);
            if ($(this).val().length > 0) {
                var id = $(this).attr('name') + 'Id';
                var topicId = $("input[name='" + id + "']").val();
                $.ajax({
                    url: '/Home/GetSubtopics',
                    data: { Id: topicId },
                    type: 'GET',
                    async: false,
                    success: function (data) {
                        GetSubtopics(topicRef, data.Subtopics);
                    }
                });
            }
        });
    });

    function split(val) {
        return val.split(/,\s*/);
    }

    function extractLast(term) {
        return split(term).pop();
    }

    function GetPackages() {
        var packageRef;
        $(".package").each(function () {
            packageRef = $(this);
            $(this).autocomplete({
                minLength: 0,
                source: function (request, response) {
                    response($.map(availablePackages, function (item) {
                        if (item.Text.toLowerCase().includes(request.term.toLowerCase())) {
                            return { label: item.Text, value: item.Text, id: item.Value };
                        }
                    }));
                },
                select: function (event, ui) {
                    var id = $(this).attr('name') + 'Id';
                    $("input[name='" + id + "']").val(ui.item.id);
                    $(this).val(ui.item.value);
                    packageRef = $(this);
                    return false;
                },
                change: function (event, ui) {
                    var lang = $(this).parent().next().find(".planguage");
                    var langId = lang.attr('name') + 'Id';
                    $("input[name='" + langId + "']").val('00000000-0000-0000-0000-000000000000');
                    lang.val('');

                    var gr = $(this).parent().next().next().find(".grade");
                    var grId = gr.attr('name') + 'Id';
                    $("input[name='" + grId + "']").val('00000000-0000-0000-0000-000000000000');
                    gr.val('');

                    var sy = gr.parent().next().find(".syllabus");
                    var syId = sy.attr('name') + 'Id';
                    $("input[name='" + syId + "']").val('00000000-0000-0000-0000-000000000000');
                    sy.val('');

                    var str = gr.parent().parent().next().next().next().find(".stream");
                    var strId = str.attr('name') + 'Id';
                    $("input[name='" + strId + "']").val('00000000-0000-0000-0000-000000000000');
                    str.val('');

                    var sub = gr.parent().parent().next().next().next().find(".subject");
                    var subId = sub.attr('name') + 'Id';
                    $("input[name='" + subId + "']").val('00000000-0000-0000-0000-000000000000');
                    sub.val('');

                    var t = sub.parent().next().find(".topic");
                    var tId = t.attr('name') + 'Id';
                    $("input[name='" + tId + "']").val('00000000-0000-0000-0000-000000000000');
                    t.val('');

                    var st = sub.parent().next().next().find(".subtopic");
                    var stId = st.attr('name') + 'Id';
                    $("input[name='" + stId + "']").val('00000000-0000-0000-0000-000000000000');
                    st.val('');

                    if (ui.item == null) {
                        var terms = split(this.value);
                        var last = terms.pop();
                        if (last != '') {
                            alert('<b>' + last + '</b> is not available in master data, please contact to Administrator to add this in master data.');
                            $(this).val(this.value.substr(0, this.value.length - last.length - 2)); // removes text from input
                            $(this).effect("highlight", {}, 5000);
                            $(this).attr("style", "border: solid 1px red;");
                        }
                        else {
                            var id = $(this).attr('name') + 'Id';
                            $("input[name='" + id + "']").val('00000000-0000-0000-0000-000000000000');
                            $(this).val('');

                            var name = $(this).attr('name');
                            name = name.replace("Package", "IsDeleted");
                            $("input[name='" + name + "']").val("True");
                        }
                        return false;
                    }
                    else {
                        var name = $(this).attr('name');
                        name = name.replace("Package", "IsDeleted");
                        $("input[name='" + name + "']").val("False");

                        $.ajax({
                            url: '/Home/GetLanguagesAndGrades',
                            data: { Id: ui.item.id },
                            type: 'GET',
                            async: false,
                            success: function (data) {
                                if (packageRef != undefined) {
                                    GetLanguages(packageRef, data.Languages);
                                    GetGrades(packageRef, data.Grades);
                                }
                            }
                        });
                    }
                }
            });
        });
    }

    function GetLanguages(ref, data) {
        var element = $(ref).parent().next().find(".planguage");
        $(element).autocomplete({
            minLength: 0,
            source: function (request, response) {
                response($.map(data, function (item) {
                    if (item.Text.toLowerCase().includes(extractLast(request.term.toLowerCase()))) {
                        return { label: item.Text, value: item.Text, id: item.Value };
                    }
                }));
            },
            select: function (event, ui) {
                var id = $(this).attr('name') + 'Id';
                $("input[name='" + id + "']").val(ui.item.id);
                $(this).val(ui.item.value);
                return false;
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    var terms = split(this.value);
                    var last = terms.pop();
                    if (last != '') {
                        alert('<b>' + last + '</b> is not available in master data, please contact to Administrator to add this in master data.');
                        $(this).val(this.value.substr(0, this.value.length - last.length - 2)); // removes text from input
                        $(this).effect("highlight", {}, 5000);
                        $(this).attr("style", "border: solid 1px red;");
                    }
                    else {
                        var id = $(this).attr('name') + 'Id';
                        $("input[name='" + id + "']").val('00000000-0000-0000-0000-000000000000');
                        $(this).val('');
                    }
                    return false;
                }
            }
        });
    }

    function GetGrades(ref, data) {
        var element = $(ref).parent().next().next().find(".grade");
        $(element).on("keydown", function (event) {
            if (event.keyCode === $.ui.keyCode.TAB &&
                $(this).autocomplete("instance").menu.active) {
                event.preventDefault();
            }
        })
            .autocomplete({
                minLength: 0,
                source: function (request, response) {
                    response($.map(data, function (item) {
                        if (item.Text.toLowerCase().includes(extractLast(request.term.toLowerCase()))) {
                            return { label: item.Text, value: item.Text, id: item.Value };
                        }
                    }));
                },
                focus: function () {
                    return false;
                },
                select: function (event, ui) {
                    var id = $(this).attr('name') + 'Id';
                    $("input[name='" + id + "']").val(ui.item.id);
                    $(this).val(ui.item.value);
                    element = $(this);
                    return false;
                },
                change: function (event, ui) {
                    var sy = $(this).parent().next().find(".syllabus");
                    var syId = sy.attr('name') + 'Id';
                    $("input[name='" + syId + "']").val('00000000-0000-0000-0000-000000000000');
                    sy.val('');

                    var str = $(this).parent().parent().next().next().next().find(".stream");
                    var strId = str.attr('name') + 'Id';
                    $("input[name='" + strId + "']").val('00000000-0000-0000-0000-000000000000');
                    str.val('');

                    var sub = $(this).parent().parent().next().next().next().find(".subject");
                    var subId = sub.attr('name') + 'Id';
                    $("input[name='" + subId + "']").val('00000000-0000-0000-0000-000000000000');
                    sub.val('');

                    var t = sub.parent().next().find(".topic");
                    var tId = t.attr('name') + 'Id';
                    $("input[name='" + tId + "']").val('00000000-0000-0000-0000-000000000000');
                    t.val('');

                    var st = sub.parent().next().next().find(".subtopic");
                    var stId = st.attr('name') + 'Id';
                    $("input[name='" + stId + "']").val('00000000-0000-0000-0000-000000000000');
                    st.val('');

                    if (ui.item == null) {
                        var terms = split(this.value);
                        var last = terms.pop();
                        if (last != '') {
                            alert('<b>' + last + '</b> is not available in master data, please contact to Administrator to add this in master data.');
                            $(this).val(this.value.substr(0, this.value.length - last.length - 2)); // removes text from input
                            $(this).effect("highlight", {}, 5000);
                            $(this).attr("style", "border: solid 1px red;");
                        }
                        else {
                            var id = $(this).attr('name') + 'Id';
                            $("input[name='" + id + "']").val('00000000-0000-0000-0000-000000000000');
                            $(this).val('');
                        }
                        return false;
                    }
                    else {
                        $.ajax({
                            url: '/Home/GetSyllabus',
                            data: { Id: ui.item.id },
                            type: 'GET',
                            async: false,
                            success: function (data) {
                                GetSyllabus(element, data.Syllabus);
                                GetStreams(element, data.Streams);
                                GetSubjects(element, data.Subjects);
                            }
                        });
                    }
                }
            });
        //});
    }

    function GetSyllabus(ref, data) {
        //$(".syllabus").each(function () {
        var element = $(ref).parent().next().find(".syllabus");
        $(element).on("keydown", function (event) {
            if (event.keyCode === $.ui.keyCode.TAB &&
                $(this).autocomplete("instance").menu.active) {
                event.preventDefault();
            }
        })
            .autocomplete({
                minLength: 0,
                source: function (request, response) {
                    response($.map(data, function (item) {
                        if (item.Text.toLowerCase().includes(extractLast(request.term.toLowerCase()))) {
                            return { label: item.Text, value: item.Text, id: item.Value };
                        }
                    }));
                },
                focus: function () {
                    return false;
                },
                select: function (event, ui) {
                    var id = $(this).attr('name') + 'Id';
                    $("input[name='" + id + "']").val(ui.item.id);
                    $(this).val(ui.item.value);
                    return false;
                },
                change: function (event, ui) {
                    if (ui.item == null) {
                        var terms = split(this.value);
                        var last = terms.pop();
                        if (last != '') {
                            alert('<b>' + last + '</b> is not available in master data, please contact to Administrator to add this in master data.');
                            $(this).val(this.value.substr(0, this.value.length - last.length - 2)); // removes text from input
                            $(this).effect("highlight", {}, 5000);
                            $(this).attr("style", "border: solid 1px red;");
                        }
                        else {
                            var id = $(this).attr('name') + 'Id';
                            $("input[name='" + id + "']").val('00000000-0000-0000-0000-000000000000');
                            $(this).val('');
                        }
                        return false;
                    }
                }
            });
        //});
    }

    function GetStreams(ref, data) {
        //$(".stream").each(function () {
        var element = $(ref).parent().parent().next().next().next().find(".stream");
        $(element).on("keydown", function (event) {
            if (event.keyCode === $.ui.keyCode.TAB &&
                $(this).autocomplete("instance").menu.active) {
                event.preventDefault();
            }
        })
            .autocomplete({
                minLength: 0,
                source: function (request, response) {
                    response($.map(data, function (item) {
                        if (item.Text.toLowerCase().includes(extractLast(request.term.toLowerCase()))) {
                            return { label: item.Text, value: item.Text, id: item.Value };
                        }
                    }));
                },
                focus: function () {
                    return false;
                },
                select: function (event, ui) {
                    var id = $(this).attr('name') + 'Id';
                    $("input[name='" + id + "']").val(ui.item.id);
                    $(this).val(ui.item.value);
                    return false;
                },
                change: function (event, ui) {
                    if (ui.item == null) {
                        var terms = split(this.value);
                        var last = terms.pop();
                        if (last != '') {
                            alert('<b>' + last + '</b> is not available in master data, please contact to Administrator to add this in master data.');
                            $(this).val(this.value.substr(0, this.value.length - last.length - 2)); // removes text from input
                            $(this).effect("highlight", {}, 5000);
                            $(this).attr("style", "border: solid 1px red;");
                        }
                        else {
                            var id = $(this).attr('name') + 'Id';
                            $("input[name='" + id + "']").val('00000000-0000-0000-0000-000000000000');
                            $(this).val('');
                        }
                        return false;
                    }
                }
            });
        //});
    }

    function GetSubjects(ref, data) {
        //$(".subject").each(function () {
        var element = $(ref).parent().parent().next().next().next().find(".subject");
        $(element).on("keydown", function (event) {
            if (event.keyCode === $.ui.keyCode.TAB &&
                $(this).autocomplete("instance").menu.active) {
                event.preventDefault();
            }
        })
            .autocomplete({
                minLength: 0,
                source: function (request, response) {
                    response($.map(data, function (item) {
                        if (item.Text.toLowerCase().includes(extractLast(request.term.toLowerCase()))) {
                            return { label: item.Text, value: item.Text, id: item.Value };
                        }
                    }));
                },
                focus: function () {
                    return false;
                },
                select: function (event, ui) {
                    var id = $(this).attr('name') + 'Id';
                    $("input[name='" + id + "']").val(ui.item.id);
                    $(this).val(ui.item.value);
                    element = $(this);
                    return false;
                },
                change: function (event, ui) {
                    var t = $(this).parent().next().find(".topic");
                    var tId = t.attr('name') + 'Id';
                    $("input[name='" + tId + "']").val('00000000-0000-0000-0000-000000000000');
                    t.val('');

                    var st = $(this).parent().next().next().find(".subtopic");
                    var stId = st.attr('name') + 'Id';
                    $("input[name='" + stId + "']").val('00000000-0000-0000-0000-000000000000');
                    st.val('');

                    if (ui.item == null) {
                        var terms = split(this.value);
                        var last = terms.pop();
                        if (last != '') {
                            alert('<b>' + last + '</b> is not available in master data, please contact to Administrator to add this in master data.');
                            $(this).val(this.value.substr(0, this.value.length - last.length - 2)); // removes text from input
                            $(this).effect("highlight", {}, 5000);
                            $(this).attr("style", "border: solid 1px red;");
                        }
                        else {
                            var id = $(this).attr('name') + 'Id';
                            $("input[name='" + id + "']").val('00000000-0000-0000-0000-000000000000');
                            $(this).val('');
                        }
                        return false;
                    }
                    else {
                        $.ajax({
                            url: '/Home/GetTopics',
                            data: { Id: ui.item.id },
                            type: 'GET',
                            async: false,
                            success: function (data) {
                                GetTopics(element, data.Topics);
                            }
                        });
                    }
                }
            });
        //});
    }

    function GetTopics(ref, data) {
        //$(".topic").each(function () {
        var element = $(ref).parent().next().find(".topic");
        $(element).on("keydown", function (event) {
            if (event.keyCode === $.ui.keyCode.TAB &&
                $(this).autocomplete("instance").menu.active) {
                event.preventDefault();
            }
        })
            .autocomplete({
                minLength: 0,
                source: function (request, response) {
                    response($.map(data, function (item) {
                        if (item.Text.toLowerCase().includes(extractLast(request.term.toLowerCase()))) {
                            return { label: item.Text, value: item.Text, id: item.Value };
                        }
                    }));
                },
                focus: function () {
                    return false;
                },
                select: function (event, ui) {
                    var id = $(this).attr('name') + 'Id';
                    $("input[name='" + id + "']").val(ui.item.id);
                    $(this).val(ui.item.value);
                    element = $(this);
                    return false;
                },
                change: function (event, ui) {
                    var st = $(this).parent().next().find(".subtopic");
                    var stId = st.attr('name') + 'Id';
                    $("input[name='" + stId + "']").val('00000000-0000-0000-0000-000000000000');
                    st.val('');

                    if (ui.item == null) {
                        var terms = split(this.value);
                        var last = terms.pop();
                        if (last != '') {
                            alert('<b>' + last + '</b> is not available in master data, please contact to Administrator to add this in master data.');
                            $(this).val(this.value.substr(0, this.value.length - last.length - 2)); // removes text from input
                            $(this).effect("highlight", {}, 5000);
                            $(this).attr("style", "border: solid 1px red;");
                        }
                        else {
                            var id = $(this).attr('name') + 'Id';
                            $("input[name='" + id + "']").val('00000000-0000-0000-0000-000000000000');
                            $(this).val('');
                        }
                        return false;
                    }
                    else {
                        $.ajax({
                            url: '/Home/GetSubtopics',
                            data: { Id: ui.item.id },
                            type: 'GET',
                            async: false,
                            success: function (data) {
                                GetSubtopics(element, data.Subtopics);
                            }
                        });
                    }
                }
            });
        //});
    }

    function GetSubtopics(ref, data) {
        //$(".subtopic").each(function () {
        var element = $(ref).parent().next().find(".subtopic");
        $(element).on("keydown", function (event) {
            if (event.keyCode === $.ui.keyCode.TAB &&
                $(this).autocomplete("instance").menu.active) {
                event.preventDefault();
            }
        })
            .autocomplete({
                minLength: 0,
                source: function (request, response) {
                    response($.map(data, function (item) {
                        if (item.Text.toLowerCase().includes(extractLast(request.term.toLowerCase()))) {
                            return { label: item.Text, value: item.Text, id: item.Value };
                        }
                    }));
                },
                focus: function () {
                    return false;
                },
                select: function (event, ui) {
                    var id = $(this).attr('name') + 'Id';
                    $("input[name='" + id + "']").val(ui.item.id);
                    $(this).val(ui.item.value);
                    return false;
                },
                change: function (event, ui) {
                    if (ui.item == null) {
                        var terms = split(this.value);
                        var last = terms.pop();
                        if (last != '') {
                            alert('<b>' + last + '</b> is not available in master data, please contact to Administrator to add this in master data.');
                            $(this).val(this.value.substr(0, this.value.length - last.length - 2)); // removes text from input
                            $(this).effect("highlight", {}, 5000);
                            $(this).attr("style", "border: solid 1px red;");
                        }
                        else {
                            var id = $(this).attr('name') + 'Id';
                            $("input[name='" + id + "']").val('00000000-0000-0000-0000-000000000000');
                            $(this).val('');
                        }
                        return false;
                    }
                }
            });
        //});
    }
</script>
@*<script src="~/Scripts/assign.js?v=1"></script>*@


