﻿@using Kendo.Mvc.UI;
@model _3DLContentManagement.Models.AssetRelationModel
@{
    Layout = null;
}
<style>
    .footer,
    .push {
        height: 50px;
    }

    .k-grid-header {
        background-color: darkblue !important;
    }

        .k-grid-header th.k-header {
            background-color: #a42639 !important;
        }

    html .k-edit-cell .k-tooltip, html .k-grid-edit-row .k-tooltip {
        margin: 0px;
        color: Red;
        background: pink;
    }

    .k-grid-content {
        overflow-x: scroll;
        overflow-y: visible;
    }

    input[type=search] {
        height: 2.43em;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: white;
        background-image: url('../../Content/images/searchicon.png');
        background-position: 5px 5px;
        background-repeat: no-repeat;
        padding: 5px 10px 5px 30px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    .btnReset {
        background-color: #808080 !important;
    }
</style>
<div style="padding-bottom: 30px;">
    <label>Select Models to associate with @Model.SelectedAssetName <span class="text-danger">*</span>&nbsp;</label>
    <span id="model">@ViewBag.SelectedAsset</span>
</div>
<div id="gvAssets" class="checkout-right animated wow slideInUp" style="padding-top:0px;" data-wow-delay=".5s">
    @(Html.Kendo().Grid<_3DLContentManagement.Models.AssetViewModel>()
        .Name("gridModule")
        .Columns(columns =>
        {
            columns.Bound(p => p.AssetID).Title("Select").Width(55).Filterable(false).HtmlAttributes(new { @class = "text-center" }).Template(@<text></text>).ClientTemplate("<input type='checkbox' #= IsDeleted ? checked='checked' : '' # class='#= IsDeleted ? 'chkbx checkedbox' : 'chkbx' #' id='#= AssetID #' />");
                    columns.Bound(p => p.FilePath).Hidden(true);
                    columns.Bound(p => p.AssetName).Title("Name").Width(150);
                    columns.Bound(p => p.FileName).Title("File Name").Width(200);
                    columns.Bound(p => p.FileSize).Title("File Size").Width(100).Filterable(false).ClientTemplate("#: FileSizeText #"); ;
                    columns.Bound(p => p.FileSizeText).Title("File Size").Hidden(true);
                    columns.Bound(p => p.Status).Title("Status").Width(100);
                    columns.Bound(p => p.AssetType).Title("Type").Width(100);
                    columns.Bound(p => p.Language).Title("Language").Width(100);
                    columns.Bound(p => p.Subject).Title("Subject").Width(150);
                    columns.Bound(p => p.Topic).Title("Topic").Width(150);
                    columns.Bound(p => p.Subtopic).Title("Subtopic").Width(150).HtmlAttributes(new { title = "#= SubtopicDesc #" });
                    //columns.Bound(p => p.Tags).Title("Tags").Hidden(true);
                })
                //Added a template to the toolbar
                .ToolBar(toolbar =>
                {
                    toolbar.Template(
                    @<Text>
                        <div class="toolbar" style="float:right; margin-top:-35px;">
                            <input type="search" class="searchBox" placeholder="Search.." style="width: 165px" tabindex="1" />
                            <input type="button" class="k-button btnReset" style="color:#fff;margin-left:5px !important;" value="Reset" tabindex="3" />
                            <input type="button" class="k-button btnSearch" style="color:#fff;margin-left:5px !important;" value="Search" tabindex="2" />
                        </div>
                    </Text>);
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine))
                .Pageable(pager => pager.PageSizes(true).PageSizes(new int[] { 10, 25, 50, 100 }))
                //.Scrollable(s => s.Height("auto"))
                .Sortable()
                .Resizable(rsb => rsb.Columns(true))
                .Reorderable(r => r.Columns(true))
                .Events(events => events.DataBound("onDataBound"))
                .Filterable(filterable => filterable
                .Extra(false)
                .Operators(operators => operators
                    .ForString(str => str.Clear()
                    .StartsWith("Starts with")
                    .IsEqualTo("Is equal to")
                    .IsNotEqualTo("Is not equal to").Contains("Contains")
                    ))
                )
                .HtmlAttributes(new { style = "min-height:350px;" })
                .DataSource(dataSource => dataSource
                .Ajax()
                //.Sort(sort => sort.Add("AssetName"))
                .Model(model =>
                {
                    model.Id(p => p.AssetID);
                    model.Field(p => p.IsActive).DefaultValue(true);
                    model.Field(p => p.FileName).Editable(false);
                    model.Field(p => p.ModifiedOn).Editable(false);
                    model.Field(p => p.ModifiedByName).Editable(false);
                })
                .PageSize(10)
                .Events(events => events.Error("error_handler").RequestEnd("request_end").RequestStart("request_start"))
                .Model(model => model.Id(p => p.AssetID))
                .Read(read => read.Action("GetAllModule", "Home").Data("AdditionalInfo"))
                )
    )

    <script type="text/javascript">
                        var selectedCount = @ViewBag.SelectedCount;

                        $(function () {
                            var grid = $("#gridModule").data("kendoGrid");

                            $("#gridModule").on("keypress", ".searchBox", function (e) {
                                var key = e.which || e.keyCode;
                                if (key == 13) {
                                    if ($("#gridModule").find('.searchBox').val() == null || $("#gridModule").find('.searchBox').val() == '') {
                                        $("#gridModule").find('.btnReset').trigger('click');
                                    }
                                    else {
                                        $("#gridModule").find('.btnSearch').trigger('click');
                                    }
                                }
                            });

                            $('input').keydown(function (event) {
                                if (event.keyCode == 9 && $(event.target).is('.btnReset')) {
                                    $("#gridModule").find('.searchBox').focus();
                                    event.preventDefault();
                                }
                                else if (event.keyCode == 27) {
                                    $("#gridModule").find('.btnReset').focus();
                                    event.preventDefault();
                                }
                            });

                            if ($("#gridModule").find('.searchBox').val() != null && $("#gridModule").find('.searchBox').val() != '') {
                                $("#gridModule").find('.btnSearch').trigger('click');
                            }
                        });

                        //Searching the Grid by the value of the textbox
                        $("#gridModule").on("click", ".btnSearch", function (e) {
                            var searchValue = $("#gridModule").find('.searchBox').val();

                            //Setting the filter of the Grid
                            $("#gridModule").data("kendoGrid").dataSource.filter({
                                logic: "or",
                                filters: [
                                    {
                                        field: "AssetName",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "FileName",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "FileSizeText",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Status",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "AssetType",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Language",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Subject",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Topic",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Subtopic",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    //{
                                    //    field: "Tags",
                                    //    operator: "contains",
                                    //    value: searchValue
                                    //},
                                    //{
                                    //    field: "ModifiedOn",
                                    //    operator: "contains",
                                    //    value: searchValue
                                    //},
                                    {
                                        field: "ModifiedByName",
                                        operator: "contains",
                                        value: searchValue
                                    }
                                ]
                            });
                        });

                        //Clearing the filter
                        $("#gridModule").on("click", ".btnReset", function (e) {
                            $("#gridModule").find('.searchBox').val("");
                            $("#gridModule").data("kendoGrid").dataSource.filter({});
                        });

                        function error_handler(e) {
                            if (typeof e.errors === 'string') {
                                var grid = $("#gridModule").data("kendoGrid");
                                grid.cancelChanges();
                            }
                        }

                        function request_start(e) {
                            kendo.ui.progress($("#gridModule"), false);
                        }

                        function request_end(e) {
                            if (typeof e.response.Errors === 'string')
                                return false;
                        }

                        function onDataBound(e) {
                            $('[data-toggle="tooltip"]').tooltip();
                            ShowNoDataMsgGrid(e);
                        }
    </script>
</div>
<br />
@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmLinkedAssets", enctype = "multipart/form-data" }))
{
<div class="row">
    @Html.HiddenFor(x => Model.SelectedAssetId)
    @Html.HiddenFor(x => Model.SelectedAssetName)
    @for (int i = 0; i < Model.LinkedAssets.Count; i++)
    {
        int num = Model.LinkedAssets[i].LinkedAssetId;
        @Html.HiddenFor(x => Model.LinkedAssets[i].RelationId)
        @Html.HiddenFor(x => Model.LinkedAssets[i].LinkedAssetId)
        @Html.HiddenFor(x => Model.LinkedAssets[i].LinkedAssetName)
        @Html.HiddenFor(x => Model.LinkedAssets[i].LinkedContentId)
        @Html.HiddenFor(x => Model.LinkedAssets[i].IsSelected, new { @class = num })
    }
    <div class="col-md-12">
        <button type="button" id="btnConfirm" name="btnConfirm" onclick="SaveLinkedAssets();" class="btn btn-primary disabled">Save Details</button>
    </div>
</div>
}
<script>
    var max = '@System.Configuration.ConfigurationManager.AppSettings["MaxAssetAllowed"].ToString()';
    var message = "Maximum " + max + " models allowed to linked with the selected model.";

    $(function () {
        if (selectedCount > 0) {
            $('#btnConfirm').removeClass('disabled');
        }

        $('#gridModule').on('click', '.chkbx', function () {
            var checked = $(this).is(':checked');
            var grid = $('#gridModule').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));
            var id = $(this).attr('id');

            if (checked == false) {
                selectedCount--;
                $(this).removeClass('checkedbox');
                $("." + id).val("False");
            }
            else {
                selectedCount++;
                $(this).addClass('checkedbox')
                $("." + id).val("True");
            }

            var allSelected = $("#gridModule .checkedbox");
            var selectedModels = '';
            $.each(allSelected, function (e) {
                dataItem = grid.dataItem($(this).closest('tr'));
                selectedModels = selectedModels + dataItem.AssetName + ', ';
            });
            $('#model').html(selectedModels.substring(0, selectedModels.length - 2));

            if (selectedCount > 0) {
                $('#btnConfirm').removeClass('disabled');
            }
            else {
                $('#btnConfirm').addClass('disabled');
            }

            //$('body, html').animate({ scrollTop: $('#btnConfirm').offset().top }, 'slow');
        });
    });

    function SaveLinkedAssets() {
        if (selectedCount == 0) {
            alert("Select atleast 1 model");
        }
        else if (selectedCount > max) {
            alert(message);
        }
        else {
            var myForm = $('#frmLinkedAssets');
            $.ajax({
                url: "@Url.Action("SaveLinkedAssets", "Home")",
                type: "POST",
                data: myForm.serialize(),
                success: function (data) {
                    alert(data);
                }
            })
        }
    }
</script>
