﻿@model _3DLContentManagement.Models.PuzzleModel
@{
    Layout = null;
    int number = 0;
}
<style>
    #radioPuzzleBtn .notActive {
        color: #3276b1 !important;
        background-color: #fff !important;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmPuzzle", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.PuzzleId)
    @Html.HiddenFor(x => x.PuzzleName)
    @Html.HiddenFor(x => x.IsPuzzleEnabled)
    @Html.HiddenFor(x => x.IsPuzzleDeleted)
    for (int i = 0; i < Model.PuzzleDetails.Count; i++)
    {
        @Html.HiddenFor(x => Model.PuzzleDetails[i].Id)
        @Html.HiddenFor(x => Model.PuzzleDetails[i].AssetId)
        @Html.HiddenFor(x => Model.PuzzleDetails[i].AssetContentId)
        @Html.HiddenFor(x => Model.PuzzleDetails[i].ModelId)
        @Html.HiddenFor(x => Model.PuzzleDetails[i].NumberOfParts)
    }
    for (int p = 0; p < Model.PuzzlePlatforms.Count; p++)
    {
        @Html.HiddenFor(x => Model.PuzzlePlatforms[p].Id)
        @Html.HiddenFor(x => Model.PuzzlePlatforms[p].PlatformId)
        @Html.HiddenFor(x => Model.PuzzlePlatforms[p].PlatformName)
        @Html.HiddenFor(x => Model.PuzzlePlatforms[p].IsSelected)
    }
    <div class="row">
        <div class="col-md-12 mb-0">
            <label class="col-form-label" for="example-text-input">Puzzle Name <span class="text-danger">*</span></label>
        </div>
    </div>
    <div id="divPuzzleName">
        @for (int i = 0; i < Model.Names.Count; i++)
        {
            <div class="row">
                @Html.HiddenFor(x => Model.Names[i].ID)
                @Html.HiddenFor(x => Model.Names[i].LanguageId)
                @Html.HiddenFor(x => Model.Names[i].IsDeleted)
                <div class="form-group col-md-3 mb-0">
                    <div class="col-xs-1" style="padding-left: 0px;">
                        @if (i == 0)
                        {
                            <span class="fa fa-plus" onclick="AddPuzzleNameRow()" data-toggle='tooltip' data-placement='top' title='Add row for new language' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                        }
                        else
                        {
                            <span class="fa fa-minus" data-id="Names[@i].IsDeleted" onclick="RemovePuzzleNameRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                        }
                    </div>
                    <div class="col-xs-10" style="padding-right: 0px;padding-left: 0px;">
                        @Html.TextBoxFor(x => Model.Names[i].Language, new { @class = "form-control language", @placeholder = "Select Language", @maxlength = "100" })
                        <div class="has-danger">
                            <div class="form-control-feedback">
                                @Html.ValidationMessageFor(x => Model.Names[i].Language)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-9 mb-0">
                    @Html.TextBoxFor(x => Model.Names[i].Name, new { @class = "form-control", @placeholder = "Puzzle Name", @maxlength = "100" })
                    <div class="has-danger">
                        <div class="form-control-feedback">
                            @Html.ValidationMessageFor(x => Model.Names[i].Name)
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="AddPuzzleName" style="display:none">
        <div class="row">
            <input name="Names[{count}].ID" type="hidden" value="0">
            <input name="Names[{count}].LanguageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
            <input name="Names[{count}].IsDeleted" type="hidden" value="False">
            <div class="form-group col-md-3 mb-0">
                <div class="col-xs-1" style="padding-left: 0px;">
                    <span class="fa fa-minus" data-id="Names[{count}].IsDeleted" onclick="RemovePuzzleNameRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                </div>
                <div class="col-xs-10" style="padding-right: 0px;padding-left: 0px;">
                    <input class="form-control language" maxlength="100" name="Names[{count}].Language" placeholder="Select Language" type="text" value="">
                </div>
            </div>
            <div class="form-group col-md-9 mb-0">
                <input class="form-control" maxlength="100" name="Names[{count}].Name" placeholder="Asset Name" type="text" value="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label style="display: block;">Platform <span class="text-danger">*</span></label>
            <select class="form-control" id="PuzzlePlatforms" multiple="multiple">
                @foreach (var pl in Model.PuzzlePlatforms)
                {
                    <option class="PuzzlePlatforms_@number" @(pl.IsSelected == true ? "selected" : "") value="@pl.PlatformId">@pl.PlatformName</option>
                    number++;
                }
            </select>
        </div>
        <div class="col-md-2 pull-left">
            <label>Status</label>
            <div class="input-group">
                <div id="radioPuzzleBtn" class="btn-group">
                    <a class="btn btn-success @(Model.IsPuzzleEnabled == true ? "active" : "notActive")" data-toggle="puzzle" data-title="Activate">Activate</a>
                    <a class="btn btn-primary @(Model.IsPuzzleEnabled == false ? "active" : "notActive")" data-toggle="puzzle" data-title="Deactivate">Deactivate</a>
                </div>
            </div>
        </div>
        <div class="col-md-2" style="margin-top: 24px;">
            <button type="button" onclick="SavePuzzle();" class="btn btn-primary">Save Puzzle</button>
        </div>
    </div>
    <div class="row">
        <br />
        <div class="alert alert-info">
            <strong>Info!</strong> On click of Activate, the puzzle will be activated for this model. There are @Model.PuzzleDetails[0].NumberOfParts number of parts in this puzzle.
        </div>
    </div>
}
<script>
    var availableLanguages = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Language));

    $(document).ready(function () {
        GetAllLanguages();

        $('#PuzzlePlatforms').multiselect({
            nonSelectedText: 'Select Platform',
            selectAllValue: 'multiselect-all',
            buttonWidth: '300px',
            maxHeight: 200,
            numberDisplayed: 10,
            selectedClass: 'active',
            includeSelectAllOption: false,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            enableClickableOptGroups: false,
            enableCollapsibleOptGroups: false,
            onChange: function (element, checked) {
                var acId = element.val();
                var id = element.attr('class') + '__IsSelected';
                if (checked) {
                    $("#" + id).val("True");
                }
                else {
                    $("#" + id).val("False");
                }
            }
        });
    })

    $('#radioPuzzleBtn a').on('click', function () {
        var sel = $(this).data('title');
        var tog = $(this).data('toggle');
        $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
        $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');

        if (sel == 'Deactivate') {
            $('#IsPuzzleEnabled').val("False");
        }
        else {
            $('#IsPuzzleEnabled').val("True");
        }
    })

    function ValidatePuzzle() {
        var message = 'Are you sure you want to <b>' + sel + '</b> this puzzle?';

        if (confirm(message, function () {
            SavePuzzle();
        }));
    }

    function SavePuzzle() {
        if ($('#PuzzleDetails_0__NumberOfParts').val() == 0) {
            alert("Add labels to the model to create the puzzle.");
        }
        else {
            var myForm = $('#frmPuzzle');
            $.ajax({
                url: "@Url.Action("SavePuzzle", "Home")",
                type: "POST",
                data: myForm.serialize(),
                success: function (data) {
                    alert(data);
                    $('#grid').data().kendoGrid.dataSource.read();
                    $("#grid").data("kendoGrid").refresh();
                }
            })
        }
    }

    function AddPuzzleNameRow() {
        var num = $('#divPuzzleName').find('.row').length;
        var row = $('.AddPuzzleName').html();
        row = replaceAll(row, "{count}", num);
        $('#divPuzzleName').append(row);
        GetAllLanguages();
    }

    function RemovePuzzleNameRow(e) {
        $(e).closest('.row').hide();
        var id = $(e).attr('data-id');
        $("input[name='" + id + "']").val("True");
    }
</script>
<script src="~/Scripts/asset.js"></script>



