﻿@model _3DLContentManagement.Models.QuizModel
@{
    Layout = null;
    int num = 0;
    int number = 0;
}
<style>
    #radioQuizBtn .notActive {
        color: #3276b1 !important;
        background-color: #fff !important;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmQuiz", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => Model.QuizId)
    @Html.HiddenFor(x => Model.QuizName)
    @Html.HiddenFor(x => Model.IsQuizEnabled)
    @Html.HiddenFor(x => Model.IsQuizDeleted)
    for (int i = 0; i < Model.QuizDetails.Count; i++)
    {
        @Html.HiddenFor(x => Model.QuizDetails[i].Id)
        @Html.HiddenFor(x => Model.QuizDetails[i].AssetId)
        @Html.HiddenFor(x => Model.QuizDetails[i].AssetContentId)
        @Html.HiddenFor(x => Model.QuizDetails[i].ModelId)
        @Html.HiddenFor(x => Model.QuizDetails[i].Labels)
        for (int j = 0; j < Model.QuizDetails[i].QuizLabels.Count; j++)
        {
            @Html.HiddenFor(x => Model.QuizDetails[i].QuizLabels[j].Id)
            @Html.HiddenFor(x => Model.QuizDetails[i].QuizLabels[j].QuizDetailId)
            @Html.HiddenFor(x => Model.QuizDetails[i].QuizLabels[j].LabelId)
            @Html.HiddenFor(x => Model.QuizDetails[i].QuizLabels[j].LabelName)
            @Html.HiddenFor(x => Model.QuizDetails[i].QuizLabels[j].IsSelected)
        }
    }
    for (int p = 0; p < Model.Platforms.Count; p++)
    {
        @Html.HiddenFor(x => Model.Platforms[p].Id)
        @Html.HiddenFor(x => Model.Platforms[p].PlatformId)
        @Html.HiddenFor(x => Model.Platforms[p].PlatformName)
        @Html.HiddenFor(x => Model.Platforms[p].IsSelected)
    }
    <div class="row">
        <div class="col-md-12 mb-0">
            <label class="col-form-label" for="example-text-input">Quiz Name <span class="text-danger">*</span></label>
        </div>
    </div>
    <div id="divQuizName">
        @for (int i = 0; i < Model.Names.Count; i++)
        {
            <div class="row">
                @Html.HiddenFor(x => Model.Names[i].ID)
                @Html.HiddenFor(x => Model.Names[i].LanguageId)
                @Html.HiddenFor(x => Model.Names[i].IsDeleted)
                <div class="form-group col-md-3 mb-0">
                    <div class="col-xs-1" style="padding-left: 0px;">
                        @if (i == 0)
                        {
                            <span class="fa fa-plus" onclick="AddQuizNameRow()" data-toggle='tooltip' data-placement='top' title='Add row for new language' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                        }
                        else
                        {
                            <span class="fa fa-minus" data-id="Names[@i].IsDeleted" onclick="RemoveQuizNameRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                        }
                    </div>
                    <div class="col-xs-10" style="padding-right: 0px;padding-left: 0px;">
                        @Html.TextBoxFor(x => Model.Names[i].Language, new { @class = "form-control language", @placeholder = "Select Language", @maxlength = "100" })
                        <div class="has-danger">
                            <div class="form-control-feedback">
                                @Html.ValidationMessageFor(x => Model.Names[i].Language)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-9 mb-0">
                    @Html.TextBoxFor(x => Model.Names[i].Name, new { @class = "form-control", @placeholder = "Quiz Name", @maxlength = "100" })
                    <div class="has-danger">
                        <div class="form-control-feedback">
                            @Html.ValidationMessageFor(x => Model.Names[i].Name)
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="AddQuizName" style="display:none">
        <div class="row">
            <input name="Names[{count}].ID" type="hidden" value="0">
            <input name="Names[{count}].LanguageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
            <input name="Names[{count}].IsDeleted" type="hidden" value="False">
            <div class="form-group col-md-3 mb-0">
                <div class="col-xs-1" style="padding-left: 0px;">
                    <span class="fa fa-minus" data-id="Names[{count}].IsDeleted" onclick="RemoveQuizNameRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                </div>
                <div class="col-xs-10" style="padding-right: 0px;padding-left: 0px;">
                    <input class="form-control language" maxlength="100" name="Names[{count}].Language" placeholder="Select Language" type="text" value="">
                </div>
            </div>
            <div class="form-group col-md-9 mb-0">
                <input class="form-control" maxlength="100" name="Names[{count}].Name" placeholder="Asset Name" type="text" value="">
            </div>
        </div>
    </div>
    <div class="row">
        <div id="divQuizDetails">
            <div class="col-md-3">
                <label style="display: block;">Platform <span class="text-danger">*</span></label>
                <select class="form-control" id="Platforms" multiple="multiple">
                    @foreach (var pl in Model.Platforms)
                    {
                        <option class="Platforms_@number" @(pl.IsSelected == true ? "selected" : "") value="@pl.PlatformId">@pl.PlatformName</option>
                        number++;
                    }
                </select>
            </div>
            <div class="col-md-3">
                <label style="display: block;">Select labels <span class="text-danger">*</span></label>
                <select class="form-control" id="QuizLabels" multiple="multiple">
                    @if (Model.QuizDetails[0].QuizLabels.Count > 0)
                    {
                        foreach (var label in Model.QuizDetails[0].QuizLabels)
                        {
                            <option class="QuizDetails_0__QuizLabels_@num" @(label.IsSelected == true ? "selected" : "") value="@label.LabelId">@label.LabelName</option>
                            num++;
                        }
                    }
                </select>
            </div>
            <div class="col-md-2">
                <label class="col-form-label" for="example-text-input">Number of labels <span class="text-danger">*</span></label>
                @Html.TextBoxFor(x => Model.QuizDetails[0].NumberOfLabels, new { @class = "form-control", @placeholder = "Number of labels", @readonly = "readonly" })
                <div class="has-danger">
                    <div class="form-control-feedback">
                        @Html.ValidationMessageFor(x => Model.QuizDetails[0].NumberOfLabels)
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-form-label" for="example-text-input">Number of attempts <span class="text-danger">*</span></label>
                @Html.TextBoxFor(x => Model.QuizDetails[0].NumberOfAttempts, new { @class = "form-control", @placeholder = "Number of attempts" })
                <div class="has-danger">
                    <div class="form-control-feedback">
                        @Html.ValidationMessageFor(x => Model.QuizDetails[0].NumberOfAttempts)
                    </div>
                </div>
            </div>
            <div class="col-md-2 pull-left">
                <label>Status</label>
                @*<div rel="tooltip">
                <input type="checkbox" class="quiz" data-toggle="toggle" @(Model.IsActivityEnabled == true ? "checked" : "unchecked") data-on="Enabled" data-off="Disabled" data-onstyle="success" data-offstyle="primary">
            </div>*@
                <div class="input-group">
                    <div id="radioQuizBtn" class="btn-group">
                        <a class="btn btn-success @(Model.IsQuizEnabled == true ? "active" : "notActive")" data-toggle="quiz" data-title="Enabled">Enabled</a>
                        <a class="btn btn-primary @(Model.IsQuizEnabled == false ? "active" : "notActive")" data-toggle="quiz" data-title="Disabled">Disabled</a>
                    </div>
                </div>
            </div>
            @*<div class="col-md-2" style="margin-top: 24px;">
                <button type="button" class="btn btn-primary" onclick="SaveQuiz();">Save Quiz</button>
            </div>*@
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group col-md-12 text-sm-right my-1">
            <button type="button" class="btn btn-primary" onclick="SaveQuiz();">Save Quiz</button>
        </div>
    </div>
}
<script>
    var availableLanguages = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Language));

    $(document).ready(function () {
        GetAllLanguages();

        $('#QuizLabels').multiselect({
            nonSelectedText: 'Select Labels',
            selectAllValue: 'multiselect-all',
            //selectAllName: false,
            //selectAllNumber: true,
            buttonWidth: '280px',
            maxHeight: 200,
            numberDisplayed: 10,
            selectedClass: 'active',
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            enableClickableOptGroups: false,
            enableCollapsibleOptGroups: false,
            onChange: function (element, checked) {
                var brands = $('#QuizLabels option:selected');
                var selected = [];
                var count = 0;
                $(brands).each(function (index, brand) {
                    count++;
                    selected.push([$(this).val()]);
                });

                $('#QuizDetails_0__NumberOfLabels').val(count);
                var id = $(element).attr('class') + '__IsSelected';
                if (checked) {
                    $("#" + id).val("True");
                }
                else {
                    $("#" + id).val("False");
                }
            },
            onSelectAll: function () {
                var brands = $('#QuizLabels option:selected');
                var count = 0;
                $(brands).each(function (index, brand) {
                    count++;
                    var id = $(this).attr('class') + '__IsSelected';
                    $("#" + id).val("True");
                });
                $('#QuizDetails_0__NumberOfLabels').val(count);
            },
            onDeselectAll: function () {
                var brands = $("#QuizLabels").find('option').not(':selected');
                var count = 0;
                $(brands).each(function (index, brand) {
                    var id = $(this).attr('class') + '__IsSelected';
                    $("#" + id).val("False");
                });
                $('#QuizDetails_0__NumberOfLabels').val(count);
            }
        });

        $('#Platforms').multiselect({
            nonSelectedText: 'Select Platform',
            selectAllValue: 'multiselect-all',
            buttonWidth: '300px',
            maxHeight: 200,
            numberDisplayed: 10,
            selectedClass: 'active',
            includeSelectAllOption: false,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            enableClickableOptGroups: false,
            enableCollapsibleOptGroups: false,
            onChange: function (element, checked) {
                var acId = element.val();
                var id = element.attr('class') + '__IsSelected';
                if (checked) {
                    $("#" + id).val("True");
                }
                else {
                    $("#" + id).val("False");
                }
            }
        });
    });

    $('#radioQuizBtn a').on('click', function () {
        var sel = $(this).data('title');
        var tog = $(this).data('toggle');
        $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
        $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
        if (sel == 'Disabled') {
            $('#IsQuizEnabled').val("False");
        }
        else {
            $('#IsQuizEnabled').val("True");
        }
    })

    function SaveQuiz() {
        //var brands = $('#QuizLabels option:selected');
        //$(brands).each(function (index, brand) {
        //    var id = $(this).attr('class') + '__IsSelected';
        //    $("#" + id).val("True");
        //});

        var label = $('.multiselect').attr('title');
        $('#QuizDetails_0__Labels').val(label);

        if ($('#QuizDetails_0__NumberOfLabels').val() == 0) {
            alert("Select labels to create the quiz.");
        }
        else {
            var myForm = $('#frmQuiz');
            $.ajax({
                url: "@Url.Action("SaveQuiz", "Home")",
                type: "POST",
                data: myForm.serialize(),
                success: function (data) {
                    alert(data);
                    $('#grid').data().kendoGrid.dataSource.read();
                    $("#grid").data("kendoGrid").refresh();
                }
            })
        }
        return false;
        //setTimeout(function () {
        //    var grid = $("#grid").data("kendoGrid");
        //    grid.refresh();
        //}, 1000);
    }

    function AddQuizNameRow() {
        var num = $('#divQuizName').find('.row').length;
        var row = $('.AddQuizName').html();
        row = replaceAll(row, "{count}", num);
        $('#divQuizName').append(row);
        GetAllLanguages();
    }

    function RemoveQuizNameRow(e) {
        $(e).closest('.row').hide();
        var id = $(e).attr('data-id');
        $("input[name='" + id + "']").val("True");
    }
</script>
<script src="~/Scripts/asset.js"></script>

