﻿@model _3DLContentManagement.Models.AssetRelationModel
@{
    Layout = null;
    int num = 0;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmLinkedAssets", enctype = "multipart/form-data" }))
{
<div class="row">
    @Html.HiddenFor(x => Model.SelectedAssetId)
    @Html.HiddenFor(x => Model.SelectedAssetName)
    <div class="col-md-5 pull-left" style="text-align:right;">
        <label style="margin-top:5px">Select Models to associate with @Model.SelectedAssetName <span class="text-danger">*</span></label>
    </div>
    <div class="col-md-4">
        @if (Model.LinkedAssets.Count > 0)
        {
            num = 0;
            <select class="form-control" id="RelatedAssets" multiple="multiple">
                @foreach (var asset in Model.LinkedAssets)
                {
                    <option class="@num" @(asset.IsSelected == true ? "selected" : "") value="@asset.LinkedContentId">@asset.LinkedAssetName</option>
                    num++;
                }
            </select>
            for (int i = 0; i < Model.LinkedAssets.Count; i++)
            {
                @Html.HiddenFor(x => Model.LinkedAssets[i].RelationId)
                @Html.HiddenFor(x => Model.LinkedAssets[i].LinkedAssetId)
                @Html.HiddenFor(x => Model.LinkedAssets[i].LinkedAssetName)
                @Html.HiddenFor(x => Model.LinkedAssets[i].LinkedContentId)
                @Html.HiddenFor(x => Model.LinkedAssets[i].IsSelected)
            }
        }
        else
        {
            num = 0;
            <select class="form-control" id="RelatedAssets" multiple="multiple"></select>
        }
    </div>
    <div class="col-md-3">
        <button type="button" onclick="SaveLinkedAssets();" class="btn btn-primary">Save Details</button>
    </div>
</div>
}
<script>
    var count = 0;
    var max = '@System.Configuration.ConfigurationManager.AppSettings["MaxAssetAllowed"].ToString()';
    var message = "Maximum " + max + " models allowed to linked with the selected model.";

    $(document).ready(function () {
        $('#RelatedAssets').multiselect({
            nonSelectedText: 'No model selected',
            selectAllValue: 'multiselect-all',
            buttonWidth: '300px',
            maxHeight: 200,
            numberDisplayed: 10,
            selectedClass: 'active',
            includeSelectAllOption: false,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            enableClickableOptGroups: false,
            enableCollapsibleOptGroups: false,
            onChange: function (element, checked) {
                var id = 'LinkedAssets_' + element.attr('class') + '__IsSelected';
                if (checked) {
                    $("#" + id).val("True");
                    count++;
                }
                else {
                    $("#" + id).val("False");
                    count--;
                }
            }
        });

        var brands = $('#RelatedAssets option:selected');
        $(brands).each(function (index, brand) {
            count++;
        });
    });

    function SaveLinkedAssets() {
        if (count == 0) {
            alert("Select atleast 1 model");
        }
        else if (count > max) {
            alert(message);
        }
        else {
            var myForm = $('#frmLinkedAssets');
            $.ajax({
                url: "@Url.Action("SaveLinkedAssets", "Home")",
                type: "POST",
                data: myForm.serialize(),
                success: function (data) {
                    alert(data);
                }
            })
        }
    }
</script>


