﻿@model List<_3DLContentManagement.Models.ContentDescriptionModel>
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-4">
        <div class="col-xs-3" style="padding-left: 0px;">
            <span class="fa fa-plus" onclick="AddWNRow()" data-toggle='tooltip' data-placement='top' title='Add row for new language' style="font-size:24px;color:#a42639;cursor:pointer;"></span>
        </div>
        <div class="col-xs-9" style="padding-right: 0px;padding-left: 0px;">
            <label class="col-form-label" for="example-text-input">Language</label>
        </div>
    </div>
    <div class="col-md-8">
        <label class="col-form-label" for="example-text-input">Add Comments</label>
    </div>
</div>
@using (Html.BeginForm("SaveWhatIsNew", "Home", FormMethod.Post, new { @id = "frmWhatsNew" }))
{
    <div id="divWN">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="row">
                @Html.HiddenFor(x => Model[i].ID)
                @Html.HiddenFor(x => Model[i].AssetContentID)
                @Html.HiddenFor(x => Model[i].LanguageId)
                @Html.HiddenFor(x => Model[i].IsDeleted)
                @Html.HiddenFor(x => Model[i].Description)
                <div class="form-group col-md-4">
                    <div class="col-xs-3" style="padding-left: 0px;">
                        <span class="fa fa-minus" data-id="[@i].IsDeleted" onclick="RemoveRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                    </div>
                    <div class="col-xs-9" style="padding-right: 0px;padding-left: 0px;">
                        @Html.TextBoxFor(x => Model[i].Language, new { @class = "form-control language", @placeholder = "Select Language", @maxlength = "100" })
                        <div class="has-danger">
                            <div class="form-control-feedback">
                                @Html.ValidationMessageFor(x => Model[i].Language)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-8">
                    @Html.TextAreaFor(x => Model[i].WhatIsNew, new { @class = "form-control", @placeholder = "What's New", @maxlength = "1000", @rows = "3", @style = "max-width: 100%" })
                </div>
            </div>
        }
    </div>
}
<div class="row mb-0" id="divWNInfo" style="display:none">
    <div class="alert alert-danger">
        <strong>Error!</strong> Add the valid language to save comments
    </div>
</div>
<div class="AddWN" style="display:none">
    <div class="row">
        <input name="[{count}].ID" type="hidden" value="0">
        <input name="[{count}].AssetContentID" type="hidden" value="0">
        <input name="[{count}].LanguageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
        <input name="[{count}].IsDeleted" type="hidden" value="False">
        <input name="[{count}].Description" type="hidden" value="">
        <div class="form-group col-md-4">
            <div class="col-xs-3" style="padding-left: 0px;">
                <span class="fa fa-minus" data-id="[{count}].IsDeleted" onclick="RemoveRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
            </div>
            <div class="col-xs-9" style="padding-right: 0px;padding-left: 0px;">
                <input class="form-control language" maxlength="100" name="[{count}].Language" placeholder="Select Language" type="text" value="">
            </div>
        </div>
        <div class="form-group col-md-8">
            <textarea class="form-control" maxlength="1000" name="[{count}].WhatIsNew" placeholder="What's New" rows="3" style="max-width: 100%" value=""></textarea>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        GetAllLanguages();
    });
</script>