﻿@model _3DLContentManagement.Models.AssetViewModel
@{
    ViewBag.Title = "Add to Existing Asset";
    string type = Model.IsDirectory == true ? "true" : "false";
    string path = Convert.ToString(TempData.Peek("Path"));
}
<style>
    .table tbody tr:hover {
        background-color: #eceeef !important;
    }

    .table tbody tr th {
        background-color: white !important;
    }

    .modal-dialog {
        margin: 2.5vh auto;
    }

    .modal-content {
        max-height: 55vh;
    }

    .modal-body {
        max-height: 40vh;
        padding-bottom: 5px;
        overflow: auto;
    }

    .modal-footer {
        margin-top: 0px;
    }
</style>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

<div class="wrapper page-wrap">
    <section id="checklist">
        <div class="container">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="/Content/Index">Dashboard</a> |
                <a class="breadcrumb-item" href="/Home/Assets">Select Asset</a> |
                <span class="breadcrumb-item active">@ViewBag.Title</span>
            </nav>
            <div class="row">
                <div class="col-md-12">
                    <h2>@ViewBag.Title - <span style="color: #a42639;">@(Model.AssetName)</span></h2>
                    <br />
                </div>
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div id="addForm" class="row">
                @using (Html.BeginForm("AddtoExistingAssets", "Home", FormMethod.Post, new { @id = "frmAsset" }))
                {
                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(x => x.AssetID)
                    @Html.HiddenFor(x => x.IsActive)
                    @Html.HiddenFor(x => x.IsDeleted)
                    @Html.HiddenFor(x => x.IsPublished)
                    @Html.HiddenFor(x => x.FileName)
                    @Html.HiddenFor(x => x.FilePath)
                    @Html.HiddenFor(x => x.FileSize)
                    @Html.HiddenFor(x => x.FileSizeText)
                    @Html.HiddenFor(x => x.ContentPackageID)
                    @Html.HiddenFor(x => x.IsDirectory)
                    @Html.HiddenFor(x => x.IsQuizEnabled)
                    <input type="hidden" name="hdnAssetID" id="hdnAssetID" value="@Model.AssetID" />
                    <input type="hidden" name="addedType" value="Edit" />
                    <div class="col-md-12">
                        <div class="row">
                            <div class="form-group col-md-3 mb-0">
                                <label class="col-form-label" for="example-text-input">Asset Type <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(x => x.AssetType, new { @class = "form-control", @placeholder = "Asset Type", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => x.AssetType)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-3 mb-0">
                                <label class="col-form-label" for="example-text-input">Status <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(x => x.Status, new { @class = "form-control", @placeholder = "Status", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => x.Status)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-3 mb-0">
                                <label class="col-form-label" for="example-text-input">Search Tags</label>
                                <select class="form-control" id="AssetTags" name="NewTags[]" multiple="multiple">
                                    @foreach (SelectListItem s in ((System.Web.Mvc.MultiSelectList)(ViewBag.TagsSelectList)).Items)
                                    {
                                        <option value="@s.Value" selected="@s.Selected">@s.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-3 mb-0">
                                <label class="col-form-label" for="example-text-input">Properties</label>
                                <select class="form-control" id="AssetProperties" name="NewProperties[]" multiple="multiple">
                                    @foreach (SelectListItem s in ((System.Web.Mvc.MultiSelectList)(ViewBag.PropertiesSelectList)).Items)
                                    {
                                        <option value="@s.Value" selected="@s.Selected">@s.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-0">
                                <label class="col-form-label" for="example-text-input">Asset Name <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div id="divName">
                            @for (int i = 0; i < Model.Names.Count; i++)
                            {
                                <div class="row">
                                    @Html.HiddenFor(x => Model.Names[i].ID)
                                    @Html.HiddenFor(x => Model.Names[i].LanguageId)
                                    @Html.HiddenFor(x => Model.Names[i].IsDeleted)
                                    <div class="form-group col-md-3 mb-0">
                                        <div class="col-xs-1" style="padding-left: 0px;">
                                            @if (i == 0)
                                            {
                                                <span class="fa fa-plus" onclick="AddNameRow()" data-toggle='tooltip' data-placement='top' title='Add row for new language' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-minus" data-id="Names[@i].IsDeleted" onclick="RemoveRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                            }
                                        </div>
                                        <div class="col-xs-10" style="padding-right: 0px;padding-left: 0px;">
                                            @Html.TextBoxFor(x => Model.Names[i].Language, new { @class = "form-control language", @placeholder = "Select Language", @maxlength = "100" })
                                            <div class="has-danger">
                                                <div class="form-control-feedback">
                                                    @Html.ValidationMessageFor(x => Model.Names[i].Language)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-9 mb-0">
                                        @Html.TextBoxFor(x => Model.Names[i].Name, new { @class = "form-control", @placeholder = "Asset Name", @maxlength = "100" })
                                        <div class="has-danger">
                                            <div class="form-control-feedback">
                                                @Html.ValidationMessageFor(x => Model.Names[i].Name)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="AddName" style="display:none">
                            <div class="row">
                                <input name="Names[{count}].ID" type="hidden" value="0">
                                <input name="Names[{count}].LanguageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                <input name="Names[{count}].IsDeleted" type="hidden" value="False">
                                <div class="form-group col-md-3 mb-0">
                                    <div class="col-xs-1" style="padding-left: 0px;">
                                        <span class="fa fa-minus" data-id="Names[{count}].IsDeleted" onclick="RemoveRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                    </div>
                                    <div class="col-xs-10" style="padding-right: 0px;padding-left: 0px;">
                                        <input class="form-control language" maxlength="100" name="Names[{count}].Language" placeholder="Select Language" type="text" value="">
                                    </div>
                                </div>
                                <div class="form-group col-md-9 mb-0">
                                    <input class="form-control" maxlength="100" name="Names[{count}].Name" placeholder="Asset Name" type="text" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                            <span class="fa fa-plus" onclick="AddDetailRow()" data-toggle='tooltip' data-placement='top' title='Add new row' style="font-size:24px;color:#a42639;cursor:pointer;"></span>
                                        </div>
                                        <div class="col-xs-10" style="padding-left: 3px;padding-right: 0px;">
                                            <label class="col-form-label" for="example-text-input">Package</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <label class="col-form-label" for="example-text-input">Language</label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label class="col-form-label" for="example-text-input">Grade</label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label class="col-form-label" for="example-text-input">Syllabus</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-left: 0px;">
                                <div class="col-xs-3">
                                    <label class="col-form-label" for="example-text-input">Stream</label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="col-form-label" for="example-text-input">Subject</label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="col-form-label" for="example-text-input">Topic</label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="col-form-label" for="example-text-input">Subtopic</label>
                                </div>
                            </div>
                        </div>
                        <div id="divDetail">
                            @for (int i = 0; i < Model.Details.Count; i++)
                            {
                                <div class="row detail">
                                    @Html.HiddenFor(x => Model.Details[i].ID)
                                    @Html.HiddenFor(x => Model.Details[i].PackageId)
                                    @Html.HiddenFor(x => Model.Details[i].GradeId)
                                    @Html.HiddenFor(x => Model.Details[i].LanguageId)
                                    @Html.HiddenFor(x => Model.Details[i].SyllabusId)
                                    @Html.HiddenFor(x => Model.Details[i].StreamId)
                                    @Html.HiddenFor(x => Model.Details[i].SubjectId)
                                    @Html.HiddenFor(x => Model.Details[i].TopicId)
                                    @Html.HiddenFor(x => Model.Details[i].SubtopicId)
                                    @Html.HiddenFor(x => Model.Details[i].IsDeleted)
                                    <div class="form-group col-md-6">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                                    <span class="fa fa-minus" data-id="Details[@i].IsDeleted" onclick="RemoveDetailRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                                </div>
                                                <div class="col-xs-10" style="padding-left: 3px;padding-right: 0px;">
                                                    @Html.TextBoxFor(x => x.Details[i].Package, new { @class = "form-control package", @placeholder = "Package", @maxlength = "100" })
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(x => x.Details[i].Language, new { @class = "form-control planguage", @placeholder = "Language", @maxlength = "100" })
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(x => x.Details[i].Grade, new { @class = "form-control grade", @placeholder = "Grade", @maxlength = "100" })
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(x => x.Details[i].Syllabus, new { @class = "form-control syllabus", @placeholder = "Syllabus", @maxlength = "100" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6" style="padding-left: 0px;">
                                        <div class="col-xs-3">
                                            @Html.TextBoxFor(x => x.Details[i].Stream, new { @class = "form-control stream", @placeholder = "Stream", @maxlength = "100" })
                                        </div>
                                        <div class="col-xs-3">
                                            @Html.TextBoxFor(x => x.Details[i].Subject, new { @class = "form-control subject", @placeholder = "Subject", @maxlength = "100" })
                                        </div>
                                        <div class="col-xs-3">
                                            @Html.TextBoxFor(x => x.Details[i].Topic, new { @class = "form-control topic", @placeholder = "Topic", @maxlength = "100" })
                                        </div>
                                        <div class="col-xs-3">
                                            @Html.TextBoxFor(x => x.Details[i].Subtopic, new { @class = "form-control subtopic", @placeholder = "Subtopic", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="AddDetail" style="display:none">
                            <div class="row detail">
                                <input name="Details[{count}].ID" type="hidden" value="0">
                                <input name="Details[{count}].PackageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                <input name="Details[{count}].LanguageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                <input name="Details[{count}].GradeId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                <input name="Details[{count}].SyllabusId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                <input name="Details[{count}].StreamId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                <input name="Details[{count}].SubjectId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                <input name="Details[{count}].TopicId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                <input name="Details[{count}].SubtopicId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                <input name="Details[{count}].IsDeleted" type="hidden" value="True">
                                <div class="form-group col-md-6">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                                <span class="fa fa-minus" data-id="Details[{count}].IsDeleted" onclick="RemoveDetailRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                            </div>
                                            <div class="col-xs-10" style="padding-left: 3px;padding-right: 0px;">
                                                <input class="form-control package" maxlength="100" name="Details[{count}].Package" placeholder="Package" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <input class="form-control planguage" maxlength="100" name="Details[{count}].Language" placeholder="Language" type="text" value="">
                                        </div>
                                        <div class="col-xs-3">
                                            <input class="form-control grade" maxlength="100" name="Details[{count}].Grade" placeholder="Grade" type="text" value="">
                                        </div>
                                        <div class="col-xs-3">
                                            <input class="form-control syllabus" maxlength="100" name="Details[{count}].Syllabus" placeholder="Syllabus" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6" style="padding-left: 0px;">
                                    <div class="col-xs-3">
                                        <input class="form-control stream" maxlength="100" name="Details[{count}].Stream" placeholder="Stream" type="text" value="">
                                    </div>
                                    <div class="col-xs-3">
                                        <input class="form-control subject" maxlength="100" name="Details[{count}].Subject" placeholder="Subject" type="text" value="">
                                    </div>
                                    <div class="col-xs-3">
                                        <input class="form-control topic" maxlength="100" name="Details[{count}].Topic" placeholder="Topic" type="text" value="">
                                    </div>
                                    <div class="col-xs-3">
                                        <input class="form-control subtopic" maxlength="100" name="Details[{count}].Subtopic" placeholder="Subtopic" type="text" value="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*Iterating Contents ViewModel *@
                        @{
                            int iCount = 0;
                            for (int i = 0; i < Model.Contents.Count; i++)
                            {
                                iCount++;
                                @Html.HiddenFor(x => Model.Contents[i].ID)
                                @Html.HiddenFor(x => Model.Contents[i].IsEnabled)
                                @Html.HiddenFor(x => Model.Contents[i].IsDeleted)
                                @Html.HiddenFor(x => Model.Contents[i].FilePath)
                                @Html.HiddenFor(x => Model.Contents[i].FileSize)
                                @Html.HiddenFor(x => Model.Contents[i].IsDirectory)
                                @Html.HiddenFor(x => Model.Contents[i].PublishFolder)
                                if (iCount == 1)
                                {
                                    <div class="row">
                                        <div class="form-group col-md-3 mb-0">
                                            <label class="col-form-label" for="example-text-input">File Name</label>
                                            <div style="display:block; margin-top:5px;">
                                                @Html.HiddenFor(x => Model.Contents[i].FileName)
                                                <label id="lblFileName" class="col-form-label" for="example-text-input" style="color: #a42639;">@Model.Contents[i].FileName</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-1 mb-0">
                                            <label class="col-form-label" for="example-text-input">File Size</label>
                                            <div style="display:block; margin-top:5px;">
                                                @Html.HiddenFor(x => Model.Contents[i].FileSizeText)
                                                <label id="lblFileSize" class="col-form-label" for="example-text-input" style="color: #a42639;">@Model.Contents[i].FileSizeText</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-1 mb-0">
                                            <label class="col-form-label" for="example-text-input">Version</label>
                                            <div style="display:block; margin-top:5px;">
                                                <label id="lblVersionNumber" data-id="@Model.Contents[i].ID" class="col-form-label" for="example-text-input"><a style="text-decoration:none; cursor:pointer" title="Click here to View file">@Model.Contents[i].VersionNumber</a></label>
                                                @Html.HiddenFor(x => Model.Contents[i].VersionNumber)
                                            </div>
                                        </div>
                                        <div class="form-group col-md-1 mb-0" style="padding-left: 0px;">
                                            <label class="col-form-label" for="example-text-input">Platform <span class="text-danger">*</span></label>
                                            <div style="display:block;">
                                                @Html.HiddenFor(x => Model.Contents[i].PlatformId)
                                                @Html.TextBoxFor(x => Model.Contents[i].Platform, new { @class = "form-control platform", @maxlength = "100" })
                                                @Html.ValidationMessageFor(x => Model.Contents[i].Platform)
                                            </div>
                                        </div>
                                        <div class="form-group col-md-1 mb-0" style="display:block; margin-top:30px;">
                                            <label data-id="@Model.Contents[i].ID" class="col-form-label lblDescription" for="example-text-input"><a style="text-decoration:none; cursor:pointer" title="Click here to Add/View Description">Description</a></label>
                                        </div>
                                        <div class="form-group col-md-1 mb-0" style="display:block; margin-top:30px;">
                                            <label id="lblWhatIsNew" data-id="@Model.Contents[i].ID" class="col-form-label" for="example-text-input"><a style="text-decoration: none; cursor: pointer" title="Click here to Add/View What's New">What's New</a></label>
                                        </div>
                                        <div class="form-group col-md-4 mb-0" style="display:block; margin-top:25px;">
                                            <div rel="tooltip" title="Save the changes to enable publish/unpublish functionality.">
                                                @if (Model.Contents[i].IsEnabled == true)
                                                {
                                                    <input type="checkbox" id="chkPublish" data-toggle="toggle" checked disabled data-on="Published" data-off="UnPublished" data-onstyle="success" data-offstyle="primary">
                                                }
                                                else
                                                {
                                                    <input type="checkbox" id="chkPublish" data-toggle="toggle" disabled data-on="Published" data-off="UnPublished" data-onstyle="success" data-offstyle="primary">
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="form-group col-md-3 mb-0" style="display:block; margin-top:5px;">
                                            @Html.HiddenFor(x => Model.Contents[i].FileName)
                                            <label id="lblFileName" class="col-form-label" for="example-text-input" style="color: #a42639;">@Model.Contents[i].FileName</label>
                                        </div>
                                        <div class="form-group col-md-1 mb-0" style="display:block; margin-top:5px;">
                                            @Html.HiddenFor(x => Model.Contents[i].FileSizeText)
                                            <label id="lblFileSize" class="col-form-label" for="example-text-input" style="color: #a42639;">@Model.Contents[i].FileSizeText</label>
                                        </div>
                                        @if (Model.Contents[i].ID != 0)
                                        {
                                            <div class="form-group col-md-1 mb-0" style="display:block; margin-top:5px;">
                                                <label id="lblVersionNumber" data-id="@Model.Contents[i].ID" class="col-form-label" for="example-text-input"><a style="text-decoration:none; cursor:pointer" title="Click here to View file">@Model.Contents[i].VersionNumber</a></label>
                                                @Html.HiddenFor(x => Model.Contents[i].VersionNumber)
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group col-md-1 mb-0" style="display:block; margin-top:5px;">
                                                <label data-id="@Model.Contents[i].ID" class="col-form-label" for="example-text-input">@Model.Contents[i].VersionNumber</label>
                                                @Html.HiddenFor(x => Model.Contents[i].VersionNumber)
                                            </div>
                                        }
                                        <div class="form-group col-md-1 mb-0" style="display:block;padding-left: 0px;">
                                            @Html.HiddenFor(x => Model.Contents[i].PlatformId)
                                            @Html.TextBoxFor(x => Model.Contents[i].Platform, new { @class = "form-control platform", @maxlength = "100" })
                                            @Html.ValidationMessageFor(x => Model.Contents[i].Platform)
                                        </div>
                                        <div class="form-group col-md-1 mb-0" style="display:block; margin-top:5px;">
                                            <label data-id="@Model.Contents[i].ID" class="col-form-label lblDescription" for="example-text-input"><a style="text-decoration:none; cursor:pointer" title="Click here to Add/View Description">Description</a></label>
                                        </div>
                                        <div class="form-group col-md-1 mb-0" style="display:block; margin-top:5px;">
                                            <label id="lblWhatIsNew" data-id="@Model.Contents[i].ID" class="col-form-label" for="example-text-input"><a style="text-decoration: none; cursor: pointer" title="Click here to Add/View What's New">What's New</a></label>
                                        </div>
                                        <div class="form-group col-md-4 mb-0" style="display:block;">
                                            <div rel="tooltip" title="Save the changes to enable publish/unpublish functionality.">
                                                @if (Model.Contents[i].IsEnabled == true)
                                                {
                                                    <input type="checkbox" id="chkPublish" data-toggle="toggle" checked disabled data-on="Published" data-off="UnPublished" data-onstyle="success" data-offstyle="primary">
                                                }
                                                else
                                                {
                                                    <input type="checkbox" id="chkPublish" data-toggle="toggle" disabled data-on="Published" data-off="UnPublished" data-onstyle="success" data-offstyle="primary">
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        <div class="row" id="divInfo">
                            <div class="alert alert-info">
                                <strong>Info!</strong> This asset has already been published, so this content will get copied and published once you click on save changes.
                                This activity might take some time.
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group text-sm-right col-md-6 my-1">
                                <button type="button" id="btnBack" class="btn btn-secondary" onclick="NavigatetoPrevious()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Select Asset</button>
                                <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-primary" onclick="ValidateForm();">Save Changes</button>
                            </div>
                        </div>
                        <div id="divContent">
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>
<div class="modal" id="AddDescription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content ui-dialog ui-corner-all ui-front ui-dialog-buttons" style="width: 600px; display: block;">
            <div class="modal-header ui-dialog-titlebar ui-corner-all ui-helper-clearfix">
                <button type="button" class="ui-button ui-corner-all ui-button-icon-only ui-dialog-titlebar-close close-div" data-dismiss="modal" aria-label="Close"><span class="ui-button-icon ui-icon ui-icon-closethick" aria-hidden="true">&times;</span></button>
                <span class="modal-title" id="exampleModalLabel">Add Description</span>
            </div>
            <div class="modal-body" id="divDescription">
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="pull-right">
                        <input type="button" id="btnSaveDesc" class="btn btn-primary" value="Save Description" />
                        <input type="button" id="btnCancelDesc" class="btn btn-secondary close-div" data-dismiss="modal" aria-label="Close" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="AddWhatIsNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content ui-dialog ui-corner-all ui-front ui-dialog-buttons" style="width: 600px; display: block;">
            <div class="modal-header ui-dialog-titlebar ui-corner-all ui-helper-clearfix">
                <button type="button" class="ui-button ui-corner-all ui-button-icon-only ui-dialog-titlebar-close close-div" data-dismiss="modal" aria-label="Close"><span class="ui-button-icon ui-icon ui-icon-closethick" aria-hidden="true">&times;</span></button>
                <span class="modal-title" id="exampleModalLabel">What's New</span>
            </div>
            <div class="modal-body" id="divWhatsNew">
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="pull-right">
                        <input type="button" id="btnSaveComment" class="btn btn-primary" value="Save Comments" />
                        <input type="button" id="btnCancelComment" class="btn btn-secondary close-div" data-dismiss="modal" aria-label="Close" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>
    var availableLanguages = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Language));
    var availablePackages = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Package));
    var availablePlatforms = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Platform));
    var availableTypes = @Html.Raw(Json.Encode((IEnumerable<String>)ViewBag.AssetType));
    var availableStatus = @Html.Raw(Json.Encode((IEnumerable<String>)ViewBag.Status));
    var availableTags = @Html.Raw(Json.Encode((IEnumerable<String>)ViewBag.Tags));

    $(document).ready(function () {
        if ('@TempData["Message"]' != '') {
            alert('@TempData["Message"]');
        }

        //this is to show the version number for added content
        $('body, html').animate({ scrollTop: $('#divContent').offset().top }, 'slow');

        GetAllLanguages();
        GetMasterData();
        GetAllPlatforms();
        GetPackages();

        //$("input:text:visible:last").focus();
        $("input:text:visible").each(function (index, element) {
            if (isEmpty($(this))) {
                $(this).focus();
                return false;
            }
        });

        //if ($('#IsPublished').val() == 'False')
        $('#divInfo').hide();

        //added for existing assets
        function isEmpty(el) {
            return !$.trim(el.val())
        }
        if (isEmpty($('#Package'))) {
            $('#Package').removeAttr('readonly', 'readonly');
        }
    });
</script>
<script src="~/Scripts/asset.js"></script>