﻿@model _3DLContentManagement.Models.AssetViewModel
@{
    if (ViewBag.AddedType == "Add")
    {
        ViewBag.Title = "Add Asset";
    }
    else
    {
        ViewBag.Title = "Edit Asset";
    }
    string type = Model.IsDirectory == true ? "true" : "false";
    string path = Convert.ToString(TempData.Peek("Path"));
}
<style>
    /*.breadcrumb > a + a::before {
        content: " | ";
        color: #000000;
    }*/
    .breadcrumb > a::after {
        content: " | ";
        color: #000000;
    }

    .table tbody tr:hover {
        background-color: #eceeef !important;
    }

    .table tbody tr th {
        background-color: white !important;
    }

    /*When the modal fills the screen it has an even 2.5% on top and bottom*/
    /*Centers the modal*/
    .modal-dialog {
        margin: 2.5vh auto;
    }

    /*Sets the maximum height of the entire modal to 95% of the screen height*/
    .modal-content {
        max-height: 55vh;
    }

    /*Sets the maximum height of the modal body to 90% of the screen height*/
    .modal-body {
        max-height: 40vh;
        padding-bottom: 5px;
        overflow: auto;
    }

    .modal-footer {
        margin-top: 0px;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    input[type = "file"] {
        display: none;
    }

    #radioBtn .notActive {
        color: #3276b1 !important;
        background-color: #fff !important;
    }

    .btn-tog .toggle {
        width: 90px !important;
    }

    .btn-puzzle .toggle {
        width: 100px !important;
    }

    hr {
        margin-top: -5px;
    }

    .alert {
        margin-left: 15px;
        margin-right: 15px;
    }
</style>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<div class="wrapper page-wrap">
    <section id="checklist">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="/Content/Index">Dashboard</a>
            @if (ViewBag.AddedType == "Edit")
            {
                <a class="breadcrumb-item" href="/Home/Assets">Assets</a>
            }
            <span class="breadcrumb-item active">@ViewBag.Title</span>
        </nav>
        <div class="row">
            <div class="col-md-12">
                @if (ViewBag.AddedType == "Edit")
                {
                    <h2>@ViewBag.Title - <span style="color: #a42639;">@(Model.AssetName)</span></h2>
                }
                else
                {
                    <h2>@ViewBag.Title</h2>
                }
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div class="row">
                <div class="panel panel-default" style="padding: 10px;">
                    <div id="Tabs" role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" id="ulTab">
                            <li class="active"><a href="#addForm" aria-controls="addForm" role="tab" data-toggle="tab">General Information</a></li>
                            <li><a href="#activities" onclick="GetQuiz();" aria-controls="activities" role="tab" data-toggle="tab">Activities</a></li>
                            <li><a href="#relations" onclick="GetLinkedAssets();" aria-controls="relations" role="tab" data-toggle="tab">Associated Content</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content" style="padding-top: 20px">
                            <div role="tabpanel" class="tab-pane active" id="addForm">
                                @using (Html.BeginForm("AddUpdateAsset", "Home", FormMethod.Post, new { @id = "frmAsset" }))
                                {
                                    @Html.AntiForgeryToken();
                                    @Html.ValidationSummary(true)
                                    @Html.HiddenFor(x => x.AssetID)
                                    @Html.HiddenFor(x => x.IsActive)
                                    @Html.HiddenFor(x => x.IsDeleted)
                                    @Html.HiddenFor(x => x.IsPublished)
                                    @Html.HiddenFor(x => x.FileName)
                                    @Html.HiddenFor(x => x.FilePath)
                                    @Html.HiddenFor(x => x.FileSize)
                                    @Html.HiddenFor(x => x.FileSizeText)
                                    @Html.HiddenFor(x => x.ContentPackageID)
                                    @Html.HiddenFor(x => x.IsDirectory)
                                    <input type="hidden" name="hdnAssetID" id="hdnAssetID" value="@Model.AssetID" />
                                    <input type="hidden" name="hdnVimeoUrl" id="hdnVimeoUrl" value="@Model.VimeoUrl" />
                                    <input type="hidden" name="addedType" value="@ViewBag.AddedType" />
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group col-md-3 mb-0">
                                                <label class="col-form-label" for="example-text-input">Asset Type <span class="text-danger">*</span></label>
                                                @Html.TextBoxFor(x => x.AssetType, new { @class = "form-control", @placeholder = "Asset Type", @maxlength = "100" })
                                                <div class="has-danger">
                                                    <div class="form-control-feedback">
                                                        @Html.ValidationMessageFor(x => x.AssetType)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-3 mb-0">
                                                <label class="col-form-label" for="example-text-input">Status <span class="text-danger">*</span></label>
                                                @Html.TextBoxFor(x => x.Status, new { @class = "form-control", @placeholder = "Status", @maxlength = "100" })
                                                <div class="has-danger">
                                                    <div class="form-control-feedback">
                                                        @Html.ValidationMessageFor(x => x.Status)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-3 mb-0">
                                                <label class="col-form-label" for="example-text-input">Search Tags</label>
                                                <select class="form-control" id="AssetTags" name="NewTags[]" multiple="multiple">
                                                    @foreach (SelectListItem s in ((System.Web.Mvc.MultiSelectList)(ViewBag.TagsSelectList)).Items)
                                                    {
                                                        <option value="@s.Value" selected="@s.Selected">@s.Text</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group col-md-3 mb-0">
                                                <label class="col-form-label" for="example-text-input">Properties</label>
                                                <select class="form-control" id="AssetProperties" name="NewProperties[]" multiple="multiple">
                                                    @foreach (SelectListItem s in ((System.Web.Mvc.MultiSelectList)(ViewBag.PropertiesSelectList)).Items)
                                                    {
                                                        <option value="@s.Value" selected="@s.Selected">@s.Text</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 mb-0">
                                                <label class="col-form-label" for="example-text-input">Asset Name <span class="text-danger">*</span></label>
                                            </div>
                                        </div>
                                        <div id="divName">
                                            @for (int i = 0; i < Model.Names.Count; i++)
                                            {
                                                <div class="row">
                                                    @Html.HiddenFor(x => Model.Names[i].ID)
                                                    @Html.HiddenFor(x => Model.Names[i].LanguageId)
                                                    @Html.HiddenFor(x => Model.Names[i].IsDeleted)
                                                    <div class="form-group col-md-3 mb-0">
                                                        <div class="col-xs-1" style="padding-left: 0px;">
                                                            @if (i == 0)
                                                            {
                                                                <span class="fa fa-plus" onclick="AddNameRow()" data-toggle='tooltip' data-placement='top' title='Add row for new language' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                                            }
                                                            else
                                                            {
                                                                <span class="fa fa-minus" data-id="Names[@i].IsDeleted" onclick="RemoveRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                                            }
                                                        </div>
                                                        <div class="col-xs-10" style="padding-right: 0px;padding-left: 0px;">
                                                            @Html.TextBoxFor(x => Model.Names[i].Language, new { @class = "form-control language", @placeholder = "Select Language", @maxlength = "100" })
                                                            <div class="has-danger">
                                                                <div class="form-control-feedback">
                                                                    @Html.ValidationMessageFor(x => Model.Names[i].Language)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-9 mb-0">
                                                        @Html.TextBoxFor(x => Model.Names[i].Name, new { @class = "form-control", @placeholder = "Asset Name", @maxlength = "100" })
                                                        <div class="has-danger">
                                                            <div class="form-control-feedback">
                                                                @Html.ValidationMessageFor(x => Model.Names[i].Name)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="AddName" style="display:none">
                                            <div class="row">
                                                <input name="Names[{count}].ID" type="hidden" value="0">
                                                <input name="Names[{count}].LanguageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="Names[{count}].IsDeleted" type="hidden" value="False">
                                                <div class="form-group col-md-3 mb-0">
                                                    <div class="col-xs-1" style="padding-left: 0px;">
                                                        <span class="fa fa-minus" data-id="Names[{count}].IsDeleted" onclick="RemoveRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                                    </div>
                                                    <div class="col-xs-10" style="padding-right: 0px;padding-left: 0px;">
                                                        <input class="form-control language" maxlength="100" name="Names[{count}].Language" placeholder="Select Language" type="text" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-9 mb-0">
                                                    <input class="form-control" maxlength="100" name="Names[{count}].Name" placeholder="Asset Name" type="text" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                                            <span class="fa fa-plus" onclick="AddDetailRow()" data-toggle='tooltip' data-placement='top' title='Add new row' style="font-size:24px;color:#a42639;cursor:pointer;"></span>
                                                        </div>
                                                        <div class="col-xs-10" style="padding-left: 3px;padding-right: 0px;">
                                                            <label class="col-form-label" for="example-text-input">Package</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label class="col-form-label" for="example-text-input">Language</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label class="col-form-label" for="example-text-input">Grade</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label class="col-form-label" for="example-text-input">Syllabus</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="padding-left: 0px;">
                                                <div class="col-xs-3">
                                                    <label class="col-form-label" for="example-text-input">Stream</label>
                                                </div>
                                                <div class="col-xs-3">
                                                    <label class="col-form-label" for="example-text-input">Subject</label>
                                                </div>
                                                <div class="col-xs-3">
                                                    <label class="col-form-label" for="example-text-input">Topic</label>
                                                </div>
                                                <div class="col-xs-3">
                                                    <label class="col-form-label" for="example-text-input">Subtopic</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="divDetail">
                                            @for (int i = 0; i < Model.Details.Count; i++)
                                            {
                                                <div class="row detail" style="@(Model.Details[i].IsDeleted ? "display:none" : "display:block")">
                                                    @Html.HiddenFor(x => Model.Details[i].ID)
                                                    @Html.HiddenFor(x => Model.Details[i].PackageId)
                                                    @Html.HiddenFor(x => Model.Details[i].GradeId)
                                                    @Html.HiddenFor(x => Model.Details[i].LanguageId)
                                                    @Html.HiddenFor(x => Model.Details[i].SyllabusId)
                                                    @Html.HiddenFor(x => Model.Details[i].StreamId)
                                                    @Html.HiddenFor(x => Model.Details[i].SubjectId)
                                                    @Html.HiddenFor(x => Model.Details[i].TopicId)
                                                    @Html.HiddenFor(x => Model.Details[i].SubtopicId)
                                                    @Html.HiddenFor(x => Model.Details[i].IsDeleted)
                                                    <div class="form-group col-md-6">
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                                                    <span class="fa fa-minus" data-id="Details[@i].IsDeleted" onclick="RemoveDetailRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                                                </div>
                                                                <div class="col-xs-10" style="padding-left: 3px;padding-right: 0px;">
                                                                    @Html.TextBoxFor(x => x.Details[i].Package, new { @class = "form-control package", @placeholder = "Package", @maxlength = "100" })
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                @Html.TextBoxFor(x => x.Details[i].Language, new { @class = "form-control planguage", @placeholder = "Language", @maxlength = "100" })
                                                            </div>
                                                            <div class="col-xs-3">
                                                                @Html.TextBoxFor(x => x.Details[i].Grade, new { @class = "form-control grade", @placeholder = "Grade", @maxlength = "100" })
                                                            </div>
                                                            <div class="col-xs-3">
                                                                @Html.TextBoxFor(x => x.Details[i].Syllabus, new { @class = "form-control syllabus", @placeholder = "Syllabus", @maxlength = "100" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6" style="padding-left: 0px;">
                                                        <div class="col-xs-3">
                                                            @Html.TextBoxFor(x => x.Details[i].Stream, new { @class = "form-control stream", @placeholder = "Stream", @maxlength = "100" })
                                                        </div>
                                                        <div class="col-xs-3">
                                                            @Html.TextBoxFor(x => x.Details[i].Subject, new { @class = "form-control subject", @placeholder = "Subject", @maxlength = "100" })
                                                        </div>
                                                        <div class="col-xs-3">
                                                            @Html.TextBoxFor(x => x.Details[i].Topic, new { @class = "form-control topic", @placeholder = "Topic", @maxlength = "100" })
                                                        </div>
                                                        <div class="col-xs-3">
                                                            @Html.TextBoxFor(x => x.Details[i].Subtopic, new { @class = "form-control subtopic", @placeholder = "Subtopic", @maxlength = "100" })
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="AddDetail" style="display:none">
                                            <div class="row detail">
                                                <input name="Details[{count}].ID" type="hidden" value="0">
                                                <input name="Details[{count}].PackageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="Details[{count}].LanguageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="Details[{count}].GradeId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="Details[{count}].SyllabusId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="Details[{count}].StreamId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="Details[{count}].SubjectId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="Details[{count}].TopicId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="Details[{count}].SubtopicId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                                <input name="Details[{count}].IsDeleted" type="hidden" value="True">
                                                <div class="form-group col-md-6">
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                                                <span class="fa fa-minus" data-id="Details[{count}].IsDeleted" onclick="RemoveDetailRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                                            </div>
                                                            <div class="col-xs-10" style="padding-left: 3px;padding-right: 0px;">
                                                                <input class="form-control package" maxlength="100" name="Details[{count}].Package" placeholder="Package" type="text" value="">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <input class="form-control planguage" maxlength="100" name="Details[{count}].Language" placeholder="Language" type="text" value="">
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <input class="form-control grade" maxlength="100" name="Details[{count}].Grade" placeholder="Grade" type="text" value="">
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <input class="form-control syllabus" maxlength="100" name="Details[{count}].Syllabus" placeholder="Syllabus" type="text" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6" style="padding-left: 0px;">
                                                    <div class="col-xs-3">
                                                        <input class="form-control stream" maxlength="100" name="Details[{count}].Stream" placeholder="Stream" type="text" value="">
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input class="form-control subject" maxlength="100" name="Details[{count}].Subject" placeholder="Subject" type="text" value="">
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input class="form-control topic" maxlength="100" name="Details[{count}].Topic" placeholder="Topic" type="text" value="">
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input class="form-control subtopic" maxlength="100" name="Details[{count}].Subtopic" placeholder="Subtopic" type="text" value="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        @*Iterating Contents ViewModel *@
                                        @for (int i = 0; i < Model.Contents.Count; i++)
                                        {
                                            @Html.HiddenFor(x => Model.Contents[i].ID)
                                            @Html.HiddenFor(x => Model.Contents[i].IsEnabled)
                                            @Html.HiddenFor(x => Model.Contents[i].IsDeleted)
                                            @Html.HiddenFor(x => Model.Contents[i].FilePath)
                                            @Html.HiddenFor(x => Model.Contents[i].FileSize)
                                            @Html.HiddenFor(x => Model.Contents[i].IsDirectory)
                                            @Html.HiddenFor(x => Model.Contents[i].PublishFolder)
                                            @Html.HiddenFor(x => Model.Contents[i].Thumbnail)
                                            @Html.HiddenFor(x => Model.Contents[i].Background)
                                            if (i == 0)
                                            {
                                                <div class="row">
                                                    <div class="form-group col-md-3 mb-0">
                                                        <label class="col-form-label" for="example-text-input">File Name</label>
                                                        <div style="display:block; margin-top:5px;">
                                                            @Html.HiddenFor(x => Model.Contents[i].FileName)
                                                            <label id="lblFileName" class="col-form-label" for="example-text-input" style="color: #a42639;">@Model.Contents[i].FileName</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-1 mb-0">
                                                        <label class="col-form-label" for="example-text-input">File Size</label>
                                                        <div style="display:block; margin-top:5px;">
                                                            @Html.HiddenFor(x => Model.Contents[i].FileSizeText)
                                                            <label id="lblFileSize" class="col-form-label" for="example-text-input" style="color: #a42639;">@Model.Contents[i].FileSizeText</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-1 mb-0">
                                                        <label class="col-form-label" for="example-text-input">Version</label>
                                                        @if (Model.Contents[i].ID != 0)
                                                        {
                                                            <div style="display:block; margin-top:5px;">
                                                                <label id="lblVersionNumber" data-id="@Model.Contents[i].ID" class="col-form-label" for="example-text-input"><a style="text-decoration:none; cursor:pointer" title="Click here to View file">@Model.Contents[i].VersionNumber</a></label>
                                                                @Html.HiddenFor(x => Model.Contents[i].VersionNumber)
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div style="display:block; margin-top:5px;">
                                                                <label data-id="@Model.Contents[i].ID" class="col-form-label" for="example-text-input">@Model.Contents[i].VersionNumber</label>
                                                                @Html.HiddenFor(x => Model.Contents[i].VersionNumber)
                                                            </div>
                                                        }
                                                    </div>
                                                    <div class="form-group col-md-1 mb-0" style="padding-left: 0px;">
                                                        <label class="col-form-label" for="example-text-input">Platform <span class="text-danger">*</span></label>
                                                        <div style="display:block;">
                                                            @Html.HiddenFor(x => Model.Contents[i].PlatformId)
                                                            @Html.TextBoxFor(x => Model.Contents[i].Platform, new { @class = "form-control platform", @maxlength = "100" })
                                                            @Html.ValidationMessageFor(x => Model.Contents[i].Platform)
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-1 mb-0" style="display:block; margin-top:30px;">
                                                        <label data-id="@Model.Contents[i].ID" class="col-form-label lblDescription" for="example-text-input"><a style="text-decoration:none; cursor:pointer" title="Click here to Add/View Description">Description</a></label>
                                                    </div>
                                                    <div class="form-group col-md-1 mb-0" style="display:block; margin-top:30px;">
                                                        <label id="lblWhatIsNew" data-id="@Model.Contents[i].ID" class="col-form-label" for="example-text-input"><a style="text-decoration: none; cursor: pointer" title="Click here to Add/View What's New">What's New</a></label>
                                                    </div>
                                                    <div class="form-group col-md-4 mb-0" style="display:block; margin-top:25px;">
                                                        <div rel="tooltip" title="This action might take some time." class="pull-left">
                                                            @if (Model.Contents[i].IsEnabled == true)
                                                            {
                                                                <input type="checkbox" class="publish" data-id="@i" data-desc="@Model.Contents[i].ID" data-toggle="toggle" checked data-on="Published" data-off="UnPublished" data-onstyle="success" data-offstyle="primary">
                                                            }
                                                            else if (Model.Contents[i].ID == 0)
                                                            {
                                                                <input type="checkbox" class="publish" data-id="@i" data-desc="@Model.Contents[i].ID" data-toggle="toggle" disabled data-on="Published" data-off="UnPublished" data-onstyle="success" data-offstyle="primary">
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" class="publish" data-id="@i" data-desc="@Model.Contents[i].ID" data-toggle="toggle" unchecked data-on="Published" data-off="UnPublished" data-onstyle="success" data-offstyle="primary">
                                                            }
                                                        </div>
                                                        <div class="pull-left">
                                                            <input type="button" id="btnLabel" data-id="@Model.Contents[i].ID" name="btnLabel" class="btn btn-secondary btnLabel" value="Add Label" style="margin-left: 5px;">
                                                        </div>
                                                        <div class="pull-left">
                                                            <span onclick="UploadImage('@i', '@Model.Contents[i].ID', '@Model.Contents[i].PublishFolder')" class="fa fa-photo" data-toggle='tooltip' data-placement='top' title='Click here to add thumbnail' style="font-size:36px;color:#a42639;margin-left: 5px;cursor:pointer;"></span>
                                                        </div>
                                                        <div class="pull-left">
                                                            <span onclick="BackgroundImage('@i', '@Model.Contents[i].ID', '@Model.Contents[i].PublishFolder')" class="fa fa-photo" data-toggle='tooltip' data-placement='top' title='Click here to add background image' style="font-size:36px;color:#a42639;margin-left: 5px;cursor:pointer;"></span>
                                                        </div>
                                                        <div>
                                                            <span onclick="RemoveContent(this, '@i', '@Model.Contents[i].ID', '@Model.Contents[i].FileName')" class="fa fa-trash-o text-danger" data-toggle='tooltip' data-placement='top' title='Click here to delete' style="font-size:36px;color:#a42639;margin-left: 5px;cursor:pointer;"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="form-group col-md-3 mb-0" style="display:block; margin-top:5px;">
                                                        @Html.HiddenFor(x => Model.Contents[i].FileName)
                                                        <label id="lblFileName" class="col-form-label" for="example-text-input" style="color: #a42639;">@Model.Contents[i].FileName</label>
                                                    </div>
                                                    <div class="form-group col-md-1 mb-0" style="display:block; margin-top:5px;">
                                                        @Html.HiddenFor(x => Model.Contents[i].FileSizeText)
                                                        <label id="lblFileSize" class="col-form-label" for="example-text-input" style="color: #a42639;">@Model.Contents[i].FileSizeText</label>
                                                    </div>
                                                    <div class="form-group col-md-1 mb-0" style="display:block; margin-top:5px;">
                                                        <label id="lblVersionNumber" data-id="@Model.Contents[i].ID" class="col-form-label" for="example-text-input"><a style="text-decoration:none; cursor:pointer" title="Click here to View file">@Model.Contents[i].VersionNumber</a></label>
                                                        @Html.HiddenFor(x => Model.Contents[i].VersionNumber)
                                                    </div>
                                                    <div class="form-group col-md-1 mb-0" style="display:block;padding-left: 0px;">
                                                        @Html.HiddenFor(x => Model.Contents[i].PlatformId)
                                                        @Html.TextBoxFor(x => Model.Contents[i].Platform, new { @class = "form-control platform", @maxlength = "100" })
                                                        @Html.ValidationMessageFor(x => Model.Contents[i].Platform)
                                                    </div>
                                                    <div class="form-group col-md-1 mb-0" style="display:block; margin-top:5px;">
                                                        <label data-id="@Model.Contents[i].ID" class="col-form-label lblDescription" for="example-text-input"><a style="text-decoration:none; cursor:pointer" title="Click here to Add/View Description">Description</a></label>
                                                    </div>
                                                    <div class="form-group col-md-1 mb-0" style="display:block; margin-top:5px;">
                                                        <label id="lblWhatIsNew" data-id="@Model.Contents[i].ID" class="col-form-label" for="example-text-input"><a style="text-decoration: none; cursor: pointer" title="Click here to Add/View What's New">What's New</a></label>
                                                    </div>
                                                    <div class="form-group col-md-4 mb-0" style="display:block;">
                                                        <div rel="tooltip" title="This action might take some time." class="pull-left">
                                                            @if (Model.Contents[i].IsEnabled == true)
                                                            {
                                                                <input type="checkbox" class="publish" data-id="@i" data-desc="@Model.Contents[i].ID" data-toggle="toggle" checked data-on="Published" data-off="UnPublished" data-onstyle="success" data-offstyle="primary">
                                                            }
                                                            else if (Model.Contents[i].ID == 0)
                                                            {
                                                                <input type="checkbox" class="publish" data-id="@i" data-desc="@Model.Contents[i].ID" data-toggle="toggle" disabled data-on="Published" data-off="UnPublished" data-onstyle="success" data-offstyle="primary">
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" class="publish" data-id="@i" data-desc="@Model.Contents[i].ID" data-toggle="toggle" unchecked data-on="Published" data-off="UnPublished" data-onstyle="success" data-offstyle="primary">
                                                            }
                                                        </div>
                                                        <div class="pull-left">
                                                            @*<span class='fa fa-file-code-o text-danger' data-id="@Model.Contents[i].ID" data-toggle='tooltip' data-placement='top' title='Click here to generate XML' style="font-size:28px;margin-top: 2px;margin-left: 5px;cursor:pointer;"></span>*@
                                                            <input type="button" id="btnLabel" data-id="@Model.Contents[i].ID" name="btnLabel" class="btn btn-secondary btnLabel" value="Add Label" style="margin-left: 5px;">
                                                        </div>
                                                        <div class="pull-left">
                                                            <span onclick="UploadImage('@i', '@Model.Contents[i].ID', '@Model.Contents[i].PublishFolder')" class="fa fa-photo" data-toggle='tooltip' data-placement='top' title='Click here to add thumbnail' style="font-size:36px;color:#a42639;margin-left: 5px;cursor:pointer;"></span>
                                                        </div>
                                                        <div class="pull-left">
                                                            <span onclick="BackgroundImage('@i', '@Model.Contents[i].ID', '@Model.Contents[i].PublishFolder')" class="fa fa-image" data-toggle='tooltip' data-placement='top' title='Click here to add background image' style="font-size:36px;color:#a42639;margin-left: 5px;cursor:pointer;"></span>
                                                        </div>
                                                        <div>
                                                            <span onclick="RemoveContent(this, '@i', '@Model.Contents[i].ID', '@Model.Contents[i].FileName')" class="fa fa-trash-o text-danger" data-toggle='tooltip' data-placement='top' title='Click here to delete' style="font-size:36px;color:#a42639;margin-left: 5px;cursor:pointer;"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }

                                        <div class="row" id="divInfo" style="display:none">
                                            <div class="alert alert-info">
                                                <strong>Info!</strong> Publish action can be performed only after adding the content as an Asset.
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group text-sm-right col-md-6 my-1">
                                                <button type="button" id="btnReset" class="btn btn-secondary" onclick="NavigatetoPrevious()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Listing</button>
                                                @if (ViewBag.AddedType == "Add")
                                                {
                                                    <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-primary" onclick="ValidateForm();">Add Asset</button>
                                                }
                                                else
                                                {
                                                    <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-primary" onclick="ValidateForm();">Save Changes</button>
                                                }
                                                <button type="button" class="btn btn-default btnVimeoUrl" onclick="AddVimeoUrl();">Add Vimeo Url</button>
                                            </div>
                                        </div>
                                        <div id="divContent">
                                        </div>
                                    </div>
                                }
                            </div>
                            <div role="tabpanel" class="tab-pane" id="activities">
                                <div class="col-md-12">
                                    <div class="row">
                                        <label for="activity" class="col-md-5 control-label text-right" style="margin-top: 5px;">Select Activity</label>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <div id="radioBtn" class="btn-group">
                                                    @foreach (var item in ViewBag.Activities)
                                                    {
                                                        <a class="btn btn-info @(item.ActivityId == 1 ? "active" : "notActive")" data-toggle="activityId" data-title="@item.ActivityId">@item.ActivityName</a>
                                                    }
                                                </div>
                                                <input type="hidden" name="activityId" id="activityId">
                                            </div>
                                        </div>
                                    </div>
                                    <h2 id="activity">@ViewBag.Activities[0].ActivityName</h2>
                                    <hr />
                                    <div class="activity" id="divQuiz"></div>
                                    <div class="activity" id="divPuzzle" style="display:none"></div>

                                    <h2>Available Activities</h2>
                                    <hr />
                                    <div id="divActivities"></div>
                                </div>
                            </div>
                            <div id="relations" class="tab-pane">
                                <div class="col-md-12">
                                    <div id="divRelations"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>@*End of panel div*@
            </div>@*End of row div*@
        </div>
    </section>
</div>
<div class="modal" id="AddDescription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content ui-dialog ui-corner-all ui-front ui-dialog-buttons" style="width: 600px; display: block;">
            <div class="modal-header ui-dialog-titlebar ui-corner-all ui-helper-clearfix">
                <button type="button" class="ui-button ui-corner-all ui-button-icon-only ui-dialog-titlebar-close close-div" data-dismiss="modal" aria-label="Close"><span class="ui-button-icon ui-icon ui-icon-closethick" aria-hidden="true">&times;</span></button>
                <span class="modal-title" id="exampleModalLabel">Add Description</span>
            </div>
            <div class="modal-body" id="divDescription">
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="pull-right">
                        <input type="button" id="btnSaveDesc" class="btn btn-primary" value="Save Description" />
                        <input type="button" id="btnCancelDesc" class="btn btn-secondary close-div" data-dismiss="modal" aria-label="Close" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="AddWhatIsNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content ui-dialog ui-corner-all ui-front ui-dialog-buttons" style="width: 600px; display: block;">
            <div class="modal-header ui-dialog-titlebar ui-corner-all ui-helper-clearfix">
                <button type="button" class="ui-button ui-corner-all ui-button-icon-only ui-dialog-titlebar-close close-div" data-dismiss="modal" aria-label="Close"><span class="ui-button-icon ui-icon ui-icon-closethick" aria-hidden="true">&times;</span></button>
                <span class="modal-title" id="exampleModalLabel">What's New</span>
            </div>
            <div class="modal-body" id="divWhatsNew">
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="pull-right">
                        <input type="button" id="btnSaveComment" class="btn btn-primary" value="Save Comments" />
                        <input type="button" id="btnCancelComment" class="btn btn-secondary close-div" data-dismiss="modal" aria-label="Close" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="AddImageOption" tabindex="-1" role="dialog" aria-labelledby="UploadImage" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content ui-dialog ui-corner-all ui-front ui-dialog-buttons" style="height: auto; width: 500px; display: block;">
            <div class="modal-header ui-dialog-titlebar ui-corner-all ui-helper-clearfix">
                <button type="button" class="ui-button ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" data-dismiss="modal" aria-label="Close"><span class="ui-button-icon ui-icon ui-icon-closethick" aria-hidden="true">&times;</span></button>
                <span class="modal-title">Upload Image</span>
            </div>
            <div class="modal-body" id="divImage">
                @using (Html.BeginForm("UploadImage", "Home", FormMethod.Post, new { @id = "frmImage", enctype = "multipart/form-data" }))
                {
                    <div>
                        <input type="hidden" name="txtRowID" id="txtRowID" />
                        <input type="hidden" name="txtContentID" id="txtContentID" />
                        <input type="hidden" name="txtPath" id="txtPath" />
                        @*@Html.TextBox("UploadFile", "", new { type = "file", @class = "pull-left" })*@
                        <label for="UploadFile" class="custom-file-upload">
                            <i class="fa fa-cloud-upload"></i> Upload Image
                        </label>
                        <input id="UploadFile" name='UploadFile' type="file" style="display:none;">
                        <label id="txtFileName" style="color: #a42639;margin-left: 10px;">No file available</label>
                        <div class="alert alert-danger" id="divError" style="display:none">

                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="pull-right">
                        <input type="button" class="btn btn-primary" id="btnUpload" value="Upload Image" />
                        <input type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal" aria-label="Close" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="AddBackgroundImage" tabindex="-1" role="dialog" aria-labelledby="UploadBackground" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content ui-dialog ui-corner-all ui-front ui-dialog-buttons" style="height: auto; width: 500px; display: block;">
            <div class="modal-header ui-dialog-titlebar ui-corner-all ui-helper-clearfix">
                <button type="button" class="ui-button ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" data-dismiss="modal" aria-label="Close"><span class="ui-button-icon ui-icon ui-icon-closethick" aria-hidden="true">&times;</span></button>
                <span class="modal-title">Upload Background Image</span>
            </div>
            <div class="modal-body" id="divImage">
                @using (Html.BeginForm("BackgroundImage", "Home", FormMethod.Post, new { @id = "frmBackground", enctype = "multipart/form-data" }))
                {
                    <div>
                        <input type="hidden" name="txtBGRowID" id="txtBGRowID" />
                        <input type="hidden" name="txtBGContentID" id="txtBGContentID" />
                        <input type="hidden" name="txtBGPath" id="txtBGPath" />
                        <label for="UploadBGFile" class="custom-file-upload">
                            <i class="fa fa-cloud-upload"></i> Upload Background Image
                        </label>
                        <input id="UploadBGFile" name='UploadBGFile' type="file" style="display:none;">
                        <label id="txtBGFileName" style="color: #a42639;margin-left: 10px;">No background image available</label>
                        <div class="alert alert-danger" id="divBGError" style="display:none">

                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="pull-right">
                        <input type="button" class="btn btn-primary" id="btnBGUpload" value="Upload Image" />
                        <input type="button" class="btn btn-secondary" id="btnBGCancel" data-dismiss="modal" aria-label="Close" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="AddVimeoUrl" tabindex="-1" role="dialog" aria-labelledby="VimeoUrl" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content ui-dialog ui-corner-all ui-front ui-dialog-buttons" style="height: auto; width: 500px; display: block;">
            <div class="modal-header ui-dialog-titlebar ui-corner-all ui-helper-clearfix">
                <button type="button" class="ui-button ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" data-dismiss="modal" aria-label="Close"><span class="ui-button-icon ui-icon ui-icon-closethick" aria-hidden="true">&times;</span></button>
                <span class="modal-title">Add Vimeo Url</span>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddVimeoUrl", "Home", FormMethod.Post, new { @id = "frmVimeoUrl", enctype = "multipart/form-data" }))
                {
                    <div>
                        <input type="hidden" name="txtAssetID" id="txtAssetID" value="@Model.AssetID" />
                        <input type="text" class="form-control" name="txtVimeoUrl" id="txtVimeoUrl" value="@Model.VimeoUrl" />
                        <div class="alert alert-danger" id="divVimeoError" style="display:none">

                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="pull-right">
                        <input type="button" class="btn btn-primary" id="btnAddVimeoUrl" value="Save Vimeo Url" />
                        <input type="button" class="btn btn-secondary" id="btnVimeoUrlCancel" data-dismiss="modal" aria-label="Close" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
@Scripts.Render("~/bundles/select2")

<script>
    var inputsChanged = false;
    var publishStatus = false;
    var availableLanguages = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Language));
    var availablePackages = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Package));
    var availablePlatforms = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Platform));
    var availableTypes = @Html.Raw(Json.Encode((IEnumerable<String>)ViewBag.AssetType));
    var availableStatus = @Html.Raw(Json.Encode((IEnumerable<String>)ViewBag.Status));
    var availableTags = @Html.Raw(Json.Encode((IEnumerable<String>)ViewBag.Tags));
    var availableProperties = @Html.Raw(Json.Encode((IEnumerable<String>)ViewBag.Properties));

    $(document).ready(function () {
        if ('@TempData["Message"]' != '') {
            alert('@TempData["Message"]');
        }

        $(this).scrollTop(0);

        GetAllLanguages();
        GetAllPlatforms();
        GetMasterData();
        GetPackages();

        $("input:text:visible").each(function (index, element) {
            if (isEmpty($(this))) {
                $(this).focus();
                return false;
            }
        });

        if ($('#hdnAssetID').val() == 0) {
            $('#divInfo').show();
            $('.btnLabel').hide();
            $('#divQuiz').hide();
            $('#divVimeoUrl').hide();
        }
        else {
            $('#divInfo').hide();
            if ($('#AssetType').val() == '3D Model') {
                $('.btnLabel').show();
                $('.btnVimeoUrl').hide();
            }
            else if ($('#AssetType').val() == 'Activity – Quizzes') {
                $('#divQuiz').show();
                $('.btnLabel').hide();
                $('.btnVimeoUrl').hide();
            }
            else if ($('#AssetType').val() == '3D Video' || $('#AssetType').val() == '2D Video') {
                $('.btnVimeoUrl').show();
                $('.btnLabel').hide();
                $('#divQuiz').hide();
            }
            else {
                $('.btnLabel').hide();
                $('.btnVimeoUrl').hide();
            }
        }

        //added for existing assets
        //if ($('#Package').is(':empty')) {
        //    $('#Package').removeAttr('readonly', 'readonly');
        //}

        function isEmpty(el) {
            return !$.trim(el.val())
        }
        if (isEmpty($('#Package'))) {
            $('#Package').removeAttr('readonly', 'readonly');
        }

        $('[data-dismiss=modal]').on('click', function (e) {
            var $t = $(this),
                target = $t[0].href || $t.data("target") || $t.parents('.modal') || [];

            $(target)
                .find("input,textarea,select")
                .val('')
                .end()
                .find("input[type=checkbox], input[type=radio]")
                .prop("checked", "")
                .end();
        })

        //$('#frmAsset input').change(function () {
        //    inputsChanged = true;
        //});

        //$(window).unload(function () {
        //    inputsChanged = getHasChanges();

        //    if (inputsChanged === true) {
        //        var message = 'Would you like to save your changes before exiting?';

        //        if (confirm(message, function () {

        //        }));
        //    }
        //});

        $(".publish").bind("change", function () {
            var contentID = $(this).attr('data-desc');
            if (publishStatus == false) {
                if ($(this).prop('checked') == false) {
                    UnpublishContent($(this), contentID);
                }
                else {
                    inputsChanged = getHasChanges();
                    if (inputsChanged) {
                        var message = 'Asset details has been modified, save changes to perform publish activity.';
                        alert(message);
                    }
                    else if (inputsChanged === false) {
                        PublishContent($(this), contentID);
                    }
                }
            }
            else {
                publishStatus = false;
            }
        })

        //if ($('#IsQuizEnabled').val() == 'True' || $('#IsQuizEnabled').val() == 'true') {
        //    $('#divQuizDetails').show();
        //}
        //else {
        //    $('#divQuizDetails').hide();
        //}
    });

    $('#radioBtn a').on('click', function () {
        $('div .activity').hide();
        var sel = $(this).data('title');
        var tog = $(this).data('toggle');
        var activity = $(this).html();
        $('#' + tog).prop('value', sel);
        $('#activity').html(activity);
        $('#div' + activity).show();
        if (activity == 'Quiz') {
            GetQuiz();
        }
        else if (activity == 'Puzzle') {
            GetPuzzle();
        }
        $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
        $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
    })

    function GetQuiz() {
        var id = $('#AssetID').val();
        if ($('#divQuiz').html().length < 1) {
            $('#divQuiz').load('@Url.Action("GetQuiz", "Home", new { assetID = "Num" })'.replace("Num", id));
        }

        if ($('#divActivities').html().length < 1) {
            $('#divActivities').load('@Url.Action("GetActivity", "Home", new { assetID = "Num" })'.replace("Num", id));
        }
    }

    function GetPuzzle() {
        var id = $('#AssetID').val();
        if ($('#divPuzzle').html().length < 1) {
            $('#divPuzzle').load('@Url.Action("GetPuzzle", "Home", new { assetID = "Num" })'.replace("Num", id));
        }

        if ($('#divActivities').html().length < 1) {
            $('#divActivities').load('@Url.Action("GetActivity", "Home", new { assetID = "Num" })'.replace("Num", id));
        }
    }

    function GetLinkedAssets() {
        var id = $('#AssetID').val();

        if ($('#divRelations').html().length < 1) {
            $('#divRelations').load('@Url.Action("GetLinkedAssets", "Home", new { assetID = "Num" })'.replace("Num", id), 'asset=@Model.AssetName');
        }
    }

    function RemoveContent(e, num, id, content) {
        var message = 'Are you sure you want to delete <b>' + content + '</b>?';

        if (confirm(message, function () {
            $.ajax({
                url: '/Home/RemoveContent',
                data: { Id: id },
                type: 'GET',
                async: false,
                success: function (data) {
                    if (data == "Error") {
                        alert("<strong>Error!</strong> You do not specified a file.");
                    }
                    else if (data == "Exception") {
                        alert("<strong>Error!</strong> Some error occured while deleting content file.");
                    }
                    else if (data == "Access") {
                        $('#Contents_' + num + '__IsDeleted').val("True");
                        $(e).parent().parent().parent().hide();
                        alert("Selected asset version removed successfully.");
                    }
                    else {
                        $('#Contents_' + num + '__IsDeleted').val("True");
                        $(e).parent().parent().parent().hide();
                        alert("Content file deleted successfully.");
                        //var asset = parseInt(data);
                        //setTimeout(function () {
                            //window.location.reload();
                        //}, 200);
                        @*var url = '@Url.Action("AddUpdateAsset", "Home", new { AssetID = "__id__" })';
                        window.location.href = url.replace('__id__', asset);*@

                    }
                }
            });
        }));
    }

    function AddVimeoUrl() {
        var id = $('#hdnAssetID').val();
        if (id == 0)
            alert("Add the asset before adding vimeo url.")
        else {
            $('#divVimeoError').hide();
            $('#btnAddVimeoUrl').val("Save Vimeo Url");
            $('#btnVimeoUrlCancel').val("Cancel");
            $('#txtVimeoUrl').val($('#hdnVimeoUrl').val());
            $('#AddVimeoUrl').modal('show');
        }
    }

    $("#btnAddVimeoUrl").on("click", function () {
        var actionurl = '/Home/AddVimeoUrl';
        var formData = new FormData($("#frmVimeoUrl")[0]);
        $.ajax({
            url: actionurl,
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            async: false,
            success: function (data) {
                if (data == "Error") {
                    $('#divVimeoError').append("<strong>Error!</strong> Provide vimeo url value.").show();
                }
                else if (data == "Exception") {
                    $('#divVimeoError').append("<strong>Error!</strong> Some error occured while adding vimeo url.").show();
                }
                else {
                    $('#hdnVimeoUrl').val(data);
                    $('#AddVimeoUrl').modal('hide');
                    alert("Vimeo Url added successfully");
                }
            }
        });
    });
</script>
<script type="text/javascript">
    function error_handler(e) {
        if (typeof e.errors === 'string') {
            if (e.errors == 'ALREADY_EXISTS') {
                alert('Activity already exists.');
            }
            grid.cancelChanges();
        }
    }

    function request_start(e) {
        kendo.ui.progress($("#grid"), false);
    }

    function request_end(e) {
        if (typeof e.response.Errors === 'string')
            return false;

        if (e.type == "create" || e.type == "update" || e.type == "destroy") {
            if (e.type == "create") {
                alert("Activity added successfully.");
            }
            else if (e.type == "update") {
                alert("Activity updated successfully.");
            }
            else if (e.type == "destroy") {
                alert("Activity deleted successfully.");
            }
        }
    }

    function AdditionalInfo() {
        var id = $('#hdnAssetID').val();
        return {
            Id: id
        }
    }

    //register custom validation rules
    (function ($, kendo) {
        $.extend(true, kendo.ui.validator, {
            rules: { // custom rules
                typenamevalidation: function (input, params) {
                    if (input.is("[name='TypeName']") && input.val().trim() == "") {
                        input.attr("data-typenamevalidation-msg", "Activity Name is required.");
                        return false;
                    }
                    else if (input.is("[name='TypeName']") && input.val().trim() != "") {
                        input.attr("data-typenamevalidation-msg", "Activity Name should start with capital letter.");
                        return /^[A-Z]/.test(input.val().trim());
                    }

                    return true;
                }
            },
            messages: { //custom rules messages
                typenamevalidation: function (input) {
                    return input.attr("data-val-typenamevalidation");
                }
            }
        });
    })(jQuery, kendo);

    function onDataBound(e) {
        $('[data-toggle="tooltip"]').tooltip();
        ShowNoDataMsgGrid(e);
    }

    function deleteItem(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var message = 'Are you sure you want to delete <b>' + dataItem.ActivityName + '</b> ' + $('#Activity').val() + '?';

        if (confirm(message, function () {
            var grid = $("#grid").data("kendoGrid");
            grid.dataSource.remove(dataItem);
            grid.dataSource.sync();
            grid.refresh();
        }));
    }
</script>
<script src="~/Scripts/asset.js"></script>