﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Assets";
}
<style>
    .footer,
    .push {
        height: 50px;
    }

    .k-grid-header {
        background-color: darkblue !important;
        padding: 0 !important;
    }

        .k-grid-header th.k-header {
            background-color: #a42639 !important;
        }

    html .k-edit-cell .k-tooltip, html .k-grid-edit-row .k-tooltip {
        margin: 0px;
        color: Red;
        background: pink;
    }

    .k-grid-content {
        overflow-x: scroll;
        overflow-y: visible;
    }

    input[type=search] {
        height: 2.43em;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: white;
        background-image: url('../../Content/images/searchicon.png');
        background-position: 5px 5px;
        background-repeat: no-repeat;
        padding: 5px 10px 5px 30px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    .btnReset {
        background-color: #808080 !important;
    }
</style>

<div class="wrapper page-wrap">
    <section id="checklist">
        <div class="container">
            @*<nav class="breadcrumb">
                    <a class="breadcrumb-item" href="/Home/Index">Dashboard</a> |
                    <span class="breadcrumb-item active">Assets</span>
                </nav>*@
            <div class="row">
                <h2>Assets</h2>
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div class="row">
                <div id="gvAssets" class="checkout-right animated wow slideInUp" style="padding-top:0px;" data-wow-delay=".5s">
                    @{
                        var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
                    }

                    @helper ToolbarTemplate()
                    {
                        <div class="toolbar" style="float:right; margin-top:-40px;">
                            <button type="button" id="btnAssign" class="btn btn-primary">Assign</button>
                            <button type="button" id="btnModule" class="btn btn-primary" onclick="location.href='/Module/Index';"><i class="fa fa-plus" aria-hidden="true"></i> Add Module</button>
                            <input type="search" class="searchBox" placeholder="Search.." style="width: 165px" tabindex="1" />
                            <input type="button" class="k-button btnReset" style="color:#fff;margin-left:5px !important;" value="Reset" tabindex="3" />
                            <input type="button" class="k-button btnSearch" style="color:#fff;margin-left:5px !important;" value="Search" tabindex="2" />
                        </div>
                    }

                    <script type="text/x-kendo-template" id="toolbarTemplate">
                        @Html.Raw(@ToolbarTemplate().ToHtmlString().Replace("#", "\\#").Replace("</scr", "<\\/scr"))
                    </script>

                    @(Html.Kendo().Grid<_3DLContentManagement.Models.AssetViewModel>()
                                    .Name("grid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.AssetID).Title("Select").Width(60).Sortable(false).Filterable(false).HtmlAttributes(new { @class = "text-center" }).Template(@<text></text>).ClientTemplate("<input type='checkbox' class='chkbx' id='#= AssetID #' />");
                                columns.Bound(p => p.FilePath).Hidden(true);
                                columns.Bound("AssetID").Title("<b>Actions</b>").Width(80).Sortable(false).Filterable(false).ClientTemplate(
                                    "<a style='cursor:pointer;' onclick='ViewAssetOrDir(\"#:FilePath#\", \"#:FileName#\", \"#:IsDirectory#\");'><span class='fa fa-eye' data-toggle='tooltip' data-placement='top' title='Click here to view'></span></a>&nbsp;&nbsp;" +
                                    "<a onclick='SelectAsset();' href='" + Url.Action("AddUpdateAsset", "Home") + "?assetID=#:AssetID#'" + "><span class='fa fa-pencil-square text-success' data-toggle='tooltip' data-placement='top' title='Click here to update'></span></a>&nbsp;&nbsp;" +
                                    "<a style='cursor:pointer;' onclick='DeleteAsset(\"#:AssetID#\", \"#:AssetName#\");' rel='#:AssetID#'><span class='fa fa-trash-o text-danger' data-toggle='tooltip' data-placement='top' title='Click here to delete'></span></a>");
                                columns.Bound(p => p.AssetName).Title("Name").Width(150);//.Locked(true).Lockable(false)
                                    columns.Bound(p => p.FileName).Title("File Name").Width(150);
                                columns.Bound(p => p.FileSize).Title("File Size").Width(110).Filterable(false).ClientTemplate("#: FileSizeText #"); ;
                                columns.Bound(p => p.FileSizeText).Title("File Size").Hidden(true);
                                columns.Bound(p => p.Status).Title("Status").Width(100);
                                columns.Bound(p => p.AssetType).Title("Type").Width(80);
                                columns.Bound(p => p.Language).Title("Language").Width(110);
                                columns.Bound(p => p.Subject).Title("Subject").Width(150);
                                columns.Bound(p => p.Topic).Title("Topic").Width(150);
                                columns.Bound(p => p.Subtopic).Title("Subtopic").Width(150).HtmlAttributes(new { title = "#= SubtopicDesc #" });
                                //columns.Bound(p => p.Tags).Title("Tags").Hidden(true);
                                columns.Bound(p => p.ModifiedOn).Title("Last Updated").Width(110).ClientTemplate("#= kendo.toString(kendo.parseDate(ModifiedOn), 'dd MMM yyyy') #");
                                columns.Bound(p => p.ModifiedByName).Title("Updated by").Width(110);
                            })
                            //Added a template to the toolbar
                            .ToolBar(toolbar =>
                            {
                                toolbar.Template(
                                    @<Text>
                                    @ToolbarTemplate()
                                    </Text>);
                    })
            .Editable(editable => editable.Mode(GridEditMode.InLine))
            .Pageable(pager => pager.PageSizes(true).PageSizes(new int[] { 10, 25, 50, 100 }))
            .Scrollable(s => s.Height("auto"))
            .Sortable().Events(events => events.DataBound("onDataBound"))
            .Resizable(rsb => rsb.Columns(true))
            .Reorderable(r => r.Columns(true))
            .Filterable(filterable => filterable
                .Extra(false)
                .Operators(operators => operators
                    .ForString(str => str.Clear()
                        .StartsWith("Starts with")
                        .IsEqualTo("Is equal to")
                        .IsNotEqualTo("Is not equal to")
                        .Contains("Contains")
                    ))
            )
            .HtmlAttributes(new { style = "min-height:350px;" })
            .DataSource(dataSource => dataSource
            .Ajax()
            .Sort(sort => sort.Add("AssetName"))
            .Model(model =>
            {
                model.Id(p => p.AssetID);
                model.Field(p => p.IsActive).DefaultValue(true);
                model.Field(p => p.FileName).Editable(false);
                model.Field(p => p.ModifiedOn).Editable(false);
                model.Field(p => p.ModifiedByName).Editable(false);
            })
            .PageSize(10)
            .Events(events => events.Error("error_handler").RequestEnd("request_end").RequestStart("request_start"))
            .Model(model => model.Id(p => p.AssetID))
            .Create(update => update.Action("AddUpdateAssets", "Home"))
            .Read(read => read.Action("GetAll", "Home").Data("sendCulture"))
            .Update(update => update.Action("AddUpdateAssets", "Home"))
            .Destroy(update => update.Action("DeleteAsset", "Home"))
        )
                    )
                    <script id="customPopUpTemplate" type="text/x-kendo-template">
                        <div class="k-edit-label">AssetName: </div>
                        <div class="k-edit-field">
                            <input name="AssetName" required class="k-textbox" />
                        </div>
                    </script>
                    <script type="text/javascript">

                        $(function () {
                            var grid = $("#grid").data("kendoGrid");
                            var options = localStorage["kendo-grid-options"];
                            if (options) {
                                var parsedOptions = JSON.parse(options);
                                parsedOptions.toolbar = [
                                    { template: $("#toolbarTemplate").html() }
                                ];
                                grid.setOptions(parsedOptions);
                            }

                            $("#grid").on("keypress", ".searchBox", function (e) {
                                var key = e.which || e.keyCode;
                                if (key == 13) {
                                    if ($("#grid").find('.searchBox').val() == null || $("#grid").find('.searchBox').val() == '') {
                                        $("#grid").find('.btnReset').trigger('click');
                                    }
                                    else {
                                        $("#grid").find('.btnSearch').trigger('click');
                                    }
                                }
                            });

                            $('input').keydown(function (event) {
                                if (event.keyCode == 9 && $(event.target).is('.btnReset')) {
                                    $("#grid").find('.searchBox').focus();
                                    event.preventDefault();
                                }
                                else if (event.keyCode == 27) {
                                    $("#grid").find('.btnReset').focus();
                                    event.preventDefault();
                                }
                            });

                            if ($("#grid").find('.searchBox').val() != null && $("#grid").find('.searchBox').val() != '') {
                                $("#grid").find('.btnSearch').trigger('click');
                            }
                        });

                        //Searching the Grid by the value of the textbox
                        $("#grid").on("click", ".btnSearch", function (e) {
                            var searchValue = $("#grid").find('.searchBox').val();

                            //Setting the filter of the Grid
                            $("#grid").data("kendoGrid").dataSource.filter({
                                logic: "or",
                                filters: [
                                    {
                                        field: "AssetName",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "FileName",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "FileSizeText",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Status",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "AssetType",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Language",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Subject",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Topic",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Subtopic",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    //{
                                    //    field: "Tags",
                                    //    operator: "contains",
                                    //    value: searchValue
                                    //},
                                    //{
                                    //    field: "ModifiedOn",
                                    //    operator: "contains",
                                    //    value: searchValue
                                    //},
                                    {
                                        field: "ModifiedByName",
                                        operator: "contains",
                                        value: searchValue
                                    }
                                ]
                            });
                        });

                        //Clearing the filter
                        $("#grid").on("click", ".btnReset", function (e) {
                            $("#grid").find('.searchBox').val("");
                            $("#grid").data("kendoGrid").dataSource.filter({});
                            localStorage.removeItem("kendo-grid-options");
                        });

                        //send current culture with all ajax requests
                        function sendCulture() {
                            return { culture: "@culture" }
                        }

                        function error_handler(e) {
                            if (typeof e.errors === 'string') {
                                if (e.errors == 'ALREADY_EXISTS') {
                                    alert('Asset already exists.');
                                }
                                var grid = $("#grid").data("kendoGrid");
                                grid.cancelChanges();
                            }
                        }

                        function request_start(e) {
                            kendo.ui.progress($("#grid"), false);
                        }

                        function request_end(e) {
                            if (typeof e.response.Errors === 'string')
                                return false;

                            if (e.type == "create" || e.type == "update" || e.type == "destroy") {
                                $('#grid').data().kendoGrid.dataSource.read();

                                if (e.type == "create") {
                                    alert("Asset added successfully.");
                                }
                                else if (e.type == "update") {
                                    alert("Asset updated successfully.");
                                }
                                else if (e.type == "destroy") {
                                    alert("Asset deleted successfully.");
                                }
                            }
                        }

                        //register custom validation rules
                        (function ($, kendo) {
                            $.extend(true, kendo.ui.validator, {
                                rules: { // custom rules
                                    assetnamevalidation: function (input, params) {
                                        if (input.is("[name='AssetName']") && input.val().trim() == "") {
                                            input.attr("data-assetnamevalidation-msg", "Name is required.");
                                            return false;
                                        }
                                        return true;
                                    }
                                },
                                messages: { //custom rules messages
                                    assetnamevalidation: function (input) {
                                        return input.attr("data-val-assetnamevalidation");
                                    }
                                }
                            });
                        })(jQuery, kendo);

                        function onDataBound(e) {
                            $('[data-toggle="tooltip"]').tooltip();
                            ShowNoDataMsgGrid(e);
                        }

                        function DeleteAsset(AssetId, Asset) {
                            //console.log($(par).attr("rel"));
                            var message = 'Are you sure you want to delete <b>' + Asset + '</b> Asset?';

                            if (confirm(message, function () {
                                $.ajax({
                                    url: '/Home/DeleteAssets',
                                    data: { Id: AssetId },
                                    type: 'GET',
                                    success: function (data) {
                                        $('#grid').data().kendoGrid.dataSource.read();
                                        alert("Asset deleted successfully.");
                                    }
                                });
                            }));
                        }

                        function UpdateAsset(AssetId) {
                            var varForm = document.createElement("form");

                            var i = document.createElement("input");
                            i.setAttribute('type', "hidden");
                            i.setAttribute('name', "assetID");
                            i.setAttribute('value', AssetId);
                            varForm.appendChild(i);

                            varForm.setAttribute('method', "get");
                            varForm.setAttribute('action', "/Home/AddUpdateAsset");
                            document.body.appendChild(varForm);
                            varForm.hidden = true;
                            varForm.submit();
                        }

                        function SelectAsset() {
                            showLoader();
                            var grid = $("#grid").data("kendoGrid");
                            localStorage["kendo-grid-options"] = kendo.stringify(grid.getOptions());
                        }
                    </script>
                </div>
            </div>
        </div>
    </section>
</div>

<!-----POP UP---->
<div class="modal" id="AssignModal" tabindex="-1" role="dialog" aria-labelledby="Assign" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content ui-dialog ui-corner-all ui-front ui-dialog-buttons" style="height: auto; width: 700px; display: block;">
            <div class="modal-header ui-dialog-titlebar ui-corner-all ui-helper-clearfix">
                <button type="button" class="ui-button ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" data-dismiss="modal" aria-label="Close"><span class="ui-button-icon ui-icon ui-icon-closethick" aria-hidden="true">&times;</span></button>
                <span class="modal-title">Assign package and other details to the selected Assets</span>
            </div>
            <div class="modal-body" id="divDetail" style="padding-bottom: 0px;">                
            </div>
            <div class="modal-footer" style="padding: 5px;">
                <div class="pull-right">
                    <input type="button" class="btn btn-primary" id="btnAddDetails" value="Add Details" />
                    <input type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal" aria-label="Close" value="Cancel" />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var allSelectedModels = [];

    $(document).on("click", "#btnClose", function () {
        $('video').trigger('pause');
    });

    function ViewAssetOrDir(Path, File, Type) {
        if (Type == "true") {
            Path = Path.substring(0, Path.length - File.length);
            window.location.href = "/Content/Index?path=" + Path + "&file=" + File;
        }
        else {
            var obj = {};

            obj.Type = '.' + File.split('.').pop(); //File.substring(File.lastIndexOf('.')+1, File.length)
            obj.Path = '@ViewBag.FilePath' + Path;

            openPopUp(obj)
        }
    }

    $(function () {
        $('#grid').on('click', '.chkbx', function () {
            var checked = $(this).is(':checked');

            if (checked == false) {
                $(this).removeClass('checkedbox');
                $(this).closest('tr').removeClass('k-state-selected');
            }
            else {
                $(this).addClass('checkedbox');
                $(this).closest('tr').addClass('k-state-selected');
            }
        });

        $('#btnAssign').on('click', function () {
            var selectedCount = 0;
            var allSelected = $("#grid tr.k-state-selected");
            allSelectedModels = [];
            $.each(allSelected, function (e) {
                var row = $(this);
                var grid = row.closest(".k-grid").data("kendoGrid");
                var dataItem = grid.dataItem(row);

                allSelectedModels.push(dataItem.AssetID);
                selectedCount++;
            });

            if (selectedCount > 0) {
                $("#AssignModal").modal('show');
                $("#divDetail").empty();
                $('#divDetail').append($('<div class="row">').load("/Home/GetNewRow"));
                //$("#txtAssetIds").val(allSelectedModels);
            }
            else {
                alert('Please select the models first.');
            }
        });
    }); 

    $("#btnAddDetails").on("click", function () {
        var actionurl = '/Home/AssignDetails';
        var formData = new FormData($("#formAssign")[0]);

        $.ajax({
            url: actionurl,
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            async: false,
            success: function (data) {
                if (data == "Error") {
                    $('#divError').append("<strong>Error!</strong> You do not specified a package and other details.").show();
                }
                else if (data == "Exception") {
                    $('#divError').append("<strong>Error!</strong> Some error occured while adding details.").show();
                }
                else {
                    $('#AssignModal').modal('hide');
                    alert("Package and other details assigned successfully.");
                }
            }
        });
    });

    //$('#AssignModal').on('Close', function () {
    //    $("#divDetail").empty();
    //})
    //$(window).unload(function () {
    //    var grid = $("#grid").data("kendoGrid");
    //    sessionStorage["kendo-grid-options"] = kendo.stringify(grid.getOptions());
    //});
</script>
