﻿@model _3DLContentManagement.Models.ExplorerModel
@{
    ViewBag.Title = "Home";
}
<style>
    .table tbody tr td {
        line-height: 2.28571429;
    }

    .table tbody tr th {
        line-height: 2.28571429;
        background-color: white !important;
    }

    .table tbody tr:hover {
        background-color: #eceeef !important;
    }

    input[type=text] {
        width: 165px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        /*font-size: 16px;*/
        background-color: white;
        background-image: url('../../Content/images/searchicon.png');
        background-position: 5px 5px;
        background-repeat: no-repeat;
        padding: 5px 10px 5px 30px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        margin-top: 15px;
        margin-bottom: 10px;
    }

        input[type=text]:focus {
            width: 165px;
        }
</style>

<div class="wrapper">
    <div class="animated slideInRight col-padd">
        <div class="row">
            <div class="col-md-8">
                <h2 class="card-header text-xs-left">
                    <a href="#master" data-toggle="collapse" aria-expanded="false" aria-controls="activity-collapsed" id="master-collapse" style="text-decoration:none; color: #000000;">
                        @(ViewBag.Folder == null ? "3DL Content" : ViewBag.Folder):
                        <i class="minus-plus-master fa fa-chevron-down float-xs-right"></i>
                    </a>
                </h2>
            </div>
            <div class="col-md-4 text-right">
                <form id="formSearch" method="post" action="/Home/Index">
                    <input type="hidden" name="path" id="path" value="@ViewBag.path">
                    <input type="hidden" name="file" id="file" value="@ViewBag.Folder">
                    <input type="text" name="search" id="txtSearch" placeholder="Search..">
                </form>
            </div>
        </div>
        <div id="divMessage" class='text-success' style="display:none; font-size:medium">
            @*<h3>Welcome @Session["Name"].ToString() to 3DL Content Management!!</h3>*@
        </div>
        <div class="table-responsive collapse in my-0" id="master">
            <table class="table table-bordered table-sm hover-state tablepadding">
                <tbody>
                    <tr>
                        @if (Model.dirModelList.Count == 0 && Model.fileModelList.Count == 0)
                        {
                            <th width="69%">
                                No directory or file available (Path: @ViewBag.Path)
                            </th>
                        }
                        else
                        {
                            <th width="69%">
                                Directory or File Name (Path: @ViewBag.Path)
                            </th>
                        }
                        <th width="0%" style="display:none">Thumbnail</th>
                        <th width="7%">Status</th>
                        <th width="12%">Directory or File Size</th>
                        @if (ViewBag.Folder != null)
                        {
                            <th width="12%">
                                <button type="button" id="btnBack" class="btn btn-secondary" onclick="NavigatetoPreviousDir()" style="float:right; padding: 6px 9px;"><i class="fa fa-backward" aria-hidden="true"></i> Back to top folder</button>
                            </th>
                        }
                        else
                        {
                            <th width="12%">Action</th>
                        }
                    </tr>

                    @foreach (_3DLContentManagement.Models.DirModel dir in Model.dirModelList)
                    {
                        <tr>
                            <td scope="row">
                                <i class="fa fa-folder" style="color:#efd59e"></i>&nbsp;
                                @if (ViewBag.Search != null)
                                {
                                    <a href="/Home/Index?path=@dir.DirPath&file=@dir.DirName">@dir.DirName</a>
                                }
                                else
                                {
                                    <a href="/Home/Index?path=@ViewBag.Path&file=@dir.DirName">@dir.DirName</a>
                                }
                            </td>
                            <td style="text-align:center;display:none">
                                <a href="#" onclick="UploadFile('@dir.DirPath', '@dir.DirName', 1)">
                                    <span class="fa fa-photo" data-toggle='tooltip' data-placement='top' title='Click here to add thumbnail' style="font-size:24px;color:#a42639;"></span>
                                </a>
                            </td>
                            <td>
                                @if (dir.Status == "Linked")
                                {
                                    <a href="/Home/Assets?path=@dir.DirPath&file=@dir.DirName">@dir.Status</a>
                                }
                                else
                                {
                                    @dir.Status
                                }
                            </td>
                            <td>@dir.DirSizeText</td>
                            <td>
                                @if (ViewBag.Search != null)
                                {
                                    <button type="button" id="btnAdd" name="btnAdd" class="btn btn-primary" onclick="fnAddSearchAssets('@dir.DirPath', '@dir.DirName', '@dir.DirSize', 1)" style="float:right;"><i class="fa fa-plus" aria-hidden="true"></i> Add to Asset List</button>
                                }
                                else
                                {
                                    <button type="button" id="btnAdd" name="btnAdd" class="btn btn-primary" onclick="fnAddAssets('@dir.DirName', '@dir.DirSize', 1)" style="float:right;"><i class="fa fa-plus" aria-hidden="true"></i> Add to Asset List</button>
                                }
                            </td>
                        </tr>
                    }

                    @*Listing the files *@
                    @foreach (_3DLContentManagement.Models.FileModel file in Model.fileModelList)
                    {
                        <tr>
                            <td scope="row">
                                <i class="fa fa-file" style="color:#b2adad"></i>&nbsp;
                                @if (ViewBag.Search != null)
                                {
                                    <a href="#" onclick="ViewSearchAsset('@file.FilePath', '@file.FileName')">@file.FileName</a>
                                }
                                else
                                {
                                    <a href="#" onclick="ViewAsset('@file.FileName')">@file.FileName</a>
                                }
                            </td>
                            <td style="text-align:center;display:none">
                                <a href="#" onclick="UploadFile('@file.FilePath', '@file.FileName', 0)">
                                    <span class="fa fa-photo" data-toggle='tooltip' data-placement='top' title='Click here to add file' style="font-size:24px;color:#a42639;"></span>
                                </a>
                            </td>
                            <td>
                                @if (file.Status == "Linked")
                                {
                                    <a href="/Home/Assets?path=@file.FilePath&file=@file.FileName">@file.Status</a>
                                }
                                else
                                {
                                    @file.Status
                                }
                            </td>
                            <td>@file.FileSizeText</td>
                            <td>
                                @if (ViewBag.Search != null)
                                {
                                    <button type="button" id="btnAdd" name="btnAdd" class="btn btn-primary" onclick="fnAddSearchAssets('@file.FilePath', '@file.FileName', '@file.FileSize', 0)" style="float:right;"><i class="fa fa-plus" aria-hidden="true"></i> Add to Asset List</button>
                                }
                                else
                                {
                                    <button type="button" id="btnAdd" name="btnAdd" class="btn btn-primary" onclick="fnAddAssets('@file.FileName', '@file.FileSize', 0)" style="float:right;"><i class="fa fa-plus" aria-hidden="true"></i> Add to Asset List</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-----POP UP---->
<div class="modal" id="AddFileOption" tabindex="-1" role="dialog" aria-labelledby="UploadFile" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content ui-dialog ui-corner-all ui-front ui-dialog-buttons" style="height: auto; width: 500px; display: block;">
            <div class="modal-header ui-dialog-titlebar ui-corner-all ui-helper-clearfix">
                <button type="button" class="ui-button ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" data-dismiss="modal" aria-label="Close"><span class="ui-button-icon ui-icon ui-icon-closethick" aria-hidden="true">&times;</span></button>
                <span class="modal-title" id="UploadFile">Upload File</span>
            </div>
            <div class="modal-body">
                <div class="row">
                    @using (Html.BeginForm("UploadFiles", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div>
                            <input type="hidden" name="txtPath" id="txtPath" />
                            <input type="hidden" name="txtFile" id="txtFile" />
                            <input type="hidden" name="txtFileType" id="txtFileType" />
                            @Html.TextBox("UploadFile", "", new { type = "file" })
                            <br />
                            <input type="submit" value="Upload Image" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="AddAssetOption" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content ui-dialog ui-corner-all ui-front ui-dialog-buttons" style="height: auto; width: 550px; display: block;">
            <div class="modal-header ui-dialog-titlebar ui-corner-all ui-helper-clearfix">
                <button type="button" class="ui-button ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" data-dismiss="modal" aria-label="Close"><span class="ui-button-icon ui-icon ui-icon-closethick" aria-hidden="true">&times;</span></button>
                <span class="modal-title" id="exampleModalLabel">Select an option to add this file/directory</span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-6">
                            <label class="radio-inline" style="cursor:pointer;">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Exist" /> Add to existing Asset
                            </label>
                        </div>
                        <div class="col-lg-6">
                            <label class="radio-inline" style="cursor:pointer;">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="New" /> Create new Asset
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if ('@TempData["Message"]' != '') {
            if ('@TempData["Message"]' == 'Login') {
                var timePeriodInMs = 4000;

                setTimeout(function () {
                    document.getElementById("divMessage").style.display = "none";
                }, timePeriodInMs);
            }
            else {
                if ('@ViewBag.Search' == 'Search') {
                    $("#divMessage").html(unescape('@TempData["Message"]'));
                    document.getElementById("divMessage").style.display = "block";
                }
                else {
                    alert('@TempData["Message"]');
                }
            }
        }
        else {
            document.getElementById("divMessage").style.display = "none";
        }

        $("#master-collapse").click(function () {
            $(".minus-plus-master").toggleClass("fa-chevron-down fa-chevron-right");
        })

        $('#AddImageOption').modal('hide');
    });

    $(document).on("click", "#btnClose", function () {
        $('video').trigger('pause');
        NavigatetoPrevious();
    });

    function ViewAsset(File) {
        var obj = {};

        obj.Type = '.' + File.split('.').pop(); //File.substring(File.lastIndexOf('.')+1, File.length)
        obj.Path = '@ViewBag.FilePath' + File;

        openPopUp(obj)
    }

    function ViewSearchAsset(Path, File) {
        var obj = {};

        obj.Type = '.' + File.split('.').pop();
        obj.Path = '@ViewBag.FilePath' + Path + File;

        openPopUp(obj)
    }

    function NavigatetoPreviousDir() {
        var path = '@ViewBag.Path';
        var file = '@ViewBag.Folder';
        path = path.substring(0, path.length - (file.length+2));
        file = path.split('/').pop();
        path = path.substring(0, path.length - file.length);
        window.location.href = "/Home/Index?path=" + path + "&file=" + file;
    }

    function fnAddAssets(File, Size, Type) {
        var path = '@ViewBag.Path';
        fnAddSearchAssets(path, File, Size, Type);
    }

    function fnAddSearchAssets(Path, File, Size, Type) {
        var varForm = document.createElement("form");

        var k = document.createElement("input");
        k.setAttribute('type', "hidden");
        k.setAttribute('name', "path");
        k.setAttribute('value', Path);
        varForm.appendChild(k);

        var l = document.createElement("input");
        l.setAttribute('type', "hidden");
        l.setAttribute('name', "file");
        l.setAttribute('value', File);
        varForm.appendChild(l);

        var m = document.createElement("input");
        m.setAttribute('type', "hidden");
        m.setAttribute('name', "size");
        m.setAttribute('value', Size);
        varForm.appendChild(m);

        var n = document.createElement("input");
        n.setAttribute('type', "hidden");
        n.setAttribute('name', "type");
        n.setAttribute('value', Type);
        varForm.appendChild(n);

        $("#AddAssetOption").modal('show');

        $('input[type="radio"]').click(function () {
            if ($("#inlineRadio1").prop('checked') == true) {
                $("#AddAssetOption").modal('hide');
                $("#inlineRadio1").prop('checked', false);

                varForm.setAttribute('method', "post");
                varForm.setAttribute('action', "/Home/SelectAsset");
                document.body.appendChild(varForm);
                varForm.hidden = true;
                varForm.submit();
            }
            else if ($("#inlineRadio2").prop('checked') == true) {
                $("#AddAssetOption").modal('hide');
                $(this).prop('checked', false);

                varForm.setAttribute('method', "post");
                varForm.setAttribute('action', "/Home/AddAsset");
                document.body.appendChild(varForm);
                varForm.hidden = true;
                varForm.submit();
            }
        });
    }

    function UploadFile(path, file, type) {
        $('#txtPath').val(path);
        $('#txtFile').val(file);
        $('#txtFileType').val(type);
        $('#AddImageOption').modal('show');
    }
</script>

<script src="~/Scripts/layout.js"></script>