﻿
@{
    ViewBag.Title = "Master Data";
}

<style>
    .table tbody tr th:hover {
        background-color: #eceeef !important;
    }
</style>
<div class="wrapper page-wrap">
    <section id="checklist">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Manage Master Data</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="Container">
            <div class="row" style="margin-left: 1px;">
                <div class="col-md-12 animated slideInRight col-padd">
                    <h5 class="card-header text-xs-left">
                    </h5>
                    <div class="table-responsive collapse in" id="master">
                        <table class="table table-bordered table-sm hover-state tablepadding text-center">
                            <tbody>
                                <tr>
                                    <th scope="row" class="text-xs-center"><a href="/ManageType/Index" class="col-lg-12">Asset Type</a></th>
                                    <th scope="row" class="text-xs-center"><a href="/ManageStatus/Index" class="col-lg-12">Status</a></th>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-xs-center"><a href="/ManagePackage/Index" class="col-lg-12">Package</a></th>
                                    <th scope="row" class="text-xs-center"><a href="/ManageLanguage/Index" class="col-lg-12">Language</a></th>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-xs-center"><a href="/ManageLevel/Index" class="col-lg-12">Grade</a></th>
                                    <th scope="row" class="text-xs-center"><a href="/ManageSyllabus/Index" class="col-lg-12">Syllabus</a></th>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-xs-center"><a href="/ManageStream/Index" class="col-lg-12">Stream</a></th>
                                    <th scope="row" class="text-xs-center"><a href="/ManageSubject/Index" class="col-lg-12">Subject</a></th>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-xs-center"><a href="/ManageTopic/Index" class="col-lg-12">Topic</a></th>
                                    <th scope="row" class="text-xs-center"><a href="/ManageSubtopic/Index" class="col-lg-12">Subtopic</a></th>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-xs-center"><a href="/ManageActivity/Index" class="col-lg-12">Activities</a></th>
                                    <th scope="row" class="text-xs-center"><a href="/ManageMaterial/Index" class="col-lg-12">Material</a></th>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-xs-center"><a href="/ManageTags/Index" class="col-lg-12">Tags</a></th>
                                    <th scope="row" class="text-xs-center"><a href="/ManageProperty/Index" class="col-lg-12">Properties</a></th>
                                </tr>
                                <tr>
                                    <th scope="row" colspan="2" class="text-xs-center"><a href="/ManageUsers/Index" class="col-lg-12">User Access</a></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function () {
        $("#master-collapse").click(function () {
            $(".minus-plus-master").toggleClass("fa-chevron-down fa-chevron-right");
        })
    });
</script>

