﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Asset List";
}
<style>
    .footer,
    .push {
        height: 50px;
    }

    .k-grid-header {
        background-color: darkblue !important;
        padding: 0 !important;
    }

        .k-grid-header th.k-header {
            background-color: #a42639 !important;
        }

    html .k-edit-cell .k-tooltip, html .k-grid-edit-row .k-tooltip {
        margin: 0px;
        color: Red;
        background: pink;
    }

    .k-grid-content {
        overflow-x: scroll;
        overflow-y: visible;
    }

    input[type=search] {
        height: 2.43em;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: white;
        background-image: url('../../Content/images/searchicon.png');
        background-position: 5px 5px;
        background-repeat: no-repeat;
        padding: 5px 10px 5px 30px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    .btnReset {
        background-color: #808080 !important;
    }
</style>

<div class="wrapper page-wrap">
    <section id="checklist">
        <div class="container">
            <div class="row">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="/Content/Index">Dashboard</a> |
                    <span class="breadcrumb-item active">Asset List</span>
                </nav>
                <h2>Asset List</h2>
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div class="row">
                <div id="gvAssets" class="checkout-right animated wow slideInUp" style="padding-top:0px;" data-wow-delay=".5s">
                    @{
                        var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
                    }

                    @helper ToolbarTemplate()
                    {
                        <div class="toolbar" style="float:right; margin-top:-40px;">
                            <input type="search" class="searchBox" placeholder="Search.." style="width: 165px" tabindex="1" />
                            <input type="button" class="k-button btnReset" style="color:#fff;margin-left:5px !important;" value="Reset" tabindex="3" />
                            <input type="button" class="k-button btnSearch" style="color:#fff;margin-left:5px !important;" value="Search" tabindex="2" />
                        </div>
                    }

                    @helper HeaderTemplate()
                    {
                        <input type='checkbox' class='chkbx' id='#= AssetID #' />
                    }

                    <script type="text/x-kendo-template" id="toolbarTemplate">
                        @Html.Raw(@ToolbarTemplate().ToHtmlString().Replace("#", "\\#").Replace("</scr", "<\\/scr"))
                    </script>

                    <script type="text/x-kendo-template" id="headerTemplate">
                        @Html.Raw(@HeaderTemplate().ToHtmlString().Replace("#", "\\#").Replace("</scr", "<\\/scr"))
                    </script>

                    @(Html.Kendo().Grid<_3DLContentManagement.Models.AssetViewModel>()
                                .Name("grid")
                                .Columns(columns =>
                                {
                                    columns.Bound(p => p.AssetID).Title("Select").Width(55).Filterable(false).HtmlAttributes(new { @class = "text-center" }).Template(@<text></text>).ClientTemplate("<input type='checkbox' class='chkbx' id='#= AssetID #' />");
                        columns.Bound(p => p.FilePath).Hidden(true);
                        columns.Bound(p => p.AssetName).Title("Name").Width(150);
                        columns.Bound(p => p.FileName).Title("File Name").Width(150);
                        columns.Bound(p => p.FileSize).Title("File Size").Width(80).Filterable(false).ClientTemplate("#: FileSizeText #"); ;
                        columns.Bound(p => p.FileSizeText).Title("File Size").Hidden(true);
                        columns.Bound(p => p.Status).Title("Status").Width(105);
                        columns.Bound(p => p.AssetType).Title("Type").Width(100);
                        columns.Bound(p => p.Language).Title("Language").Width(120);
                        columns.Bound(p => p.Subject).Title("Subject").Width(150);
                        columns.Bound(p => p.Topic).Title("Topic").Width(150);
                        columns.Bound(p => p.Subtopic).Title("Subtopic").Width(150).HtmlAttributes(new { title = "#= SubtopicDesc #" });
                        //columns.Bound(p => p.TagsNew).Title("Tags").Hidden(true);
                    })
                    //Added a template to the toolbar
                    .ToolBar(toolbar =>
                    {
                        toolbar.Template(
                            @<Text>
                                @ToolbarTemplate()
                            </Text>);
                        })
                        .Editable(editable => editable.Mode(GridEditMode.InLine))
                        .Pageable(pager => pager.PageSizes(true).PageSizes(new int[] { 10, 25, 50, 100 }))
                        .Scrollable(s => s.Height("auto"))
                        .Sortable()
                        .Resizable(rsb => rsb.Columns(true))
                        .Reorderable(r => r.Columns(true))
                        .Events(events => events.DataBound("onDataBound"))
                        .Filterable(filterable => filterable
                        .Extra(false)
                        .Operators(operators => operators
                            .ForString(str => str.Clear()
                            .StartsWith("Starts with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to").Contains("Contains")
                            ))
                        )
                        .HtmlAttributes(new { style = "min-height:350px;" })
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Sort(sort => sort.Add("AssetName"))
                        .Model(model =>
                        {
                            model.Id(p => p.AssetID);
                            model.Field(p => p.IsActive).DefaultValue(true);
                            model.Field(p => p.FileName).Editable(false);
                            model.Field(p => p.ModifiedOn).Editable(false);
                            model.Field(p => p.ModifiedByName).Editable(false);
                        })
                        .PageSize(10)
                        .Events(events => events.Error("error_handler").RequestEnd("request_end").RequestStart("request_start"))
                        .Model(model => model.Id(p => p.AssetID))
                        .Read(read => read.Action("GetAllAsset", "Home").Data("sendCulture"))
                        )
                    )

                    <script type="text/javascript">
                        var selectedCount = 0;

                        $(function () {
                            var grid = $("#grid").data("kendoGrid");
                            var options = localStorage["kendo-selectgrid-options"];
                            if (options) {
                                var parsedOptions = JSON.parse(options);
                                parsedOptions.toolbar = [
                                    { template: $("#toolbarTemplate").html() }
                                ];
                                //parsedOptions.columns[0].headerTemplate = $("#headerTemplate").html();
                                grid.setOptions(parsedOptions);
                            }

                            $("#grid").on("keypress", ".searchBox", function (e) {
                                var key = e.which || e.keyCode;
                                if (key == 13) {
                                    if ($("#grid").find('.searchBox').val() == null || $("#grid").find('.searchBox').val() == '') {
                                        $("#grid").find('.btnReset').trigger('click');
                                    }
                                    else {
                                        $("#grid").find('.btnSearch').trigger('click');
                                    }
                                }
                            });

                            $('input').keydown(function (event) {
                                if (event.keyCode == 9 && $(event.target).is('.btnReset')) {
                                    $("#grid").find('.searchBox').focus();
                                    event.preventDefault();
                                }
                                else if (event.keyCode == 27) {
                                    $("#grid").find('.btnReset').focus();
                                    event.preventDefault();
                                }
                            });

                            if ($("#grid").find('.searchBox').val() != null && $("#grid").find('.searchBox').val() != '') {
                                $("#grid").find('.btnSearch').trigger('click');
                            }
                        });

                        //Searching the Grid by the value of the textbox
                        $("#grid").on("click", ".btnSearch", function (e) {
                            var searchValue = $("#grid").find('.searchBox').val();

                            //Setting the filter of the Grid
                            $("#grid").data("kendoGrid").dataSource.filter({
                                logic: "or",
                                filters: [
                                    {
                                        field: "AssetName",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "FileName",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "FileSizeText",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Status",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "AssetType",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Language",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Subject",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Topic",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Subtopic",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    //{
                                    //    field: "Tags",
                                    //    operator: "contains",
                                    //    value: searchValue
                                    //},
                                    //{
                                    //    field: "ModifiedOn",
                                    //    operator: "contains",
                                    //    value: searchValue
                                    //},
                                    {
                                        field: "ModifiedByName",
                                        operator: "contains",
                                        value: searchValue
                                    }
                                ]
                            });
                        });

                        //Clearing the filter
                        $("#grid").on("click", ".btnReset", function (e) {
                            $("#grid").find('.searchBox').val("");
                            $("#grid").data("kendoGrid").dataSource.filter({});
                            localStorage.removeItem("kendo-selectgrid-options");
                        });

                        //send current culture with all ajax requests
                        function sendCulture() {
                            return { culture: "@culture" }
                        }

                        function error_handler(e) {
                            if (typeof e.errors === 'string') {
                                var grid = $("#grid").data("kendoGrid");
                                grid.cancelChanges();
                            }
                        }

                        function request_start(e) {
                            kendo.ui.progress($("#grid"), false);
                        }

                        function request_end(e) {
                            if (typeof e.response.Errors === 'string')
                                return false;
                        }

                        function onDataBound(e) {
                            $('[data-toggle="tooltip"]').tooltip();
                            ShowNoDataMsgGrid(e);
                        }
                    </script>
                </div>
                <br />
                <div class="form-group text-sm-right my-1">
                    <button type="button" id="btnBack" class="btn btn-secondary" onclick="NavigatetoPrevious()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
                    <button type="button" id="btnConfirm" name="btnConfirm" class="btn btn-primary disabled">Confirm</button>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(function () {
        $('#grid').on('click', '.chkbx', function () {
            var checked = $(this).is(':checked');
            var grid = $('#grid').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));
            //dataItem.set('ISSelected', checked);
            if (checked == false) {
                $(this).removeClass('checkedbox');
                selectedCount--;
            }
            else {
                selectedCount++;
                $(this).addClass('checkedbox')
            }

            if (selectedCount == 1) {
                $('#btnConfirm').removeClass('disabled');
            }
            else {
                $('#btnConfirm').addClass('disabled');
            }

            $('body, html').animate({ scrollTop: $('#btnConfirm').offset().top }, 'slow');
        });
    });

    $('#btnConfirm').on('click', function () {
        showLoader();
        var grid = $("#grid").data("kendoGrid");
        localStorage["kendo-selectgrid-options"] = kendo.stringify(grid.getOptions());

        var AssetId = $('.checkedbox').attr('id');
        var Path = '@ViewBag.Path';
        var File = '@ViewBag.File';
        var Size = '@ViewBag.Size';
        var Type = '@ViewBag.Type';

        var varForm = document.createElement("form");

        var i = document.createElement("input");
        i.setAttribute('type', "hidden");
        i.setAttribute('name', "assetId");
        i.setAttribute('value', AssetId);
        varForm.appendChild(i);

        var j = document.createElement("input");
        j.setAttribute('type', "hidden");
        j.setAttribute('name', "fileName");
        j.setAttribute('value', File);
        varForm.appendChild(j);

        var k = document.createElement("input");
        k.setAttribute('type', "hidden");
        k.setAttribute('name', "path");
        k.setAttribute('value', Path);
        varForm.appendChild(k);

        var l = document.createElement("input");
        l.setAttribute('type', "hidden");
        l.setAttribute('name', "type");
        l.setAttribute('value', Type);
        varForm.appendChild(l);

        var m = document.createElement("input");
        m.setAttribute('type', "hidden");
        m.setAttribute('name', "size");
        m.setAttribute('value', Size);
        varForm.appendChild(m);

        varForm.setAttribute('method', "post");
        varForm.setAttribute('action', "/Home/AddtoExistingAsset");
        document.body.appendChild(varForm);
        varForm.hidden = true;
        varForm.submit();
    });
</script>