﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*style from layout.cshtml*/
html {
    height: 100%
}

body {
    position: relative;
    height: 100%;
}

.wrapper {
    padding-bottom: 8rem;
}

.validation-summary-errors ul {
    color: red;
    /*list-style: none;*/
}

.img-process {
    margin-left: 10px;
    display: none;
}

.alert-error {
    color: red;
    font-size: 12px;
}

.alert-success {
    color: green;
    font-size: 12px;
}

.my-nav {
    background: #a42639;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.my-nav .navbar-nav > li > a {
    color: #fff;
}

.my-nav .navbar-nav > li > a:active {
    color: #6D6E71;
}

.my-nav .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #2a6496;
}

.my-nav .navbar-nav > li > div > button:hover {
    color: #fff;
    background-color: #2a6496;
    display: block;
}

.btn-primary {
    background-color: #a42639 !important;
    border-color: #a42639 !important;
    /*border-radius:0px!important;*/
    color: #fff !important;
}

.breadcrumb {
    background: none;
    border-radius: 0px;
    list-style: outside none none;
    padding: 5px 0 0 0;
    font-size: 14px;
}

    .breadcrumb > .active {
        color: #6D6E71 !important;
    }

    .breadcrumb > a {
        color: #BEC0C2;
    }

/* Set the fixed height of the footer here */
#footer {
    position: fixed;
    background: #fff;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    line-height: 50px;
    left: 0;
}

#footer p {
    padding: 0;
    margin: 0;
}

.k-grid-header th.k-header {
    background-color: #e2e2e4 !important;
}

form.k-filter-menu .k-textbox {
    border-color: #17375e;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
    width: 40%;
}

.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
}

.ui-widget-overlay {
    background: #000;
    opacity: 0.5;
}

.ui-dialog-titlebar {
    background: #a42639 !important;
    color: white;
}

.ui-dialog {
    z-index: 1052;
}

.multiselect-container {
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
}

.multiselect-item.multiselect-all a label {
    font-weight: bold;
}

.field-validation-error {
    color: red !important;
}

/*Kendo Classes*/
.k-grid {
    border: none !important;
    margin-top: -5px;
}

/*hiding Kendo progress gif*/
.k-loading-mask {
    display: none;
}

#requirments .k-grid {
    margin-top: 0px !important
}

.k-grid table td, .k-grid table th {
    border: 1px solid #eceeef !important;
    border-top: none !important;
    border-right: none !important;
    padding: 9px 9px !important;
}

.k-grid table td:last-child, .k-grid table th:last-child {
    border-right: 1px solid #eceeef !important;
}

.table tbody tr td:hover {
    background-color: #eceeef !important;
}

.k-block, .k-draghandle, .k-grid-header, .k-grouping-header, .k-header, .k-pager-wrap, .k-toolbar, .k-treemap-tile, html .km-pane-wrapper .k-header {
    background-color: #a42639 !important;
    color: white;
}

.k-gantt-toolbar .k-button, .k-gantt > .k-header .k-link, .k-gantt > .k-header li, .k-grid .k-header .k-button, .k-scheduler .k-header .k-button, .k-scheduler .k-header .k-link, .k-scheduler .k-header li, .km-pane-wrapper .k-header .k-button {
    border: #a42639 !important;
    background-color: #a42639;
}

.k-header .k-button:hover {
    background-color: #2a6496 !important; /*f89d21*/
}

.k-header.k-grid-toolbar, k-header {
    border: none;
    background-color: transparent !important;
    padding: 0 0 10px 0 !important;
}

.k-header .k-button {
    float: right;
    padding: 5px 8px;
}

.k-button {
    text-transform: none !important;
    font-weight: normal !important;
    padding: 5px 10px;
}

.k-pager-numbers .k-state-selected {
    border-color: #2a6496 !important;
}

.k-pager-wrap .k-pager-numbers .k-state-selected {
    background: #2a6496 !important;
    color: #fff !important;
    margin-top: 0px;
    padding-top: 0;
    padding-bottom: 1px;
}

.k-pager-wrap .k-link {
    border-color: #999 !important;
}

.k-grid-content {
    /*overflow: inherit;*/
}

.k-grid-pager .k-link, .k-grid-pager .k-link:link {
    color: #444;
    border: 1px solid;
}

td a.k-button, td.k-button.k-state-focused, td.k-button.k-state-hover, td.k-button:focus, td.k-button:focus:not(.k-state-disabled):not([disabled]), td.k-button:hover {
    -webkit-box-shadow: none !important;
    background: none !important;
    border: none !important;
    padding: 0 !important;
    min-width: 22px !important;
    /* box-shadow: 0 2px 6px rgba(0,0,0,.2),0 2px 3px rgba(0,0,0,.05); */
}

.k-grid .k-button {
    margin: 0 !important;
}

.login-heading {
    border-bottom: 1px solid #d4d4d4;
    /* margin: 20px 0; */
    margin-bottom: 15px;
}

/*#login {
    background-image: url('../images/hospital.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
    
.nav-link:hover .fa {
    color: #fff;
}
pre {
    font-family: sans-serif;
    font-size: 16px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}          

.mCSB_container li {
    background: white;
}

.mCSB_container li:nth-child(odd) {
    background: #EBEFF2;
}

.mCSB_container li:first-child {
    background: white;
}

.mCSB_container li a {
    padding-left: 10px;
}

.mCSB_container li a label {
    color: #000;
    font-weight: normal;
}*/
