﻿
@{
    ViewBag.Title = "Change password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    @if (!string.IsNullOrEmpty(Convert.ToString(TempData["Error"])))
    {
        <div class="alert alert-danger">
            <strong>Error!</strong> @TempData["Error"].ToString()
        </div>
    }
    else
    {
        <div class="alert alert-success">
            Your password has been changed successfully.
        </div>
    }
</div>

