﻿@model _3DLContentManagement.Models.ChangePasswordViewModel
@{

    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title</h2>
<style>
    .field-icon {
        float: right;
        /*margin-left: -25px;*/
        margin-right: 35px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }
</style>

@using (Html.BeginForm("ChangePassword", "UserManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            <span toggle="#OldPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        </div>
        <div class="col-md-7"></div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            <span toggle="#NewPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        </div>
        <div class="col-md-7"></div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            <span toggle="#ConfirmPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        </div>
        <div class="col-md-7"></div>
    </div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <br />
    <div class="form-group">
        <div class="col-md-12 col-md-offset-2">
            <input type="submit" value="Change password" class="btn btn-primary" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>