﻿@model _3DLContentManagement.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

@*<h2>@ViewBag.Title</h2>*@

<style>
    input {
        max-width: 310px;
    }
</style>
<div class="form-gap" style="margin-top:50px;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>
                        <div class="panel-body">
                            @using (Html.BeginForm("ForgotPassword", "UserManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Enter email address" })
                                </div>
                                <div class="input-group has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => x.Email)
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="Email Link" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

