﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Users";
}
<style>
    .footer,
    .push {
        height: 50px;
    }

    .k-grid-header {
        background-color: darkblue !important;
        padding: 0 !important;
    }

    .k-grid-header th.k-header {
        background-color: #a42639 !important;
    }

    html .k-edit-cell .k-tooltip, html .k-grid-edit-row .k-tooltip {
        margin: 0px;
        color: Red;
        background: pink;
    }

    .k-grid-content {
        overflow-x: scroll;
        overflow-y: visible;
    }

    input[type=search] {
        height: 2.43em;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: white;
        background-image: url('../../Content/images/searchicon.png');
        background-position: 5px 5px;
        background-repeat: no-repeat;
        padding: 5px 10px 5px 30px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    .btnReset {
        background-color: #808080 !important;
    }
</style>

<div class="wrapper page-wrap">
    <section id="checklist">
        <div class="container">
            <div class="row">
                <h2>Users</h2>
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div class="row">
                <div id="gvUsers" class="checkout-right animated wow slideInUp" style="padding-top:0px;" data-wow-delay=".5s">
                    @{
                        var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
                    }

                    @helper ToolbarTemplate()
                    {
                    <div class="toolbar" style="float:right; margin-top:-40px;">
                        <button type="button" id="btnAddNewUser" class="btn btn-primary" onclick="location.href='/UserManagement/Register?UserId=@Guid.Empty';"><i class="fa fa-plus" aria-hidden="true"></i> Add New User</button>
                        <input type="search" class="searchBox" placeholder="Search.." style="width: 165px" tabindex="1" />
                        <input type="button" class="k-button btnReset" style="color:#fff;margin-left:5px !important;" value="Reset" tabindex="3" />
                        <input type="button" class="k-button btnSearch" style="color:#fff;margin-left:5px !important;" value="Search" tabindex="2" />
                    </div>
                    }

                    <script type="text/x-kendo-template" id="toolbarTemplate">
                        @Html.Raw(@ToolbarTemplate().ToHtmlString().Replace("#", "\\#").Replace("</scr", "<\\/scr"))
                    </script>

                    @(Html.Kendo().Grid<_3DLContentManagement.Models.RegisterViewModel>()
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.UserID).Hidden(true);
                                columns.Bound("UserID").Title("<b>Actions</b>").Width(70).Sortable(false).Filterable(false).ClientTemplate(
                                    "<a onclick='SelectUser();' href='" + Url.Action("Register", "UserManagement") + "?UserId=#:UserID#'" + "><span class='fa fa-pencil-square text-success' data-toggle='tooltip' data-placement='top' title='Click here to update'></span></a>&nbsp;&nbsp;" +
                                    "#if(IsActive) {#" + "<a style='cursor:pointer;' onclick='InactiveUser(\"#:UserID#\",\"#:FirstName#\",\"#:LastName#\");'><span class='fa fa-check-square text-info' data-toggle='tooltip' data-placement='top' title='Click here to inactive user'></span></a>&nbsp;&nbsp;" + "#}else {#" +
                                    "<a style='cursor:pointer;' onclick='ActiveUser(\"#:UserID#\",\"#:FirstName#\",\"#:LastName#\");'><span class='fa fa-window-close text-warning' data-toggle='tooltip' data-placement='top' title='Click here to active user'></span></a>&nbsp;&nbsp;" + "#}#" +
                                    "<a style='cursor:pointer;' onclick='DeleteUser(\"#:UserID#\",\"#:FirstName#\",\"#:LastName#\");' rel='#:UserID#'><span class='fa fa-trash-o text-danger' data-toggle='tooltip' data-placement='top' title='Click here to delete'></span></a>");
                                columns.Bound(p => p.FirstName).Title("First Name").Width(150);
                                columns.Bound(p => p.LastName).Title("Last Name").Width(150);
                                columns.Bound(p => p.Username).Title("User Name");
                                columns.Bound(p => p.Email).Title("Email");
                                columns.Bound(p => p.Role).Title("Role");
                                columns.Bound(p => p.Account).Title("School");
                                columns.Bound(p => p.Subscription).Title("Subscription");
                                columns.Bound(p => p.ExpiryDate).Title("Expiry Date").ClientTemplate("#= kendo.toString(kendo.parseDate(ExpiryDate), 'dd MMM yyyy') #").Hidden(true);
                            })
                            //Added a template to the toolbar
                            .ToolBar(toolbar =>
                            {
                                toolbar.Template(
                                    @<Text>
                                        @ToolbarTemplate()
                                    </Text>);
                            })
                            .Editable(editable => editable.Mode(GridEditMode.InLine))
                            .Pageable(pager => pager.PageSizes(true).PageSizes(new int[] { 10, 25, 50, 100 }))
                            .Scrollable(s => s.Height("auto"))
                            .Sortable().Events(events => events.DataBound("onDataBound"))
                            .Resizable(rsb => rsb.Columns(true))
                            .Reorderable(r => r.Columns(true))
                            .Filterable(filterable => filterable
                                .Extra(false)
                                .Operators(operators => operators
                                    .ForString(str => str.Clear()
                                        .StartsWith("Starts with")
                                        .IsEqualTo("Is equal to")
                                        .IsNotEqualTo("Is not equal to").Contains("Contains")
                                    ))
                            )
                            .HtmlAttributes(new { style = "min-height:350px;" })
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .Sort(sort => sort.Add("FirstName"))
                            .Model(model =>
                            {
                                model.Id(p => p.UserID);
                                model.Field(p => p.IsActive).DefaultValue(true);
                                //model.Field(p => p.FirstName).Editable(false);
                            })
                            .PageSize(10)
                            .Events(events => events.Error("error_handler").RequestEnd("request_end").RequestStart("request_start"))
                            .Model(model => model.Id(p => p.UserID))
                            .Create(update => update.Action("Register", "UserManagement"))
                            .Read(read => read.Action("GetAllUsers", "UserManagement").Data("sendCulture"))
                            .Update(update => update.Action("Register", "UserManagement"))
                            .Destroy(update => update.Action("DeleteUser", "UserManagement"))
                        )
                    )
                    <script id="customPopUpTemplate" type="text/x-kendo-template">
                        <div class="k-edit-label">FirstName: </div>
                        <div class="k-edit-field">
                            <input name="FirstName" required class="k-textbox" />
                        </div>
                    </script>
                    <script type="text/javascript">
                        $(function () {
                            var grid = $("#grid").data("kendoGrid");
                            var options = localStorage["kendogrid-options"];
                            if (options) {
                                var parsedOptions = JSON.parse(options);
                                parsedOptions.toolbar = [
                                    { template: $("#toolbarTemplate").html() }
                                ];
                                grid.setOptions(parsedOptions);
                            }

                            $("#grid").on("keypress", ".searchBox", function (e) {
                                var key = e.which || e.keyCode;
                                if (key == 13) {
                                    if ($("#grid").find('.searchBox').val() == null || $("#grid").find('.searchBox').val() == '') {
                                        $("#grid").find('.btnReset').trigger('click');
                                    }
                                    else {
                                        $("#grid").find('.btnSearch').trigger('click');
                                    }
                                }
                            });

                            $('input').keydown(function (event) {
                                if (event.keyCode == 9 && $(event.target).is('.btnReset')) {
                                    $("#grid").find('.searchBox').focus();
                                    event.preventDefault();
                                }
                                else if (event.keyCode == 27) {
                                    $("#grid").find('.btnReset').focus();
                                    event.preventDefault();
                                }
                            });

                            if ($("#grid").find('.searchBox').val() != null && $("#grid").find('.searchBox').val() != '') {
                                $("#grid").find('.btnSearch').trigger('click');
                            }
                        });

                        //Searching the Grid by the value of the textbox
                        $("#grid").on("click", ".btnSearch", function (e) {
                            var searchValue = $("#grid").find('.searchBox').val();

                            //Setting the filter of the Grid
                            $("#grid").data("kendoGrid").dataSource.filter({
                                logic: "or",
                                filters: [
                                    {
                                        field: "FirstName",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "LastName",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Username",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Email",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Account",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "Subscription",
                                        operator: "contains",
                                        value: searchValue
                                    }
                                ]
                            });
                        });

                        //Clearing the filter
                        $("#grid").on("click", ".btnReset", function (e) {
                            $("#grid").find('.searchBox').val("");
                            $("#grid").data("kendoGrid").dataSource.filter({});
                            localStorage.removeItem("kendogrid-options");
                        });

                        //send current culture with all ajax requests
                        function sendCulture() {
                            return { culture: "@culture" }
                        }

                        function error_handler(e) {
                            if (typeof e.errors === 'string') {
                                if (e.errors == 'ALREADY_EXISTS') {
                                    alert('Asset already exists.');
                                }
                                var grid = $("#grid").data("kendoGrid");
                                grid.cancelChanges();
                            }
                        }

                        function request_start(e) {
                            kendo.ui.progress($("#grid"), false);
                        }

                        function request_end(e) {
                            if (typeof e.response.Errors === 'string')
                                return false;

                            if (e.type == "create" || e.type == "update" || e.type == "destroy") {
                                $('#grid').data().kendoGrid.dataSource.read();

                                if (e.type == "create") {
                                    alert("User added successfully.");
                                }
                                else if (e.type == "update") {
                                    alert("User updated successfully.");
                                }
                                else if (e.type == "destroy") {
                                    alert("User deleted successfully.");
                                }
                            }
                        }

                        function onDataBound(e) {
                            $('[data-toggle="tooltip"]').tooltip();
                            ShowNoDataMsgGrid(e);
                        }

                        function DeleteUser(UserId, FirstName, LastName) {
                            //console.log($(par).attr("rel"));
                            var message = 'Are you sure you want to delete <b>' + FirstName + ' ' + LastName + '</b>?';

                            if (confirm(message, function () {
                                $.ajax({
                                    url: '/UserManagement/DeleteUser',
                                    data: { Id: UserId },
                                    type: 'GET',
                                    success: function (data) {
                                        $('#grid').data().kendoGrid.dataSource.read();
                                        alert("User deleted successfully.");
                                    }
                                });
                            }));
                        }

                        function ActiveUser(UserId, FirstName, LastName) {
                            var message = 'Are you sure you want to Activate <b>' + FirstName + ' ' + LastName + '</b>?';

                            if (confirm(message, function () {
                                $.ajax({
                                    url: '/UserManagement/ActiveUser',
                                    data: { Id: UserId },
                                    type: 'GET',
                                    success: function (data) {
                                        $('#grid').data().kendoGrid.dataSource.read();
                                        alert("User activated successfully.");
                                    }
                                });
                            }));
                        }

                        function InactiveUser(UserId, FirstName, LastName) {
                            var message = 'Are you sure you want to Inactivate <b>' + FirstName + ' ' + LastName + '</b>?';

                            if (confirm(message, function () {
                                $.ajax({
                                    url: '/UserManagement/InactiveUser',
                                    data: { Id: UserId },
                                    type: 'GET',
                                    success: function (data) {
                                        $('#grid').data().kendoGrid.dataSource.read();
                                        alert("User inactivated successfully.");
                                    }
                                });
                            }));
                        }

                        function UpdateUser(UserId) {
                            var varForm = document.createElement("form");

                            var i = document.createElement("input");
                            i.setAttribute('type', "hidden");
                            i.setAttribute('name', "userID");
                            i.setAttribute('value', UserId);
                            varForm.appendChild(i);

                            varForm.setAttribute('method', "get");
                            varForm.setAttribute('action', "/UserManagement/Register");
                            document.body.appendChild(varForm);
                            varForm.hidden = true;
                            varForm.submit();
                        }

                        function SelectUser() {
                            showLoader();
                            var grid = $("#grid").data("kendoGrid");
                            localStorage["kendogrid-options"] = kendo.stringify(grid.getOptions());
                        }
                    </script>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    //$(window).unload(function () {
    //    var grid = $("#grid").data("kendoGrid");
    //    sessionStorage["kendogrid-options"] = kendo.stringify(grid.getOptions());
    //});

    $(document).ready(function () {
        if ('@TempData["Message"]' != '') {
            alert('@TempData["Message"]');
        }
    });
</script>