﻿@model _3DLContentManagement.Models.RegisterViewModel
@{
    if (ViewBag.AddedType == "Add")
    {
        ViewBag.Title = "Add New User";
    }
    else
    {
        ViewBag.Title = "Update User details";
    }
    int number = 0;
}
<style>
    .breadcrumb > a::after {
        content: " | ";
        color: #000000;
    }

    .table tbody tr:hover {
        background-color: #eceeef !important;
    }

    .table tbody tr th {
        background-color: white !important;
    }

    .field-icon {
        float: right;
        /*margin-left: -25px;*/
        margin-right: 25px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }

    input.invalid {
        border: 2px solid red;
    }
</style>
<div class="wrapper page-wrap">
    <section id="checklist">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="/Content/Index">Dashboard</a>
            <a class="breadcrumb-item" href="/UserManagement/Index">User Management</a>
            <span class="breadcrumb-item active">@ViewBag.Title</span>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div class="row">
                @using (Html.BeginForm("Register", "UserManagement", FormMethod.Post, new { @id = "frmUser" }))
                {
                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(x => x.UserID)
                    @Html.HiddenFor(x => x.IsActive)
                    @Html.HiddenFor(x => x.IsDeleted)
                    @Html.HiddenFor(x => x.AccountId)
                    @Html.HiddenFor(x => x.RoleId)
                    <input type="hidden" name="hdnUserID" id="hdnUserID" value="@Model.UserID" />
                    <input type="hidden" name="addedType" value="@ViewBag.AddedType" />
                    <div class="col-md-12">
                        <div class="row">
                            <div class="form-group col-md-6 mb-0">
                                <label class="col-form-label" for="example-text-input">First Name <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "First Name", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => x.FirstName)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                <label class="col-form-label" for="example-text-input">Last Name</label>
                                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @placeholder = "Last Name", @maxlength = "100" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 mb-0">
                                <label class="col-form-label" for="example-text-input">Email <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => x.Email)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                <label class="col-form-label" for="example-text-input">Username</label>
                                @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = "User Name", @maxlength = "100" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 mb-0">
                                <label class="col-form-label" for="example-text-input">Role <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(x => x.Role, new { @class = "form-control role", @placeholder = "Role", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => x.Role)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                <label class="col-form-label" for="example-text-input">Account <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(x => x.Account, new { @class = "form-control account", @placeholder = "Account", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => x.Account)
                                    </div>
                                </div>
                            </div>
                        </div>
                        @{
                            if (Model.UserID == Guid.Empty)
                            {
                                <div class="row">
                                    <div class="form-group col-md-3 mb-0">
                                        <label class="col-form-label" for="example-text-input">Password <span class="text-danger">*</span></label>
                                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Password", @maxlength = "100", value = Model.Password })
                                        <span toggle="#Password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                        <div class="has-danger">
                                            <div class="form-control-feedback">
                                                @Html.ValidationMessageFor(x => x.Password)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                            <span class="fa fa-plus" onclick="AddDetailRow(); configurePlatformNew();" data-toggle='tooltip' data-placement='top' title='Add new row' style="font-size:24px;color:#a42639;cursor:pointer;"></span>
                                        </div>
                                        <div class="col-xs-10" style="padding-left: 3px;padding-right: 0px;">
                                            <label class="col-form-label" for="example-text-input">Subscription</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <label class="col-form-label" for="example-text-input">Package</label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label class="col-form-label" for="example-text-input">Language</label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label class="col-form-label" for="example-text-input">Grade</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-left: 0px;">
                                <div class="col-xs-2">
                                    <label class="col-form-label" for="example-text-input">Syllabus</label>
                                </div>
                                <div class="col-xs-2">
                                    <label class="col-form-label" for="example-text-input">Stream</label>
                                </div>
                                <div class="col-xs-2">
                                    <label class="col-form-label" for="example-text-input">Subject</label>
                                </div>
                                <div class="col-xs-2" style="display:none">
                                    <label class="col-form-label" for="example-text-input">Topic</label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="col-form-label" for="example-text-input">Expiry Date</label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="col-form-label" for="example-text-input">Platform</label>
                                </div>
                            </div>
                        </div>
                        <div id="divDetail">
                            @for (int i = 0; i < Model.Details.Count; i++)
                            {
                                <div class="row detail" style="@(Model.Details[i].IsDeleted ? "display:none" : "display:block")">
                                    @Html.HiddenFor(x => Model.Details[i].ID)
                                    @Html.HiddenFor(x => Model.Details[i].SubscriptionId)
                                    @Html.HiddenFor(x => Model.Details[i].PackageId)
                                    @Html.HiddenFor(x => Model.Details[i].GradeId)
                                    @Html.HiddenFor(x => Model.Details[i].LanguageId)
                                    @Html.HiddenFor(x => Model.Details[i].SyllabusId)
                                    @Html.HiddenFor(x => Model.Details[i].StreamId)
                                    @Html.HiddenFor(x => Model.Details[i].SubjectId)
                                    @Html.HiddenFor(x => Model.Details[i].TopicId)
                                    @Html.HiddenFor(x => Model.Details[i].IsDeleted)
                                    @Html.HiddenFor(x => Model.Details[i].ExpiryDate)
                                    <div class="form-group col-md-6">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                                    <span class="fa fa-minus" data-id="Details[@i].IsDeleted" onclick="RemoveDetailRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                                </div>
                                                <div class="col-xs-10" style="padding-left: 3px;padding-right: 0px;">
                                                    @Html.TextBoxFor(x => x.Details[i].Subscription, new { @class = "form-control subscription", @placeholder = "Subscription", @maxlength = "100" })
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(x => x.Details[i].Package, new { @class = "form-control package", @placeholder = "Package", @maxlength = "100" })
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(x => x.Details[i].Language, new { @class = "form-control planguage", @placeholder = "Language", @maxlength = "100" })
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(x => x.Details[i].Grade, new { @class = "form-control grade", @placeholder = "Grade", @maxlength = "100" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6" style="padding-left: 0px;">
                                        <div class="col-xs-2">
                                            @Html.TextBoxFor(x => x.Details[i].Syllabus, new { @class = "form-control syllabus", @placeholder = "Syllabus", @maxlength = "100" })
                                        </div>
                                        <div class="col-xs-2">
                                            @Html.TextBoxFor(x => x.Details[i].Stream, new { @class = "form-control stream", @placeholder = "Stream", @maxlength = "100" })
                                        </div>
                                        <div class="col-xs-2">
                                            @Html.TextBoxFor(x => x.Details[i].Subject, new { @class = "form-control subject", @placeholder = "Subject", @maxlength = "100" })
                                        </div>
                                        <div class="col-xs-3">
                                            @Html.HiddenFor(x => x.Details[i].Topic, new { @class = "form-control topic", @placeholder = "Topic", @maxlength = "100" })
                                            <input type="date" class="form-control expirydate" data-id="Details[@i].ExpiryDate" placeholder="Expiry Date" value="@Model.Details[i].ExpiryDate.ToString("yyyy-MM-dd")">
                                        </div>
                                        <div class="col-xs-3">
                                            @*@Html.ListBoxFor(x=>x.Details[i].UserDetailIds, Model.Platforms, new { @class = "form-control usrPlatform", @multiple = "multiple" })*@
                                            <select class="form-control usrPlatform" id="UserDetailIds_@i" name="Details[@i].UserDetailIds" multiple="multiple">
                                                @if (Model.Platforms != null)
                                                {
                                                    foreach (var pl in Model.Platforms)
                                                    {
                                                        if (Model.Details[i].UserDetailIds != null)
                                                        {
                                                            <option @(Model.Details[i].UserDetailIds.Contains(pl.Value) ? "selected" : "") value="@pl.Value">@pl.Text</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@pl.Value">@pl.Text</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="AddDetail" style="display:none">
                            <div class="row detail">
                                <input name="Details[{count}].ID" type="hidden" value="0">
                                <input name="Details[{count}].SubscriptionId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                <input name="Details[{count}].PackageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                <input name="Details[{count}].LanguageId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                <input name="Details[{count}].GradeId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                <input name="Details[{count}].SyllabusId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                <input name="Details[{count}].StreamId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                <input name="Details[{count}].SubjectId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                <input name="Details[{count}].TopicId" type="hidden" value="00000000-0000-0000-0000-000000000000">
                                <input name="Details[{count}].ExpiryDate" type="hidden" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")">
                                <input name="Details[{count}].IsDeleted" type="hidden" value="True">
                                <div class="form-group col-md-6">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                                <span class="fa fa-minus" data-id="Details[{count}].IsDeleted" onclick="RemoveDetailRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                                            </div>
                                            <div class="col-xs-10" style="padding-left: 3px;padding-right: 0px;">
                                                <input class="form-control subscription" maxlength="100" name="Details[{count}].Subscription" placeholder="Subscription" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <input class="form-control package" maxlength="100" name="Details[{count}].Package" placeholder="Package" type="text" value="">
                                        </div>
                                        <div class="col-xs-3">
                                            <input class="form-control planguage" maxlength="100" name="Details[{count}].Language" placeholder="Language" type="text" value="">
                                        </div>
                                        <div class="col-xs-3">
                                            <input class="form-control grade" maxlength="100" name="Details[{count}].Grade" placeholder="Grade" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6" style="padding-left: 0px;">
                                    <div class="col-xs-2">
                                        <input class="form-control syllabus" maxlength="100" name="Details[{count}].Syllabus" placeholder="Syllabus" type="text" value="">
                                    </div>
                                    <div class="col-xs-2">
                                        <input class="form-control stream" maxlength="100" name="Details[{count}].Stream" placeholder="Stream" type="text" value="">
                                    </div>
                                    <div class="col-xs-2">
                                        <input class="form-control subject" maxlength="100" name="Details[{count}].Subject" placeholder="Subject" type="text" value="">
                                    </div>
                                    <div class="col-xs-3" style="display:none">
                                        <input class="form-control topic" maxlength="100" name="Details[{count}].Topic" placeholder="Topic" type="text" value="">
                                    </div>
                                    <div class="col-xs-3">
                                        <input class="form-control expirydate" data-id="Details[{count}].ExpiryDate" placeholder="Expiry Date" type="date" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")">
                                    </div>
                                    <div class="col-xs-3">
                                        @*@Html.DropDownListFor(x=>x.Details[i].UserDetailIds, Model.Details[i].Platforms, new { @class = "form-control usrPlatform", @multiple = "multiple" })*@
                                        <select class="form-control" id="UserDetailIds_{count}" name="Details[{count}].UserDetailIds" multiple="multiple">
                                            @if (Model.Platforms != null)
                                            {
                                                foreach (var pl in Model.Platforms)
                                                {
                                                    <option value="@pl.Value">@pl.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group text-sm-right col-md-6 my-1">
                                <button type="button" id="btnBack" class="btn btn-secondary" onclick="NavigatetoPrevious()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to User Listing</button>
                                @if (ViewBag.AddedType == "Add")
                                {
                                    <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-primary" onclick="ValidateForm();">Add User</button>
                                }
                                else
                                {
                                    <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-primary" onclick="ValidateForm();">Save Changes</button>
                                    <input type="button" id="btnInvitation" value="Resend Invitation" class="btn btn-warning" onclick="ResendInvitation()" />
                                    <input type="button" id="btnPassword" value="Resend Password" class="btn btn-info" onclick="ResendPassword()" />
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>

<script>
    var availableAccounts = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Accounts));
    var availableRoles = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Roles));

    $(document).ready(function () {
        if ('@TempData["Message"]' != '') {
            alert('@TempData["Message"]');
        }

        GetMasterData();
        GetAccounts();

        $('.usrPlatform').multiselect({
                nonSelectedText: 'Select Platform',
                selectAllValue: 'multiselect-all',
                buttonWidth: '300px',
                maxHeight: 200,
                numberDisplayed: 10,
                selectedClass: 'active',
                includeSelectAllOption: false,
                enableCaseInsensitiveFiltering: true,
                enableFiltering: true,
                enableClickableOptGroups: false,
                enableCollapsibleOptGroups: false
            });
    });

    function configurePlatformNew() {
        var num = $('#divDetail').find('.detail').length - 1;
        $('#UserDetailIds_' + num).multiselect({
            nonSelectedText: 'Select Platform',
            selectAllValue: 'multiselect-all',
            buttonWidth: '300px',
            maxHeight: 200,
            numberDisplayed: 10,
            selectedClass: 'active',
            includeSelectAllOption: false,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            enableClickableOptGroups: false,
            enableCollapsibleOptGroups: false
        });
    }



    $(".toggle-password").click(function () {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

    $(function () {
        $('.expirydate').on('change', function () {
            debugger;
            var id = $(this).attr('data-id');
            $("input[name='" + id + "']").val($(this).val());
        });
    });

    //$('#Email').keyup(function () {
    //    if (this.classList.contains('valid')) {
    //        //this.classList.remove('invalid');
    //        //error.innerHTML = "";
    //        $('#Username').val($('#Email').val());
    //    }
    //});

    //$('#Email').focus(function () {
    //    $('#Username').val($('#Email').val());
    //});

    $('#Email').blur(function () {
        var input = $(this);
        var email = $(this).val();
        var userid = $('#hdnUserID').val();
        if ($('#Email').attr('class').indexOf('input-validation-error') == -1) {
            var url = '/UserManagement/ValidateEmail';
            $.get(url, { Email: email, UserId: userid }, function (data) {
                if (data == 0) {
                    input.removeClass("invalid").addClass("valid");
                }
                else {
                    input.removeClass("valid").addClass("invalid");
                    alert("Email address already exist.");
                    $('#Email').val('');
                    //input.attr("data-val-email", "Email address exist.");
                    //input.next().find("span").removeClass("field-validation-valid").addClass("field-validation-error");
                }
            });
        }
    });

    $('#Username').blur(function () {
        var input = $(this);
        var email = $(this).val();
        var userid = $('#hdnUserID').val();
        var url = '/UserManagement/ValidateEmail';
        $.get(url, { Email: email, UserId: userid }, function (data) {
            if (data == 0) {
                input.removeClass("invalid").addClass("valid");
            }
            else {
                input.removeClass("valid").addClass("invalid");
                alert("Username already exist.");
                $('#Username').val('');
            }
        });
    });

    function ResendInvitation() {
        var email = $('#Email').val();
        var userid = $('#hdnUserID').val();
        var message = 'Are you sure you want to resend invitation?';

        if (confirm(message, function () {
            $.ajax({
                url: '/UserManagement/ResendInvitation',
                data: { Email: email, UserId: userid },
                type: 'GET',
                async: false,
                success: function (data) {
                    alert(data);
                }
            });
        }));
    }

    function ResendPassword() {
        var email = $('#Email').val();
        var userid = $('#hdnUserID').val();
        var message = 'Are you sure you want to resend password?';

        if (confirm(message, function () {
            $.ajax({
                url: '/UserManagement/ResendPassword',
                data: { Email: email, UserId: userid },
                type: 'GET',
                async: false,
                success: function (data) {
                    alert(data);
                }
            });
        }));
    }
</script>
<script src="~/Scripts/register.js"></script>