﻿@using Kendo.Mvc.UI;
@{
    /**/

    ViewBag.Title = "Manage Feedback";
}
<style>
    .footer,
    .push {
        height: 50px;
    }

    .k-grid-header {
        background-color: darkblue !important;
    }

        .k-grid-header th.k-header {
            background-color: #a42639 !important;
        }

    html .k-edit-cell .k-tooltip, html .k-grid-edit-row .k-tooltip {
        margin: 0px;
        color: Red;
        background: pink;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    input[type = "file"] {
        display: none;
    }

    .modal-footer {
        margin-top: 0px;
    }

    .alert {
        margin-bottom: 0px;
    }

    .k-pdf-export.details-container {
        max-height: none!important;
    }
</style>
<style type="text/css">
    #details-container em {
        color: #8c8c8c;
    }

    #details-container dt {
        display: inline;
    }

    .window-footer {
        /*position: absolute;*/
        bottom: 0;
        display: block;
        width: 100%;
        /*margin-top: 150px;*/
        padding: 10px 0 10px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }

    /*.k-widget {
        font-family: "DejaVu Sans", "Arial", sans-serif;
        font-size: .9em;
    }*/
</style>

<div class="wrapper page-wrap">
    <section id="checklist">
        <div class="container">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="/Content/Index">Dashboard</a> |
                <span class="breadcrumb-item active">Manage Feedback</span>
            </nav>
            <div class="row">
                <div class="col-md-12">
                    <h2>Manage Feedback</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="gridViewFeedback" class="checkout-right animated wow slideInUp" style="padding-top:0px;" data-wow-delay=".5s">
                        @(Html.Kendo().Grid<_3DLContentManagement.Models.FeedbackModel>()
                                            .Name("grid")
                                            .Columns(columns =>
                                            {
                                                columns.Command(command =>
                                                {
                                                    command.Edit().Text("<span class='fa fa-pencil-square text-success' data-toggle='tooltip' data-placement='top' title='Click here to update'></span>")
                                                        .UpdateText("<span class='fa fa-floppy-o text-success'data-toggle='tooltip' data-placement='top'  title='Click here to update'></span>")
                                                        .CancelText("<span class='fa fa-ban text-danger' data-toggle='tooltip' data-placement='top' title='Click here to cancel'></span>");
                                                    command.Custom("ViewComments").Text("<span class='fa fa-eye text-info' data-toggle='tooltip' data-placement='top' title='Click here to show comments'></span></a>").Click("ShowComments");
                                                    //command.Custom("Delete").Text("<span class='fa fa-trash-o text-danger k-i-delete' data-toggle='tooltip' data-placement='top' title='Click here to delete'></span></a>").Click("deleteItem");
                                                    //command.Custom("Attachment").Text("<span class='fa fa-photo' data-toggle='tooltip' data-placement='top' title='Click here to view attachment' style='font-size:14px;color:#a42639;'></span></a>").Click("UploadThumbnail");
                                                }).Title("<b>Actions</b>").Width(70);
                                                columns.Bound(p => p.FeedbackId).Hidden(true);
                                                columns.Bound(p => p.Asset).Title("Model");
                                                columns.Bound(p => p.Feedback).Title("Feedback").ClientTemplate("#if(Feedback.length>20){# # var myContent =Feedback; #  # var dcontent = myContent.substring(0,20).concat('...'); # <span>#=kendo.toString(dcontent)#</span> #}else{# <span>#=Feedback#</span> #}#");
                                                columns.Bound(p => p.CreatedBy).Title("Given By");
                                                columns.Bound(p => p.CreatedOn).Title("Added On").ClientTemplate("#= kendo.toString(kendo.parseDate(CreatedOn), 'dd MMM yyyy hh:mm tt') #");
                                                columns.Bound(p => p.Status).Title("Status").Width(200);
                                            })
                                            .Editable(editable => editable.Mode(GridEditMode.InLine))
                                            .Pageable(pager => pager.PageSizes(true).PageSizes(new int[] { 10, 25, 50, 100 }))
                                            .Sortable().Events(events => events.DataBound("onDataBound"))
                                            .Filterable(filterable => filterable
                                                .Extra(false)
                                                .Operators(operators => operators
                                                    .ForString(str => str.Clear()
                                                        .StartsWith("Starts with")
                                                        .IsEqualTo("Is equal to")
                                                        .IsNotEqualTo("Is not equal to").Contains("Contains")
                                                    ))
                                            )
                                            .HtmlAttributes(new { style = "min-height:350px;" })
                                            .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .Sort(sort => sort.Add("CreatedOn").Descending())
                                                .Model(model =>
                                                {
                                                    model.Id(p => p.FeedbackId);
                                                    model.Field(p => p.Asset).Editable(false);
                                                    model.Field(p => p.Feedback).Editable(false);
                                                    model.Field(p => p.CreatedBy).Editable(false);
                                                    model.Field(p => p.CreatedOn).Editable(false);
                                                })
                                                .PageSize(10)
                                                .Events(events => events.Error("error_handler").RequestEnd("request_end").RequestStart("request_start"))
                                                .Model(model => model.Id(p => p.FeedbackId))
                                                .Read(read => read.Action("GetAll", "ManageFeedback"))
                                                .Update(update => update.Action("AddUpdateFeedback", "ManageFeedback"))
                                            )
                        )

                        @(Html.Kendo().Window().Name("Details")
                                            .Title("Feedback Details")
                                            .Visible(false)
                                            .Modal(true)
                                            .Draggable(true)
                                            .Width(500)

                        )

                        <script type="text/x-kendo-template" id="template">
                            <div id="details-container">
                                <div class="details-container" style="max-height: 400px;overflow-y:auto;">
                                    <dl>
                                        <dt><em>Feedback by:</em> #= CreatedBy # / #= UserEmail # <br /></dt>
                                        <dt><em>Feedback On:</em> #= AddedOn # <br /></dt>
                                        <dt><em>Account:</em> #= Account # <br /></dt>
                                        <dt><em>Model:</em> #= Asset # <br /></dt>
                                        <dt><em>Location:</em> #= Grade # #= Subject == null ? "" : " / " + Subject # #= Topic == null ? "" : " / " + Topic # #= Subtopic == null ? "" : " / " + Subtopic # <br /></dt>
                                        <dt><em>Feedback:</em> #= Feedback #</dt>
                                        <dt><input type="hidden" id="hdnModelName" value="#= Asset #" /></dt>
                                    </dl>
                                </div>
                                <div class="window-footer">
                                    <button type="button" class="k-button close-button">Close</button>
                                    <button class='export-pdf k-button'>Export as PDF</button>
                                </div>
                            </div>
                        </script>

                        <script type="text/javascript">
                            var detailsTemplate = kendo.template($("#template").html());

                            function ShowComments(e) {
                                e.preventDefault();
                                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                                var wnd = $("#Details").data("kendoWindow");

                                var row = detailsTemplate(dataItem);
                                row = replaceAll(row, "null", '');

                                wnd.content(row);
                                $(".k-window-action").addClass("k-state-hover");

                                wnd.center().open();
                            }

                            function replaceAll(str, term, replacement) {
                                return str.replace(new RegExp(escapeRegExp(term), 'g'), replacement);
                            }

                            function escapeRegExp(string) {
                                return string.replace(/[.*+?^${}()|[\]\\]/g, "\\$&");
                            }

                            // Import DejaVu Sans font for embedding
                            // NOTE: Only required if the Kendo UI stylesheets are loaded
                            // from a different origin, e.g. kendo.cdn.telerik.com
                            kendo.pdf.defineFont({
                                "DejaVu Sans": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
                                "DejaVu Sans|Bold": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
                                "DejaVu Sans|Bold|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
                                "DejaVu Sans|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf"
                            });
                        </script>

                        <script type="text/javascript">
                            var availableStatus = @Html.Raw(Json.Encode((IEnumerable<String>)ViewBag.Status));

                            function error_handler(e) {
                                if (typeof e.errors === 'string') {
                                    if (e.errors == 'NOT_EXISTS') {
                                        alert('Status does not exist.');
                                    }
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.cancelChanges();
                                }
                            }


                            function request_start(e) {
                                kendo.ui.progress($("#grid"), false);

                                //get status list
                                RefreshStatus();
                            }

                            function request_end(e) {
                                if (typeof e.response.Errors === 'string')
                                    return false;

                                if (e.type == "create" || e.type == "update" || e.type == "destroy") {
                                    $('#grid').data().kendoGrid.dataSource.read();

                                    if (e.type == "update") {
                                        alert("Status updated successfully for the selected feedback.");
                                    }

                                    //get updated status list
                                    RefreshStatus();
                                }
                            }

                            //register custom validation rules
                            (function ($, kendo) {
                                $.extend(true, kendo.ui.validator, {
                                    rules: { // custom rules
                                        statusvalidation: function (input, params) {
                                            if (input.is("[name='Status']") && input.val().trim() == "") {
                                                input.attr("data-statusvalidation-msg", "Status is required.");
                                                return false;
                                            }
                                            return true;
                                        }
                                    },
                                    messages: { //custom rules messages
                                        statusvalidation: function (input) {
                                            return input.attr("data-val-statusvalidation");
                                        }
                                    }
                                });
                            })(jQuery, kendo);

                            function onDataBound(e) {
                                $('[data-toggle="tooltip"]').tooltip();
                                ShowNoDataMsgGrid(e);
                            }

                            $(document).ready(function () {
                                availableStatus = @Html.Raw(Json.Encode((IEnumerable<String>)ViewBag.Status));

                                //$(".k-grid-add").on("click", function () {
                                //    setTimeout(function () {
                                //        $("#PSubtopicName").kendoAutoComplete({
                                //            dataSource: availableSubtopics,
                                //            filter: "contains",
                                //            placeholder: "Select Subtopic..."
                                //            //, separator: ", "
                                //        });
                                //    }, 100);
                                //})

                                $(document).on("click", ".k-grid-edit", function () {
                                    setTimeout(function () {
                                        $("#Status").kendoAutoComplete({
                                            dataSource: availableStatus,
                                            filter: "contains",
                                            placeholder: "Select Status..."
                                        });
                                    }, 100);
                                })

                                $(document).on("click", ".close-button",function () {
                                    // call 'close' method on nearest kendoWindow
                                    $(this).closest("[data-role=window]").data("kendoWindow").close();
                                    // the above is equivalent to:
                                    //$(this).closest(".k-window-content").data("kendoWindow").close();
                                });

                                $(document).on("click", ".export-pdf", function () {
                                    // Convert the DOM element to a drawing using kendo.drawing.drawDOM
                                    kendo.drawing.drawDOM($(".details-container"))
                                    .then(function (group) {
                                        // Render the result as a PDF file
                                        return kendo.drawing.exportPDF(group, {
                                            paperSize: "auto",
                                            margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
                                        });
                                    })
                                        .done(function (data) {

                                            var fileName = $("#hdnModelName").val() + ".pdf";
                                        // Save the PDF file
                                        kendo.saveAs({
                                            dataURI: data,
                                            fileName: fileName,
                                            proxyURL: "@Url.Action("Pdf_Export_Save")"
                                        });
                                    });
                                });
                            });

                            function RefreshStatus() {
                                $.ajax({
                                    url: '/ManageFeedback/RefreshStatus',
                                    data: {},
                                    type: 'GET',
                                    success: function (data) {
                                        availableStatus = data;
                                    }
                                });
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>