﻿@model _3DLContentManagement.Models.AppViewModel
@{
    if (ViewBag.AddedType == "Add")
    {
        ViewBag.Title = "Add New App";
    }
    else
    {
        ViewBag.Title = "Update App details";
    }
}
<style>
    .breadcrumb > a::after {
        content: " | ";
        color: #000000;
    }

    .table tbody tr:hover {
        background-color: #eceeef !important;
    }

    .table tbody tr th {
        background-color: white !important;
    }

    .field-icon {
        float: right;
        /*margin-left: -25px;*/
        margin-right: 25px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }

    input.invalid {
        border: 2px solid red;
    }
</style>
<div class="wrapper page-wrap">
    <section id="checklist">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="/Content/Index">Dashboard</a>
            <a class="breadcrumb-item" href="/AppMaster/Index">App Master</a>
            <span class="breadcrumb-item active">@ViewBag.Title</span>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div class="row">
                @using (Html.BeginForm("AddUpdateApp", "AppMaster", FormMethod.Post, new { @id = "frmApp" }))
                {
                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(x => x.ID)
                    @Html.HiddenFor(x => x.IsActive)
                    @Html.HiddenFor(x => x.IsDeleted)
                    @Html.HiddenFor(x => x.UserID)
                    <input type="hidden" name="addedType" value="@ViewBag.AddedType" />
                    <div class="col-md-12">
                        <div class="row">
                            <div class="form-group col-md-6 mb-0">
                                <label class="col-form-label" for="example-text-input">App Name <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(x => x.AppName, new { @class = "form-control", @placeholder = "App Name", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => x.AppName)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                <label class="col-form-label" for="example-text-input">App ID <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(x => x.AppID, new { @class = "form-control", @placeholder = "App ID", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => x.AppID)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 mb-0">
                                <label class="col-form-label" for="example-text-input">User <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(x => x.User, new { @class = "form-control user", @placeholder = "User", @maxlength = "100" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => x.User)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group text-sm-right col-md-6 my-1">
                                <button type="button" id="btnBack" class="btn btn-secondary" onclick="NavigatetoPrevious()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to App Listing</button>
                                @if (ViewBag.AddedType == "Add")
                                {
                                    <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-primary" onclick="ValidateForm();">Add App</button>
                                }
                                else
                                {
                                    <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-primary" onclick="ValidateForm();">Save Changes</button>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>

<script>
    var availableUsers = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Users));

    $(document).ready(function () {
        if ('@TempData["Message"]' != '') {
            alert('@TempData["Message"]');
        }

        $(".user").autocomplete({
            minLength: 0,
            source: function (request, response) {
                response($.map(availableUsers, function (item) {
                    if (item.Text.toLowerCase().includes(request.term.toLowerCase())) {
                        return { label: item.Text, value: item.Text, id: item.Value };
                    }
                }));
            },
            select: function (event, ui) {
                var id = $(this).attr('name') + 'ID';
                $("input[name='" + id + "']").val(ui.item.id);
                $(this).val(ui.item.value);
                return false;
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    var terms = split(this.value);
                    var last = terms.pop();
                    if (last != '') {
                        alert('<b>' + last + '</b> is not available in database, please contact to Administrator to register this user.');
                        $(this).val(this.value.substr(0, this.value.length - last.length - 2)); // removes text from input
                        $(this).effect("highlight", {}, 5000);
                        $(this).attr("style", "border: solid 1px red;");
                    }
                    else {
                        var id = $(this).attr('name') + 'ID';
                        $("input[name='" + id + "']").val('00000000-0000-0000-0000-000000000000');
                        $(this).val('');
                    }
                    return false;
                }
            }
        });
    });

    function split(val) {
        return val.split(/,\s*/);
    }

    function extractLast(term) {
        return split(term).pop();
    }

    function ValidateForm() {
        if ($("#frmApp").valid()) {
            showLoader();
        }
    }
</script>