﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "App Master";
}

<style>
    .footer,
    .push {
        height: 50px;
    }

    .k-grid-header {
        background-color: darkblue !important;
        padding: 0 !important;
    }

        .k-grid-header th.k-header {
            background-color: #a42639 !important;
        }

    html .k-edit-cell .k-tooltip, html .k-grid-edit-row .k-tooltip {
        margin: 0px;
        color: Red;
        background: pink;
    }

    .k-grid-content {
        overflow-x: scroll;
        overflow-y: visible;
    }

    input[type=search] {
        height: 2.43em;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: white;
        background-image: url('../../Content/images/searchicon.png');
        background-position: 5px 5px;
        background-repeat: no-repeat;
        padding: 5px 10px 5px 30px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    .btnReset {
        background-color: #808080 !important;
    }
</style>

<div class="wrapper page-wrap">
    <section id="checklist">
        <div class="container">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="/Content/Index">Dashboard</a> | 
                <span class="breadcrumb-item active">App Master</span>
            </nav>
            <div class="row">
                <div class="col-md-12">
                    <h2>App Master</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="gvAppMaster" class="checkout-right animated wow slideInUp" style="padding-top:0px;" data-wow-delay=".5s">
                        @{
                            var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
                        }

                        @helper ToolbarTemplate()
                        {
                            <div class="toolbar" style="float:right; margin-top:-40px;">
                                <button type="button" id="btnAddNewApp" class="btn btn-primary" onclick="location.href='/AppMaster/AddUpdateApp?Id=@Guid.Empty';"><i class="fa fa-plus" aria-hidden="true"></i> Add New App</button>
                                <input type="search" class="searchBox" placeholder="Search.." style="width: 165px" tabindex="1" />
                                <input type="button" class="k-button btnReset" style="color:#fff;margin-left:5px !important;" value="Reset" tabindex="3" />
                                <input type="button" class="k-button btnSearch" style="color:#fff;margin-left:5px !important;" value="Search" tabindex="2" />
                            </div>
                        }

                        <script type="text/x-kendo-template" id="toolbarTemplate">
                            @Html.Raw(@ToolbarTemplate().ToHtmlString().Replace("#", "\\#").Replace("</scr", "<\\/scr"))
                        </script>
                        @(Html.Kendo().Grid<_3DLContentManagement.Models.AppViewModel>()
                                    .Name("grid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.ID).Hidden(true);
                                        columns.Bound("ID").Title("<b>Actions</b>").Width(70).Sortable(false).Filterable(false).ClientTemplate(
                                            "<a onclick='SelectApp();' href='" + Url.Action("AddUpdateApp", "AppMaster") + "?Id=#:ID#'" + "><span class='fa fa-pencil-square text-success' data-toggle='tooltip' data-placement='top' title='Click here to update'></span></a>&nbsp;&nbsp;" +
                                            "#if(IsActive) {#" + "<a style='cursor:pointer;' onclick='InactiveApp(\"#:ID#\",\"#:AppName#\");'><span class='fa fa-check-square text-info' data-toggle='tooltip' data-placement='top' title='Click here to inactive app'></span></a>&nbsp;&nbsp;" + "#}else {#" +
                                            "<a style='cursor:pointer;' onclick='ActiveApp(\"#:ID#\",\"#:AppName#\");'><span class='fa fa-window-close text-warning' data-toggle='tooltip' data-placement='top' title='Click here to active app'></span></a>&nbsp;&nbsp;" + "#}#" +
                                            "<a style='cursor:pointer;' onclick='DeleteApp(\"#:ID#\",\"#:AppName#\");' rel='#:ID#'><span class='fa fa-trash-o text-danger' data-toggle='tooltip' data-placement='top' title='Click here to delete'></span></a>");
                                        columns.Bound(p => p.AppName).Title("App Name");
                                        columns.Bound(p => p.AppID).Title("App ID");
                                        columns.Bound(p => p.User).Title("User");
                                        columns.Bound(p => p.UserID).Hidden(true);
                                    })
                                    //Added a template to the toolbar
                                    .ToolBar(toolbar =>
                                    {
                                        toolbar.Template(
                                            @<Text>
                                            @ToolbarTemplate()
                                            </Text>);
                                })
                                .Editable(editable => editable.Mode(GridEditMode.InLine))
                                .Pageable(pager => pager.PageSizes(true).PageSizes(new int[] { 10, 25, 50, 100 }))
                                //.Scrollable(s => s.Height("auto"))
                                .Sortable().Events(events => events.DataBound("onDataBound"))
                                .Resizable(rsb => rsb.Columns(true))
                                .Reorderable(r => r.Columns(true))
                                .Filterable(filterable => filterable
                                    .Extra(false)
                                    .Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .StartsWith("Starts with")
                                            .IsEqualTo("Is equal to")
                                            .IsNotEqualTo("Is not equal to").Contains("Contains")
                                        ))
                                )
                                .HtmlAttributes(new { style = "min-height:350px;" })
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Sort(sort => sort.Add("AppName"))
                                .Model(model =>
                                {
                                    model.Id(p => p.ID);
                                    model.Field(p => p.IsDeleted).DefaultValue(false);
                                            //model.Field(p => p.FirstName).Editable(false);
                                })
                                .PageSize(10)
                                .Events(events => events.Error("error_handler").RequestEnd("request_end").RequestStart("request_start"))
                                .Model(model => model.Id(p => p.ID))
                                .Create(update => update.Action("AddUpdateApp", "AppMaster"))
                                .Read(read => read.Action("GetAllApps", "AppMaster").Data("sendCulture"))
                                .Update(update => update.Action("AddUpdateApp", "AppMaster"))
                                .Destroy(update => update.Action("DeleteApp", "AppMaster"))
                            )
                        )

                        <script id="customPopUpTemplate" type="text/x-kendo-template">
                            <div class="k-edit-label">App Name: </div>
                            <div class="k-edit-field">
                                <input name="AppName" required class="k-textbox" />
                            </div>
                        </script>
                        <script type="text/javascript">
                        $(function () {
                            var grid = $("#grid").data("kendoGrid");
                            var options = localStorage["appkendogrid-options"];
                            if (options) {
                                var parsedOptions = JSON.parse(options);
                                parsedOptions.toolbar = [
                                    { template: $("#toolbarTemplate").html() }
                                ];
                                grid.setOptions(parsedOptions);
                            }

                            $("#grid").on("keypress", ".searchBox", function (e) {
                                var key = e.which || e.keyCode;
                                if (key == 13) {
                                    if ($("#grid").find('.searchBox').val() == null || $("#grid").find('.searchBox').val() == '') {
                                        $("#grid").find('.btnReset').trigger('click');
                                    }
                                    else {
                                        $("#grid").find('.btnSearch').trigger('click');
                                    }
                                }
                            });

                            $('input').keydown(function (event) {
                                if (event.keyCode == 9 && $(event.target).is('.btnReset')) {
                                    $("#grid").find('.searchBox').focus();
                                    event.preventDefault();
                                }
                                else if (event.keyCode == 27) {
                                    $("#grid").find('.btnReset').focus();
                                    event.preventDefault();
                                }
                            });

                            if ($("#grid").find('.searchBox').val() != null && $("#grid").find('.searchBox').val() != '') {
                                $("#grid").find('.btnSearch').trigger('click');
                            }
                        });

                        //Searching the Grid by the value of the textbox
                        $("#grid").on("click", ".btnSearch", function (e) {
                            var searchValue = $("#grid").find('.searchBox').val();

                            //Setting the filter of the Grid
                            $("#grid").data("kendoGrid").dataSource.filter({
                                logic: "or",
                                filters: [
                                    {
                                        field: "AppName",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "AppID",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "User",
                                        operator: "contains",
                                        value: searchValue
                                    }
                                ]
                            });
                        });

                        //Clearing the filter
                        $("#grid").on("click", ".btnReset", function (e) {
                            $("#grid").find('.searchBox').val("");
                            $("#grid").data("kendoGrid").dataSource.filter({});
                            localStorage.removeItem("appkendogrid-options");
                        });

                        //send current culture with all ajax requests
                        function sendCulture() {
                            return { culture: "@culture" }
                        }

                        function error_handler(e) {
                            if (typeof e.errors === 'string') {
                                if (e.errors == 'ALREADY_EXISTS') {
                                    alert('App already exists.');
                                }
                                var grid = $("#grid").data("kendoGrid");
                                grid.cancelChanges();
                            }
                        }

                        function request_start(e) {
                            kendo.ui.progress($("#grid"), false);
                        }

                        function request_end(e) {
                            if (typeof e.response.Errors === 'string')
                                return false;

                            if (e.type == "create" || e.type == "update" || e.type == "destroy") {
                                $('#grid').data().kendoGrid.dataSource.read();

                                if (e.type == "create") {
                                    alert("App added successfully.");
                                }
                                else if (e.type == "update") {
                                    alert("App updated successfully.");
                                }
                                else if (e.type == "destroy") {
                                    alert("App deleted successfully.");
                                }
                            }
                        }

                        function onDataBound(e) {
                            $('[data-toggle="tooltip"]').tooltip();
                            ShowNoDataMsgGrid(e);
                        }

                        function DeleteApp(AppId, AppName) {
                            //console.log($(par).attr("rel"));
                            var message = 'Are you sure you want to delete <b>' + AppName + '</b>?';

                            if (confirm(message, function () {
                                $.ajax({
                                    url: '/AppMaster/DeleteApp',
                                    data: { Id: AppId },
                                    type: 'GET',
                                    success: function (data) {
                                        $('#grid').data().kendoGrid.dataSource.read();
                                        alert("App deleted successfully.");
                                    }
                                });
                            }));
                        }

                        function ActiveApp(AppId, AppName) {
                            var message = 'Are you sure you want to Activate <b>' + AppName + '</b>?';

                            if (confirm(message, function () {
                                $.ajax({
                                    url: '/AppMaster/ActiveApp',
                                    data: { Id: AppId },
                                    type: 'GET',
                                    success: function (data) {
                                        $('#grid').data().kendoGrid.dataSource.read();
                                        alert("App activated successfully.");
                                    }
                                });
                            }));
                        }

                        function InactiveApp(AppId, AppName) {
                            var message = 'Are you sure you want to Inactivate <b>' + AppName + '</b>?';

                            if (confirm(message, function () {
                                $.ajax({
                                    url: '/AppMaster/InactiveApp',
                                    data: { Id: AppId },
                                    type: 'GET',
                                    success: function (data) {
                                        $('#grid').data().kendoGrid.dataSource.read();
                                        alert("App inactivated successfully.");
                                    }
                                });
                            }));
                        }

                        function UpdateApp(AppId) {
                            var varForm = document.createElement("form");

                            var i = document.createElement("input");
                            i.setAttribute('type', "hidden");
                            i.setAttribute('name', "ID");
                            i.setAttribute('value', AppId);
                            varForm.appendChild(i);

                            varForm.setAttribute('method', "get");
                            varForm.setAttribute('action', "/AppMaster/AddUpdateApp");
                            document.body.appendChild(varForm);
                            varForm.hidden = true;
                            varForm.submit();
                        }

                        function SelectApp() {
                            showLoader();
                            var grid = $("#grid").data("kendoGrid");
                            localStorage["appkendogrid-options"] = kendo.stringify(grid.getOptions());
                        }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    //$(window).unload(function () {
    //    var grid = $("#grid").data("kendoGrid");
    //    sessionStorage["appkendogrid-options"] = kendo.stringify(grid.getOptions());
    //});
</script>