﻿@model TDL.ContentPlatform.Server.Database.Tables.ApkDetail
@{
    if (ViewBag.AddedType == "Add")
    {
        ViewBag.Title = "Add Apk";
    }
    else
    {
        ViewBag.Title = "Update Apk";
    }
}
<style>
    .breadcrumb > a::after {
        content: " | ";
        color: #000000;
    }

    .table tbody tr:hover {
        background-color: #eceeef !important;
    }

    .table tbody tr th {
        background-color: white !important;
    }

    .field-icon {
        float: right;
        /*margin-left: -25px;*/
        margin-right: 25px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }

    input.invalid {
        border: 2px solid red;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    input[type = "file"] {
        display: none;
    }
</style>
<div class="wrapper page-wrap">
    <section id="checklist">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="/Content/Index">Dashboard</a>
            <a class="breadcrumb-item" href="/Apk/Index">Apk Details</a>
            <span class="breadcrumb-item active">@ViewBag.Title</span>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div class="row">
                @using (Html.BeginForm("AddUpdateApk", "Apk", FormMethod.Post, new { @id = "frmApk", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(x => x.ApkId)
                    @Html.HiddenFor(x => x.IsActive)
                    @Html.HiddenFor(x => x.IsDeleted)
                    @*@Html.HiddenFor(x => x.ApkName)*@
                    @Html.HiddenFor(x => x.ApkDescription)
                    @Html.HiddenFor(x => x.PublishApk)
                    <input type="hidden" name="addedType" value="@ViewBag.AddedType" />
                    <div class="col-md-12">
                        <div class="row">
                            @*<div class="form-group col-md-4">
                                <label class="col-form-label" for="example-text-input" style="display:block">Apk <span class="text-danger">*</span></label>
                                <label for="UploadFile" class="custom-file-upload">
                                    <i class="fa fa-cloud-upload"></i> Upload Image
                                </label>
                                <input id="UploadFile" name='UploadFile' type="file" style="display:none;">
                                @{
                                    if (Model.ApkId != 0)
                                    {
                                        <label id="txtFileName" style="color: #a42639;margin-left: 10px;">@Model.ApkName</label>
                                    }
                                    else
                                    {
                                        <label id="txtFileName" style="color: #a42639;margin-left: 10px;">No file available</label>
                                    }
                                }
                            </div>*@
                            <div class="form-group col-md-3">
                                <label class="col-form-label" for="example-text-input">Apk Name <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(x => x.ApkName, new { @class = "form-control", @placeholder = "Apk Name" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => x.ApkName)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="col-form-label" for="example-text-input">Apk Version <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(x => x.ApkVersion, new { @class = "form-control", @placeholder = "Apk Version", @type = "number" })
                                <div class="has-danger">
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(x => x.ApkVersion)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="col-form-label" for="example-text-input" style="display:block">Is Mandatory</label>
                                @Html.CheckBoxFor(x => x.IsMandatory)
                            </div>
                            <div class="form-group col-md-3">
                                @if (ViewBag.AddedType == "Add")
                                {
                                    <button type="button" id="btnSubmit" name="btnSubmit" style="margin-top:25px;" class="btn btn-primary" onclick="SaveApk();">Add Apk</button>
                                }
                                else
                                {
                                    <button type="button" id="btnSubmit" name="btnSubmit" style="margin-top:25px;" class="btn btn-primary" onclick="SaveApk();">Save Changes</button>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="alert alert-danger" id="divError" style="display:none">

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function () {
        if ('@TempData["Message"]' != '') {
            alert('@TempData["Message"]');
        }
    });

    function SaveApk() {
        var myForm = $('#frmApk');
        @*$.ajax({
            url: "@Url.Action("AddUpdateApk", "Apk")",
            type: "POST",
            data: myForm.serialize(),
            success: function (data) {
                alert(data);
            }
        })*@
        if (myForm.valid()) {
            showLoader();
            myForm.submit();
        }
    }

    $('#UploadFile').change(function () {
        var i = $(this).next('label').clone();
        var file = $('#UploadFile')[0].files[0].name;
        $(this).next('label').text(file);
    });
</script>