﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Apk Details";
}

<style>
    .footer,
    .push {
        height: 50px;
    }

    .k-grid-header {
        background-color: darkblue !important;
        padding: 0 !important;
    }

        .k-grid-header th.k-header {
            background-color: #a42639 !important;
        }

    html .k-edit-cell .k-tooltip, html .k-grid-edit-row .k-tooltip {
        margin: 0px;
        color: Red;
        background: pink;
    }

    .k-grid-content {
        overflow-x: scroll;
        overflow-y: visible;
    }

    input[type=search] {
        height: 2.43em;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: white;
        background-image: url('../../Content/images/searchicon.png');
        background-position: 5px 5px;
        background-repeat: no-repeat;
        padding: 5px 10px 5px 30px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    .btnReset {
        background-color: #808080 !important;
    }
</style>

<div class="wrapper page-wrap">
    <section id="checklist">
        <div class="container">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="/Content/Index">Dashboard</a> |
                <span class="breadcrumb-item active">Apk Details</span>
            </nav>
            <div class="row">
                <div class="col-md-12">
                    <h2>Apk Details</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="gvApkMaster" class="checkout-right animated wow slideInUp" style="padding-top:0px;" data-wow-delay=".5s">
                        @{
                            var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
                        }

                        @helper ToolbarTemplate()
                        {
                            <div class="toolbar" style="float:right; margin-top:-40px;">
                                <button type="button" id="btnAddNewApk" class="btn btn-primary" onclick="location.href='/Apk/AddUpdateApk?Id=0';"><i class="fa fa-plus" aria-hidden="true"></i> Add New Apk</button>
                                <input type="search" class="searchBox" placeholder="Search.." style="width: 165px" tabindex="1" />
                                <input type="button" class="k-button btnReset" style="color:#fff;margin-left:5px !important;" value="Reset" tabindex="3" />
                                <input type="button" class="k-button btnSearch" style="color:#fff;margin-left:5px !important;" value="Search" tabindex="2" />
                            </div>
                        }

                        <script type="text/x-kendo-template" id="toolbarTemplate">
                            @Html.Raw(@ToolbarTemplate().ToHtmlString().Replace("#", "\\#").Replace("</scr", "<\\/scr"))
                        </script>
                        @(Html.Kendo().Grid<TDL.ContentPlatform.Server.Database.Tables.ApkDetail>()
                                            .Name("grid")
                                            .Columns(columns =>
                                            {
                                                columns.Bound(p => p.ApkId).Hidden(true);
                                                columns.Bound("ApkId").Title("<b>Actions</b>").Width(70).Sortable(false).Filterable(false).ClientTemplate(
                                                    "<a onclick='SelectApk();' href='" + Url.Action("AddUpdateApk", "Apk") + "?Id=#:ApkId#'" + "><span class='fa fa-pencil-square text-success' data-toggle='tooltip' data-placement='top' title='Click here to update'></span></a>&nbsp;&nbsp;" +
                                                    "#if(IsActive) {#" + "<a style='cursor:pointer;' onclick='InactiveApk(\"#:ApkId#\",\"#:ApkName#\");'><span class='fa fa-check-square text-info' data-toggle='tooltip' data-placement='top' title='Click here to inactive apk'></span></a>&nbsp;&nbsp;" + "#}else {#" +
                                                    "<a style='cursor:pointer;' onclick='ActiveApk(\"#:ApkId#\",\"#:ApkName#\");'><span class='fa fa-window-close text-warning' data-toggle='tooltip' data-placement='top' title='Click here to active apk'></span></a>&nbsp;&nbsp;" + "#}#" +
                                                    "<a style='cursor:pointer;' onclick='DeleteApk(\"#:ApkId#\",\"#:ApkName#\");' rel='#:ApkId#'><span class='fa fa-trash-o text-danger' data-toggle='tooltip' data-placement='top' title='Click here to delete'></span></a>");
                                                columns.Bound(p => p.ApkName).Title("Apk Name");
                                                columns.Bound(p => p.ApkVersion).Title("Apk Version");
                                                columns.Bound(p => p.IsMandatory).Title("Is Mandatory");
                                                columns.Bound(p => p.ApkDescription).Hidden(true);
                                            })
                                            //Added a template to the toolbar
                                            .ToolBar(toolbar =>
                                            {
                                                toolbar.Template(
                                                    @<Text>
                                                    @ToolbarTemplate()
                                                    </Text>);
                                })
                            .Editable(editable => editable.Mode(GridEditMode.InLine))
                            .Pageable(pager => pager.PageSizes(true).PageSizes(new int[] { 10, 25, 50, 100 }))
                            //.Scrollable(s => s.Height("auto"))
                            .Sortable().Events(events => events.DataBound("onDataBound"))
                            .Resizable(rsb => rsb.Columns(true))
                            .Reorderable(r => r.Columns(true))
                            .Filterable(filterable => filterable
                                .Extra(false)
                                .Operators(operators => operators
                                    .ForString(str => str.Clear()
                                        .StartsWith("Starts with")
                                        .IsEqualTo("Is equal to")
                                        .IsNotEqualTo("Is not equal to").Contains("Contains")
                                    ))
                            )
                            .HtmlAttributes(new { style = "min-height:350px;" })
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .Sort(sort => sort.Add("ApkName"))
                            .Model(model =>
                            {
                                model.Id(p => p.ApkId);
                                model.Field(p => p.IsDeleted).DefaultValue(false);
                                        //model.Field(p => p.FirstName).Editable(false);
                                    })
                            .PageSize(10)
                            .Events(events => events.Error("error_handler").RequestEnd("request_end").RequestStart("request_start"))
                            .Model(model => model.Id(p => p.ApkId))
                            .Create(update => update.Action("AddUpdateApk", "Apk"))
                            .Read(read => read.Action("GetAllApks", "Apk").Data("sendCulture"))
                            .Update(update => update.Action("AddUpdateApk", "Apk"))
                            .Destroy(update => update.Action("DeleteApk", "Apk"))
                        )
                        )

                        <script id="customPopUpTemplate" type="text/x-kendo-template">
                            <div class="k-edit-label">Apk Name: </div>
                            <div class="k-edit-field">
                                <input name="AppName" required class="k-textbox" />
                            </div>
                        </script>
                        <script type="text/javascript">
                        $(function () {
                            var grid = $("#grid").data("kendoGrid");
                            var options = localStorage["apkkendogrid-options"];
                            if (options) {
                                var parsedOptions = JSON.parse(options);
                                parsedOptions.toolbar = [
                                    { template: $("#toolbarTemplate").html() }
                                ];
                                grid.setOptions(parsedOptions);
                            }

                            $("#grid").on("keypress", ".searchBox", function (e) {
                                var key = e.which || e.keyCode;
                                if (key == 13) {
                                    if ($("#grid").find('.searchBox').val() == null || $("#grid").find('.searchBox').val() == '') {
                                        $("#grid").find('.btnReset').trigger('click');
                                    }
                                    else {
                                        $("#grid").find('.btnSearch').trigger('click');
                                    }
                                }
                            });

                            $('input').keydown(function (event) {
                                if (event.keyCode == 9 && $(event.target).is('.btnReset')) {
                                    $("#grid").find('.searchBox').focus();
                                    event.preventDefault();
                                }
                                else if (event.keyCode == 27) {
                                    $("#grid").find('.btnReset').focus();
                                    event.preventDefault();
                                }
                            });

                            if ($("#grid").find('.searchBox').val() != null && $("#grid").find('.searchBox').val() != '') {
                                $("#grid").find('.btnSearch').trigger('click');
                            }
                        });

                        //Searching the Grid by the value of the textbox
                        $("#grid").on("click", ".btnSearch", function (e) {
                            var searchValue = $("#grid").find('.searchBox').val();

                            //Setting the filter of the Grid
                            $("#grid").data("kendoGrid").dataSource.filter({
                                logic: "or",
                                filters: [
                                    {
                                        field: "ApkName",
                                        operator: "contains",
                                        value: searchValue
                                    },
                                    {
                                        field: "AppVersion",
                                        operator: "contains",
                                        value: searchValue
                                    }
                                ]
                            });
                        });

                        //Clearing the filter
                        $("#grid").on("click", ".btnReset", function (e) {
                            $("#grid").find('.searchBox').val("");
                            $("#grid").data("kendoGrid").dataSource.filter({});
                            localStorage.removeItem("apkkendogrid-options");
                        });

                        //send current culture with all ajax requests
                        function sendCulture() {
                            return { culture: "@culture" }
                        }

                        function error_handler(e) {
                            if (typeof e.errors === 'string') {
                                if (e.errors == 'ALREADY_EXISTS') {
                                    alert('Apk already exists.');
                                }
                                var grid = $("#grid").data("kendoGrid");
                                grid.cancelChanges();
                            }
                        }

                        function request_start(e) {
                            kendo.ui.progress($("#grid"), false);
                        }

                        function request_end(e) {
                            if (typeof e.response.Errors === 'string')
                                return false;

                            if (e.type == "create" || e.type == "update" || e.type == "destroy") {
                                $('#grid').data().kendoGrid.dataSource.read();

                                if (e.type == "create") {
                                    alert("Apk added successfully.");
                                }
                                else if (e.type == "update") {
                                    alert("Apk updated successfully.");
                                }
                                else if (e.type == "destroy") {
                                    alert("Apk deleted successfully.");
                                }
                            }
                        }

                        function onDataBound(e) {
                            $('[data-toggle="tooltip"]').tooltip();
                            ShowNoDataMsgGrid(e);
                        }

                        function DeleteApk(ApkId, ApkName) {
                            //console.log($(par).attr("rel"));
                            var message = 'Are you sure you want to delete <b>' + ApkName + '</b>?';

                            if (confirm(message, function () {
                                $.ajax({
                                    url: '/Apk/DeleteApk',
                                    data: { Id: ApkId },
                                    type: 'GET',
                                    success: function (data) {
                                        $('#grid').data().kendoGrid.dataSource.read();
                                        alert("Apk deleted successfully.");
                                    }
                                });
                            }));
                        }

                        function ActiveApk(ApkId, ApkName) {
                            var message = 'Are you sure you want to Activate <b>' + ApkName + '</b>?';

                            if (confirm(message, function () {
                                $.ajax({
                                    url: '/Apk/ActiveApk',
                                    data: { Id: ApkId },
                                    type: 'GET',
                                    success: function (data) {
                                        $('#grid').data().kendoGrid.dataSource.read();
                                        alert("Apk activated successfully.");
                                    }
                                });
                            }));
                        }

                        function InactiveApk(ApkId, ApkName) {
                            var message = 'Are you sure you want to Inactivate <b>' + ApkName + '</b>?';

                            if (confirm(message, function () {
                                $.ajax({
                                    url: '/Apk/InactiveApk',
                                    data: { Id: ApkId },
                                    type: 'GET',
                                    success: function (data) {
                                        $('#grid').data().kendoGrid.dataSource.read();
                                        alert("Apk inactivated successfully.");
                                    }
                                });
                            }));
                        }

                        function UpdateApk(ApkId) {
                            var varForm = document.createElement("form");

                            var i = document.createElement("input");
                            i.setAttribute('type', "hidden");
                            i.setAttribute('name', "Id");
                            i.setAttribute('value', ApkId);
                            varForm.appendChild(i);

                            varForm.setAttribute('method', "get");
                            varForm.setAttribute('action', "/Apk/AddUpdateApk");
                            document.body.appendChild(varForm);
                            varForm.hidden = true;
                            varForm.submit();
                        }

                        function SelectApk() {
                            showLoader();
                            var grid = $("#grid").data("kendoGrid");
                            localStorage["apkkendogrid-options"] = kendo.stringify(grid.getOptions());
                        }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    //$(window).unload(function () {
    //    var grid = $("#grid").data("kendoGrid");
    //    sessionStorage["appkendogrid-options"] = kendo.stringify(grid.getOptions());
    //});
</script>