﻿@model _3DLContentManagement.Models.TagViewModel

@using (Ajax.BeginForm("AddUpdateTags", "ManageTags", new { area = "" }, new AjaxOptions
{
    HttpMethod = "Post",
    OnSuccess = "LoadResultsAddTag"
}, new { id = "frmManageTags" }))
{
    @Html.HiddenFor(x => Model.TagId)
    @Html.HiddenFor(x => Model.IsActive)
    @Html.HiddenFor(x => Model.IsDeleted)
    <div class="row">
        <div class="form-group col-md-6 mb-0" style="margin-bottom: 3px;">
            <div class="col-xs-2" style="padding-left: 0px;">
                <span class="fa fa-plus" onclick="AddNameRow()" data-toggle='tooltip' data-placement='top' title='Add row for new language' style="font-size:24px;color:#a42639;cursor:pointer;"></span>
            </div>
            <div class="col-xs-10" style="padding-right: 0px;padding-left: 0px;">
                <label class="col-form-label" for="example-text-input">Tag Name <span class="text-danger">*</span></label>
            </div>
        </div>
    </div>
    <div id="divName">
        @for (int i = 0; i < Model.TagNames.Count; i++)
        {
            <div class="row">
                @Html.HiddenFor(x => Model.TagNames[i].Id)
                @Html.HiddenFor(x => Model.TagNames[i].LanguageId)
                @Html.HiddenFor(x => Model.TagNames[i].IsDeleted)
                <div class="form-group col-md-6 mb-0">
                    <div class="col-xs-2" style="padding-left: 0px;">
                        <span class="fa fa-minus" data-id="TagNames[@i].IsDeleted" onclick="RemoveRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                    </div>
                    <div class="col-xs-10" style="padding-right: 0px;padding-left: 0px;">
                        @Html.TextBoxFor(x => Model.TagNames[i].Language, new { @class = "form-control language", @placeholder = "Select Language", @maxlength = "100" })
                        <div class="has-danger">
                            <div class="form-control-feedback">
                                @Html.ValidationMessageFor(x => Model.TagNames[i].Language)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 mb-0">
                    @Html.TextBoxFor(x => Model.TagNames[i].Name, new { @class = "form-control", @placeholder = "Tag Name", @maxlength = "100" })
                    <div class="has-danger">
                        <div class="form-control-feedback">
                            @Html.ValidationMessageFor(x => Model.TagNames[i].Name)
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row" style="position: absolute;margin-top: 55px;">
        <div class="col">           
            <div class="input-group">
                <label>Status</label>
                <div id="radioTagBtn" class="btn-group" style="margin-left:10px;">
                    <a class="btn btn-success @(Model.IsActive == true ? "active" : "notActive")" data-toggle="tag" data-title="Active">Active</a>
                    <a class="btn btn-primary @(Model.IsActive == false ? "active" : "notActive")" data-toggle="tag" data-title="InActive">InActive</a>
                </div>
            </div>
        </div>
    </div>
    <div class="AddName" style="display:none">
        <div class="row">
            <input name="TagNames[{count}].ID" type="hidden" value="0">
            <input name="TagNames[{count}].LanguageId" type="hidden" id="TagNames_{count}__LanguageId" value="00000000-0000-0000-0000-000000000000">
            <input name="TagNames[{count}].IsDeleted" type="hidden" value="False">
            <div class="form-group col-md-6 mb-0">
                <div class="col-xs-2" style="padding-left: 0px;">
                    <span class="fa fa-minus" data-id="TagNames[{count}].IsDeleted" onclick="RemoveRow(this)" data-toggle='tooltip' data-placement='top' title='Remove' style="font-size:24px;color:#a42639;margin-top: 5px;cursor:pointer;"></span>
                </div>
                <div class="col-xs-10" style="padding-right: 0px;padding-left: 0px;">
                    <input class="form-control language" id="TagNames_{count}__Language" required data-val-required="Language is required." maxlength="100" name="TagNames[{count}].Language" placeholder="Select Language" type="text" value="">
                    <div class="has-danger">
                        <div class="form-control-feedback">
                            <span class="field-validation-valid" data-valmsg-for="TagNames[{count}].Language" data-valmsg-replace="false">
                                <span for="TagNames_{count}__Language" class="">Language is required.</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6 mb-0">
                <input class="form-control" maxlength="100" name="TagNames[{count}].Name" data-val-required="Name is required." required placeholder="Tag Name" type="text" value="">
                <div class="has-danger">
                    <div class="form-control-feedback">
                        <span class="field-validation-valid" data-valmsg-for="TagNames[{count}].Name" data-valmsg-replace="false">
                            <span for="TagNames_{count}__Name" class="">Name is required.</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var availableLanguages = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Language));
    </script>
}
