﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Manage Tags";
}
<style>
    .footer,
    .push {
        height: 50px;
    }

    .k-grid-header {
        background-color: darkblue !important;
    }

        .k-grid-header th.k-header {
            background-color: #a42639 !important;
        }

    html .k-edit-cell .k-tooltip, html .k-grid-edit-row .k-tooltip {
        margin: 0px;
        color: Red;
        background: pink;
    }

    #radioTagBtn .notActive {
        color: #3276b1 !important;
        background-color: #fff !important;
    }
    .field-validation-valid span {
        display: none;
    }
</style>

<div class="wrapper page-wrap">
    <section id="checklist">
        <div class="container">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="/Content/Index">Dashboard</a> |
                <a class="breadcrumb-item" href="/Home/MasterData">Master Data</a> |
                <span class="breadcrumb-item active">Tags</span>
            </nav>
            <div class="row">
                <div class="col-md-12">
                    <h2>Manage Tags</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="gridViewAgreement" class="checkout-right animated wow slideInUp" style="padding-top:0px;" data-wow-delay=".5s">
                        @helper ToolbarTemplate()
                        {
                            <div class="toolbar" style="float:right; margin-top:-40px;">
                                <button type="button" id="AddNewTag" class="btn btn-primary" onclick="AddTag(0);" title="Add New Tag"><i class="fa fa-plus" aria-hidden="true"></i> Add New Tag</button>
                            </div>
                        }
                        @(Html.Kendo().Grid<TDL.ContentPlatform.Server.Database.Tables.MstTag>()
                                                        .Name("grid")
                                                        .Columns(columns =>
                                                        {
                                                            columns.Bound(p => p.TagName).Title("Tags");
                                                            columns.Bound(p => p.IsActive).Title("Status").Width(230).ClientTemplate("#if(IsActive) {# Active #}else {# Inactive #}#");
                                                            columns.Command(command =>
                                                            {
                                                                //command.Edit().Text("<span class='fa fa-pencil-square text-success' data-toggle='tooltip' data-placement='top' title='Click here to update'></span>")
                                                                //.UpdateText("<span class='fa fa-floppy-o text-success'data-toggle='tooltip' data-placement='top'  title='Click here to update'></span>")
                                                                //.CancelText("<span class='fa fa-ban text-danger' data-toggle='tooltip' data-placement='top' title='Click here to cancel'></span>");

                                                                command.Custom("AddUpdate").Text("<span class='fa fa-pencil-square text-success k-i-edit' data-toggle='tooltip' data-placement='top' title='Click here to update'></span>").Click("UpdateTag");
                                                                command.Custom("Delete").Text("<span class='fa fa-trash-o text-danger k-i-delete' data-toggle='tooltip' data-placement='top' title='Click here to delete'></span></a>").Click("deleteItem");
                                                            }).Title("<b>Actions</b>").Width(200);

                                                        })
                                                        .ToolBar(toolbar =>
                                                        {
                                                            toolbar.Template(
                                                            @<Text>
                                                            @ToolbarTemplate()
                                                            </Text>);
                                            })
                                            .Editable(editable => editable.Mode(GridEditMode.InLine))
                                            .Pageable(pager => pager.PageSizes(true).PageSizes(new int[] { 10, 25, 50, 100 }))
                                            .Sortable().Events(events => events.DataBound("onDataBound"))
                                            .Filterable(filterable => filterable
                                                .Extra(false)
                                                .Operators(operators => operators
                                                    .ForString(str => str.Clear()
                                                        .StartsWith("Starts with")
                                                        .IsEqualTo("Is equal to")
                                                        .IsNotEqualTo("Is not equal to").Contains("Contains")
                                                    ))
                                            )
                                            .HtmlAttributes(new { style = "min-height:350px;" })
                                            .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .Sort(sort => sort.Add("TagName"))
                                                .Model(model =>
                                                {
                                                    model.Id(p => p.TagId);
                                                    model.Field(p => p.IsActive).DefaultValue(true);
                                                    model.Field(p => p.CreatedBy).Editable(false);
                                                })
                                                .PageSize(10)
                                                .Events(events => events.Error("error_handler").RequestEnd("request_end").RequestStart("request_start"))
                                                .Model(model => model.Id(p => p.TagId))
                                                .Create(update => update.Action("AddUpdateTag", "ManageTags"))
                                                .Read(read => read.Action("GetAll", "ManageTags"))
                                                .Update(update => update.Action("AddUpdateTag", "ManageTags"))
                                                .Destroy(update => update.Action("DeleteTag", "ManageTags"))
                                            )
                        )
                        <script id="customPopUpTemplate" type="text/x-kendo-template">
                            <div class="k-edit-label">TagName: </div>
                            <div class="k-edit-field">
                                <input name="TagName" required class="k-textbox" />
                            </div>
                        </script>
                        <script type="text/javascript">
                            var availableLanguages = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Language));
                            function error_handler(e) {
                                if (typeof e.errors === 'string') {
                                    if (e.errors == 'ALREADY_EXISTS') {
                                        alert('Tag already exists.');
                                    }
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.cancelChanges();
                                }
                            }


                            function request_start(e) {
                                kendo.ui.progress($("#grid"), false);
                            }

                            function request_end(e) {
                                if (typeof e.response.Errors === 'string')
                                    return false;

                                if (e.type == "create" || e.type == "update" || e.type == "destroy") {
                                    $('#grid').data().kendoGrid.dataSource.read();

                                    if (e.type == "create") {
                                        alert("Tag added successfully.");
                                    }
                                    else if (e.type == "update") {
                                        alert("Tag updated successfully.");
                                    }
                                    else if (e.type == "destroy") {
                                        alert("Tag deleted successfully.");
                                    }
                                }
                            }

                            //register custom validation rules
                            (function ($, kendo) {
                                $.extend(true, kendo.ui.validator, {
                                    rules: { // custom rules
                                        tagnamevalidation: function (input, params) {
                                            if (input.is("[name='TagName']") && input.val().trim() == "") {
                                                input.attr("data-tagnamevalidation-msg", "Tag is required.");
                                                return false;
                                            }
                                            //else if (input.is("[name='TagName']") && input.val().trim() != "") {
                                            //    input.attr("data-tagnamevalidation-msg", "Tag should start with capital letter.");
                                            //    return /^[A-Z]/.test(input.val().trim());
                                            //}
                                            return true;
                                        }
                                    },
                                    messages: { //custom rules messages
                                        tagnamevalidation: function (input) {
                                            return input.attr("data-val-tagnamevalidation");
                                        }
                                    }
                                });
                            })(jQuery, kendo);

                            function onDataBound(e) {
                                $('[data-toggle="tooltip"]').tooltip();
                                ShowNoDataMsgGrid(e);
                            }

                            function deleteItem(e) {
                                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

                                var message = 'Are you sure you want to delete <b>' + dataItem.TagName + '</b> Tag?';

                                if (confirm(message, function () {
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.dataSource.remove(dataItem);
                                    grid.dataSource.sync();
                                    grid.refresh();
                                }));
                            }

                            function UpdateTag(e) {  
                                showLoader();
                                //var grid = $("#grid").data("kendoGrid");
                                //localStorage["kendo-grid-filter-options"] = kendo.stringify(grid.getOptions());

                                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                                AddTag(dataItem.TagId);
                            }

                            function AddTag(tagId) {
                                $('#divAddUpdateTag').empty();
                                $('#divAddUpdateTag').load('/ManageTags/AddUpdateTags?tagId=' + tagId, function () {
                                    $("#AddUpdateTags").modal("show");
                                    GetAllLanguages();
                                });
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal" id="AddUpdateTags" tabindex="-1" role="dialog" aria-labelledby="AddUpdateTags" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content ui-dialog ui-corner-all ui-front ui-dialog-buttons" style="height: auto; width: 500px; display: block;">
            <div class="modal-header ui-dialog-titlebar ui-corner-all ui-helper-clearfix">
                <button type="button" class="ui-button ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" data-dismiss="modal" aria-label="Close"><span class="ui-button-icon ui-icon ui-icon-closethick" aria-hidden="true">&times;</span></button>
                <span class="modal-title">Add/Update Tags</span>
            </div>
            <div class="modal-body" id="divAddUpdateTag">

            </div>
            <div class="modal-footer">
                <div class="row">
                    <div></div>
                    <div class="pull-right">
                        <input type="button" class="btn btn-primary" id="btnSaveTags" onclick="SaveTag()" value="Save Tags" />
                        <input type="button" class="btn btn-secondary" id="btnBGCancel" data-dismiss="modal" aria-label="Close" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>     
    function SaveTag() {       
        var myForm = $('#frmManageTags');
        $.validator.unobtrusive.parse(myForm);

        if (myForm.valid()) {
            if ($("#frmManageTags").find("input[type='hidden'][name='TagId']").val()=="0" && $("#AddUpdateTags #divName").find("input[type='hidden'][name$='.IsDeleted']").filter(function (i, elem) { return $(this).val() == "False" }).length == 0) {
                alert("Please add atleast one Tag Name");
                return false;
            }

            showLoader();
            myForm.submit();
        }
    }

    function LoadResultsAddTag(data) {
        if (data.isSuccess) {
            $("#AddUpdateTags").modal("hide");
            alert(data.message);
            setTimeout(function () {
                var grid = $("#grid").data("kendoGrid"); 
                grid.dataSource.read(); 
                    grid.refresh(); 
            }, 2000);
            
        }
        else {
            alert(data.message);
        }
    }

    $(document).ready(function () {
        $(document).on('click','#radioTagBtn a', function () {
            var sel = $(this).data('title');
            var tog = $(this).data('toggle');
            $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
            $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
            if (sel == 'InActive') {
                $('#IsActive').val("False");
            }
            else {
                $('#IsActive').val("True");
            }
        })
    })
</script>
<script src="~/Scripts/asset.js"></script>