﻿
@{
    ViewBag.Title = "Error";
}

<style>
    .btn-warning {
        background-color: #a42639 !important;
        border-color: #a42639 !important;
    }
</style>

<div style="margin-top:5%">
    <div class="container">
        <div class="row">
            <div class="jumbotron text-md-center">
                <div class="container">
                    <div class="alert alert-danger">
                        <h1 class="display-1"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h1>
                        @*<environment names="Development">
                            <strong>Error!</strong> Some Error Occured.
                        </environment>*@
                        <environment names="Staging,Production">
                            <strong>Error!</strong> @ViewBag.ErrorMessage
                        </environment>
                    </div>
                    <div class="error-actions">
                        <a onclick="NavigatetoPrevious()" style="cursor:pointer" class="btn btn-warning btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Previous Page </a>
                        @{
                            if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
                            {
                                <a href="/Content/Index" class="btn btn-warning btn-sm"> Back to Dashboard <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            }
                            else
                            {
                                <a href="/Account/Login" class="btn btn-warning btn-sm"> Back to Login Page <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            }
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    function NavigatetoPrevious() {
        parent.history.back();
        return false;
    }
</script>

