﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Manage Properties";
}
<style>
    .footer,
    .push {
        height: 50px;
    }

    .k-grid-header {
        background-color: darkblue !important;
    }

        .k-grid-header th.k-header {
            background-color: #a42639 !important;
        }

    html .k-edit-cell .k-tooltip, html .k-grid-edit-row .k-tooltip {
        margin: 0px;
        color: Red;
        background: pink;
    }

    #radioTagBtn .notActive {
        color: #3276b1 !important;
        background-color: #fff !important;
    }

    #radioPropertyBtn .notActive {
        color: #3276b1 !important;
        background-color: #fff !important;
    }

    .field-validation-valid span {
        display: none;
    }
</style>

<div class="wrapper page-wrap">
    <section id="checklist">
        <div class="container">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="/Content/Index">Dashboard</a> |
                <a class="breadcrumb-item" href="/Home/MasterData">Master Data</a> |
                <span class="breadcrumb-item active">Properties</span>
            </nav>
            <div class="row">
                <div class="col-md-12">
                    <h2>Manage Properties</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="gridViewAgreement" class="checkout-right animated wow slideInUp" style="padding-top:0px;" data-wow-delay=".5s">
                        @helper ToolbarTemplate()
                        {
                            <div class="toolbar" style="float:right; margin-top:-40px;">
                                <button type="button" id="AddNewProperty" class="btn btn-primary" onclick="AddProperty(0);" title="Add New Property"><i class="fa fa-plus" aria-hidden="true"></i> Add New Property</button>
                            </div>
                        }
                        @(Html.Kendo().Grid<TDL.ContentPlatform.Server.Database.Tables.MstProperty>()
                                                                .Name("grid")
                                                                .Columns(columns =>
                                                                {
                                                                    columns.Bound(p => p.PropertyName).Title("Property");
                                                                    columns.Bound(p => p.IsActive).Title("Status").Width(230).ClientTemplate("#if(IsActive) {# Active #}else {# Inactive #}#");
                                                                    columns.Command(command =>
                                                                    {
                                                                                //command.Edit().Text("<span class='fa fa-pencil-square text-success' data-toggle='tooltip' data-placement='top' title='Click here to update'></span>")
                                                                                //.UpdateText("<span class='fa fa-floppy-o text-success'data-toggle='tooltip' data-placement='top'  title='Click here to update'></span>")
                                                                                //.CancelText("<span class='fa fa-ban text-danger' data-toggle='tooltip' data-placement='top' title='Click here to cancel'></span>");

                                                                                command.Custom("AddUpdate").Text("<span class='fa fa-pencil-square text-success k-i-edit' data-toggle='tooltip' data-placement='top' title='Click here to update'></span>").Click("UpdateProperty");
                                                                        command.Custom("Delete").Text("<span class='fa fa-trash-o text-danger k-i-delete' data-toggle='tooltip' data-placement='top' title='Click here to delete'></span></a>").Click("deleteItem");
                                                                    }).Title("<b>Actions</b>").Width(200);

                                                                })
                                                                .ToolBar(toolbar =>
                                                                {
                                                                    toolbar.Template(
                                                                    @<Text>
                                                                    @ToolbarTemplate()
                                                                    </Text>);
                                                    })
                                        .Editable(editable => editable.Mode(GridEditMode.InLine))
                                        .Pageable(pager => pager.PageSizes(true).PageSizes(new int[] { 10, 25, 50, 100 }))
                                        .Sortable().Events(events => events.DataBound("onDataBound"))
                                        .Filterable(filterable => filterable
                                            .Extra(false)
                                            .Operators(operators => operators
                                                .ForString(str => str.Clear()
                                                    .StartsWith("Starts with")
                                                    .IsEqualTo("Is equal to")
                                                    .IsNotEqualTo("Is not equal to").Contains("Contains")
                                                ))
                                        )
                                        .HtmlAttributes(new { style = "min-height:350px;" })
                                        .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Sort(sort => sort.Add("PropertyName"))
                                            .Model(model =>
                                            {
                                                model.Id(p => p.PropertyId);
                                                model.Field(p => p.IsActive).DefaultValue(true);
                                                model.Field(p => p.CreatedBy).Editable(false);
                                            })
                                            .PageSize(10)
                                            .Events(events => events.Error("error_handler").RequestEnd("request_end").RequestStart("request_start"))
                                            .Model(model => model.Id(p => p.PropertyId))
                                            .Create(update => update.Action("AddUpdateProperty", "ManageProperty"))
                                            .Read(read => read.Action("GetAll", "ManageProperty"))
                                            .Update(update => update.Action("AddUpdateProperty", "ManageProperty"))
                                            .Destroy(update => update.Action("DeleteProperty", "ManageProperty"))
                                        )
                        )
                        <script id="customPopUpTemplate" type="text/x-kendo-template">
                            <div class="k-edit-label">PropertyName: </div>
                            <div class="k-edit-field">
                                <input name="PropertyName" required class="k-textbox" />
                            </div>
                        </script>
                        <script type="text/javascript">
                            var availableLanguages = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Language));
                            function error_handler(e) {
                                if (typeof e.errors === 'string') {
                                    if (e.errors == 'ALREADY_EXISTS') {
                                        alert('Property already exists.');
                                    }
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.cancelChanges();
                                }
                            }


                            function request_start(e) {
                                kendo.ui.progress($("#grid"), false);
                            }

                            function request_end(e) {
                                if (typeof e.response.Errors === 'string')
                                    return false;

                                if (e.type == "create" || e.type == "update" || e.type == "destroy") {
                                    $('#grid').data().kendoGrid.dataSource.read();

                                    if (e.type == "create") {
                                        alert("Property added successfully.");
                                    }
                                    else if (e.type == "update") {
                                        alert("Property updated successfully.");
                                    }
                                    else if (e.type == "destroy") {
                                        alert("Property deleted successfully.");
                                    }
                                }
                            }

                            //register custom validation rules
                            (function ($, kendo) {
                                $.extend(true, kendo.ui.validator, {
                                    rules: { // custom rules
                                        propertynamevalidation: function (input, params) {
                                            if (input.is("[name='PropertyName']") && input.val().trim() == "") {
                                                input.attr("data-propertynamevalidation-msg", "Property is required.");
                                                return false;
                                            }
                                            //else if (input.is("[name='PropertyName']") && input.val().trim() != "") {
                                            //    input.attr("data-propertynamevalidation-msg", "Property should start with capital letter.");
                                            //    return /^[A-Z]/.test(input.val().trim());
                                            //}
                                            return true;
                                        }
                                    },
                                    messages: { //custom rules messages
                                        propertynamevalidation: function (input) {
                                            return input.attr("data-val-propertynamevalidation");
                                        }
                                    }
                                });
                            })(jQuery, kendo);

                            function onDataBound(e) {
                                $('[data-toggle="tooltip"]').tooltip();
                                ShowNoDataMsgGrid(e);
                            }

                            function deleteItem(e) {
                                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

                                var message = 'Are you sure you want to delete <b>' + dataItem.PropertyName + '</b> Property?';

                                if (confirm(message, function () {
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.dataSource.remove(dataItem);
                                    grid.dataSource.sync();
                                    grid.refresh();
                                }));
                            }

                            function UpdateProperty(e) {
                                debugger;
                                showLoader();
                                //var grid = $("#grid").data("kendoGrid");
                                //localStorage["kendo-grid-filter-options"] = kendo.stringify(grid.getOptions());

                                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                                AddProperty(dataItem.PropertyId);
                            }

                            function AddProperty(propertyId) {
                                $('#divAddUpdateProperty').empty();
                                $('#divAddUpdateProperty').load('/ManageProperty/AddUpdateProperty?propertyId=' + propertyId, function () {
                                    $("#AddUpdateProperty").modal("show");
                                    GetAllLanguages();
                                });
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal" id="AddUpdateProperty" tabindex="-1" role="dialog" aria-labelledby="AddUpdateProperty" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content ui-dialog ui-corner-all ui-front ui-dialog-buttons" style="height: auto; width: 500px; display: block;">
            <div class="modal-header ui-dialog-titlebar ui-corner-all ui-helper-clearfix">
                <button type="button" class="ui-button ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" data-dismiss="modal" aria-label="Close"><span class="ui-button-icon ui-icon ui-icon-closethick" aria-hidden="true">&times;</span></button>
                <span class="modal-title">Add/Update Property</span>
            </div>
            <div class="modal-body" id="divAddUpdateProperty">

            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="pull-right">
                        <input type="button" class="btn btn-primary" id="btnSaveProperty" onclick="SaveProperty()" value="Save Property" />
                        <input type="button" class="btn btn-secondary" id="btnBGCancel" data-dismiss="modal" aria-label="Close" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function SaveProperty() {
        debugger;
        var myForm = $('#frmManageProperty');
        $.validator.unobtrusive.parse(myForm);

        if (myForm.valid()) {
            if ($("#frmManageProperty").find("input[type='hidden'][name='PropertyId']").val() == "0" && $("#AddUpdateProperty #divName").find("input[type='hidden'][name$='.IsDeleted']").filter(function (i, elem) { return $(this).val() == "False" }).length == 0) {
                alert("Please add atleast one Property Name");
                return false;
            }

            showLoader();
            myForm.submit();
        }
    }

    function LoadResultsAddProperty(data) {
        if (data.isSuccess) {
            $("#AddUpdateProperty").modal("hide");
            alert(data.message);
            debugger;
            setTimeout(function () {
                var grid = $("#grid").data("kendoGrid");
                grid.dataSource.read();
                grid.refresh();
            }, 2000);

        }
        else {
            alert(data.message);
        }
    }

    $(document).ready(function () {
        $(document).on('click', '#radioPropertyBtn a', function () {
            var sel = $(this).data('title');
            var tog = $(this).data('toggle');
            $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
            $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
            if (sel == 'InActive') {
                $('#IsActive').val("False");
            }
            else {
                $('#IsActive').val("True");
            }
        })
    })
</script>
<script src="~/Scripts/asset.js"></script>