﻿@model _3DLContentManagement.Models.CompoundModel
@{
    ViewBag.Title = "Compound";
    int num = 0;
}
<style>
    #radioBtn .notActive {
        color: #3276b1 !important;
        background-color: #fff !important;
    }

    #radioModelSpecificBtn .notActive {
        color: #3276b1 !important;
        background-color: #fff !important;
    }
</style>
<script src="~/Scripts/jscolor.js"></script>
<div class="wrapper page-wrap">
    <section id="checklist">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="/Content/Index">Dashboard</a> |
            <a class="breadcrumb-item" href="/Compound/Index">Compounds</a> |
            <span class="breadcrumb-item active">@(Model.CompoundName == "" ? "Add Compound" : "Update Compound")</span>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <h2 id="compound">@(Model.CompoundName == "" ? "Add New Compound" : Model.CompoundName)</h2>
            </div>
        </div>
        <hr />
    </section>
    <section id="requirments">
        @using (Html.BeginForm("SaveCompound", "Compound", FormMethod.Post, new { @id = "frmCompound", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken();
            @Html.ValidationSummary(true)
            @Html.HiddenFor(x => x.CompoundId)
            @Html.HiddenFor(x => x.MaterialId)
            @Html.HiddenFor(x => x.BondedAssetId)
            @Html.HiddenFor(x => x.SphericalAssetId)
            @Html.HiddenFor(x => x.IsActive)
            @Html.HiddenFor(x => x.IsDeleted)
            for (int i = 0; i < Model.Elements.Count; i++)
            {
                @Html.HiddenFor(x => Model.Elements[i].Id)
                @Html.HiddenFor(x => Model.Elements[i].ElementId)
                @Html.HiddenFor(x => Model.Elements[i].ElementName)
                @Html.HiddenFor(x => Model.Elements[i].CompoundId)
                @Html.HiddenFor(x => Model.Elements[i].IsSelected)
            }
            <div class="row">
                <div class="col-md-3">
                    <label>Compound Name <span class="text-danger">*</span></label>
                    @Html.TextBoxFor(x => x.CompoundName, new { @class = "form-control", @placeholder = "Compound Name", @maxlength = "100" })
                    <div class="has-danger">
                        <div class="form-control-feedback">
                            @Html.ValidationMessageFor(x => x.CompoundName)
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Common Name</label>
                    @Html.TextBoxFor(x => x.CommonName, new { @class = "form-control", @placeholder = "Common Name", @maxlength = "100" })
                </div>
                <div class="col-md-3">
                    <label>Color</label>
                    @Html.TextBoxFor(x => x.Color, new { @class = "form-control jscolor {hash:true, position:'right', closable:true, closeText:'Close me!'}", @placeholder = "Color", @maxlength = "50" })
                </div>
                <div class="col-md-3">
                    <label>Material</label>
                    @Html.TextBoxFor(x => x.Material, new { @class = "form-control material", @placeholder = "Material", @maxlength = "50" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <label style="display: block;">Elements <span class="text-danger">*</span></label>
                    <select class="form-control" id="CompoundElements" multiple="multiple">
                        @foreach (var element in Model.Elements)
                        {
                            <option class="Elements_@num" @(element.IsSelected == true ? "selected" : "") value="@element.ElementId">@element.ElementName</option>
                            num++;
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label style="display: block;">Spherical Asset</label>
                    @Html.TextBoxFor(x => x.SphericalAsset, new { @class = "form-control asset", @placeholder = "Spherical Asset", @maxlength = "50" })
                </div>
                <div class="col-md-3">
                    <label style="display: block;">Bonded Asset</label>
                    @Html.TextBoxFor(x => x.BondedAsset, new { @class = "form-control asset", @placeholder = "Bonded Asset", @maxlength = "50" })
                </div>
                <div class="col-md-3">
                    <label style="display: block;">Wiki Link</label>
                    @Html.TextBoxFor(x => x.WikiLink, new { @class = "form-control", @placeholder = "Wiki Link", @maxlength = "100" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <label>Compound Formulae <span class="text-danger">*</span></label>
                    @Html.TextAreaFor(x => x.CompoundFormulae, new { rows = "5", @class = "form-control", @placeholder = "Compound Formulae" })
                </div>
                <div class="col-md-6">
                    <label style="display: block;">Discription</label>
                    @Html.TextAreaFor(x => x.Discription, new { rows = "5", placeholder = "Discription", @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2 pull-left">
                    <label>Status</label>
                    <div class="input-group">
                        <div id="radioBtn" class="btn-group">
                            <a class="btn btn-success @(Model.IsActive == true ? "active" : "notActive")" data-toggle="compound" data-title="Activate">Activate</a>
                            <a class="btn btn-primary @(Model.IsActive == false ? "active" : "notActive")" data-toggle="compound" data-title="Deactivate">Deactivate</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="margin-top: 24px;">
                    <button type="button" onclick="SaveCompound();" class="btn btn-primary">Save Compound</button>
                </div>
            </div>
        }
    </section>
</div>

<script>
    var availableMaterials = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Materials));
    var availableAssets = @Html.Raw(Json.Encode((IEnumerable<object>)ViewBag.Assets));

    $(document).ready(function () {
        if ('@TempData["Message"]' != '') {
            alert('@TempData["Message"]');
        }

        GetAllMaterials();
        GetAssets();

        $('#CompoundElements').multiselect({
            nonSelectedText: 'Select Element',
            selectAllValue: 'multiselect-all',
            buttonWidth: '280px',
            maxHeight: 200,
            numberDisplayed: 10,
            selectedClass: 'active',
            includeSelectAllOption: false,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            enableClickableOptGroups: false,
            enableCollapsibleOptGroups: false,
            onChange: function (element, checked) {
                var acId = element.val();
                var id = element.attr('class') + '__IsSelected';
                if (checked) {
                    $("#" + id).val("True");
                }
                else {
                    $("#" + id).val("False");
                }
            }
        });
    });

    $('#radioBtn a').on('click', function () {
        var sel = $(this).data('title');
        var tog = $(this).data('toggle');
        $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
        $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');

        if (sel == 'Deactivate') {
            $('#IsActive').val("False");
        }
        else {
            $('#IsActive').val("True");
        }
    })

    function SaveCompound() {
        var count = 0;
        var brands = $('#CompoundElements option:selected');
        $(brands).each(function (index, brand) {
            count++;
        });

        if (count == 0) {
            alert("Select atleast 1 element");
        }
        else {
            var myForm = $('#frmCompound');
            if (myForm.valid()) {
                showLoader();
                myForm.submit();
            }
        }
    }

    function GetAllMaterials() {
        $(".material").autocomplete({
            minLength: 0,
            source: function (request, response) {
                response($.map(availableMaterials, function (item) {
                    if (item.Text.toLowerCase().includes(request.term.toLowerCase())) {
                        return { label: item.Text, value: item.Text, id: item.Value };
                    }
                }));
            },
            select: function (event, ui) {
                var id = $(this).attr('name') + 'Id';
                $("input[name='" + id + "']").val(ui.item.id);
                $(this).val(ui.item.value);
                return false;
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    var terms = split(this.value);
                    var last = terms.pop();
                    if (last != '') {
                        alert('<b>' + last + '</b> is not available in master data, please contact to Administrator to add this in master data.');
                        $(this).val(this.value.substr(0, this.value.length - last.length - 2)); // removes text from input
                        $(this).effect("highlight", {}, 5000);
                        $(this).attr("style", "border: solid 1px red;");
                    }
                    else {
                        var id = $(this).attr('name') + 'Id';
                        $("input[name='" + id + "']").val('0');
                        $(this).val('');
                    }
                    return false;
                }
            }
        });
    }

    function GetAssets() {
        var packageRef;
        $(".asset").each(function () {
            packageRef = $(this);
            $(this).autocomplete({
                minLength: 0,
                source: function (request, response) {
                    response($.map(availableAssets, function (item) {
                        if (item.Text.toLowerCase().includes(request.term.toLowerCase())) {
                            return { label: item.Text, value: item.Text, id: item.Value };
                        }
                    }));
                },
                select: function (event, ui) {
                    var id = $(this).attr('name') + 'Id';
                    $("input[name='" + id + "']").val(ui.item.id);
                    $(this).val(ui.item.value);
                    packageRef = $(this);
                    return false;
                },
                change: function (event, ui) {
                    if (ui.item == null) {
                        var terms = split(this.value);
                        var last = terms.pop();
                        if (last != '') {
                            alert('<b>' + last + '</b> is not available in Asset List, please contact to Administrator to add this.');
                            $(this).val(this.value.substr(0, this.value.length - last.length - 2));
                            $(this).effect("highlight", {}, 5000);
                            $(this).attr("style", "border: solid 1px red;");
                        }
                        else {
                            var id = $(this).attr('name') + 'Id';
                            $("input[name='" + id + "']").val('0');
                            $(this).val('');
                        }
                        return false;
                    }
                }
            });
        });
    }
</script>
<script type="text/javascript" src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({ selector: 'textarea', width: 620 });
</script>
