﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Compounds";
}
<style>
    .footer,
    .push {
        height: 50px;
    }

    .k-grid-header {
        background-color: darkblue !important;
    }

    .k-grid-header th.k-header {
        background-color: #a42639 !important;
    }

    html .k-edit-cell .k-tooltip, html .k-grid-edit-row .k-tooltip {
        margin: 0px;
        color: Red;
        background: pink;
    }
</style>
<div class="wrapper">
    <section id="checklist">
        <div class="container">
            <div class="row">
                <h2 style="margin-bottom: 20px;">Compounds</h2>
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div class="row">
                <div id="gridCompounds" class="checkout-right animated wow slideInUp" style="padding-top:0px;" data-wow-delay=".5s">
                    @(Html.Kendo().Grid<_3DLContentManagement.Models.CompoundModel>()
                        .Name("grid")
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.CompoundId).Hidden(true);
                            columns.Bound(p => p.CompoundName).Title("Compound Name");
                            columns.Bound(p => p.CommonName).Width(130).Title("Common Name");
                            columns.Bound(p => p.CompoundFormulae).Width(130).Title("Compound Formulae").Encoded(false);
                            columns.Bound(p => p.Color).Width(130).Title("Color").ClientTemplate("<div style='padding: 5px;background-color: #:Color#'><text>#:Color#</text></div>");
                            columns.Bound(p => p.Material).Width(130).Title("Material");
                            columns.Command(command =>
                            {
                                command.Custom("AddUpdate").Text("<span class='fa fa-pencil-square text-success k-i-edit' data-toggle='tooltip' data-placement='top' title='Click here to update'></span>").Click("UpdateCompound");
                                command.Custom("Delete").Text("<span class='fa fa-trash-o text-danger k-i-delete' data-toggle='tooltip' data-placement='top' title='Click here to delete'></span>").Click("deleteItem");
                            })
                            .Title("<b>Actions</b>").Width(100);
                        })
                        //.ToolBar(toolbar => toolbar.Create().Text("Add New Compound").HtmlAttributes(new { style = "float:right;color:#fff;background-color:#a42639;margin-top:-45px !important;", title = "Add New Compound", id = "AddNew" }))
                        .ToolBar(toolbar =>
                        {
                            toolbar.Template(
                            @<Text>
                                <div class="toolbar" style="float:right; margin-top:-45px!important;">
                                    <a class="k-button k-button-icontext k-grid-add" id="AddNew" onclick="AddCompound();" style="color:#fff;background-color:#a42639;" title="Add New Compound" data-toggle="tooltip"><span class="k-icon k-add"></span>Add New Compound</a>
                                </div>
                            </Text>);
                        })
                        .Pageable(pager => pager.PageSizes(true).PageSizes(new int[] { 10, 25, 50, 100 }))
                        .Sortable().Events(events => events.DataBound("onDataBound"))
                        //.Scrollable()
                        //.Sortable(c => c.AllowUnsort(false))
                        .Filterable(filterable => filterable
                            .Extra(false)
                            .Operators(operators => operators
                                .ForString(str => str.Clear()
                                    .StartsWith("Starts with")
                                    .IsEqualTo("Is equal to")
                                    .IsNotEqualTo("Is not equal to").Contains("Contains")
                                ))
                        )
                        //.HtmlAttributes(new { style = "min-height:350px;" })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Sort(sort => sort.Add("CompoundName").Ascending())
                            .Model(model =>
                            {
                                model.Id(p => p.CompoundId);
                                model.Field(p => p.IsActive).DefaultValue(true);
                                model.Field(p => p.IsDeleted).Editable(false);
                            })
                            .PageSize(10)
                            .Events(events => events.Error("error_handler").RequestEnd("request_end").RequestStart("request_start"))
                            .Model(model => model.Id(p => p.CompoundId))
                            .Read(read => read.Action("GetAll", "Compound"))
                            .Destroy(update => update.Action("DeleteCompound", "Compound"))
                        )
                    )
                </div>
                <script id="customPopUpTemplate" type="text/x-kendo-template">
                    <div class="k-edit-label">CompoundName: </div>
                    <div class="k-edit-field">
                        <input name="CompoundName" required class="k-textbox" />
                    </div>
                </script>

                <script type="text/javascript">
                    function error_handler(e) {
                        if (typeof e.errors === 'string') {
                            if (e.errors == 'ALREADY_EXISTS') {
                                alert('Compound already exists.');
                            }
                            grid.cancelChanges();
                        }
                    }

                    function request_start(e) {
                        kendo.ui.progress($("#grid"), false);
                    }

                    function request_end(e) {
                        if (typeof e.response.Errors === 'string')
                            return false;

                        if (e.type == "create" || e.type == "update" || e.type == "destroy") {
                            $('#grid').data().kendoGrid.dataSource.read();

                            if (e.type == "destroy") {
                                alert("Compound deleted successfully.");
                            }
                        }
                    }

                    //register custom validation rules
                    (function ($, kendo) {
                        $.extend(true, kendo.ui.validator, {
                            rules: { // custom rules
                                compoundnamevalidation: function (input, params) {
                                    if (input.is("[name='CompoundName']") && input.val().trim() == "") {
                                        input.attr("data-compoundnamevalidation-msg", "Compound Name is required.");
                                        return false;
                                    }
                                    else if (input.is("[name='CompoundName']") && input.val().trim() != "") {
                                        input.attr("data-compoundnamevalidation-msg", "Compound Name should start with capital letter.");
                                        return /^[A-Z]/.test(input.val().trim());
                                    }

                                    return true;
                                }
                            },
                            messages: { //custom rules messages
                                compoundnamevalidation: function (input) {
                                    return input.attr("data-val-compoundnamevalidation");
                                }
                            }
                        });
                    })(jQuery, kendo);

                    function onDataBound(e) {
                        $('[data-toggle="tooltip"]').tooltip();
                        ShowNoDataMsgGrid(e);
                    }

                    function deleteItem(e) {
                        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

                        var message = 'Are you sure you want to delete <b>' + dataItem.CompoundName + '</b> Compound?';

                        if (confirm(message, function () {
                            var grid = $("#grid").data("kendoGrid");
                            grid.dataSource.remove(dataItem);
                            grid.dataSource.sync();
                            grid.refresh();
                        }));
                    }

                    function UpdateCompound(e) {
                        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                        AddUpdateCompound(dataItem.CompoundId);
                    }

                    function AddCompound(e) {
                        AddUpdateCompound(0);
                    }
                </script>
            </div>
        </div>
    </section>
</div>
<script>
    $(document).ready(function () {
        if ('@TempData["Message"]' != '') {
            alert('@TempData["Message"]');
        }
    });

    function AddUpdateCompound(Id) {
        var varForm = document.createElement("form");

        var i = document.createElement("input");
        i.setAttribute('type', "hidden");
        i.setAttribute('name', "compoundId");
        i.setAttribute('value', Id);
        varForm.appendChild(i);

        varForm.setAttribute('method', "post");
        varForm.setAttribute('action', "/Compound/AddUpdateCompound");
        document.body.appendChild(varForm);
        varForm.hidden = true;
        varForm.submit();
    }
</script>
