﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Manage Users";
}
<style>
    .footer,
    .push {
        height: 50px;
    }

    .k-grid-header {
        background-color: darkblue !important;
    }

        .k-grid-header th.k-header {
            background-color: #a42639 !important;
        }

    html .k-edit-cell .k-tooltip, html .k-grid-edit-row .k-tooltip {
        margin: 0px;
        color: Red;
        background: pink;
    }
</style>

<div class="wrapper page-wrap">
    <section id="checklist">
        <div class="container">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="/Content/Index">Dashboard</a> |
                <a class="breadcrumb-item" href="/Home/MasterData">Master Data</a> |
                <span class="breadcrumb-item active">Manage Users</span>
            </nav>
            <div class="row">
                <div class="col-md-12">
                    <h2>Manage Users</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="requirments">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="gvUsers" class="checkout-right animated wow slideInUp" style="padding-top:0px;" data-wow-delay=".5s">
                        @(Html.Kendo().Grid<TDL.ContentPlatform.Server.Database.Tables.UserProfile>()
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.FirstName).Title("First Name");
                                columns.Bound(p => p.LastName).Title("Last Name");
                                columns.Bound(p => p.UserName).Title("UserName");
                                columns.Bound(p => p.Password).Title("Password").ClientTemplate("<span>#: Array(data.Password.length).join('*') #</span>").Filterable(false);
                                columns.Bound(p => p.IsActive).Title("Status").ClientTemplate("#if(IsActive) {# Active #}else {# Inactive #}#");
                                columns.Command(command =>
                                {
                                    command.Edit().Text("<span class='fa fa-pencil-square text-success' data-toggle='tooltip' data-placement='top' title='Click here to update'></span>")
                                    .UpdateText("<span class='fa fa-floppy-o text-success'data-toggle='tooltip' data-placement='top'  title='Click here to update'></span>")
                                    .CancelText("<span class='fa fa-ban text-danger' data-toggle='tooltip' data-placement='top' title='Click here to cancel'></span>");
                                    command.Custom("Delete").Text("<span class='fa fa-trash-o text-danger k-i-delete' data-toggle='tooltip' data-placement='top' title='Click here to delete'></span></a>").Click("deleteItem");
                                }).Title("<b>Actions</b>").Width(200);

                            })
                            .ToolBar(toolbar => toolbar.Create().Text("Add New User").HtmlAttributes(new { style = "float:right;color:#fff;background-color: #a42639", title = "Add New User" }))
                            .Editable(editable => editable.Mode(GridEditMode.InLine))
                            .Pageable(pager => pager.PageSizes(true).PageSizes(new int[] { 10, 25, 50, 100 }))
                            .Sortable().Events(events => events.DataBound("onDataBound"))
                            .Filterable(filterable => filterable
                                .Extra(false)
                                .Operators(operators => operators
                                    .ForString(str => str.Clear()
                                        .StartsWith("Starts with")
                                        .IsEqualTo("Is equal to")
                                        .IsNotEqualTo("Is not equal to").Contains("Contains")
                                    ))
                            )
                            .HtmlAttributes(new { style = "min-height:350px;" })
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Sort(sort => sort.Add("FirstName"))
                                .Model(model =>
                                {
                                    model.Id(p => p.UserId);
                                    //model.Field(p => p.Password).DefaultValue(ViewBag.Password);
                                    model.Field(p => p.IsActive).DefaultValue(true);
                                    model.Field(p => p.CreatedBy).Editable(false);                                     
                                })
                                .PageSize(10)
                                .Events(events => events.Error("error_handler").RequestEnd("request_end").RequestStart("request_start"))
                                .Model(model => model.Id(p => p.UserId))
                                .Create(update => update.Action("AddUpdateUser", "ManageUsers").Data("AdditionalInfo"))
                                .Read(read => read.Action("GetAll", "ManageUsers"))
                                .Update(update => update.Action("AddUpdateUser", "ManageUsers"))
                                .Destroy(update => update.Action("DeleteUser", "ManageUsers"))
                            )
                        )
                        <script id="customPopUpTemplate" type="text/x-kendo-template">
                            <div class="k-edit-label">FirstName: </div>
                            <div class="k-edit-field">
                                <input name="FirstName" required class="k-textbox" />
                            </div>
                        </script>
                        <script type="text/javascript">
                            function error_handler(e) {
                                if (typeof e.errors === 'string') {
                                    if (e.errors == 'ALREADY_EXISTS')
                                    {
                                        alert('UserName already exists.');
                                    }
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.cancelChanges();
                                }
                            }

                            //function onEdit(e) {
                            //    //Custom logic to default value
                            //    var name = "password";

                            //    // If addition
                            //    if (e.model.isNew()) {
                            //        //set field
                            //        e.model.set("Password", name); // Name: grid field to set
                            //    }
                            //}

                            function request_start(e)
                            {
                                kendo.ui.progress($("#grid"), false);
                            }

                            function request_end(e) {

                                if (typeof e.response.Errors === 'string')
                                    return false;

                                if (e.type == "create" || e.type == "update" || e.type == "destroy") {
                                    $('#grid').data().kendoGrid.dataSource.read();

                                    if(e.type == "create"){
                                        alert("User added successfully.");
                                    }
                                    else if (e.type == "update") {
                                        alert("User updated successfully.");
                                    }
                                    else if (e.type == "destroy") {
                                        alert("User deleted successfully.");
                                    }
                                }
                            }

                            //register custom validation rules
                            (function ($, kendo) {
                                $.extend(true, kendo.ui.validator, {
                                    rules: { // custom rules
                                        firstnamevalidation: function (input, params) {
                                            if (input.is("[name='FirstName']") && input.val().trim() == "") {
                                                input.attr("data-firstnamevalidation-msg", "First Name is required.");
                                                return false;
                                            }
                                            else if (input.is("[name='FirstName']") && input.val().trim() != "") {
                                                input.attr("data-firstnamevalidation-msg", "First Name should start with capital letter.");
                                                return /^[A-Z]/.test(input.val().trim());
                                            }
                                            return true;
                                        },
                                        usernamevalidation: function (input, params) {
                                            if (input.is("[name='UserName']") && input.val().trim() == "") {
                                                input.attr("data-usernamevalidation-msg", "UserName is required.");
                                                return false;
                                            }
                                            @*else if (input.is("[name='UserName']") && input.val().trim() != "") {                                              
                                                //Ajax call start
                                                $.ajax({
                                                    url: '/ManageUsers/CheckUsers',
                                                    data: { userName: input.val().trim(), Id: @Guid.Empty },
                                                    type: 'GET',
                                                    success: function (data) {
                                                        if (data == "True")
                                                        {
                                                            $("#UserName_validationMessage").show();
                                                            $("#UserName_validationMessage").text("UserName exists.");
                                                            return false;
                                                        }
                                                    }
                                                });
                                                //Ajax call End
                                            }*@
                                            return true;
                                        },
                                        passwordvalidation: function (input, params) {
                                            if (input.is("[name='Password']") && input.val().trim() == "") {
                                                input.attr("data-passwordvalidation-msg", "Password is required.");
                                                return false;
                                            }
                                            return true;
                                        }
                                    },
                                    messages: { //custom rules messages
                                        firstnamevalidation: function (input) {
                                            return input.attr("data-val-firstnamevalidation");
                                        },
                                        usernamevalidation: function (input) {
                                            return input.attr("data-val-usernamevalidation");
                                        },
                                        passwordvalidation: function (input) {
                                            return input.attr("data-val-passwordvalidation");
                                        }
                                    }
                                });
                            })(jQuery, kendo);

                            function onDataBound(e) {
                                $('[data-toggle="tooltip"]').tooltip();
                                ShowNoDataMsgGrid(e);
                            }

                            function deleteItem(e) {
                                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

                                var message = 'Are you sure you want to delete <b>' + dataItem.FirstName + '</b>?';

                                if (confirm(message, function () {
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.dataSource.remove(dataItem);
                                    grid.dataSource.sync();
                                    grid.refresh();
                                }));
                            }    

                            $(document).ready(function () {
                                $(".k-grid-add").bind("click", function () {
                                    var randomstring = Math.random().toString(36).slice(-10);                                   
                                    setTimeout(function () { $("#Password").val(randomstring); }, 100);
                                })                                
                            });

                            function AdditionalInfo() {
                                return {
                                    AutoPassword: $("#Password").val()
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>